﻿@model BLL.BusinessModels.UserModels.AddSubjectViewModel

<style>
.TPContent .TPBbox .bx table tr td span {
background:none !important;
}
    </style>
@using (Ajax.BeginForm("_AddSubject", "Teacher", new AjaxOptions { }, new { @id= "myForm" }))
{
    <table>
    <tr>
        <td>Curriculum</td>
        <td>
            @Html.DropDownListFor(model => model.CurriculumId, Model.sListofCurriculums, "Select Curriculum", new { @class = "form-control dropdownlist", @onchange = "ListOfGrades();" })
            @Html.ValidationMessageFor(model => model.CurriculumId, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>Grade</td>
        <td>
           @Html.DropDownListFor(model => model.GradeID, Model.sListofSubjects, "Select Grade", new { @class = "form-control dropdownlist", @disabled = "disabled", @onchange = "ListOfSubjects()" })
           @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr>
        <td>Subject</td>
        <td>
            @Html.DropDownListFor(model => model.PrimarySubjectID, Model.sListofSubjects, "Select Primary", new { @class = "form-control dropdownlist", @disabled = "disabled", })
            @Html.ValidationMessageFor(model => model.PrimarySubjectID, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr>
        <td><input type="submit" class="btn btn-default" value="Add Subject" /></td>
        <td></td>
    </tr>
</table>
}




