﻿@using BLL.Helpers;
@model BLL.BusinessModels.UserModels.TeacherEditProfileViewModel
    <style>
        .btndef {
            width: 30%;
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
       .btndef:hover {
                color: #333;
                background-color: #e6e6e6;
                border-color: #adadad;
            }
    </style>
@if (Model.listOfSubjects.Count > 0)
{
    <table>
        @foreach (var item in Model.listOfSubjects)
        {
            <tr>
                <td>@item.SubjectName</td>
                <td><span>@item.CurriculumName - @item.GradeName </span> </td>
                <td>
                    @Ajax.ActionLink(" ", "DeleteCourse", new
          { @TeacherSubjectID = @item.TeacherSubjectsID },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "dialog_window_id"
        }, new { @class = "my-custom-class" })

                    @*<a href="@Url.Action("")"><i class="fa fa-remove"></i></a>*@
                </td>
            </tr>
        }
        <tr>
            <td>
                @if (Model.listOfSubjects.Count < 2)
                {
                    <a href="javascript:void(0)" class="btn btndef" style="width:60% !important" onclick="AddSubject();">Add Subject</a>
                }
            </td>
            <td></td>
            <td></td>
        </tr>

    </table>

    <table>
        <tr>
            <td>@ViewBag.Message</td>
        </tr>
    </table>
}
else
{
    <table>
        <tr>
            <td>No Subject Found</td>
        </tr>
        <tr>
            <td>
                @if (Model.listOfSubjects.Count < 2)
                {
                    <a href="javascript:void(0)" class="btn btndef" onclick="AddSubject();">Add Subject</a>
                }
            </td>
        </tr>
    </table>
}

<script>
    $(".my-custom-class").prepend("<i class=\"fa fa-remove\"></i>");

    function AddSubject()
    {
        $("#StatusMsg").empty();
        $("#dialog_window_id").empty();
        $("#dialog_window_id").load('@Config.WebsiteURL/Teacher/Teacher/_AddSubject', function () {

            $("#myForm").removeData("validator");
            $("#myForm").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("#myForm");

        });
    }

  function ListOfGrades()
    {
        var CurriculumID = $("#CurriculumId").val();

        if (CurriculumID != null && CurriculumID != '')
        {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GradesListing", "Teacher")',
                dataType: 'json',
                data: { id: CurriculumID },
                success: function (cities) {

                var gradesSelect = $('#GradeID');
                gradesSelect.attr("disabled", false);
                var txtstring = $('#GradeID option:first-child').text();
                gradesSelect.empty();
                gradesSelect.append('<option value="">' + txtstring + '</option>');
                $.each(cities, function (i, val) {
                gradesSelect.append('<option value="' + val.value + '">' + val.text + '</option>');
                });
                },
                error: function (ex) {
                ShowErrorNotification("Error", _AjaxErrorMessage);
                }
                });
                }
                else {
                $("#GradeID").attr('disabled', true);
                $('#PrimarySubjectID').attr('disabled', true);
                $('#SecondarySubjectID').attr('disabled', true);
                }
                }
                function ListOfSubjects()
                {
                var GradeID = $("#GradeID").val();
                if (GradeID != null && GradeID != '')
                {

                $.ajax({
                type: 'POST',
                url: '@Url.Action("SubjectsList", "Teacher")',
                dataType: 'json',
                data: { id: GradeID },
                success: function (cities) {

                var primarySelect = $('#PrimarySubjectID');
                primarySelect.attr("disabled", false);
                var txtstring = $('#PrimarySubjectID option:first-child').text();
                primarySelect.empty();
                primarySelect.append('<option value="">' + txtstring + '</option>');

                var secondarySelect = $('#SecondarySubjectID');
                secondarySelect.attr("disabled", false);
                var txtstring = $('#SecondarySubjectID option:first-child').text();
                secondarySelect.empty();
                secondarySelect.append('<option value="">' + txtstring + '</option>');

                $.each(cities, function (i, val) {
                primarySelect.append('<option value="' + val.value + '">' + val.text + '</option>');
                });

                $.each(cities, function (i, val) {
                secondarySelect.append('<option value="' + val.value + '">' + val.text + '</option>');
                });
                },
                error: function (ex) {
                ShowErrorNotification("Error", _AjaxErrorMessage);
                }
                });
                }
                else {
                $('#PrimarySubjectID').attr('disabled', true);
                $('#SecondarySubjectID').attr('disabled', true);
                }
                }
</script>
