﻿@using BLL.BusinessModels.TeacherModels
@model AddCourseViewModel
@{ 
    Layout = Layout;
 }

@*<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />*@
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

<style>
    .errorclass {
      color: #a94442;
    }

    #spanid {
        text-transform: lowercase !important;
    }

    .D-label {
        text-transform: lowercase !important;
    }

    span.pipe {
        border-left: 1px solid #777;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    input[type=radio]:checked ~ label {
    color: #333;
}
    .new{
        background-image:none !important;
    }
</style>



<div class="TeacherBlueBg">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12 Tbox">
                <div class="col-md-12 topp">

                    <h3>ADD COURSE</h3>

                    <h4 style="display:none" id="errorMessage">@ViewBag.Message</h4>
                    <h4 style="display:none" id="infoMessage">@ViewBag.ConfirmationMessage</h4>
                </div>


                @using (Html.BeginForm("AddCourse", "Teacher", null, FormMethod.Post, new {@id="myform", @onsubmit = "return validateForm();" }))
                {

                     <div class="form-group col-md-12 parentclass">
                        <label>Course Title</label>
                        @Html.TextBoxFor(model => model.CourseTitle, new { @class = "form-control", @placeholder = "Course Title" })
                        @Html.ValidationMessageFor(model => model.CourseTitle, "", new { @class = "text-danger" })
                    </div>
                     <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label>Select Subject</label>
                        @Html.DropDownListFor(model => model.FKSubjectID, Model.ListofTeacherSubjects, "Select Subject", new { @class = "form-control dropdownlist" })
                        @Html.ValidationMessageFor(model => model.FKSubjectID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label>Course Duration (HRS)</label>
                        @Html.TextBoxFor(model => model.TotalHours, new { @class = "form-control" , @placeholder="e.g 12"})
                        @Html.ValidationMessageFor(model => model.TotalHours, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label>Course Fee (₹)</label>
                        @Html.TextBoxFor(model => model.CourseFee, new { @class = "form-control", @placeholder = "e.g 3000" })
                        @Html.ValidationMessageFor(model => model.CourseFee, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label>Total Seats (Max 5)</label>
                        @Html.TextBoxFor(model => model.TotalSeats, new { @class = "form-control", @placeholder = "e.g 2" })
                        @Html.ValidationMessageFor(model => model.TotalSeats, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label> Start From </label>
                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", placeholder = "Date" })
                       

                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label> Trial Video URL (Embedded Link) </label>
                        @Html.TextBoxFor(model => model.TrialVideoURL, new { @class = "form-control", @placeholder= " e.g. https://www.google.com" })
                        @Html.ValidationMessageFor(model => model.TrialVideoURL, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12" style="margin-top:2%;padding-right: 70px;">
                        <label style="margin-bottom:2%;">Time slot when class will conduct</label><br>
                        @foreach (var item in Model.ListofDays)
                        {
                            var last = Model.ListofDays.Last();
                            <input type="checkbox" id="t1_@item.DayOfWeek" name="Days" value="@item.DayOfWeek" class="Daisy" style="margin-right:10px;"/><label>@item.FullName</label>
                            if (!item.Equals(last))
                            {
                                <span class="pipe"></span>
                            }
                        }
                      
                        <br />
                        <span class="errorclass">
                            @Html.ValidationMessageFor(x => x.Days, "", new { @class = "text-danger" })
                        </span>
                    
                    </div>

                    <div class="form-group col-md-12" style="margin-top:2%;padding-right: 70px;">
                        <label style="margin-bottom:2%;">Time slot when class will conduct</label><br>
                        @foreach (var item in Model.ListofavailableTimes)
                        {

                        var last = Model.ListofavailableTimes.Last();
                       
                        @Html.RadioButton("TimeSlot",@item.TimingId)
                        <label>@item.FromTime - @item.ToTime</label>
                            if (!item.Equals(last))
                            {
                                <span class="pipe"></span>
                            }                           
                        }
                         <br />
                        @Html.ValidationMessageFor(x => x.TimeSlot, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12 parentclass" style="margin-top:1%;">
                        <label>Detail About Course</label>
                        @Html.TextAreaFor(model => model.CourseDescription, new { @class = "form-control", @placeholder = "What will be included in this course", @rows=5 })
                        @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12">
                        <hr class="blk" />
                    </div>
                    <div class="col-md-12 nopadding SwpipeLogin">
                        <div class="col-md-4 col-md-offset-4">
                            <input type="submit" class="btn btn-block btn-primary" style="color: #fff; margin-top: 40px" value="Add Course" />
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


@section scripts{
<script src="~/Scripts/bootstrap-datepicker.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>*@
<script type="text/javascript">

    $("#TotalHours").val('');
    $("#CourseFee").val('');
    $('#StartDate').val('');
    $('#TotalSeats').val('');
    
    $.validator.methods.date = function (value, element) {
        return this.optional(element)
          || moment(value).format("DD/MM/YYYY");
    };

    function validateForm()
    {         
        if ($('.Daisy').is(":checked")) {
            $(".errorclass").empty();
            return true;

        } else {
            $(".errorclass").empty();
            $(".errorclass").html('Please select Days');
            return false;
        }
    }
   

    $('#StartDate').datepicker({


        autoclose: true,
        startDate: new Date(),
        setDate: new Date(),
        orientation: "left auto"
    });

</script>
    }
