﻿@using BLL.BusinessModels.TeacherModels
@model AddFolderViewModel


<div class="modal fade" id="Upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content UploadVideo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Folder</h4>
            </div>

@using (Html.BeginForm("AddFolder", "Teacher", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ReviewForm" }))
{

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                
                                <label>Folder Name</label>
                                
                                @Html.TextBoxFor(x => x.FolderName, new { @class = "form-control", @placeholder = "Folder Name" })
                                @Html.ValidationMessageFor(x => x.FolderName, "", new { @class = "text-danger" })

                                @*<input type="text" class="form-control" placeholder="Folder Name" />*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              
                  @*<a href="#" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Add</a>
                  <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancel</a>*@
                
                @*<input type="submit" class="btn btn-success" value="Upload" />
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancel </button>*@

                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="glyphicon glyphicon-remove"></i> Cancel </button>

            </div>
}
        </div>
    </div>
</div>


