﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model AddNotesViewModel
<style>
    .form-horizontal .form-group {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    #FKTopicID:disabled {
        background: white;
    }
</style>


<div class="modal fade" id="Upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content UploadVideo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload New Note</h4>
            </div>
  
@using (Html.BeginForm("AddNotes", "Teacher", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ReviewForm" , enctype = "multipart/form-data" }))
{
            @Html.HiddenFor(x=>x.FolderID)

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Title</label>
                                @Html.TextBoxFor(x => x.NotesTitle, new { @class = "form-control", @placeholder = "Title" })
                                @Html.ValidationMessageFor(x => x.NotesTitle, "", new { @class = "text-danger" })


                                @*<input type="text" class="form-control" placeholder="Title" />*@
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Subject</label>
                                @Html.DropDownListFor(x => x.FKSubjectID, Model.ListofTeacherSubjects, "Select Subject", new { @class = "form-control", @onchange = "LoadTopics()" })
                                @Html.ValidationMessageFor(x => x.FKSubjectID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Select Topic</label>
                                @Html.DropDownListFor(model => model.FKTopicID, Enumerable.Empty<SelectListItem>(), "Select Topic", new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(x => x.FKTopicID, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Add New Topic (Optional)</label>
                                @Html.TextBoxFor(x => x.TopicOptional, new { @class = "form-control", @placeholder = "Topic Name" })

                            </div>
                        </div>

                        @*<div class="col-md-4">
                            <label>File Upload</label>
                            <label class="btn btn-primary btn-block btn-file">
                                Upload File <input type="file" style="display: none;">
                            </label>
                        </div>*@

                        <div class="form-group col-md-4">
                            <label> File Upload</label><br>
                            <label class="btn btn-success btn-block btn-file">
                                Upload File <input id="imgUpload" type="file" name="FileBase" data-val="true" data-val-required="File is required">
                            </label>
                            @Html.ValidationMessage("FileBase", "", new { @class = "text-danger" })
                            <div id="validatormsg" class="text-danger">

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextAreaFor(x => x.NotesDescription, new { @class = "form-control", @placeholder = "Description about resource", @rows = 7 })
                                @Html.ValidationMessageFor(x => x.NotesDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<a href="#" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Upload</a>
                <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancel</a>*@
                
                @*<input type="submit" class="btn btn-success" value="Upload" />
                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancel </button>*@

                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Upload</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="glyphicon glyphicon-remove"></i> Cancel </button>

            </div>
}


        </div>
    </div>
</div>





<script type="text/javascript">

    function LoadTopics() {

        var GradeID = $("#FKSubjectID").val();
      
        if (GradeID != null && GradeID != '') {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("TopicsListDrop", "Teacher")',
                dataType: 'json',
                data: { SubjectID: GradeID },
                success: function (cities) {
                    var gradesSelect = $('#FKTopicID');
                    gradesSelect.attr("disabled", false);

                    var txtstring = $('#FKTopicID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }

        else {
            $("#FKTopicID").attr('disabled', true);
        }
    }


    document.getElementById('imgUpload').onchange = function (chk) {
        $("#validatormsg").empty();
        var val = $(this).val();
        var input = this;
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'pdf': case 'docx': case 'doc': case 'ppt': case 'pptx': case 'txt':
                var fileSize = input.files[0].size //size in kb
                fileSize = fileSize / 1048576;
                if (fileSize > 3) {
                    $(this).val('');
                    $("#validatormsg").empty();
                    $("#validatormsg").html("Please select less than 3MB file");
                }
                else {

                    $("#validatormsg").empty();
                    var names = input.files[0].name;
                    $("#validatormsg").html(names + " :  selected");

                }
                break;
            default:
                $(this).val('');
                $("#validatormsg").empty();
                $("#validatormsg").html("Only PDF,DOC,DOCX PPT,PPTX and Txt formats Allowed");
                break;

        }
    }


</script>
