﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model AddResourceViewModel
<style>

    .form-horizontal .form-group {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
     #FKTopicID:disabled {
        background: white;
    }
</style>

<div class="modal fade" id="WriteReviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content UploadVideo">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload New Free Resources</h4>
            </div>


@using (Html.BeginForm("AddResource", "Teacher", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ReviewForm" }))
{
    
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Title</label>
                                @Html.TextBoxFor(x=>x.ResourceTitle, new { @class = "form-control" ,@placeholder = "Title" })
                                @Html.ValidationMessageFor(x=>x.ResourceTitle,"", new { @class="text-danger"})
                          
                            </div>
                        </div>
                                
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Subject</label>
                                @Html.DropDownListFor(x=>x.FKSubjectID,Model.ListofTeacherSubjects,"Select Subject", new {@class="form-control", @onchange = "LoadTopics()" })
                                @Html.ValidationMessageFor(x=>x.FKSubjectID,"", new { @class="text-danger"})
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Year</label>
                                @Html.DropDownListFor(model => model.ResourceYear, Enumerable.Range(2000, (DateTime.Now.Year + 1) - 2000).Reverse().Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }), "Select Year", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ResourceYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Select Topic</label>
                                @Html.DropDownListFor(model => model.FKTopicID, Enumerable.Empty<SelectListItem>(), "Select Topic", new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(x => x.FKTopicID, "", new { @class = "text-danger" })
                            
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Add New Topic (Optional)</label> 
                                 @Html.TextBoxFor(x => x.TopicOptional, new { @class = "form-control", @placeholder = "Topic Name" })
                               
                           </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Video URL</label>

                                @Html.TextBoxFor(x => x.VideoURL, new { @class = "form-control", @placeholder = "Video URL" })
                                @Html.ValidationMessageFor(x => x.VideoURL, "", new { @class = "text-danger" })


                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextAreaFor(x => x.ResourceDescription, new { @class = "form-control", @placeholder = "Description about resource" , @rows=7 })
                                @Html.ValidationMessageFor(x => x.ResourceDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                @*<a href="#" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Publish</a>
                <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancel</a>*@
               
                <button type="submit" class="btn btn-success" ><i class="glyphicon glyphicon-ok"></i> Publish </button>
                
                 <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="glyphicon glyphicon-remove"></i> Cancel </button>
            
            </div>

}
       
         </div>
    </div>
</div>



<script type="text/javascript">

    function LoadTopics() {

        var GradeID = $("#FKSubjectID").val();
        alert("Load Topics : " + GradeID);
        if (GradeID != null && GradeID != '') {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("TopicsListDrop", "Teacher")',
                dataType: 'json',
                data: { SubjectID: GradeID },
                success: function (cities) {
                    var gradesSelect = $('#FKTopicID');
                    gradesSelect.attr("disabled", false);

                    var txtstring = $('#FKTopicID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }

        else {
            $("#FKTopicID").attr('disabled', true);
        }
    }


</script>