﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model RatingsViewModel


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">

<div class="White79">
    <div class="TeacheProfileTop" style="padding-top: 0px">
        <div class="container">

      
        </div>
    </div>

    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">

                @if (Model != null && Model.ReviewsList.Count > 0)
                {
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-12 TPBbox">

                            <h2 class="title">Rating & Reviews</h2>
                            <h5 class="rating">
                                <span>@Model.RatingAverage.ToString("0.00") / 5</span>

                                <i id="rateYo"></i>

                                @Model.ReviewsList.Count()  Rating
                            </h5>
                            @{ int counter = 0;}
                            @foreach (var item in Model.ReviewsList)
                            {
                                counter++;
                                <div class="col-md-12 ratebox">
                                    <p class="user">@item.StudentName<span> @item.StudentGrade, @item.StudentLocation</span></p>
                                    <p class="user"><div id="rateYo_@(counter)"></div></p>
                                    <p class="comment">" @item.Comment "</p>
                                </div>

                                <script>
                                  $(function() {

                                      $("#rateYo_@counter").rateYo({
                                        rating: @item.Rating,
                                          readOnly:true ,
                                          starWidth: "15px",
                                          ratedFill:"#ff6600"});
                                  });
                                </script>
                            }
                        
                        </div>
                    </div>
                                }
                                else
                                {
                                    <h3 class="text-center text-capitalize">
                                        No Ratings received Yet
                                    </h3>
                                }

            </div>
        </div>
    </div>
</div>


<div id="ModalWindow">

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<script type="text/javascript">

       function IdGet(id) {
           $("#ModalWindow").empty();
            var ids = id;
            var url = "@Url.Action("RateTeacher", "Student")?id=" + ids;
            $("#ModalWindow").load(url, function () {

                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#WriteReviews').modal('show');
            });


        }

    $(function() {

        $("#rateYo").rateYo({
            rating: @Model.RatingAverage,
            readOnly:true,
            starWidth: "25px",
            ratedFill:"#ff6600"

        });
    });
</script>

<style>
    .TPContent .TPBbox h5.rating i {
        display: inline-block;
    }
</style>
