﻿@using BLL.BusinessModels.TeacherModels
@model TestAssignViewModel

@{
    ViewBag.Title = "AssignTest";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
<style>
    [class^='select2'] {
        border-radius: 0px !important;
    }

    span.select2-selection.select2-selection--single {
        outline: none;
    }

    .select2-container--default .select2-search--inline .select2-search__field {
        width: auto !important;
    }

    .select2 {
        width: 100% !important;
    }

    .select2-selection {
        width: 100% !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #bfbfbf;
    }

        .select2-selection:focus {
            border-bottom: 1px solid #CCC !important;
        }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #ff6600 1px;
    }
</style>


<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
<script>
    webshims.setOptions('forms-ext', {types: 'date'});
webshims.polyfill('forms forms-ext');
</script>

<div class="White79">
    <div class="GreyBg">
        <div class="container">
                    
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-5">
                    <h2><span>Test Name :</span>@Model.TestName</h2>
                    <h2><span>Grade / Subject :</span>@Model.GradeSubjectName</h2>
                    <h2>
                        <span>Topics :</span>

                        @foreach (var item in Model.listOfTopics)
                        {
                            <span class="topicTag">@item.TopicName</span>
                        }
                    </h2>
                    <h2><span>Test Level :</span><span class="greenTxt">@Model.TestLevel</span></h2>
                </div>
                <div class="col-md-7 Metabox">
                    <div class="col-sm-10 col-sm-offset-2 alignright">
                        @*<a href="@Url.Action("EditTest", "Teacher", new { @area = "Teacher", @TestID=Model.TestID })" class="btn btn-sm btn-primary">Edit Test Details</a>
                    <a href="@Url.Action("DeleteTest", "Teacher", new { @area = "Teacher" , @TestID=Model.TestID })" class="btn btn-sm btn-danger">Delete Test</a>*@
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                                @Model.TotalMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                                @Model.TotalQuestions
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                                @Model.TestDuration mins
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("AssignTest","Teacher",FormMethod.Post, new { @id = "myForm", @onsubmit = "return validateForm();" }))
            {
                @Html.HiddenFor(x=>x.TestID)
                <div class="col-md-12 TQDetailsArea" style="margin-bottom: 10px">
                <div class="col-md-12 ATField">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Student</label>
                                @Html.DropDownListFor(x => x.FKStudentID, Model.ListofMyStudents, "", new { @class = "MyInputTestings", multiple = "true", placeholder = "Select Student" })
                                @Html.ValidationMessageFor(x => x.FKStudentID, "", new { @class = "text-danger" })
                            </div>
                            </div>
                        <div class="col-md-6 nopadding">
                            <div class="form-group col-sm-6">
                                <label>Select Date</label>
                                @Html.TextBoxFor(x => x.TestDate, new { @class = "MyInput", placeholder = "Date", @type="date" , @value="" })
                                @Html.ValidationMessageFor(x => x.TestDate,"", new { @class = "text-danger" })

                                <div class="validations text-danger"></div>

                            </div>
                            <div class="form-group col-sm-6">
                                <label>Select Time</label>
                                @Html.TextBoxFor(x => x.TestTime, new { @class = "MyInput", placeholder = "Date", @type = "time", @value = "" })
                                @Html.ValidationMessageFor(x => x.TestTime, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 nopadding mt50">
                            <div class="col-md-3 col-md-offset-3">
                                <input type="submit" class="btn btn-block btn-success MyBBtn" value="Assign" />
                            </div>
                            <div class="col-md-3">
                                <a href="@Url.Action("TestList","Teacher", new { @area="Teacher"})" class="btn btn-block btn-danger MyBBtn">Cancel</a>
                           </div>
                          
                        </div>
                    </div>
                </div>
            </div>

            }

        </div>
    </div>
</div>
@section Scripts
 {
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#TestDate").val('');
            $("#TestTime").val('');

        $("#FKStudentID").select2({
           
            placeholder: 'Choose Student'
         
        });
        $("#FKStudentID").trigger("change");
       

        
    });
    </script>

    <script type="text/javascript">

    function validateForm()
    {
        var Dates = $("#TestDate").val();
        var Times = $("#TestTime").val();
        var status;
        if (Dates !== null && Dates !== '' && Times !== null && Times !== '') {

            var selectedDate = new Date(Dates +" "+ Times);
            var nowDate = new Date();

            if (selectedDate < nowDate) {
                event.preventDefault();
                $(".validations").html("Please choose Valid Date Time");
                return false;
            }
            else {
                return true;
            }
        }
        else {
            $(".validations").html("Please choose Valid Date Time");
            return false;
        }    
    }

</script>

}
