﻿@using DAL.Entities;
@model List<Test>
<div role="tabpanel" class="tab-pane" id="Generated">

    @if (Model != null)
    {
        <div class="col-md-12 TestTable" style="border: 0px">
            @*<div class=" col-md-4 nopadding mb30">
               
            </div>*@
            @*<div class="col-md-8 alignright nopadding">
                <a href="@Url.Action("CreateTest","Teacher", new { area="Teacher"})" class="btn btn-md btn-success">Generate Test</a>
            </div>*@
            <table class="table table-hover table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Test Title</th>
                        <th>Grade/Subject</th>
                        <th>Test From</th>
                        <th>Last Assigned On</th>
                        <th>Level</th>
                        <th>Assigned</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{int counter = 0;}
                    @foreach (var item in Model)
                    {
                        counter++;
                        <tr>
                            <td>@counter</td>
                            <td>@item.TestName</td>
                            <td>@item.GradeSubjectName</td>
                            <td>Rudraa</td>
                            <td>@item.LastAssignedDate</td>                        
                            <th>@item.TestLevelName</th>
                            <th>@item.TotalAssignedCount</th>                      
                            <td>
                                <a href="@Url.Action("ViewTest","Teacher", new { area="Teacher",@TestID=@item.TestID})" class="btn btn-xs btn-default ttip" data-toggle="tooltip" title="View Test"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a href="@Url.Action("AssignTest","Teacher", new { area="Teacher",@TestID=@item.TestID})" class="btn btn-xs btn-success ttip" data-toggle="tooltip" title="Assign Test"><i class="glyphicon glyphicon-user"></i></a>
                                <a href="@Url.Action("ViewResult","Teacher", new { area="Teacher",@TestID=@item.TestID})" class="btn btn-xs btn-success ttip" data-toggle="tooltip" title="View Result"><i class="glyphicon glyphicon-text-color"></i></a>                                                          
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
                        }
                        else
                        {
                            <div class="col-md-12">

                                <h2 class="text-center">

                                    No Data Found

                                </h2>

                            </div>
                        }



</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.ttip').tooltip();

        $('#dataTable').DataTable({
            "paging": false,
            "ordering": false,
            "info": false
        });
    });
</script>

