﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@{   int status = ViewBag.Status;}

<div class="White79">
    <div class="ExploreCourseBanner">
        <div class="container">
           
            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>

            <div class="col-md-12">            
                <h2 class="link">My Generated Courses                
                    <a class="pull-right" href="@Url.Action("AddCourse","Teacher", new { area="Teacher"})">Add New Course</a>
                </h2>  
            </div>
            @*<div class="col-md-2 vchat">
                <img src="~/Content/Front/frontimg/VChatExample.png" />
                <a href="#" data-toggle="modal" data-target="#ExampleSession">Watch Example Session</a>
            </div>*@
        </div>
    </div>

    <div class="ECmain">
        <div class="container">
            <div class="col-md-12 nopadding" id="NeedToUpdate">
                @Html.Action("_CoursesList", "Teacher")
            </div>
        </div>
    </div>

</div>

<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
</script>