﻿@using BLL.BusinessModels.TeacherModels
@model CreateTestViewModel
@{
    ViewBag.Title = "CreateTest";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}
@*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">*@ 
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css">
<style>
 [class^='select2']
  {
  border-radius: 0px !important;
}
 span.select2-selection.select2-selection--single {
        outline: none;
    }
 .select2-container--default .select2-search--inline .select2-search__field {
    width: auto !important;
}
    .select2 {
        width:100% !important;
    }
    .select2-selection {
        width:100% !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #bfbfbf;
    }
    .select2-selection:focus
    {
        border-bottom: 1px solid #CCC !important;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #ff6600 1px;
    }
</style>

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 AddTest RTestMark">
                <div class="col-md-12 ATtitle">
                    <h3>Create New Test</h3>
                    <br>
                    <p>GENERATE TEST FROM RUDRAA QUESTION BANK</p>
                </div>
                @using (Html.BeginForm("CreateTest", "Teacher",FormMethod.Post, new {@id="myForm", @onsubmit = "return validateForm();" }))
                {

                     <div class="col-md-12 ATField">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Test Name</label>
                                @Html.TextBoxFor(x => x.TestName, new { @class = "MyInput", @placeholder = "Enter Test Name" })
                                @Html.ValidationMessageFor(x => x.TestName, "", new { @class = "text-danger" })                            
    
   
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 nopadding">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Grade</label>
                               
                                @Html.DropDownListFor(x => x.FKGradeID, Model.ListofGrades, "Select Grade", new { @class = "MyInput", @onchange = "LoadSubjects()" })
                                @Html.ValidationMessageFor(x => x.FKGradeID, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Subject</label>
                                @Html.DropDownListFor(x => x.FKSubjectID, Model.ListofSubjects, "Select Subject", Model.FKSubjectID==0?(object) new { @class = "MyInput", @disabled = "disabled", @onchange = "LoadTopics()" } :new { @class = "MyInput", @onchange = "LoadTopics()" } )
                                @Html.ValidationMessageFor(x => x.FKSubjectID, "", new { @class = "text-danger" })                           
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>TEST LEVEL ( Total 100% Question 25)</label>
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.EasyCount, new { @class = "MyInput MyCounts", placeholder = "Easy" })
                                    @Html.ValidationMessageFor(x => x.EasyCount, "", new { @class = "text-danger" })

                                    @*<input type="number" class="MyInput" placeholder="Easy" />*@
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.MediumCount, new { @class = "MyInput MyCounts", placeholder = "Medium" })
                                    @Html.ValidationMessageFor(x => x.MediumCount, "", new { @class = "text-danger" })
                                    @*<input type="number" class="MyInput" placeholder="Medium" />*@
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.HardCount, new { @class = "MyInput MyCounts", placeholder = "Hard" })
                                    @Html.ValidationMessageFor(x => x.HardCount, "", new { @class = "text-danger" })
                                    @*<input type="number" class="MyInput" placeholder="Hard" /> ,@readonly="readonly"*@
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.OverallPercentage, new { @class = "MyInput OverallPercentage", placeholder = "%" , @readonly="true"})
                                    <div class="validations text-danger"></div>

                                    @*@Html.ValidationMessageFor(x => x.OverallPercentage, "", new { @class = "text-danger validations" })*@
                                    @*<input type="text" id="calPercentage" class="MyInput" value="100%" disabled />*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 nopadding">
                        <div class="col-md-12">
                            <div class="form-group">                          
                                <label>Select Topics</label>                       
                                @*  @Html.DropDownList("FKTopicID", Model.ListofTopics, "", new { @class = "MyInput Testings", multiple = "true",placeholder="selection topic" })*@
                                @Html.DropDownListFor(x=>x.FKTopicID, Model.ListofTopics, "", new { @class = "MyInput Testings", multiple = "true", placeholder = "selection topic" })
                                @Html.ValidationMessageFor(x=>x.FKTopicID,"", new { @class="text-danger "})
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 nopadding">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Marks</label>
                                <input type="text" class="MyInput" placeholder="i.e : 15" value="100" disabled />
                                @*@Html.TextBoxFor(x => x.TotalScores, new { @class = "MyInput", placeholder = "Scores." })
                                @Html.ValidationMessageFor(x => x.TotalScores, "", new { @class = "text-danger" })*@
                                @*<input type="text" class="MyInput" placeholder="i.e : 100" />*@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total Questions</label>
                                <input type="text" class="MyInput" placeholder="i.e : 15" value="25" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Test Duration</label>
                                <input type="text" class="MyInput" placeholder="i.e : 45 mins" value="60 mins" disabled />
                            </div>
                        </div>
                    </div>
                         <div class="text-center">
                             @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                         </div>
                    <div class="col-md-12 nopadding mt50">
                        <div class="col-md-3 col-md-offset-3">
                            <input type="submit" class="btn btn-block btn-success MyBBtn" value="GENERATE">
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("Index", "Teacher", new { area = "Teacher" })" class="btn btn-block btn-danger MyBBtn">CANCEL</a>
                        </div>
                    </div>
                </div>


                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
@*<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>*@  
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#FKTopicID").select2({
            width: 300,
            placeholder: 'Choose Topic',
            tokenSeparators: [',', '|']
        });
        $("#FKTopicID").trigger("change");
        $("span.select2-selection--multiple").on("mouseover", function () {
            $("li.select2-search--inline").each(function () {
                $(this).find("input").css("width", "100%");
            });
        });

    });
</script>


<script type="text/javascript">
    function LoadSubjects() {
        var GradeID = $("#FKGradeID").val();
        if (GradeID != null && GradeID != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("dSubjectsList", "Teacher")',
                dataType: 'json',
                data: { GradeID: GradeID },
                success: function (cities) {
                    var gradesSelect = $('#FKSubjectID');
                    gradesSelect.attr("disabled", false);
                    $("#FKTopicID").attr('disabled', true);
                    var txtstring = $('#FKSubjectID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#FKSubjectID").attr('disabled', true);
            $("#FKTopicID").attr('disabled', true);
        }
    }

    function LoadTopics() {

        var GradeID = $("#FKSubjectID").val();
        if (GradeID != null && GradeID != '') {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("TopicsListDrop", "Teacher")',
                dataType: 'json',
                data: { SubjectID: GradeID },
                success: function (cities) {
                    var gradesSelect = $('#FKTopicID');
                    gradesSelect.attr("disabled", false);

                    var txtstring = $('#FKTopicID option:first-child').text();
                    gradesSelect.empty();
                    //gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                   
                    $("#FKTopicID").trigger("change");
                    //$('#FKTopicID').selectpicker({
                    //    style: 'btn-danger',
                    //    size: 10
                    //});
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {

            $("#FKTopicID").attr('disabled', true);
        }
    }
    


    $(".MyCounts").blur(function () {
       
      var easy=  $("#EasyCount").val();
      var medium=  $("#MediumCount").val();
      var hard = $("#HardCount").val();
      var totalSum = ((parseInt(easy) + parseInt(medium) + parseInt(hard)) / 25) * 100;
      $('input[readonly]').val(totalSum)
      
    });
    
    function validateForm()
    {
      
        
       if(a==100)
       {
          
           return true;
       }
       else 
       {          
         //  console.log(a);         
           $(".validations").html("Percentange not complete");
           return false;
       }

    }


</script>
}

