﻿@using BLL.Helpers;
@model BLL.BusinessModels.UserModels.TeacherEditProfileViewModel
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<style>
    #disEmail:disabled {
        background: white;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">

<div class="White79">
    @using (Html.BeginForm("EditProfile", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="TeacheProfileTop stdpf">
            <div class="container">
                <div class="col-md-12 nopadding">
                    <div class="col-sm-2 dp">
                        @if (string.IsNullOrEmpty(Model.ProfileImage))
                        { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" />}
                        else
                        { <img src="~/UserImages/@Model.ProfileImage" id="imgChange" />}

                        <label class="btn btn-xs btn-success btn-file">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <input type="file" style="display: none;" id="imgUpload" name="PostedFile" />
                        </label>
                        <div id="validatormsg" class="text-danger"></div>

                    </div>
                    <div class="col-sm-10 details">
                        <h1>@Config.UsersProfile.FirstName <span>@Config.UsersProfile.LastName</span></h1>
                        <p>
                            @Html.TextBoxFor(x => x.UniversityName, new { @class = "form-control", @style = "width: 320px", @placeholder = "University Name" })
                            @Html.ValidationMessageFor(x => x.UniversityName, "", new { @class = "text-danger" })
                            @*<input type="text" class="form-control" value="MCA, Gujarat Technological University" style="width: 320px" />*@
                        </p>
                    </div>
                </div>
                <div class="col-md-12 action">
                    <div class="col-md-3">
                        <p>Experience : <span>@Config.UsersProfile.ExperienceName</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Rate :
                            <span>
                                @Html.TextBoxFor(x => x.SessionCost, new { @style = "width: 100px; padding: 2px 7px; border-radius: 4px; border: 1px solid #808080; margin-right: 10px", @placeholder = "Rate/Hour" })

                                @*<input type="text" style="width: 100px; padding: 2px 7px; border-radius: 4px; border: 1px solid #808080; margin-right: 10px" value=" 550" />*@
                            </span>₹/HOUR
                            @Html.ValidationMessageFor(x => x.SessionCost, "", new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("changePassword", "teacher", new { area = "teacher" })" class="btn btn-block ts">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="GreyBg">
            <div class="container">
                <div class="col-md-12 TPContent">
                    <div class="col-md-6">

                        <div class="col-md-12 TPBbox">
                            <h2 class="title">About Me</h2>
                            @Html.TextAreaFor(x => x.AboutMe, new { @class = "form-control", @rows = "7", @placeholder = "About yourself" })
                            @Html.ValidationMessageFor(x => x.AboutMe, "", new { @class = "text-danger" })
                            <div class="col-md-12 bx">
                                <h5><i class="glyphicon glyphicon-map-marker"></i><span>State </span></h5>
                                @Html.DropDownListFor(model => model.StateID, Model.sListofStates, "Select State", new { @class = "form-control dropdownlist", @placeholder = "About yourself" })
                                @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                                <h5><i class="glyphicon glyphicon-map-marker"></i><span>City </span></h5>
                                @Html.TextBoxFor(x => x.CityName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CityName, "", new { @class = "text-danger", @placeholder = "City Name" })


                                <h5><i class="glyphicon glyphicon-volume-down"></i><span>Speaks </span></h5>

                                @Html.TextBoxFor(x => x.Languages, new { @class = "form-control", @placeholder = "Language" })
                                @Html.ValidationMessageFor(x => x.Languages, "", new { @class = "text-danger" })

                                <h5><i class="glyphicon glyphicon-envelope"></i><span>Email </span></h5>

                                <input type="text" id="disEmail" class="form-control" value="@Model.EmailAddress" disabled />

                                <h5><i class="glyphicon glyphicon-earphone"></i><span>Contact </span></h5>
                                @Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control", @placeholder = "Contact Number" })
                                @Html.ValidationMessageFor(x => x.ContactNumber, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-md-12 TPBbox">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-block btn-success" value="SAVE" />
                            </div>
                            <div class="col-md-6">
                                <a href="@Url.Action("teacherProfile", "teacher", new { area = "teacher" })" class="btn btn-block btn-danger">CANCEL</a>
                            </div>
                        </div>

                    </div>
                    
    
    @*// Rating and Reviews Section*@
                    <div class="col-md-6">


                        <div class="col-md-12 TPBbox">
                            <h2 class="title">Rating & Reviews</h2>

                            @if (Model.RatingsModel != null && Model.RatingsModel.ReviewsList.Count() > 0)
                            {
                                <h5 class="rating">
                                    <span>@Model.RatingsModel.RatingAverage.ToString("0.00") / 5</span>

                                    <i id="rateYo"></i>
                                    @Model.RatingsModel.TotalRatings Rating
                                </h5>
                                int counter = 0;
                                foreach (var item in Model.RatingsModel.ReviewsList)
                                {
                                    counter++;
                                    <div class="col-md-12 ratebox">
                                        <p class="user">@item.StudentName<span>@item.StudentGrade, @item.StudentLocation</span></p>
                                        <p class="user">
                                            @*<input class="input-3" name="input-3" value="@item.Rating">*@
                                            <div id="rateYo_@(counter)"></div>
                                        </p>
                                        <p class="comment">" @item.Comment "</p>
                                    </div>
                                    <script>
                                  $(function() {

                                      $("#rateYo_@counter").rateYo({
                                        rating: @item.Rating,
                                          readOnly:true ,
                                          starWidth: "15px",
                                          ratedFill:"#ff6600"});
                                  });
                                    </script>
                                }


                                <div class="col-md-12 reviewbtn">
                                    <a href="@Url.Action("AllReviews","Teacher", new { area="Teacher"})" class="btn">Read All Reviews</a>
                                </div>
                            }
                            else
                            {

                                <h3 class="text-center text-capitalize">
                                    No Ratings received Yet
                                </h3>


                            }
                        </div>

                    </div>

                </div>
            </div>
        </div>
    }

    @*Subjects Section*@
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-6">
                  
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">Subjects Taught 
                        @*<a href="#" class="pull-right">Add</a>*@
                        </h2>
                        <div class="col-md-12 bx" id="dialog_window_id">
                        @Html.Action("_ViewSubjects","Teacher", new { area="Teacher"})
                        </div>

                        <div id="StatusMsg">

                        </div>
                    </div>

                </div>
                </div>
        </div>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<script type="text/javascript">

    $(function() {

        $("#rateYo").rateYo({
            rating: @Model.RatingsModel.RatingAverage,
            readOnly:true,
            starWidth: "22px",
            ratedFill:"#ff6600"
        });
    });
</script>
<style>
    .TPContent .TPBbox h5.rating i {
        display: inline-block;
    }
</style>
<script type="text/javascript">

    document.getElementById('imgUpload').onchange = function (chk) {
        $("#validatormsg").empty();
        var val = $(this).val();
        var input = this;
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'jpg': case 'jpeg': case 'png':

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgChange').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);

                break;
            default:
                $(this).val('');
                $("#validatormsg").empty();
                $("#validatormsg").html("Only JPG and PNG formats Allowed");
                break;
        }
    }

    function TestMethod(a,b)
    {
        if (a ==1)
        {
            // inserted succesfully and load _ViewSubjects
            $("#dialog_window_id").empty();
            $("#dialog_window_id").load('@Config.WebsiteURL/Teacher/Teacher/_ViewSubjects', function () {
                $("#StatusMsg").empty();
                $("#StatusMsg").html(b);
         });
     }
        else
        {    
            // not inserted and remain on same view 
            $("#StatusMsg").empty();
            $("#StatusMsg").html(b);
        }
    }
</script>


