﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model ShareEmailViewModel
<style>
    .form-horizontal .form-group {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

</style>


<div class="modal fade" id="Upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content UploadVideo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload New Note</h4>
            </div>

            @using (Html.BeginForm("EmailNotes", "Teacher", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ReviewForm", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.NoteID)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Receiver Email</label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @placeholder = "Message to Friend...", @rows = 7 })
                                    @Html.ValidationMessageFor(x => x.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<a href="#" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Upload</a>
                        <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancel</a>*@

                    <input type="submit" class="btn btn-success" value="Send" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancel </button>

                </div>
            }


        </div>
    </div>
</div>







