﻿@using DAL.Entities
@model List<Folders>

@{   int status = ViewBag.Status;}

<div class="White79">
    <div class="GreyBg">




        <div class="container" style="width: 100%">


            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>


            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-folder-open"></i> Notes</h2>
                </div>
                <div class="col-md-3">
                                     
                   <a href="#" class="btn mybtn btn-block" onclick="IdGet()">Add New Folder</a>
                </div>
            </div>
        </div>
        <div class="">
            <div class="container">
                <div class="col-md-8 col-md-offset-2 notifolder">
                    
                    @if (Model != null && Model.Count > 0)
                    {

                        foreach (var item in Model)
                        {


                        <div class="col-md-12 nbox">
                            <div class="col-xs-2 rightAlign">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </div>
                            <div class="col-xs-10">
                                <a href="@Url.Action("GetNotes","teacher",new { area="teacher", @id=item.FolderID})">
                                <h3>@item.FolderName</h3>
                                </a>
                                <p>@item.TotalFiles files</p>
                            </div>
                        </div>

                        }
                    }
                    else
                    {
                        <h3 class="text-center">
                            No Folder Found.
                        </h3>
                    }


                </div>
            </div>
        </div>
    </div>
</div>




<div id="ModalWindow">

</div>


@section scripts{

    <script type="text/javascript">

       function IdGet() {
           $("#ModalWindow").empty();

            var url = "@Url.Action("AddFolder", "Teacher")";
            $("#ModalWindow").load(url, function () {

                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#Upload').modal('show');

            });
        }

    </script>


   
}
