﻿@using DAL.Entities
@model List<FreeResources>


@{   int status = ViewBag.Status;}
<div class="LightOrange">
    <div class="container">


        <div class="row">
            <div class="col-md-8 col-md-offset-2 nopadding">
                @switch (status)
                {
                    case 1: // Information
                        <div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="glyphicon glyphicon-info-sign alert-icon"></i>
                            <strong>Success ! </strong> @ViewBag.Message
                        </div>
                        break;
                    case 2: // Success
                        <div class="alert alert-success fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-check alert-icon"></i>
                            <strong>Success ! </strong> @ViewBag.Message
                        </div>
                        break;
                    case 3: // Error
                        <div class="alert alert-danger fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="glyphicon glyphicon-ban-circle alert-icon"></i>
                            <strong>Failed ! </strong> @ViewBag.Message
                        </div>
                        break;
                    case 4: // Warning
                        <div class="alert alert-warning fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="glyphicon glyphicon-warning-sign alert-icon"></i>
                            <strong>Warning ! </strong> @ViewBag.Message
                        </div>
                        break;
                }
            </div>
        </div>



        <div class="col-md-12 FRDTitle">
            <div class="col-md-9 nopadding">
                <h1>My Free Resources</h1>
                <p>You can upload Previous year Solved Exam paper/Questions here to help the Students on Rudraa</p>
                <a href="#" class="mybtn btn" onclick="IdGet()"><i class="glyphicon glyphicon-plus mr7"></i>Upload</a>
            </div>
@if (Model != null && Model.Count > 0)
{
            <div class="col-md-3 VideoCount">
                <h4>
                    <i class="glyphicon glyphicon-play-circle"></i>
                    <br>

                    @Model.Count() Videos
                </h4>
            </div>
}
        </div>
     
@if (Model != null && Model.Count > 0)
{
        <div class="col-md-12 FreeResourseArea">
            <div class="col-md-12 FRDArea">

                <div class="col-md-3 FRDLeft">
                    <div class="col-md-12 filter">
                        <h2>Subjects</h2>

                        @*<div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked class="">
                                All Subjects
                            </label>
                        </div>
                    </div>*@

                        @foreach (var item in Model.Take(1).ToList())
                        {

                            foreach (var items in item.TeacherSubjects)
                            {
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="@items.SubjectID" class="chkBox" onclick="Testing('@items.SubjectID')">
                                            @items.SubjectName
                                        </label>
                                    </div>
                                </div>
                            }
                        }


                    </div>

                </div>

                <div class="col-md-9" style="padding: 15px">

                    <div id="UpdatedID">
                        @Html.Action("_FreeResources", "Teacher")
                    </div>


                </div>
            </div>
        </div>



}
else
{
    <div class="col-md-12 FRDArea">
        <h3>
            No Resources Found
        </h3>
    </div>
}
        </div>
</div>

<div id="ModalWindow">

</div>


@section scripts{

    <script type="text/javascript">

       function IdGet() {
           $("#ModalWindow").empty();

            var url = "@Url.Action("AddResource", "Teacher")";
            $("#ModalWindow").load(url, function () {

                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#WriteReviews').modal('show');

            });
        }

</script>


    <script type="text/javascript">

      function Testing(sID)
      {
          var value = "#" + sID;
          if (sID != null && sID!='')
          {
              $("#UpdatedID").empty();
              var url =  '/Tutoring/Teacher/Teacher/_LoadSubjectResource?sID='+sID;
              $("#UpdatedID").load(url);
              $('.chkBox').prop('checked', false);
              $(value).prop('checked', true);
             
          }
      }

    </script>
}