﻿@using DAL.Entities
@model List<Notes>

@{   int status = ViewBag.Status;}


<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>

            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-folder-open"></i> @ViewBag.FolderName </h2>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn mybtn btn-block" onclick="IdGet(@ViewBag.FolderID)">Add New Note</a>
                    @*<a href="#" class="btn mybtn btn-block" data-toggle="modal" data-target="#Upload">Add New Note</a>*@
                </div>
            </div>
        </div>

        @if (Model != null && Model.Count > 0)
        {
            <div class="">
                <div class="container">
                    <div class="col-md-12 notbk"><a href="@Url.Action("Folders", "teacher", new { area = "teacher" })"><i class="glyphicon glyphicon-menu-left mr7"></i> Back to Folders</a></div>
                    <div class="col-md-12 notifolder">
                        <table class="table NoteTable table-bordered table-hover table-striped">
                            <tr>
                              
                                <th>File Name</th>
                                <th>Subject / Grade</th>
                                <th>Topic Name</th>
                                <th>Uploaded Date</th>
                                <th>Downloaded</th>
                                <th>Action</th>
                            </tr>

                            @foreach (var item in Model)
                            {

                            <tr>
                                @*<td><img src="../Include/img/file04.png"></td>*@
                                <td>@item.NotesName</td>
                                <td>@item.Subject</td>
                                <td>@item.TopicName</td>
                                <td>@item.CreatedDate.ToString("dd, MMMM,yyyy")</td>
                                <td>@item.TotalDownloads</td>
                                
                                <td>
                                    <a href="@Url.Action("DownloadNotes", "teacher", new { area = "teacher", @id = item.NoteID })" class="btn btn-xs btn-success mr7" data-toggle="tooltip" data-placement="top" title="Download"><i class="glyphicon glyphicon-save"></i></a>
                                    <a href="#" class="btn btn-xs btn-warning mr7" data-toggle="tooltip" data-placement="top" title="Share / Mail" onclick="ShareEmail(@item.NoteID)"><i class="glyphicon glyphicon-send"></i></a>
                                    <a href="#" class="btn btn-xs btn-primary mr7" data-toggle="tooltip" data-placement="top" title="Edit" onclick="EditGet(@item.NoteID)"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a href="@Url.Action("DeleteNotes", "teacher", new { area = "teacher", @id = item.NoteID })" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to Delete?')"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>

                            </tr>

                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h3 class="text-center">
                No Notes Found.
            </h3>
        }

    </div>
</div>


<div id="ModalWindow">

</div>
@{ Int64 ids = ViewBag.FolderID;}
@section scripts{

    <script type="text/javascript">

       function IdGet(i) {
           $("#ModalWindow").empty();

           var url = "@Url.Action("AddNotes", "Teacher",new { @id=ids})";
         
            $("#ModalWindow").load(url, function () {


                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#Upload').modal('show');

            });
        }

        function EditGet(i) {

            $("#ModalWindow").empty();
           
            var url = "@Url.Action("EditNotes", "Teacher",new { @id="-1"})";
            url = url.replace("-1", i);
            $("#ModalWindow").load(url, function () {


                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#Upload').modal('show');

            });
        }

        function ShareEmail(i) {

            $("#ModalWindow").empty();
           
            var url = "@Url.Action("EmailNotes", "Teacher",new { @id="-1"})";
            url = url.replace("-1", i);
            $("#ModalWindow").load(url, function () {

                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#Upload').modal('show');

            });
        }

    </script>



}
