﻿@using BLL.Helpers;
@model BLL.BusinessModels.TeacherModels.TeacherDashboardViewModel
@{
    ViewBag.Title = "Teacher Dashboard";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int status = ViewBag.Status;
}

<div class="White79">
    <div class="TeacheProfileTop TchrPfBg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>

            <div class="col-md-12 nopadding">
                <div class="col-sm-2 dp">
                    @if (string.IsNullOrEmpty(Model.ProfileImage))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" />}
                    else
                    { <img src="~/UserImages/@Model.ProfileImage" id="imgChange" />}

                </div>
                <div class="col-sm-10 details">
                    <div class="name">
                        <h1>@Model.FirstName <span>@Model.LastName</span></h1>
                    </div>
                    <div class="info">
                        <p>@Model.Qualification, @Model.InstituteName <i class="glyphicon glyphicon-ok-sign"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 action">
                <div class="col-md-4">
                    <p>Total Hours Taught on Rudraa : <span> @Model.MySessionsCount</span></p>
                </div>
                <div class="col-md-3">
                    <p>Total Earnings : <span>₹ @Model.MyTotalEarnings</span></p>
                </div>
                <div class="col-md-3">
                    <p>My Rate : <span>₹ @Model.SessionCost/Hour</span></p>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("TeacherProfile")" class="btn btn-block bs">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-9">
                    <div class="col-md-12 TPBbox">
                        <div class="col-md-4">
                            <a href="@Url.Action("CoursesList","Teacher", new { area="teacher"})" style="text-decoration:none;color:black;">
                                <div class="col-md-12 statbx">
                                    <img src="~/Content/Front/frontimg//TI1.png" />
                                    <h3>MY COURSES</h3>
                                    <h2>@Model.CourseCount</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("UpdateMySession","Teacher", new { area="teacher"})">
                                <div class="col-md-12 statbx">
                                    <img src="~/Content/Front/frontimg//TI2.png" />
                                    <h3>MY SESSIONS</h3>
                                    <h2>@Model.MySessionsCount</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("MyStudents","teacher", new { area="teacher"})">
                                <div class="col-md-12 statbx">
                                    <img src="~/Content/Front/frontimg//TI3.png" />
                                    <h3>MY STUDENTS</h3>
                                    <h2>@Model.MyStudentsCount</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 TPBbox">
                        <div class="col-md-12 nopadding std-dash">
                            <h2 class="title">Your This Week Teaching Basic Report</h2>
                            @foreach (var item in Model.listOfWeeklyReport)
							{
								if (DateTime.Now.ToString("dd/MM/yyyy") == @item.Date)
								{
									<div class="daybox Active">
										<p class="day">
											<span>@item.Day</span><br>
											@item.Date
										</p>
										<h4>@item.TotalHours Hrs</h4>
										<h4><span>( ₹  @item.TotalDailyEarnings )</span></h4>
									</div>
								}
								else
								{
									<div class="daybox">
										<p class="day">
											<span>@item.Day</span><br>
											@item.Date
										</p>
										<h4>@item.TotalHours Hrs</h4>
										<h4><span>( ₹  @item.TotalDailyEarnings )</span></h4>
									</div>
								}
							}     

                        </div>
                    </div>
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">NEW SESSIONS REQUEST RECEIVED </h2>
                        @if (Model.listOfSession.Count > 0)
                        {
                            foreach (var item in Model.listOfSession)
                            {

                                if (item.TrialHappenDate > DateTime.Now)
                                {
                                    <div class="col-md-12 ssbox new flex">
                                        <div class="col-xs-1 nopadding">
                                            @if (string.IsNullOrEmpty(item.ImageName))
                                            { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                                            else
                                            { <img src="~/UserImages/@item.ImageName" class="ssuser" />}

                                            @*<img src="~/Content/Front/frontimg//testi1.jpg" class="ssuser" />*@
                                        </div>
                                        <div class="col-xs-9">
                                            <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                            <p>Student : <a href="#">@item.RequestedByName</a></p>
                                            <h5>
                                                Session on : <span>
                                                    @item.SessionTimes
                                                </span>
                                            </h5>
                                        </div>
                                        <div class="col-xs-2 nopadding">
                                            @*<a href="#" class="btn btn-block" data-toggle="modal" data-target="#Details">Details</a>*@
                                            @*<a href="@Url.Action("MySessions","Teacher", new { area="Teacher"})" class="btn btn-block">Details</a>*@

                                        </div>
                                    </div>
                                }


                            }
                            <a href="@Url.Action("PendingSessions","Teacher", new { area="Teacher"})" class="btn btn-xs btn-default pull-right">View Detail</a>

                        }
                        else
                        {
                            <h4>NO SESSIONS REQUEST RECEIVED</h4>
                        }
                    </div>
               
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">UPCOMMING SESSIONS </h2>
                        @if (Model.listOfUpcomingSession.Count > 0)
                        {
                            foreach (var item in Model.listOfUpcomingSession)
                            {
                                <div class="col-md-12 ssbox flex">
                                    <div class="col-xs-1 nopadding">
                                        @*<img src="~/Content/Front/frontimg//testi1.jpg" class="ssuser" />*@
                                      
                                          @if (string.IsNullOrEmpty(item.ImageName))
                                        { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                                        else
                                        { <img src="~/UserImages/@item.ImageName" class="ssuser" />}


                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                        <p>Student : <a href="#">@item.RequestedByName</a></p>
                                        <h5>
                                            Session on : <span>
                                                @item.SessionTimes
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="col-xs-2 nopadding">
                                          @*<a href="@Url.Action("MySessions","Teacher", new { area="Teacher"})" class="btn btn-block">Details</a>*@
                                    </div>
                                </div>
                            }
                            <a href="@Url.Action("UpcomingSessions","Teacher", new { area="Teacher"})" class="btn btn-xs btn-default pull-right">View Detail</a>

                        }
                        else
                        {
                            <h4>NO UPCOMING SESSIONS</h4>
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 pad15 TPBbox">
                        <h2 class="title">Notification</h2>

                        <div id="Parl"></div>


            @if (Model.listOfMyNotifications != null && Model.listOfMyNotifications.Count > 0)
            {

                foreach (var item in Model.listOfMyNotifications)
                {

                        <div class="col-md-12 notilst">
                            <h6>@item.ActionPerformed</h6>
                            <p>@item.Time.ToString("dd MMM, yyyy | hh:mm tt")</p>
                        </div>

                }
                    <div class="col-md-12 centeralign">
                        <br>
                        <a href="@Url.Action("allNotification","teacher", new { area="teacher"})" class="btn btn-xs btn-primary">View all Notification</a>
                    </div>
            }
            else
            {
                <div class="col-md-12 notilst">
                    <h5>No Notification Found</h5>
                </div>
            }

                  

                        </div>
                    <div class="col-md-12 pad15 TPBbox">
                        <h2 class="title">MY STUDENTS </h2>

                        @if (Model.listOfMyStudents != null && Model.listOfMyStudents.Count > 0)
                        {
                            foreach (var item in Model.listOfMyStudents)
                            {
                                <div class="col-md-6" style="padding: 5px !important">
                                    <div class="col-md-12 HTblock" style="padding: 5px !important; margin-bottom: 5px !important">
                                    
                                        <a href="@Url.Action("MyStudentProfile","teacher",new {area="teacher", @UserID=@item.FKUserID })" style="text-decoration:none;color:black;">


                                            @if (string.IsNullOrEmpty(item.ProfilePic))
                                            { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" />}
                                            else
                                            { <img src="~/UserImages/@item.ProfilePic" id="imgChange" />}

                                            <p style="font-size: 12px">@item.FirstName @item.LastName</p>
                                            <p><span>@item.CityName - @item.StateName</span></p>

                                        </a>   

                                    </div>
                                </div>
                            }
                            <div class="col-md-12 centeralign">
                                <br>
                                <a href="@Url.Action("myStudents","teacher", new { area="teacher"})" class="btn btn-xs btn-primary">View all Student</a>
                            </div>
                        }
                        else
                        {
                            <h2>No Student Found</h2>
                        }





                    </div>
                    <div class="col-md-12 pad15 TPBbox">
                        @using (Html.BeginForm("SubmitSupport", "Teacher", FormMethod.Post))
                        {
                        
                        <h2 class="title">Support</h2>
                        <div class="form-group">
                            <label>Subject</label>
                            @Html.TextBox("Subject", "", new { @class = "form-control", @placeholder = "Subject", @data_val = "true", @data_val_required = "Subject is required" })
                            @Html.ValidationMessage("Subject", "", new { @class = "text-danger" })         
                         </div>
                         <div class="form-group">
                            <label>Comment</label>
                            @Html.TextArea("Messages", new {@class="form-control" ,@placeholder="comment", @rows="4", @data_val = "true", @data_val_required = "Message is required" })
                            @Html.ValidationMessage("Messages","", new { @class="text-danger"})                        
                         </div>
                          <input type="submit" class="btn btn-block btn-primary" value="SUBMIT">
                        
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    @*<script type="text/javascript">

        $(document).ready(function () {
           
        });

        function asd()
        {
            var url = '@Url.Action("LoadNotification", "Teacher")';
            //$("#Parl").empty();
            $("#Parl").load(url);
        }

        $(document).ready(function () {
            setTimeout(asd, 3000);
            // the function you called by setTimeout must not be a string.
        });
    </script>*@
 

