﻿@model DAL.Entities.Sessions
@{
    ViewBag.Title = "JoinSessions";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-list-alt"></i>My Session Requested</h2>
                </div>
                <div class="col-md-3">
                    @*<a href="MySessionBooked.html" class="btn mybtn btn-block">Session Scheduled</a>*@
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 nopadding">

                @if (Model != null)
                {
                    <h3 class="intt"> Join Sessions </h3>
                    <div class="col-md-12">
                        <table class="table table-bordered ssTable">
                            <thead>
                                <tr>
                                    <th>Session Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>


                            <tbody>
                                <tr>
                                    <td>

                                        <p class="sstime">Your session with @Model.RequestedByName on @Model.SubjectName is happening Now.</p>
                                    </td>

                                    <td>
                                     @*<a href="@Url.Action("index","whiteboard", new {area="", link=@Model.SessionLink,@SessionID=Model.TrialSessionID})" class="namme">Join Session</a><br>*@
                                        <a href="@Url.Action("conncet_bbb","Teacher","Teacher")" target="_blank" class="btn btn-dss">Join-Session</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="@Url.Action("cancel_bbb","Teacher","Teacher")" class="btn btn-dss">Cancel </a>
                                    </td>

                                </tr>

                            </tbody>

                        </table>
                    </div>
                }
                else
                {
                    <h2 class="title">NO SESSIONS FOUND</h2>
                }

            </div>
        </div>
    </div>
</div>