﻿@using DAL.Entities
@using BLL.BusinessManagers
@using BLL.Helpers

@*@model List<UserNotifications>*@


 @{NotificationManager nManager = new NotificationManager();
     List<UserNotifications>
list = new List<UserNotifications>
();
     list = nManager.ListofUserNotifications(Config.CurrentUser);

     if (list != null && list.Count > 0)
     {
         list = list.Take(3).ToList();
     }
     else
     {
         list = null;
     }
 }
        @if (list != null && list.Count > 0)
        {
            foreach (var item in list)
            {
                <li><a href="@Url.Action("AllNotification","Teacher", new { @area="teacher"})">@item.ActionPerformed</a></li>
            }
        }
        else
        {
            <li style="text-align:center;margin:45px;">No Notification Found</li>
        }

@*@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li><a href="@Url.Action("AllNotification","Teacher", new { @area="teacher"})">@item.ActionPerformed</a></li>
    }
}
else
{
    <li style="text-align:center;margin:45px;">No Notification Found</li>
}*@
