﻿@model BLL.BusinessModels.TeacherModels.TeacherDashboardViewModel
@{
    ViewBag.Title = "MySessions";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}
@{
    int status = ViewBag.Status;
}
<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>


            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-list-alt"></i>My Session Requested</h2>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("sessionsScheduled","teacher", new { area="teacher"})" class="btn mybtn btn-block">Session Scheduled</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 nopadding">

                @if (Model.listOfSession.Count > 0)
                {
                    <h3 class="intt">SESSION REQUESTS</h3>
                    <div class="col-md-12">
                        <table class="table table-bordered ssTable">
                            <thead>
                                <tr>
                                    <th>Session Request</th>
                                    <th>Session On</th>
                                    <th>Session Date</th>
                                    <th>Duration</th>
                                    <th>Status</th>
                                    <th>Past/Upcoming</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model.listOfSession)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                           From <a href="#" class="namme">@item.RequestedByName</a><br>
                                            <p class="sstime">@item.RequestedTimes</p>
                                        </td>
                                        <td>
                                            <p class="sstopic">
                                                @item.SubjectName<br>
                                                <span>@item.TopicName</span>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="ssdate">
                                                @item.SessionTimes<br>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="ssdate">1 Hour</p>
                                        </td>
                                        <td><a class="btn btn-xs btn-danger">@item.RequestStatusName</a></td>
                                        <td><a class="btn btn-xs btn-info">@item.SessionStatus</a></td>

                                        <td>
                                            @*<a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-dss">View Detail</a>*@
                                            <a href="" data-toggle="modal" data-target="#myModal_@(item.TrialSessionID)" onclick="IdGet('@item.TrialSessionID');" class="btn btn-dss">View Detail</a>
</td>
                                    </tr>

                                </tbody>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <h2 class="title">NO SESSIONS FOUND</h2>
                }

            </div>
        </div>
    </div>
</div>

<div id="ModalWindow">

</div>

<script type="text/javascript">

       function IdGet(id) {
           $("#ModalWindow").empty();
            var ids = id;
            var url = "@Url.Action("SessionModalWindow", "Teacher")?id=" + ids;
            $("#ModalWindow").load(url, function () {

                var form = $("#EnquiryForm")
         .removeData("validator")
         .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);
                var form1 = $("#EmailFriendForm")
.removeData("validator")
.removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form1);
                $("#ItemTesting").children(":first").addClass("active");
                $('#myModal').modal('show');
            });


        }

</script>

