﻿@{
    ViewBag.Title = "MyStudents";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-12 pad15 TPBbox">

                    @if (Model != null && Model.Count > 0)
                    {
                        <h2 class="title">
                            MY Students (@Model.Count)
                        </h2>
                    }
                    else
                    {
                        <h2 class="title">
                            MY Students (0)
                        </h2>
                    }


                    @using (Html.BeginForm("ApplyFilter", "Teacher", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="container-fluid">
                            <div class="" style="margin-bottom:20px">
                                <div class="row">
                                    <div style="padding:10px">

                                        <div class="col-xs-12 col-sm-6 col-lg-4">
                                            <div class="small-box bg-aqua">
                                                <div class="inner">

                                                    <select id="mainFilterDropdown" class="form-control" name="mainfilterRequest">
                                                        <option value="0">Select</option>
                                                        <option value="FilterByGrade">Filter By Grade</option>
                                                        <option value="FilterByCity">Filter By City</option>
                                                        @*<option value="FilterBySubject">Filter By Subject</option>
                                                        <option value="FilterByStatus">Filter By Status</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-lg-4">
                                            <div class="small-box bg-green">
                                                <div class="inner">
                                                    <select id="subFilterDropdown" class="form-control" name="subfilterRequest"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-lg-4">
                                            <div class="small-box bg-red">
                                                <div class="inner">
                                                    <input type="submit" id="btnFilter" value="Filter" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    }
              

                      

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-md-2">
                                    <div class="col-md-12 HTblock" style="padding: 5px !important; margin-bottom: 5px !important">

                                        <a href="@Url.Action("MyStudentProfile","teacher",new {area="teacher", @UserID=@item.FKUserID })" style="text-decoration:none;color:black;">

                                            @if (string.IsNullOrEmpty(item.ProfilePic))
                                            {<img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" />}
                                            else
                                            { <img src="~/UserImages/@item.ProfilePic" id="imgChange" />}

                                            <p style="font-size: 12px">@item.FirstName @item.LastName</p>
                                            <p><span>@item.StateName</span></p>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h2>No Student Found</h2>
                        }
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#mainFilterDropdown').val('@TempData["mainfilterValue"]');

        if ($("#mainFilterDropdown").val() == null) {

            $("#mainFilterDropdown").val('0');
            $("#btnFilter").attr("disabled", false);
        }
        changeSubFilterDropdown();



        function changeSubFilterDropdown()
        {
           
            var mainFilterSelectedValue = $('#mainFilterDropdown').val();
            if (mainFilterSelectedValue == null && mainFilterSelectedValue.len == 0)
            {
                $("#subFilterDropdown").empty();
                return;
            }
            CheckBothDropdownsValue();

            if (mainFilterSelectedValue != null) {
                $.ajax({
                    url: '@Url.Action("FilterMethod", "Teacher")',
                    type: 'POST',
                    data: {
                        request: mainFilterSelectedValue
                    },
                    success: function (result) {

                        if (result.Success == "FilterByTeacher") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.teachersList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByGrade") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.gradesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterBySubject") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.subjectsList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByCity") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.citiesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByStatus") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.citiesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (filterChanged == false) {
                            $('#subFilterDropdown').val('@TempData["subfilterValue"]');
                        }
                    },
                    error: function (result) {
                        alert("error!");
                    }
                });   //end ajax
            }
            else {
                $("#btnFilter").attr("disabled", true);
            }
        }
        var filterChanged = false;
        $('#mainFilterDropdown').change(function () {
            filterChanged = true;
            changeSubFilterDropdown();
            $('#subFilterDropdown').val('0');

        });


        $('#subFilterDropdown').change(function () {

            CheckBothDropdownsValue()

        });

    });

    function CheckBothDropdownsValue()
    {
        return;
        var dropdown1 = $("#mainFilterDropdown").val();
        var dropdown2 = $("#subFilterDropdown").val();


        if (dropdown1 != null && dropdown1 != "" && dropdown2 == null)
        {
            $("#btnFilter").attr("disabled", true);
        }
        if (dropdown1 != "" && dropdown1 != null && dropdown2 != null && dropdown2 != "")
        {
            $("#btnFilter").attr("disabled", false);
        }
        if(dropdown1 == "0")
        {
            $("#subFilterDropdown").empty();
            $("#btnFilter").attr("disabled", true);
        }
        if(dropdown2 != ""  && dropdown1 == "0")
        {
            $("#subFilterDropdown").empty();
            $("#btnFilter").attr("disabled", true);
        }
        if(dropdown1 != null && dropdown1 != "" && dropdown2 == "")
        {
            $("#btnFilter").attr("disabled", true);
        }

    }

</script>