﻿@using BLL.Helpers;
@model BLL.BusinessModels.UserModels.MyProfileViewModel


<div class="White79">
    <div class="TeacheProfileTop stdpf">
        <div class="container">

            <div class="col-md-12 nopadding">
                <div class="col-sm-2 dp">
                    @if (string.IsNullOrEmpty(Model.ProfileImage))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                    else
                    { <img src="~/UserImages/@Model.ProfileImage" />}
                </div>
                <div class="col-sm-10 details">
                    <h1>@Config.UsersProfile.FirstName <span>@Config.UsersProfile.LastName</span></h1>
                    <p>Grade : @Model.Grade</p>
                </div>
            </div>         
        </div>
    </div>

    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">About Me</h2>
                        <p class="status">@Model.AboutMe</p>
                        <div class="col-md-12 bx">
                            <h5><i class="glyphicon glyphicon-map-marker"></i><span>From </span>@Model.Location</h5>
                            <h5><i class="glyphicon glyphicon-volume-down"></i><span>Speaks </span>@Model.Languages</h5>
                            <h5><i class="glyphicon glyphicon-envelope"></i><span>Email </span>@Model.EmailAddress</h5>
                            <h5><i class="glyphicon glyphicon-earphone"></i><span>Contact </span>@Model.ContactNumber</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

