﻿@using DAL.Entities
@using BLL.Helpers

@model List<CoursesHeader>

<style>
    .ECmain .listing .box {
        height: 250px;
    }

        .ECmain .listing .box .bottom {
            background: #b5b5b5;
        }

    .progress {
        margin-bottom: 5px;
    }

    .ECmain .listing .box .teacher {
        padding: 7px 0px;
        margin-bottom: 10px;
        border-top: 1px solid #cacaca;
        margin-top: 10px;
    }
</style>
<div class="White79">
    <div class="ECStrip">
        <div class="container">
            <div class="col-md-12">
                @*<ul class="centeralign">
                        <li class="active"><a href="#">1 - TO - 1</a></li>
                        <li><a href="MySubscriptionOneToFew.html">1 - TO - FEW</a></li>
                    </ul>*@
            </div>
        </div>
    </div>
    <div class="ECmain">
        <div class="container">
            <div class="col-md-12 nopadding">
                <div class="col-md-12 listing">
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-3 col-sm-6">
                                <a href="@Url.Action("SubscriptionDetail","Teacher",new {@CourseID=@item.CoursesHeaderID })">
                                    
                                    <div class="col-md-12 box">
                                        <h1>@item.CourseTitle</h1>
                                        <h2>Start Date : @Convert.ToDateTime(item.StartDate).ToString("dd-MMMM-yyyy")</h2>
                                        <div class="col-md-12 teacher">
                                            <p>Teacher</p>

                                            @if (string.IsNullOrEmpty(item.TeacherPic))
                                            { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                                            else
                                            { <img src="~/UserImages/@item.TeacherPic" />}

                                            <span style="color: #444; font-family: Dbold">@item.TeacherName</span>
                                        </div>
                                        <div class="col-md-12 bottom">
                                            <div class="progress">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width:2em; width: @item.CompletionPercentage%;">
                                                @if (item.CompletionPercentage > 0)
                                                {
                                                    @item.CompletionPercentage@Html.Raw("%")
                                                }
                                                else
                                                {
                                                    @Html.Raw("0%") 
                                                }

                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        }

                    }
                    else
                    {
                        <hr />
                        <h3>
                            No Subscription Found
                        </h3>
                    }



                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
</script>
