﻿@using DAL.Entities
@model FreeResources

@{   int status = ViewBag.Status;}

<div class="LightOrange">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2 nopadding">
                @switch (status)
                {
                    case 1: // Information
                        <div class="alert alert-info fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                            <strong>Success ! </strong> @ViewBag.Message
                        </div>
                        break;
                    case 2: // Success
                        <div class="alert alert-success fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-check alert-icon "></i>
                            <strong>Success ! </strong> @ViewBag.Message
                        </div>
                        break;
                    case 3: // Error
                        <div class="alert alert-danger fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                            <strong>Failed ! </strong> @ViewBag.Message
                        </div>
                        break;
                    case 4: // Warning
                        <div class="alert alert-warning fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                            <strong>Warning ! </strong> @ViewBag.Message
                        </div>
                        break;
                }
            </div>
        </div>

        @if(Model!=null)
        { 

        <div class="col-md-12 FreeResourseArea">
            <div class="col-md-12 FRDArea">
                <div class="col-md-8 col-md-offset-2 FRDLeft" style="border-right: 0px">
                    <div class="col-md-12 filter">
                        <h1 class="blogtitle">@Model.ResourceTitle</h1>
                    </div>
                    <div class="col-md-12 FRYoutube">
                        <iframe width="100%" height="410" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-12 FRYoutubemeta">
                        <div class="col-md-6 left">
                            <p>
                                
                                @if (string.IsNullOrEmpty(Model.TeacherPic))
            { <img src="~/Content/Front/frontimg/noimage.jpg" />}
            else
            { <img src="~/UserImages/@Model.TeacherPic" />}
                                
                                <a href="#">@Model.OfferedBy</a> <span>( Teacher )</span>
                            </p>
                        </div>
                        <div class="col-md-6 right">
                            
                            <p><span><i class="glyphicon glyphicon-calendar"></i>@Convert.ToDateTime(Model.UploadDate).ToString("dd-mm-yyyy")</span>
                            <span><i class="glyphicon glyphicon-eye-open"></i> @Model.NumberOfViews</span></p>

                        </div>
                    </div>
                    <div class="col-md-12 FRYoutubetxt">
                        <p>
                            @Model.VideoDescription
                        </p>
                    </div>

                    @*<div class="col-md-12 FRYoutubecmt">
                        <h2 class="title">Comments</h2>
                        <img src="../Include/img/fbcmtdemo.png">
                    </div>*@
                
                </div>
                <div class="col-md-2 frdbtn">
                    <a href="#" class="btn btn-primary" onclick="IdGet()">Edit</a>
                    <a href="@Url.Action("DeleteResouce","Teacher", new {@ResourceID=Model.FreeResourcesID })" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this resource?')">Delete</a>
                </div>
            </div>
        </div>


        }
        else
        {
        <div class="col-md-12 FRDArea">
            <h3>
                No Resources Found
            </h3>
        </div>
        }
    </div>
</div>

<div id="ModalWindow">

</div>

@section scripts{
    <script type="text/javascript">

       function IdGet() {
           $("#ModalWindow").empty();

            var url = "@Url.Action("EditResource", "Teacher", new { @ResourceID= @Model.FreeResourcesID })";
            $("#ModalWindow").load(url, function () {

                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#WriteReviews').modal('show');
            });
        }

    </script>

}