﻿@model List<DAL.Entities.Sessions>
@{
    ViewBag.Title = "SessionsScheduled";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-list-alt"></i>My Session Scheduled</h2>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("MySessions","Teacher", new { area="Teacher"})" class="btn mybtn btn-block">Session Requested</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 TPBbox">
                <h3 class="intt">UPCOMING SESSION</h3>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-12 ssbox flex">
                            <div class="col-xs-1 nopadding">
                                @if (string.IsNullOrEmpty(item.ImageName))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" class="ssuser" />}
                    else
                    { <img src="~/UserImages/@item.ImageName" id="imgChange" class="ssuser" />}

                            </div>
                            <div class="col-xs-9">
                                <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                <p>Student : <a href="#">@item.RequestedByName</a></p>
                                <h5>
                                    Session on : <span>
                                        @item.SessionTimes
                                    </span>
                                </h5>
                            </div>
                            <div class="col-xs-2 showda nopadding">
                                <h1>@item.TrialHappenDate.Day</h1>
                                <h2>@item.TrialHappenDate.ToString("MMM")</h2>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h2 class="title">NO UPCOMING SESSIONS</h2>
                }
         
            </div>
        </div>
    </div>
</div>

