﻿@model DAL.Entities.Sessions
@using BLL.Helpers


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Session Request | @Model.RequestedTimes </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <td>Student Name</td>
                                <td><strong>@Model.RequestedByName</strong></td>
                            </tr>
                            <tr>
                                <td>Session on</td>
                                <td><strong>@Model.SubjectName - @Model.TopicName</strong></td>
                            </tr>
                            <tr>
                                <td>Session type</td>
                                <td><strong>@Model.SessionTypeName</strong></td>
                            </tr>
                            <tr>
                                <td>Session on</td>
                                <td><strong>@Model.SessionTimes</strong></td>
                            </tr>
                            <tr>
                                <td>Session Time</td>
                                <td><strong>@Model.FromToTime ( 1 Hour )</strong></td>
                            </tr>
                            @*<tr>
                                <td>Comments by Student</td>
                                <td>Hi Sir, Please accept my request for the Session</td>
                            </tr>*@
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (Model.RequestStatus != (int)Enumerations.RequestStatus.Accepted && Model.RequestStatus != (int)Enumerations.RequestStatus.Rejected)
                {
                <a href="@Url.Action("AcceptRequest", "Teacher", new { area = "Teacher", @SessionID = Model.TrialSessionID })" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> ACCEPT</a>
                <a href="@Url.Action("RejectRequest", "Teacher", new { area = "Teacher", @SessionID = Model.TrialSessionID })" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> DECLINE</a>
                }
                 @*<a href="#" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-pencil"></i> MODIFY</a>*@
           </div>
        </div>
    </div>
</div>

