﻿@model BLL.BusinessModels.TeacherModels.TeachersAvailabilityViewModel
@{
    ViewBag.Title = "My Availabilities";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}


<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-calendar"></i>My Availabilities</h2>
                </div>  
            </div>
            <div class="col-md-4" style="margin:5%;">
             
                @using (Ajax.BeginForm("SetAvailability", "Teacher", new { }, new AjaxOptions
                {
                    UpdateTargetId = "result",
                    InsertionMode = InsertionMode.Replace
                    //OnComplete = "ClearFeild"
                }, new { }))
                {
                    <label class="control-label"> Date Time</label>
                    @Html.EditorFor(x => x.AvailableTime, new { htmlAttributes = new { @class = "form-control slct", @placeholder = "Select Time", @id = "datetimepicker_dark", @onfocus = "ClearText();" } })
                    @Html.ValidationMessageFor(model => model.AvailableTime, "", new { @class = "text-danger" })
                    <button type="submit" class="btn btn-primary btn-block btn-flat" style="margin-top:2%;">Submit</button>
                }
                <div>
                    <div class="topp" id="result">
                        @*@if(ViewBag.Response==1)
                        {
                        Model.AvailableTime = null;
                        }@ViewBag.ConfirmationMessage*@

                        <h4  id="infoMessage" class="text-danger"></h4>
                    </div>
                </div> 
            </div>    
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
        <script type="text/javascript">                
            $('#datetimepicker_dark').datetimepicker({
                defaultTime:'09:00',
                theme: 'dark',
                allowTimes: ['9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', , '17:00', '18:00', '19:00', '20:00', '21:00',  '22:00', '23:00']
            })

            function ClearText()
            {
                
                $("#result").empty();
            }

            function ClearFeild() {
              
                
            }
</script>


@*$('#add_time').datetimepicker({

    formatTime: 'g:i A',
   theme: 'dark',
   ampm: true
});*@