﻿@using BLL.BusinessModels.TeacherModels
@using DAL.Entities
@using BLL.Helpers

@model CourseJoinDetails

<style>
    .ECmain .listing .box {
        height: 250px;
    }

        .ECmain .listing .box .bottom {
            background: #b5b5b5;
        }

    .progress {
        margin-bottom: 5px;
    }

    .ECmain .listing .box .teacher {
        padding: 7px 0px;
        margin-bottom: 10px;
        border-top: 1px solid #cacaca;
        margin-top: 10px;
    }
</style>


<div class="White79">
    <div class="ssmainn">
        <div class="container">
            @if (Model != null)
            {
                <div class="col-md-12 subdetailTop nopadding">
                    <div class="col-md-7">
        
                        <h1>@Model.CourseHeader.CourseTitle</h1>
                        <p> @Model.CourseHeader.TotalHours Hours</p>

                        <div class="col-sm-10 nopadding">
                            <div class="progress">
                                @{ double percentage = ((Model.ClassesSheduled * 100) / Model.CourseHeader.TotalHours);}
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%;"></div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <h6>Studied</h6>
                            <h5>@Model.ClassesTaken</h5>
                        </div>

                        <div class="col-sm-4">
                            <h6>Scheduled</h6>
                            <h5>@Model.ClassesSheduled</h5>
                        </div>

                        <div class="col-sm-4">
                            <h6>Remaining</h6>
                            <h5>@Model.ClassesRemained</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Start Date : <span>@(Convert.ToDateTime(Model.CourseHeader.StartDate).ToString("dd MMMM yyyy"))</span></h4>
                        <h4>Rate : <span>₹ @Model.CourseHeader.CourseFee</span></h4>
                        @*<h4>Plan : <span>04 Hours/week for 8 weeks</span></h4>
                            <h4>Rate : <span>₹ 450 (price slab : 10 - 25)</span></h4>
                            <a href="#" class="red"><i class="glyphicon glyphicon-remove"></i>End Subscription</a>
                        *@
                    </div>
                </div>
                                    }
                                    else
                                    {
                                        <h3>Something went wrong..</h3>
                                    }
        </div>
    </div>

    <div class="container">
        <div class="col-md-12 nopadding">
            <div class="col-md-8 nopadding">


                <div class="col-md-12 nopadding">
                    <h3 class="intt">JOIN COURSE SESSION</h3>

                    @if (Model.UpcomingCourses.JoinSchedule != null && Model.UpcomingCourses.JoinSchedule.Count > 0)
                    {

                        <div class="col-md-12">

                            <table class="table table-bordered ssTable">
                                <thead>
                                    <tr>
                                        <th>Session Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="sstime">Your session of @Model.CourseHeader.CourseTitle is happening Now.</p>
                                        </td>
                                        @{   CourseSchedule obj = Model.UpcomingCourses.JoinSchedule.First();}
                                        <td> To 
                                        <a href="@Url.Action("ctestboard","whiteboard", new {area="", @CID=obj.FKCourseID, @SID=@obj.CourseScheduleID })" class="namme"> Join Session </a>
                                        <br></td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>

                    }
                    else
                    {
                        <h3> No Session to Join. </h3>
                    }

                </div>


                <div class="col-md-12 TPBbox">

                    <h3 class="intt">UPCOMING SESSION</h3>

                    @if (Model.UpcomingCourses.UpcomingSchedules != null && Model.UpcomingCourses.UpcomingSchedules.Count > 0)
                    {
                        foreach (var item in Model.UpcomingCourses.UpcomingSchedules)
                        {
                            <div class="col-md-12 ssbox flex">
                                <div class="col-xs-1 nopadding">

                                    @if (string.IsNullOrEmpty(Model.CourseHeader.TeacherPic))
                                    { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                                    else
                                    { <img src="~/UserImages/@Model.CourseHeader.TeacherPic" class="ssuser" />}


                                </div>
                                <div class="col-xs-9">
                                    <h2>Session on @item.SessionContent  <span></span></h2>
                                    @*<p>Student : <a href="#">@Config.UsersProfile.FirstName @Config.UsersProfile.LastName</a></p>*@
                                    <h5>Session on : <span>@(Convert.ToDateTime(item.CourseSessionDate).ToString("dd MMMM yyyy hh tt")) - @(Convert.ToDateTime(item.CourseSessionDate).AddHours(1).ToString("hh tt")) </span></h5>
                                </div>
                                <div class="col-xs-2 nopadding">
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <h3> No Upcoming session found </h3>
                    }



                </div>

            </div>
          
        </div>

    </div>

</div>


<script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
</script>