﻿@model BLL.BusinessModels.TeacherModels.TeacherDashboardViewModel
@using BLL.Helpers
@{
    ViewBag.Title = "TeacherProfile";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int status = ViewBag.Status;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">

<div class="White79">
    <div class="TeacheProfileTop stdpf">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>

            <div class="col-md-12 nopadding">
                <div class="col-sm-2 dp">
                    @if (string.IsNullOrEmpty(Model.ProfileImage))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" />}
                    else
                    { <img src="~/UserImages/@Model.ProfileImage" id="imgChange" />}

                </div>
                <div class="col-sm-10 details">
                    <h1>@Model.FirstName <span>@Model.LastName</span></h1>
                    <p>@Model.Qualification, @Model.InstituteName <i class="glyphicon glyphicon-ok-sign"></i></p>
                </div>
            </div>
            <div class="col-md-12 action">
                <div class="col-md-3">
                    <p>Experience : <span>@Model.Experience</span></p>
                </div>
                <div class="col-md-3">
                    <p>Rate : <span>₹ @Model.SessionCost /Hour</span></p>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("editProfile","teacher", new {@area="teacher" })" class="btn btn-block bs">Edit Profile</a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("changePassword","teacher", new { area="teacher"})" class="btn btn-block ts">Change Password</a>
                </div>
            </div>
        </div>
    </div>
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-6">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">About Me</h2>
                        <p class="status">@Model.MyProfileViewModel.AboutMe</p>
                        <div class="col-md-12 bx">
                            <h5><i class="glyphicon glyphicon-map-marker"></i><span>From </span>@Model.City, @Model.StateName </h5>
                            <h5><i class="glyphicon glyphicon-volume-down"></i><span>Speaks </span>@Model.MyProfileViewModel.Languages</h5>
                            <h5><i class="glyphicon glyphicon-envelope"></i><span>Email </span>@Model.Email</h5>
                            <h5><i class="glyphicon glyphicon-earphone"></i><span>Contact </span> @Model.ContactNumber</h5>
                        </div>
                    </div>
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">Subjects Taught</h2>
                        <div class="col-md-12 bx">
                            <table>
                                @foreach (var item in Model.listOfSubjects)
                                {
                                    <tr>
                                    <td>@item.SubjectName</td>
                                    <td><span>@item.CurriculumName - @item.GradeName @*@item.SubjectType*@</span></td>
                                    </tr>
                                }
                            </table>
                        </div>

                        @*<div class="col-md-12 bx">
                            <table>
                                @foreach (var item in Model.listOfDates)
                                {
                                    <tr>
                                        <td>@item.Date</td>
                                        @foreach (var items in item.Time)
                                        {
                                            <td>@items</td>
                                        }
                                     
                                    </tr>
                                }
                            </table>
                        </div>*@
                    </div>
                </div>
                <div class="col-md-6">


                    <div class="col-md-12 TPBbox">
                        <h2 class="title">Rating & Reviews</h2>

                        @if (Model.RatingsModel != null && Model.RatingsModel.ReviewsList.Count() > 0)
                        {
                            <h5 class="rating">
                                <span>@Model.RatingsModel.RatingAverage.ToString("0.00") / 5</span>

                                <i id="rateYo"></i>
                                @Model.RatingsModel.TotalRatings Rating
                            </h5>
                            int counter = 0;
                            foreach (var item in Model.RatingsModel.ReviewsList)
                            {
                                counter++;
                                <div class="col-md-12 ratebox">
                                    <p class="user">@item.StudentName<span>@item.StudentGrade, @item.StudentLocation</span></p>
                                    <p class="user">
                                        @*<input class="input-3" name="input-3" value="@item.Rating">*@
                                        <div id="rateYo_@(counter)"></div>
                                    </p>
                                    <p class="comment">" @item.Comment "</p>
                                </div>
                                <script>
                                  $(function() {

                                      $("#rateYo_@counter").rateYo({
                                        rating: @item.Rating,
                                          readOnly:true ,
                                          starWidth: "15px",
                                          ratedFill:"#ff6600"});
                                  });
                                </script>
                            }


                            <div class="col-md-12 reviewbtn">
                                <a href="@Url.Action("AllReviews","Teacher", new { area="Teacher"})" class="btn">Read All Reviews</a>
                            </div>
                        }
                        else
                        {

                            <h3 class="text-center text-capitalize">
                                No Ratings received Yet
                            </h3>

                          
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<script type="text/javascript">

    $(function() {

        $("#rateYo").rateYo({
            rating: @Model.RatingsModel.RatingAverage,
            readOnly:true,
            starWidth: "22px",
            ratedFill:"#ff6600"      
        });
    });
</script>
<style>
    .TPContent .TPBbox h5.rating i {
        display: inline-block;
    }
</style>
