﻿@using BLL.BusinessManagers.TeacherManager
@using BLL.Helpers;
@model List<BLL.BusinessModels.CalenderModels.CalenderDateViewModel>

    @{
        ViewBag.Title = "TeacherSetAvailability";
        Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    }
    @*<link href="~/Content/TeacherAvailability/Dstyle.css" rel="stylesheet" />*@
    <style>
        .single_date {
            min-width: 150px !important;
        }

        .disable_date_box {
            min-width: 150px !important;
        }

        .nonPadding {
            width: 13% !important;
            padding: 0px !important;
        }
    </style>
    <div class="White79">
        <div class="GreyBg">
            <div class="container" style="width: 100%">
                <div class="col-md-12 TitleStripp">
                    <div class="col-md-9">
                        <h2><i class="glyphicon glyphicon-calendar"></i>Set Availbility</h2>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("MyCalender", "Teacher", new { area = "Teacher" })" class="btn mybtn btn-block">My Calendar</a>
                    </div>
                </div>

             

                <div class="col-md-2 nopadding MyCalSide">
                    <h1>Upcoming Sessions</h1>
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-12 box">
                                <h2>@item.Date</h2>
                                @if (item.Sessions.Count > 0)
                                {
                                    foreach (var items in item.Sessions)
                                    {
                                        <p>Session on @items.TopicName</p>
                                        <h4> with @items.StudentName</h4>
                                        <h5>@items.FromToTime</h5>
                                    }
                                }
                                else
                                {
                                    <p>No upcoming sessions</p>
                                }
                            </div>
                        }

                    }
                    else
                    {
                        <div class="col-md-12 box">
                            <h2>No Upcoming Sessions Found</h2>
                        </div>
                    }
                </div>

                <div class="col-md-10 calender_bg">

                    @* <div class="date_piker_area" style="margin-bottom:2%;">



                        <div class="pull-right">

                                 <a href="#" onclick="PreviousClick();" id="leftbtn"><i class="glyphicon glyphicon-menu-left m_r_20"></i></a>
                                 <span>01-01-2017 - 07-01-2017</span>
                                 <a href="#" onclick="NextClick();" id="rightbtn"><i class="glyphicon glyphicon-menu-right m_l_20"></i></a>

                         </div>

                                        <div class="clearfix"></div>
                                    </div>*@


                    @*<div class="row">

                            <div class="date_heading_area">
                                <div class="empty"></div>
                                @foreach (var item in Model)
                                {
                                    <div class="J_date">@item.TopHeaderDate</div>
                                }

                                <div class="clearfix"></div>
                            </div>
                        </div> , new { @counts = 0, @date = DateTime.Now}  *@

                    <div id="ToBeUpdate">
                        @Html.Action("SetAvailabilityPartial", "Teacher")
                    </div>


                    @*Partial View start*@

                    @*<div class="row">

                            <div class="col-md-1" style="margin : 0 !important;padding:0 !important; width:5.2% !important">
                                <div class="J_time">
                                    9 AM<br />
                                    to<br />
                                    10 AM
                                </div>

                                <div class="J_time">
                                    10 AM<br />
                                    to<br />
                                    11 AM
                                </div>
                                <div class="J_time">
                                    11 AM<br />
                                    to<br />
                                    12 PM
                                </div>
                                <div class="J_time">
                                    12 PM<br />
                                    to<br />
                                    1 AM
                                </div>
                                <div class="J_time">
                                    1 PM<br />
                                    to<br />
                                    2 PM
                                </div>
                                <div class="J_time">
                                    2 PM<br />
                                    to<br />
                                    3 PM
                                </div>
                                <div class="J_time">
                                    3 PM<br />
                                    to<br />
                                    4 PM
                                </div>
                                <div class="J_time">
                                    4 PM<br />
                                    to<br />
                                    5 PM
                                </div>
                                <div class="J_time">
                                    5 PM<br />
                                    to<br />
                                    6 PM
                                </div>
                                <div class="J_time">
                                    6 PM<br />
                                    to<br />
                                    7 PM
                                </div>
                                <div class="J_time">
                                    7 PM<br />
                                    to<br />
                                    8 PM
                                </div>


                                <div class="J_time">
                                    8 PM<br />
                                    to<br />
                                    9 PM
                                </div>

                                <div class="J_time">
                                    9 PM<br />
                                    to<br />
                                    10 PM
                                </div>

                                <div class="J_time">
                                    10 PM<br />
                                    to<br />
                                    11 PM
                                </div>

                                <div class="J_time">
                                    11 PM<br />
                                    to<br />
                                    12 AM
                                </div>
                            </div>
                            @{  int counter = 0;}
                            @foreach (var item in Model)
                            {

                                <div class="col-md-2 nonPadding">

                                    @foreach (var items in item.RealTime)
                                    {
                                        DateTime myDateTime = items;
                                        string sqlFormattedDate = items.ToString();//.ToString("yyyy-MM-dd HH:mm:ss.fff");
                                        //ToString("{0:yyyy-MM-dd hh:mm}");
                                        TeacherManager manager = new TeacherManager();
                                        List<string> lst = new List<string>();
                                        lst = manager.TeacherAvailableTimes();
                                        CustomTimeZone czone = new CustomTimeZone();
                                        DateTime time = czone.DateTimeNow();
                                        counter++;
                                        <div class="@(@items > time ? "single_date" : "disable_date_box") @(lst.Contains(sqlFormattedDate)?"a":"b")" id="date_@(counter)" onclick="getDate('@(items)','date_@(counter)');">

                                            <p class="aa">
                                                Click
                                                <br />
                                                To set
                                                <br />
                                                Availability
                                            </p>
                                            <p class="bb">
                                                Click
                                                <br />
                                                To set
                                                <br />
                                                Availability
                                            </p>
                                            <div class="available"><i class="glyphicon glyphicon-ok-sign"></i></div>
                                            <div class="hover"></div>
                                        </div>
                                    }
                                </div>

                            }
                        </div>*@





                </div>


            </div>
        </div>

    </div>

  
    @*<script>
        function getDate(id, dateID) {

            debugger;
                var className = $("#" + dateID).attr('class');
                if (className !== "disable_date_box") {
                    if (id != "" && id != null) {
                        $.ajax({
                            url: "@Url.Action("setTeacherAvailability","Teacher")",
                           // url: "~/Teacher/setTeacherAvailability",
                            data: { time: id },

                        });
                    }
                }
            }

            $(document).ready(function () {
                $(".single_date p").click(function () {

                    $(this).parent().addClass("a");
                    $(this).parent().removeClass('b');
                });

                $(".single_date .available").hover(
                      function () {
                          $(this).html('<i class="glyphicon glyphicon-remove-sign pointr"></i>');
                          $(this).css('background', '#f00');
                      }, function () {
                          $(this).html('<i class="glyphicon glyphicon-ok-sign"></i>');
                          $(this).css('background', '#ff6600');

                      }
                    );

                $(".abc").click(function () {
                    alert('dd');
                });

                $(".single_date").hover(
                      function () {
                          $(this).find('p.aa').hide();
                          $(this).find('p.bb').show();
                          $(this).css('background', '#ff6600');
                          $(this).css('color', '#fff');
                          $(this).css('padding-top', '10px');
                      },
                        function () {
                            $(this).find('p.bb').hide();
                            $(this).find('p.aa').show();
                            $(this).css('background', '#fff');
                            $(this).css('color', '#000');
                        }
                    );
                $(".single_date .available").click(function () {

                    $(this).parent().removeClass('a');
                    $(this).parent().addClass('b');
                });

            });
        </script>*@

