﻿
@{
    ViewBag.Title = "TestList";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int status = ViewBag.Status;
}

<style>

    #dataTable_wrapper .row .col-sm-6 {
        width: 100% !important;
    }
    div.dataTables_wrapper div.dataTables_filter {
        text-align: left !important;
    }
</style>

<div class="White79">

    <div class="col-md-12 NewTopTitle">
        <div class="col-md-12">
            <h2>Tests</h2>
        </div>
    </div>
    <div class="GreyBg">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>

            <div class="col-md-12 Testarea">
                <div class="col-md-12 TOpAction">
                    <div class=" col-md-12">
                        <a href="@Url.Action("CreateTest","Teacher", new { area="Teacher"})" class="AddBtn">Generate New Test</a>
                    </div>
                </div>
                <div class="col-md-12 TestTable">
                    <div>
                        <ul class="nav nav-tabs" role="tablist" id="tbParents">

                            <li role="presentation" id="Tab1" >                             
                                @Ajax.ActionLink("Assigned Test", "AssignedTestList","Teacher", new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new {  @onclick = "AddClas('Tab1')" })
                            </li>

                            <li role="presentation" id="Tab2">
                                @Ajax.ActionLink("My Generated Test", "MyTestList", "Teacher", new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" } ,new { @onclick = "AddClas('Tab2')" })
                             </li>

                            <li role="presentation" id="Tab3">
                                @Ajax.ActionLink("Available Test", "AvailableTestList", "Teacher", new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @onclick = "AddClas('Tab3')" })
                            </li>

                            <li role="presentation" id="Tab4">
                                 @Ajax.ActionLink("Students", "TestResultList", "Teacher", new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @onclick = "AddClas('Tab4')" })
                            </li>

                        </ul>


                        <div class="tab-content mt10">
                            <div id="NeedToUpdate">



                            </div>
                        </div>


                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
   
    <script type="text/javascript">
        //$("[rel=show-tooltip]").tooltip({ html: true });
    $(document).ready(function () {
        $('#dataTable').DataTable();
        $("#NeedToUpdate").empty();
        var url = "@Url.Action("AssignedTestList", "Teacher",new { area="Teacher"})";
        $("#NeedToUpdate").load(url, function () {
            $("#tbParents").children().removeClass("active");
            $("#Tab1").addClass("active");
        });
       
    });

        function AddClas(id)
        {
            $("#tbParents").children().removeClass("active");
            $("#"+id).addClass("active");
        }

    </script>
}