﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model TestAssignViewModel

<div role="tabpanel" class="tab-pane" id="Students">
   
    @if (Model != null)
    {
        <div class="col-md-12 TestTable" style="border: 0px">
            <div class="col-md-4 nopadding">
                @*<div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Student, Grade, etc" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>*@
            </div>
            <div class="col-md-8 alignright nopadding">
                <a class="btn btn-md btn-default">Total : @Model.TotalStudents</a>
                <a class="btn btn-md btn-success">Pass : @Model.TotalPass</a>
                <a class="btn btn-md btn-danger">Fail : @Model.TotalFail</a>
                <a class="btn btn-md btn-info">Pending : @Model.TotalPending</a>
            </div>
            <br>
            <br>
            <br>
            <table class="table table-hover table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Student Name</th>
                        <th>Grade/Subject</th>
                        <th>Exam Time</th>
                        <th>Test Taken on</th>
                        <th>Duration</th>
                        <th>Makrs Obtained</th>
                        <th>Result</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.listOfAssignedStudents != null && Model.listOfAssignedStudents.Count > 0)
                    {
                        int counter = 0;
                        foreach (var item in Model.listOfAssignedStudents)
                        {
                            counter++;
                            if (item.ListofStudentAnswers == null)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.AssignedToName</td>
                                    <td>@item.Test.GradeSubjectName</td>
                                    <td>@item.TestHappenedTime.ToString("dd MMMM, yyyy hh:mm tt")</td>
                                    <td class="redTxt">Pending</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                                    <a href="@Url.Action("AssignTest","Teacher", new { area="Teacher",@TestID=@item.FKTestID,@UID=item.FKAssignedTo})" class="btn btn-xs btn-default ttip" data-toggle="tooltip" data-placement="top" title="Modify Test Details"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a href="@Url.Action("CancelAssigned","Teacher", new { area="Teacher",@id=item.TestAssignedID})" class="btn btn-xs btn-danger ttip" data-toggle="tooltip" data-placement="top" title="Cancel Test"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.AssignedToName</td>
                                    <td>@item.Test.GradeSubjectName</td>
                                    <td>@item.TestHappenedTime.ToString("dd MMMM, yyyy hh:mm tt")</td>
                                    <td>@item.TestStartTime.ToString("dd MMMM, yyyy hh:mm tt")</td>
                                    <td>@item.TotalSpendTime.ToString("0.00")</td>
                                    <td>@item.GainedScores</td>
                                    <td class="greenTxt">@item.TestStatusPassFail</td>
                                    <td>
                                        <a href="@Url.Action("ViewAnswerSheet","Teacher", new { area="Teacher",@StudentID=@item.FKAssignedTo,@TestID=@item.TestAssignedID})" class="btn btn-xs btn-default ttip" data-toggle="tooltip" title="View Answer Sheet"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        <a href="@Url.Action("AssignTest","Teacher", new { area="Teacher",@TestID=@item.FKTestID,@UID=item.FKAssignedTo})" class="btn btn-xs btn-success ttip" data-toggle="tooltip" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a>   
                                    </td>
                                </tr>
                            }
                        }

                    }
                
                  
                </tbody>
            </table>
        </div>
                }
                else
                {
    
                            <div class="col-md-12">
                             <h2 class="text-center">
                                No Data Found
                             </h2>
                             </div>

                }



</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.ttip').tooltip();

        $('#dataTable').DataTable({
            "paging": false,
            "ordering": false,
            "info": false
        });
    });
</script>
