﻿@using BLL.BusinessModels.TeacherModels
@model QuestionPaperViewModel
@{
    ViewBag.Title = "TestQuestionPaper";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int status = ViewBag.Status;
}


<div class="White79">
    <div class="GreyBg">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>

            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-5">
                    <h2><span>Test Name :</span>@Model.TestName</h2>
                    <h2><span>Grade / Subject :</span>@Model.GradeSubjectName</h2>
                    <h2>
                        <span>Topics :</span>
                        
                    @foreach (var item in Model.listOfTopics)
                    {
                         <span class="topicTag">@item.TopicName</span>
                    }
                    </h2>
                    <h2><span>Test Level :</span><span class="greenTxt">@Model.TestLevel</span></h2>
                </div>
                <div class="col-md-7 Metabox">
                    <div class="col-sm-10 col-sm-offset-2 alignright">
                        <a href="@Url.Action("EditTest", "Teacher", new { @area = "Teacher", @TestID=Model.TestID })" class="btn btn-sm btn-primary">Edit Test Details</a>
                        <a href="@Url.Action("DeleteTest", "Teacher", new { @area = "Teacher" , @TestID=Model.TestID })" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you wish to delete this Test?');">Delete Test</a>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                               @Model.TotalMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                               @Model.TotalQuestions
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                               @Model.TestDuration mins
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            @{ int counter = 01;}
            @if (Model.listOfQuestion != null && Model.listOfQuestion.Count > 0)
            {
                <div class="col-md-12 TQuestionArea">
                    @foreach(var items in Model.listOfQuestion)
                    {

                    <div class="col-md-12 TQuestion">
                        <div class="col-md-11">
                            <h2><span>@counter .</span> @items.listOfQuestions.Question</h2>
                        </div>
                        <div class="col-md-1 alignright">
                            <h2><span>( @items.listOfQuestions.QuestionMarks )</span></h2>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <p><span>A. </span> @items.listOfQuestions.FirstOption</p>
                            </div>
                            <div class="col-md-6">
                                <p><span>B.</span> @items.listOfQuestions.SecondOption</p>
                            </div>
                            <div class="col-md-6">
                                <p><span>C.</span> @items.listOfQuestions.ThirdOption</p>
                            </div>
                            <div class="col-md-6">
                                <p><span>D.</span> @items.listOfQuestions.FourthOption</p>
                            </div>
                        </div>
                    </div>
                        counter++;
                    }

                    <div class="col-md-12 nopadding mt50">
                        <div class="col-md-3 col-md-offset-3">
                            <a href="@Url.Action("TestList", "Teacher", new { @area = "Teacher"})" class="btn btn-block btn-success MyBBtn">GO TO TEST LIST</a>
                        </div>

                        <div class="col-md-3">
                            <a href="@Url.Action("AssignTest", "Teacher", new { @area = "Teacher", @TestID=Model.TestID })" class="btn btn-block btn-primary MyBBtn">ASSIGN TEST</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


