﻿@{ Layout = null;}
<!doctype html>
<html>

<head>
    <title>Whiteboard</title>
    <meta name="viewport" content="maximum-scale=1">
    <link href="~/Content/NewWhiteboard/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/NewWhiteboard/css/Dstyle.css" rel="stylesheet" />
    <link href="~/Content/NewWhiteboard/css/custom_w.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />

    <style>
        #container {
            position: relative;
            overflow: auto;
            scrollbar-base-color: #ffeaff;
        }

        #whiteBoard {
            position: absolute;
            top: 45px;
            left: 13px;
            margin: -3px;
            background: none;
            background-color: transparent;
        }

        #whiteBoards {
            border: 1px dashed #CCCCCC;
            margin: 5px;
            border-style: dotted;
            border-width: 1px;
            background-color: #FFFFFF;
            vertical-align: top;
            margin: -3px;
        }

        #imageTemp {
            position: absolute;
            top: 45px;
            left: 13px;
            margin: -3px;
        }

        #imageTempt {
            position: absolute;
            top: 45px;
            left: 13px;
            margin: -3px;
            z-index: 0;
        }

        #imageTempts {
            position: absolute;
            top: 42px;
            left: 10px;
            margin: 5px;
            z-index: -1;
        }

        .ui-widget-overlay {
            opacity: .70;
            filter: Alpha(Opacity=70);
        }

        /*        // New CSS   */

        .WebCam_Btn {
            float: left;
            font-size: 16px;
            color: #FFF;
            background-color: #ff6600;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background-color: #ff6600 !important;
                cursor: inherit;
                display: block;
            }

        .padding5 {
            height: 80vh;
        }

        .toolbar {
            height: 76vh !important;
        }

        .btn-default {
            width: 100%;
            background-color: #ff6600;
            border: none;
            color: #FFF;
        }

        .chat-bx {
            padding-top: 0px !important;
        }

        #localVideo, #local-video {
            background-color: #555555;
            height: auto !important;
            left: 0;
            margin: 0px !important;
            position: relative;
            top: 0;
            width: 100% !important;
            z-index: 1;
            transform: scale(-1,1);
            -webkit-transform: scale(-1,1);
            -moz-transform: scale(-1,1);
        }

        #TopBHide {
            display: none;
        }

        #TopB {
            display: block;
        }


        .board-tabs {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 8px;
        }

            .board-tabs a {
                border-radius: 0px !important;
                padding: 10px 20px;
                color: #ff7214;
            }

                .board-tabs a:hover {
                    text-decoration: none;
                    background-color: #eee;
                }

                .board-tabs a.active {
                    color: #555;
                    cursor: default;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-bottom-color: transparent;
                }

        .sb-vdo-dv {
            padding: 10px 10px 0px 10px;
        }

        .footer {
            position: inherit;
            float: left;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }

        .toolbar {
            height: 76vh !important;
            margin-right: 13px !important;
        }

        .main_area {
            width: 95%;
        }

        .customP {
           cursor: url('/Tutoring/Content/NewWhiteboard/images/shape-1.png'),move;
}

    </style>


</head>

<body>
    <nav class="navbar navbar_bg">
        <div class="container-fluid nopadding">
            <div class="my_container" style="width:100% !important;">
                <div class="collapse navbar-collapse nopadding" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav my_nav">
                        <li data-toggle="tooltip" data-placement="bottom" title="Open File">
                            <input type="file" id="fileUploadImg" style="position: absolute; opacity: 0; z-index: 50000000; width: 44px; height: 33px; overflow: hidden;">
                            <a href="#"><i class="glyphicon glyphicon-folder-open"></i></a>
                        </li>
                        @*<li data-toggle="tooltip" data-placement="bottom" title="Open File"><a href="#"><i class="glyphicon glyphicon-folder-open"></i></a></li>*@
                        <li data-toggle="tooltip" data-placement="bottom" title="Undo" onclick="cUndo()"><a href="#"><i class="glyphicon glyphicon-share-alt rotate180"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Redo" onclick="cRedo()"><a href="#"><i class="glyphicon glyphicon-share-alt"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Clear" onclick="Clear(); return false;"><a href="#"><i class="glyphicon glyphicon-erase"></i></a></li>
                        @*<li data-toggle="tooltip" data-placement="bottom" title="Screen sharing"><a href="#" data-toggle="modal" data-target="#ShareScreen"><i class="glyphicon glyphicon-blackboard m_r_5"></i>SHARE SCREEN</a></li>*@
                        @*<li data-toggle="tooltip" data-placement="bottom" title="Download"><a href="@Url.Action("Download","Whiteboard", new { @FileName="ScreenSharing.zip"})" target="_blank"><i class="glyphicon glyphicon-download"></i></a></li>*@

                        @*<li data-toggle="tooltip" data-placement="bottom" title="Help"><a href="#" data-toggle="modal" data-target="#Help"><i class="glyphicon glyphicon-question-sign"></i></a></li>*@
                    </ul>
                    <ul class="nav navbar-nav my_right_nav navbar-right">
                        @*<li>
                                <a>
                                    <img src="~/Content/NewWhiteboard/images/wifi.png" /></a>
                            </li>
                            <li>
                                <a><img src="~/Content/NewWhiteboard/images/voice.png"></a>
                            </li>
                            <li>
                                <a><img src="~/Content/NewWhiteboard/images/edit01.png"></a>
                            </li>
                            <li>
                                <a><img src="~/Content/NewWhiteboard/images/volume.png"></a>
                            </li>
                            <li>
                                <a><img src="~/Content/NewWhiteboard/images/video-camera.png"></a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="my_container">
        <div class="toolbar">
            <div class="toolbar_header"></div>
            <ul class="toolbar_ul">
                <!--
                            <li><a href="#"><img src="images/move-arrows.png" /></a></li>
                            <li><a href="#"><img src="images/computer-mouse-cursor.png" /></a></li>
                -->
                <li class="dum" data-toggle="tooltip" data-placement="bottom" title="Pencil" onclick="SelectTool('pencil');">
                    <a href="#" ><img src="~/Content/NewWhiteboard/images/edit.png" /></a>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Grids">
                    <a href="#" id="grid-drop"><img src="~/Content/NewWhiteboard/images/grid.png" /></a>
                    <div class="grid-menu" style="display: none;">
                        <ul>
                            <li class="li-1" onclick="ChangeGrids('none')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/grid-1.png" /></a>
                            </li>
                            <li class="li-2" onclick="ChangeGrids('G1.png')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/grid-2.png" /></a>
                            </li>
                            <li class="li-2" onclick="ChangeGrids('G2.png')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/grid-3.png" /></a>
                            </li>
                            <li class="li-2" onclick="ChangeGrids('G3.png')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/grid-3.png" /></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Shapes">
                    <a href="#" id="shape-drop"><img src="~/Content/NewWhiteboard/images/blank-check-box.png" /></a>
                    <div class="shape-menu" style="display: none;">
                        <ul>
                            <li data-toggle="tooltip" data-placement="bottom" title="Rectangle" class="li-1" onclick="SelectTool('rect'); return false;">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/shape-1.png" /></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="bottom" title="Circle" class="li-2" onclick="SelectTool('circle');">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/shape-2.png" /></a>
                            </li>
                            <li data-toggle="tooltip" data-placement="bottom" title="Line" class="li-2" onclick="SelectTool('line');">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/shape-3.png" /></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Colors">
                    <a href="#" id="color-drop"><img src="~/Content/NewWhiteboard/images/Color-fill.png" /></a>
                    <div class="color-menu" style="display: none;">
                        <ul>
                            <li class="li-1" onclick="ControlColor('#000000')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/color-1.png" /></a>
                            </li>
                            <li class="li-2" onclick="ControlColor('#FF0000')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/color-2.png" /></a>
                            </li>
                            <li class="li-2" onclick="ControlColor('#0000FF')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/color-3.png" /></a>
                            </li>
                            <li class="li-2" onclick="ControlColor('#00FF00')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/color-4.png" /></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Thickness">
                    <a href="#" id="size-drop"><img src="~/Content/NewWhiteboard/images/color-picker.png" /></a>
                    <div class="size-menu" style="display: none;">
                        <ul>
                            <li class="li-1" onclick="ControlThickness('3')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/size-1.png" /></a>
                            </li>
                            <li class="li-2" onclick="ControlThickness('6')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/size-2.png" /></a>
                            </li>
                            <li class="li-2" onclick="ControlThickness('9')">
                                <a href="#"><img src="~/Content/NewWhiteboard/images/size-3.png" /></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Erase" onclick="SelectTool('erase');">
                    <a href="#"><img src="~/Content/NewWhiteboard/images/eraser.png" /></a>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" title="Text" onclick="SelectTool('text');">
                    <a href="#"><img src="~/Content/NewWhiteboard/images/text-icon.png" /></a>
                </li>
                @*<li>
                        <input class="WebCam_Btn" id="fileUploadImg" type="file">
                        <a href="#"><img src="~/Content/NewWhiteboard/images/image-upload.png" /></a>
                    </li>*@
                <li data-toggle="tooltip" data-placement="bottom" title="Screenshot" onclick="SaveScreenShot();">
                    <a href="#"><img src="~/Content/NewWhiteboard/images/image-download.png" /></a>
                </li>
            </ul>
        </div>
        <div class="main_area">
            <div class="row">
                <div class="col-xs-9 nopadding" style="overflow:hidden;">
                    <div class="board" id="screen_shot">
                        @*<ul class="nav nav-tabs tab" role="tablist">
                                <li role="presentation" class="active"><a href="#one" aria-controls="home" role="tab" data-toggle="tab">Whiteboard</a></li>
                            </ul>*@

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content white" id="screenParent" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; border:1px solid black;width:100%; height:600px;"
                             unselectable="off"
                             onselectstart="return false;"
                             onmousedown="return false;">
                            <canvas id="whiteBoard" class="dum"></canvas>
                            <canvas id="imageTempt" class="dum" width="1000" height="600"></canvas>

                            <div id="imageView">
                            </div>
                            <div id="status">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-3 padding5">



                </div>
                <div class="clearfix"></div>
            </div>

            @*<div class="col-xs-12">
                    <div class="footer">
                        <div class="col-sm-6 Leftaling"> <a href="#" class="EndSes">End Session</a> <a href="#" class="PauseSes">Pause Session</a> </div>
                        <div class="col-sm-6">
                            <p>Time Remainig : 00:17:42 <img src="~/Content/NewWhiteboard/images/logo.png" /></p>
                        </div>
                    </div>
                </div>*@

            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div> /* Share Screen */
    <div class="modal fade" id="ShareScreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content WhiteboardModal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body sc">
                    <img src="~/Content/NewWhiteboard/images/monitor.png">
                    <h2 class="titl">Share your Screen</h2> <a href="#" class="shrbtn">Share</a>
                </div>
            </div>
        </div>
    </div> /* Help */
    <div class="modal fade" id="Help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content WhiteboardModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Whiteboard Help</h4>
                </div>
                <div class="modal-body">
                    <p>Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here </p>
                    <p>Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here Help text goes here </p>
                    <h4 style="margin: 40px 0px 0px 0px">Need Support?</h4>
                    <h1 style="margin-top: 0px">180 000 0000</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default br0" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="~/Content/NewWhiteboard/js/bootstrap.min.js"></script>
    <script src="~/Content/Whiteboard/js/html2canvas.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function () {
            $("#grid-drop").click(function () {
                $(".shape-menu").slideUp();
                $(".size-menu").slideUp();
                $(".color-menu").slideUp();
                $(".grid-menu").slideToggle();
            });
        });
        $(document).ready(function () {
            $("#shape-drop").click(function () {
                $(".grid-menu").slideUp();
                $(".size-menu").slideUp();
                $(".color-menu").slideUp();
                $(".shape-menu").slideToggle();
            });
        });
        $(document).ready(function () {
            $("#color-drop").click(function () {
                $(".grid-menu").slideUp();
                $(".size-menu").slideUp();
                $(".shape-menu").slideUp();
                $(".color-menu").slideToggle();
            });
        });
        $(document).ready(function () {
            $("#size-drop").click(function () {
                $(".grid-menu").slideUp();
                $(".color-menu").slideUp();
                $(".shape-menu").slideUp();
                $(".size-menu").slideToggle();
            });
        });
    </script>


    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <script src="~/Content/NewWhiteboard/js/Rudras.js"></script>




    <style>
        .login.page .form .usernameInput {
            width: 100% !important;
        }
    </style>
</body>
</html>