﻿@using BLL.BusinessModels.TeacherModels
@model MySessions

@{
    ViewBag.Title = "My Sessions";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
       
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-list-alt"></i>Upcoming Sessions</h2>
                </div>
                <div class="col-md-3">
                   
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 nopadding">

                @if (Model.listOfUpcomingSession!=null && Model.listOfUpcomingSession.Count > 0)
                {
                    <h3 class="intt">Upcoming Session</h3>
                    <div class="col-md-12">
                        <table class="table table-bordered ssTable">
                            <thead>
                                <tr>
                                    <th>Session Request</th>
                                    <th>Session On</th>
                                    <th>Session Date</th>
                                    <th>Duration</th>
                                    
                                 
                                </tr>
                            </thead>

                            @foreach (var item in Model.listOfUpcomingSession)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            From <a href="#" class="namme">@item.RequestedByName</a><br>
                                            <p class="sstime">@item.RequestedTimes</p>
                                        </td>
                                        <td>
                                            <p class="sstopic">
                                                @item.SubjectName<br>
                                                <span>@item.TopicName</span>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="ssdate">
                                                @item.SessionTimes<br>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="ssdate">1 Hour</p>
                                        </td>
                                     
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <h2 class="title">NO SESSIONS FOUND</h2>
                }

            </div>
        </div>
    </div>
</div>






