﻿@using BLL.BusinessModels.TeacherModels
@model MySessions

<div class="GreyBg" style="margin-top:10%;">
    <div class="container">
        <div class="col-md-12 TPContent">
            <div class="col-md-9">

                @if (Model != null)
                {
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">JOIN SESSION </h2>
                        @if (Model.listOfJoinSession != null && Model.listOfJoinSession.Count > 0)
                        {
                            var JList = Model.listOfJoinSession.Take(1).ToList();

                            foreach (var item in JList)
                            {

                                <div class="col-md-12 ssbox new flex">
                                    <div class="col-xs-1 nopadding">
                                        @if (string.IsNullOrEmpty(item.ImageName))
                        { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                        else
                        { <img src="~/UserImages/@item.ImageName" class="ssuser" />}

                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                        <p>Student : <a href="#">@item.RequestedByName</a></p>
                                        <h5>
                                            Session on : <span>
                                                @item.SessionTimes
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="col-xs-2 nopadding">
                                        @*<a href="@Url.Action("MySessions","Teacher", new { area="Teacher"})" class="btn btn-block">Details</a>*@
                                    </div>
                                </div>

                            }
                            <a href="@Url.Action("JoinSessions","Teacher", new { area="Teacher"})" class="btn btn-xs btn-default pull-right">View Detail</a>

                        }
                        else
                        {
                            <h4>NO SESSION TO JOIN</h4>
                        }
                    </div>

                    <div class="col-md-12 TPBbox">
                        <h2 class="title">PENDING SESSIONS </h2>
                        @if (Model.listOfPendingSession != null && Model.listOfPendingSession.Count > 0)
                        {
                            var JList = Model.listOfPendingSession.Take(2).ToList();

                            foreach (var item in JList)
                            {


                                <div class="col-md-12 ssbox flex">
                                    <div class="col-xs-1 nopadding">
                                        @if (string.IsNullOrEmpty(item.ImageName))
                        { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                        else
                        { <img src="~/UserImages/@item.ImageName" class="ssuser" />}

                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                        <p>Student : <a href="#">@item.RequestedByName</a></p>
                                        <h5>
                                            Session on : <span>
                                                @item.SessionTimes
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="col-xs-2 nopadding">
                                        @*<a href="@Url.Action("MySessions","Teacher", new { area="Teacher"})" class="btn btn-block">Details</a>*@
                                    </div>
                                </div>

                            }

                            <a href="@Url.Action("PendingSessions","Teacher", new { area="Teacher"})" class="btn btn-xs btn-default pull-right">View Detail</a>

                        }
                        else
                        {
                            <h4>NO PENDING SESSIONS FOUND</h4>
                        }
                       
                    </div>



                    <div class="col-md-12 TPBbox">
                        <h2 class="title">UPCOMING SESSIONS </h2>
                        @if (Model.listOfUpcomingSession != null && Model.listOfUpcomingSession.Count > 0)
                        {
                            var JList = Model.listOfUpcomingSession.Take(2).ToList();

                            foreach (var item in JList)
                            {
                                <div class="col-md-12 ssbox flex">
                                    <div class="col-xs-1 nopadding">
                                        @if (string.IsNullOrEmpty(item.ImageName))
                        { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                        else
                        { <img src="~/UserImages/@item.ImageName" class="ssuser" />}

                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                        <p>Student : <a href="#">@item.RequestedByName</a></p>
                                        <h5>
                                            Session on : <span>
                                                @item.SessionTimes
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="col-xs-2 nopadding">
                                       
                                    </div>
                                </div>
                            }
                            <a href="@Url.Action("UpComingSessions","Teacher", new { area="Teacher"})" class="btn btn-xs btn-default pull-right">View Detail</a>
                        }
                        else
                        {
                            <h4>NO UPCOMING SESSION FOUND</h4>
                        }
                    </div>
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">CANCELLED SESSION </h2>
                        @if (Model.listOfCancelSession != null && Model.listOfCancelSession.Count > 0)
                        {
                            var JList = Model.listOfCancelSession.Take(2).ToList();

                            foreach (var item in JList)
                            {


                                <div class="col-md-12 ssbox flex">
                                    <div class="col-xs-1 nopadding">
                                        @if (string.IsNullOrEmpty(item.ImageName))
                        { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                        else
                        { <img src="~/UserImages/@item.ImageName" class="ssuser" />}

                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                        <p>Student : <a href="#">@item.RequestedByName</a></p>
                                        <h5>
                                            Session on : <span>
                                                @item.SessionTimes
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="col-xs-2 nopadding">
                                        @*<a href="@Url.Action("MySessions","Teacher", new { area="Teacher"})" class="btn btn-block">Details</a>*@
                                    </div>
                                </div>

                            }
                            <a href="@Url.Action("CanceledSessions","Teacher", new { area="Teacher"})" class="btn btn-xs btn-default pull-right">View Detail</a>


                        }
                        else
                        {
                            <h4>NO CANCELLED SESSIONS FOUND</h4>
                        }
                    </div>

                    <div class="col-md-12 TPBbox">
                        <h2 class="title">PAST SESSIONS </h2>
                        @if (Model.listOfPastSession != null && Model.listOfPastSession.Count > 0)
                        {
                            var JList = Model.listOfPastSession.Take(2).ToList();

                            foreach (var item in JList)
                            {


                                <div class="col-md-12 ssbox flex">
                                    <div class="col-xs-1 nopadding">
                                        @if (string.IsNullOrEmpty(item.ImageName))
                        { <img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
                        else
                        { <img src="~/UserImages/@item.ImageName" class="ssuser" />}

                                    </div>
                                    <div class="col-xs-9">
                                        <h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
                                        <p>Student : <a href="#">@item.RequestedByName</a></p>
                                        <h5>
                                            Session on : <span>
                                                @item.SessionTimes
                                            </span>
                                        </h5>
                                    </div>
                                    <div class="col-xs-2 nopadding">
                                        @*<a href="@Url.Action("MySessions","Teacher", new { area="Teacher"})" class="btn btn-block">Details</a>*@
                                    </div>
                                </div>

                            }

                            <a href="@Url.Action("PastSessions","Teacher", new { area="Teacher"})" class="btn btn-xs btn-default pull-right">View Detail</a>
                        }
                        else
                        {
                            <h4>NO PAST SESSIONS FOUND</h4>
                        }
                    </div>
                    }
                else
                {
                    <h3>No Sessions Found</h3>
                }
            </div>
        </div>
    </div>
</div>