﻿@using BLL.BusinessModels.TeacherModels
@model TestAssignViewModel

@{
    ViewBag.Title = "AssignTest";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<style>
    #dataTable_wrapper .row .col-sm-6 {
        width: 100% !important;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: left !important;
    }
</style>

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            @if(Model!=null)
            {

        
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-5">
                    <h2><span>Test Name :</span>@Model.TestName</h2>
                    <h2><span>Grade / Subject :</span>@Model.GradeSubjectName</h2>
                    <h2>
                        <span>Topics :</span>

                        @foreach (var item in Model.listOfTopics)
                        {
                            <span class="topicTag">@item.TopicName</span>
                        }
                    </h2>
                    <h2><span>Test Level :</span><span class="greenTxt">@Model.TestLevel</span></h2>
                </div>
                <div class="col-md-7 Metabox">
                    <div class="col-sm-10 col-sm-offset-2 alignright">
                        @*<a href="NewTestList.html" class="btn btn-sm btn-success">Test List</a>
                        <a href="NewTestAssign.html" class="btn btn-sm btn-primary">Assign Test</a>*@
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                                100
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                                25
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                                60 mins
                            </h3>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 Testarea">
                <div class="col-md-12 TestTable">
                    <div class=" col-md-4 nopadding">
                        @*<div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Student..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>*@
                    </div>
                    <div class=" col-md-8 alignright nopadding">
                        <a class="btn btn-md btn-default">Total : @Model.TotalStudents</a>
                        <a class="btn btn-md btn-success">Pass : @Model.TotalPass</a>
                        <a class="btn btn-md btn-danger">Fail : @Model.TotalFail</a>
                    </div>
                    <br><br><br>


                    @if(Model.listOfAssignedStudents!=null && Model.listOfAssignedStudents.Count>0)
                    {


                    <table class="table table-hover table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Student Name</th>
                                <th>Assigned on</th>
                                <th>Test Taken on</th>
                                <th>Duration</th>
                                <th>Makrs Obtained</th>
                                <th>Result</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          @{ int counter = 0;}
                           @foreach(var item in Model.listOfAssignedStudents)
                               {
                                   counter++;
                             <tr>
                                <td>@counter</td>
                                <td>@item.AssignedToName</td>
                                <td>@item.AssignedDate.ToString("dd/mm/yyyy hh:mm tt")</td>
                                <td>@item.TestStartTime</td>
                                <td>@item.TotalSpendTime.ToString("0.00") Mins</td>
                                <td>@item.GainedScores</td>
                                <td class="greenTxt">@item.TestStatusPassFail</td>
                                <td>                                    
                                    <a href="@Url.Action("ViewAnswerSheet","Teacher", new { area="Teacher",@StudentID=item.FKAssignedTo , @TestID=item.TestAssignedID})" class="btn btn-xs btn-default ttip" data-toggle="tooltip" data-placement="top" title="View Answer sheet"><i class="glyphicon glyphicon-eye-open"></i></a>                                   
                                    <a href="@Url.Action("AssignTest","Teacher", new { area="Teacher",@TestID=@item.FKTestID,@UID=item.FKAssignedTo})" class="btn btn-xs btn-success ttip" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a>
                                </td>
                            </tr>
                           }
                        </tbody>
                    </table>

                    }

                </div>
            </div>

            }
            else
            {

                <h2>
                   No Students Found
                </h2>
            }

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.ttip').tooltip();

        $('#dataTable').DataTable({
            "paging": false,
            "ordering": false,
            "info": false
        });
    });
</script>






