﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model AnswerSheetViewModel
@{
    ViewBag.Title = "ViewAnswerSheet";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            @if (Model != null)
            {

                <div class="col-md-12 TQDetailsArea">
                    <div class="col-md-7">
                        <h2><span>Test Name :</span>@Model.TestName</h2>
                        <h2><span>Grade / Subject :</span>@Model.GradeSubjectName</h2>
                        <h2><span>Student Name :</span>@Model.StudentName</h2>
                        <h2><span>Total Marks :</span>100</h2>
                        <h2><span>Test Duration :</span>60 mins</h2>
                        <h2><span>Test Level :</span><span class="greenTxt">@Model.TestLevel</span></h2>
                    </div>
                    <div class="col-md-5 TQLefttop">
                        <a class="btn btn-sm btn-default">Marks Obtained : @Model.MarksObtained / 100</a>
                        @if (Model.PassFailedStatus == "Pass")
                        {
                            <a class="btn btn-sm btn-success">Pass</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-danger">Fail</a>
                        }

                        <p class="tdate">Assigned on : @Model.TestAssignDate.ToString("dd/mm/yyyy hh:mm tt")</p>
                        <p class="tdate">Test Taken on : @Model.TestHappenDate.ToString("dd/mm/yyyy hh:mm tt")</p>
                        <p class="tdate">Duration : @Model.TotalSpendTime.ToString("0.00") Mins</p>
                    </div>
                    <div class="col-sm-12">
                        <a href="@Url.Action("ViewResult","Teacher", new { area="Teacher",@TestID=Model.TestID})">Back to All Results</a>
                    </div>
                </div>

                <div class="col-md-12 TQDetailsArea">
                    <div class="col-md-12 ATField">
                        <div class="col-md-12 nopadding">
                            <div class="col-md-6">
                                @{int answered = Model.listOfStudentTestAnswers.Count();}
                                <a class="btn btn-md btn-default">Questions Answered :  @answered/ @Model.TotalQuestions</a>
                            </div>
                            <div class="col-md-6 alignright">
                                @*<a href="NewTestAssign.html" class="btn btn-md btn-success">RE-ASSIGN THIS TEST</a>*@
                            </div>
                        </div>
                    </div>
                </div>


                if (Model.listOfStudentTestAnswers != null && Model.listOfStudentTestAnswers.Count > 0)
                {

                    <div class="col-md-12 TQuestionArea">
                        @{int counter = 0;}
                        @foreach (var item in Model.listOfStudentTestAnswers)
                        {
                            counter++;
                            <div class="col-md-12 TQuestion">
                                <div class="col-md-11">
                                    <h2><span>@counter.</span> @item.QuestionBank.Question</h2>
                                </div>
                                <div class="col-md-1 alignright">
                                    <h2><span>04</span></h2>
                                </div>
                                <div class="col-md-10">
                                    @if (item.FKStudentAnswer == 1)
                                    {                   
                                        <div class="col-md-6">
                                            <p class="cz @((item.QuestionBank.AnswerKey == item.FKStudentAnswer) ? "greenTxt" : "redTxt")"><span>A.</span> @item.QuestionBank.FirstOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>B.</span> @item.QuestionBank.SecondOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>C.</span> @item.QuestionBank.ThirdOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>D.</span> @item.QuestionBank.FourthOption</p>
                                        </div>
                                    }
                                    else if (item.FKStudentAnswer == 2)
                                    {
                                       
                                        <div class="col-md-6">
                                            <p><span>A.</span> @item.QuestionBank.FirstOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="cz @((item.QuestionBank.AnswerKey == item.FKStudentAnswer) ? "greenTxt" : "redTxt")"><span>B.</span> @item.QuestionBank.SecondOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>C.</span> @item.QuestionBank.ThirdOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>D.</span> @item.QuestionBank.FourthOption</p>
                                        </div>
                                    }
                                    else if (item.FKStudentAnswer == 3)
                                    {
                                      
                                        <div class="col-md-6">
                                            <p><span>A.</span> @item.QuestionBank.FirstOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>B.</span> @item.QuestionBank.SecondOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="cz @((item.QuestionBank.AnswerKey == item.FKStudentAnswer) ? "greenTxt" : "redTxt")"><span>C.</span> @item.QuestionBank.ThirdOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>D.</span> @item.QuestionBank.FourthOption</p>
                                        </div>
                                    }
                                    else if (item.FKStudentAnswer == 4)
                                    {

                                        <div class="col-md-6">
                                            <p><span>A.</span> @item.QuestionBank.FirstOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>B.</span> @item.QuestionBank.SecondOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p><span>C.</span> @item.QuestionBank.ThirdOption</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="cz @((item.QuestionBank.AnswerKey == item.FKStudentAnswer) ? "greenTxt" : "redTxt")"><span>D.</span> @item.QuestionBank.FourthOption</p>
                                        </div>
                                    }
                                </div>
                                <div class="col-md-2 alignright">

                                    <a href="#" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="True Answer is">@Enum.GetName(typeof(Enumerations.Answer), item.QuestionBank.AnswerKey)</a>
                                    @if (item.TrueAnswer != true)
                                    {

                                        <a class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="False"><i class="glyphicon glyphicon-remove"></i></a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="True"><i class="glyphicon glyphicon-ok"></i></a>
                                    }
                                </div>
                            </div>

                        }
                    </div>

                                }

                            }
                            else
                            {
                                <h2>
                                   No Record Found ..
                                </h2>
                            }
        </div>
    </div>
</div>
