﻿
@model BLL.BusinessModels.TeacherModels.TeacherEmailTemplateModel

@{
    Layout = null;
}

<div class="container">
    <h3> Dear @Model.TeacherFullName</h3>
    <h4> UserName : @Model.LoginEmail </h4>
    <h4> Password :  @Model.Password </h4>     

    <div class="body-content">
      @Html.Raw(Model.bodyWrittenFromAdmin)  
    </div>

</div>

