﻿
@model BLL.BusinessModels.StudentModels.StudentEmailTemplateModel

@{
    Layout = null;
}

<div class="container">
    <h3>Hey @Model.StudentFullName</h3>
    <h4>@Model.Url</h4>

    <div class="body-content">

        @Html.Raw(Model.emailBodyWrittenByAdmin)
    </div>

</div>