﻿@using System.Web.Optimization
@using BLL.Helpers
@{
    var user = Config.User;
}

<!DOCTYPE html>
<html>
<head>
    @*    <meta name="viewport" content="width=device-width"/>*@
    <meta name="robots" content="noindex" />
    <link rel="icon" href="~/Content/Front/frontimg/fav.png" type="img/png" />
    <title>Teaching Bharat</title>
    <!--CSS BUNDLES-->
    @*<link href="~/Content/Front/frontcss/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Front/frontcss/Dstyle.css" rel="stylesheet" />*@

    <link href="~/Content/Include/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Include/css/Dstyle.css" rel="stylesheet" />

    <link href="~/Content/Include/css/" rel="stylesheet" />

    <link href="~/Content/Front/frontcss/gsdk-base.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/pe-icon-7-stroke.css" rel="stylesheet" />

    @Styles.Render("~/Content/homecss")

    @Scripts.Render("~/Content/modernizer")
    @Scripts.Render("~/Content/wowjs")
    @Scripts.Render("~/Content/Jquery")


    <script>
        new WOW().init();
    </script>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
                d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                    z.set.
                        _.push(o)
                }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?4IXHUgP5ZI8eBu7dl8XpiW2B7zaoTmwx'; z.t = +new Date; $.
                type = 'text/javascript'; e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
    <!--End of Zopim Live Chat Script-->

</head>
<body>
    <!--NAVIGATION-->
  
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="width: 98%">
            <div class="mynve-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand2" href="@Url.Action("Index","Home", new { area=""})">
                        <img src="~/Content/Include/img/logo.png"   width="245px"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index","Home", new { area=""})">Home </a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore Courses</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Courses","Home", new { id=1 })">Class 12th</a></li>
                                <li><a href="@Url.Action("Courses","Home", new { id=2 })">Class 11th</a></li>
                                <li><a href="@Url.Action("Courses","Home", new { id=3 })">Class 10th</a></li>
                                <li><a href="@Url.Action("Courses","Home", new { id=4 })">Class 9th</a></li>
                                <li><a href="@Url.Action("Courses","Home", new { id=5 })">Class 8th</a></li>
                                <li><a href="@Url.Action("Courses","Home", new { id=6 })">Class 7th</a></li>
                                <li><a href="@Url.Action("Courses","Home", new { id=7 })">Class 6th</a></li>
                                <li><a href="@Url.Action("Courses","Home", new { id=8 })">Explore All </a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">1-to-1 Classes</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("MonthlyTution","Home", new { area=""})">Monthly Tuitions</a></li>
                                <li><a href="@Url.Action("explorecourses","Home", new { area=""})">Explore Courses</a></li>
                                <li><a href="@Url.Action("step_1","Student", new { area="Student"})">Clear Doubts Now</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("FreeResources","Home", new { area=""})">Free Resources</a></li>
@if (Config.CurrentUser == 0)
{

                        <li><a href="@Url.Action("TeacherRegistration","Account")">Become a Teacher</a></li>
}
                        @*<li><a href="http://shop.teachingbharat.com/" target="_blank">Buy Course <sup style="color: #673ab7">New</sup></a></li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <!--NAVIGATION END-->



    <!--INDEX CONTENT  <div>   </div>-->
   
        @RenderBody()
   
    <!--INDEX CONTENT END-->



    <!--FOOTER-->
    <div class="Footer">
        <div class="container">
            <div class="col-md-12 f-one">
                <p>Enter to the</p>
                <h3>Virtual Learning World</h3>
                <div class="col-md-4 col-md-offset-4  wow fadeInUp animated" data-wow-delay="0.4s">
                    <a href="#" class="btn btn-block">Register Now</a>
                </div>
            </div>
        </div>
        <div class="container f-two">
            <div class="col-md-8 nopadding">
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Teaching Bharat</h1>
                        <ul>
                            <li><a href="@Url.Action("explorecourses","Home", new { area=""})">Browse Course</a></li>
                            <li><a href="@Url.Action("browseteachers","Home", new { area=""})">Browse Teachers</a></li>
                            <li><a href="#">Clear Doubts</a></li>
                            <li><a href="@Url.Action("FreeResources","Home", new { area=""})">Free Resourse</a></li>
                            <li><a href="@Url.Action("TeacherRegistration","Account",new { area=""})">Become a Teacher</a></li>
                            <li><a href="@Url.Action("Signup","Account")">Student Registration</a></li>
                            <li><a href="#">Read Reviews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Company</h1>
                        <ul>
                            <li><a href="@Url.Action("AboutUs","Home", new { area=""})">About us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press Release</a></li>
                            <li><a href="@Url.Action("ContactUs","Home", new { area=""})">Contact us</a></li>
                            <li><a href="@Url.Action("TermofUse","Home", new { area=""})">Terms of use</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy","Home", new { area=""})">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Important Links</h1>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Need Help?</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="@Url.Action("SuggestCourse","Home", new { area=""})">Suggest Course</a></li>
                            <li><a href="@Url.Action("AskQuestion","Home", new { area=""})">Ask Question</a></li>
                            <li><a href="@Url.Action("Studentfaq","Home", new { area=""})">Student FAQs</a></li>
                            <li><a href="@Url.Action("GeneralFaq","Home", new { area=""})">General FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Free Resources</h1>
                        <ul>
                            <li><a href="#">Resources link here</a></li>
                            <li><a href="#">Resources link</a></li>
                            <li><a href="#">Resources link here</a></li>
                            <li><a href="#">Resources link here</a></li>
                            <li><a href="#">Resources link</a></li>
                            <li><a href="#">Resources link</a></li>
                            <li><a href="#">Resources link here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 f-con-new">
                <h6>Feel free to contact us</h6>
                <h3><span>Call :</span> 1800 133 432</h3>
                <h4><span>Email :</span> info@teachingbharat.com</h4>
                <h5>Get Socialsed with us</h5>
                <a href="#"><img src="~/Content/Include/img/sn1.png" alt="facebook" /></a>
                <a href="#"><img src="~/Content/Include/img/sn2.png" alt="facebook" /></a>
                <a href="#"><img src="~/Content/Include/img/sn3.png" alt="facebook" /></a>
                <a href="#"><img src="~/Content/Include/img/sn4.png" alt="facebook" /></a>
            </div>
            <div class="col-md-12 seo-footer">
                <h1>India's Best online tution at affordable price on Teaching Bharat</h1>
                <p>Rudraa offers personalised LIVE Online tuition classes at your home. In our online tutoring platform, students get to learn from the best teachers who have studied from top colleges and institutes across India. We offer year-long structured courses for CBSE & ICSE board school students, so that students can study entire subject in a structured manner at the comfort of their home. Apart from Regular monthly tuitions, we also provide doubt clearing sessions for students of all grades and boards.</p>
                <p>Rudraa's tuition classes are completely online and allows the teacher and student to engage on our website using WAVE platform. All the classes are taken by expert Tutors who ensure to share assignments after completion of every chapter (i.e. regular homework help, subjective & objects tests & quizzes), along with revision notes and formula worksheets. There are regular Parent-Teacher meetings to monitor & track student's academic progress throughout student's learning engagement. All the sessions taken by students on Rudraa are recorded and replays of those sessions are available in student's login account for revision of all the chapters & topics learnt on Rudraa.</p>
                <p>We find the RIGHT Tutor to match students' and parents' requirements, and our highly experienced Tutor strives to establish connect with students so that even a first-time student is comfortable with studying online and does not feel the need of taking tuition classes from coaching centers near their home.</p>
                <p>Rudraa caters to CBSE and ICSE board from classes 6th to 12th for Maths and Science (Physics, Chemistry & Biology) subjects. Our free reference materials are textbook solutions (NCERT, RD Sharma, HC Verma & etc.), Sample papers for CBSE & ICSE board, important questions and more.</p>
            </div>
        </div>
        <div class="bottomFooter">
            <div class="container">
                <div class="col-md-12">
                    <p>Copyright 2016 All Rights are Reserved by Teaching Bharat</p>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER END-->


    @*@Scripts.Render("~/Content/bootstrapjs")*@
    <script src="~/Content/Front/frontjs/jquery.bootstrap.wizard.js"></script>
    <script src="~/Content/Front/frontjs/jquery.validate.min.js"></script>
    <script src="~/Content/Front/frontjs/wizard.js"></script>
    <script src="~/Content/DashBoard/adminjs/bootstrap-notify.js"></script>
    <script src="@Url.Content("~/Content/Include/js/custom.js")"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/Content/TLayoutjs")
    
    <script>
        $(document).ready(function () {
            $(window).bind('scroll', function () {
                var navHeight = $(window).height() - 70;
                if ($(window).scrollTop() > navHeight) {
                    $('nav.abt').addClass('fixed');
                } else {
                    $('nav.abt').removeClass('fixed');
                }
            });

            @*var loginuserdata = '@Html.Raw(Json.Encode(user))';
            if(loginuserdata != 'null')
            {
                var chat = $.connection.HubClass;
                // Create a function that the hub can call back to display notification.

                chat.client.getAllActiveConnections = function () {
                };

                $.connection.hub.start().done(function () {
                });
            }*@

        });
    </script>
    <script type="text/javascript">


      

        if(@ViewBag.UserData!=null)
        {
            window.localStorage.setItem("UserDate",null);
            window.localStorage.setItem("UserDate",'@ViewBag.UserData');
        }

    </script>
</body>
</html>
