﻿@using System.Web.Optimization
@using BLL.Helpers
@{
    var user = Config.User;
}

<!DOCTYPE html>
<html>
<head>
    @*    <meta name="viewport" content="width=device-width"/>*@
    <meta name="robots" content="noindex" />
    <link rel="icon" href="~/Content/Front/frontimg/fav.png" type="img/png" />
    <title>Teaching Bharat</title>
    <!--CSS BUNDLES-->
    <link href="~/Content/Front/frontcss/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/Dstyle.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/gsdk-base.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/pe-icon-7-stroke.css" rel="stylesheet" />

    @Styles.Render("~/Content/homecss")

    @Scripts.Render("~/Content/modernizer")
    @Scripts.Render("~/Content/wowjs")
    @Scripts.Render("~/Content/Jquery")


    <script>
        new WOW().init();
    </script>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) {
                z._.push(c)
            }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?4IXHUgP5ZI8eBu7dl8XpiW2B7zaoTmwx'; z.t = +new Date; $.
            type = 'text/javascript'; e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>
    <!--End of Zopim Live Chat Script-->

</head>
<body>
    <!--NAVIGATION-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="mynve-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/Content/Front/frontimg/logo.png" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offerings</a>
                            <ul class="dropdown-menu">
                                @*@if (user != null)
                                {
                                    if (user.UserType == (int)Enumerations.UserType.Student)
                                    {*@
                                        
                                    @*}
                                }*@
                                <li><a href="@Url.Action("MonthlyTution","Home")">Monthly Tuitions</a></li>
                                <li><a href="@Url.Action("explorecourses","Home")">Explore Courses</a></li>
                                <li><a href="@Url.Action("step_1","Student", new { area="Student"})">Clear Doubts Now</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("FreeResources","Home")">Free Resources</a></li>
                        @if(Config.CurrentUser==0)
                        { 
                        <li><a href="@Url.Action("TeacherRegistration","Account")">Become A Teacher</a></li>
                        }
                        @*<li><a href="@Url.Action("FindTeacherStepOne","Home")">Find a Teacher</a></li>*@

                        <li><a href="#">WHY FROM US</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <!--NAVIGATION END-->



    <!--INDEX CONTENT  <div>   </div>-->
   
        @RenderBody()
   
    <!--INDEX CONTENT END-->



    <!--FOOTER-->
    <div class="Footer">
        @if (Config.CurrentUser == 0)
        {
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4  wow slideInDown animated" data-wow-delay="0.4s">
                    <a href="@Url.Action("Signup","Account")" class="btn btn-block mybtnreg">Register Now</a>
                </div>
            </div>
        </div>
        }
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <img src="~/Content/Front/frontimg/logo.png" />
                        <p>We are Leading company Providing you Digital Online Learning Services and some texts about our portal goes here some texts about our portal goes here</p>
                        <h2>
                            Toll Free :<br>
                            1800 000 000
                        </h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Company</h1>
                        <ul> 
                            <li><a href="@Url.Action("AboutUs","Home")">About us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press Release</a></li>
                            <li><a href="@Url.Action("ContactUs","Home")">Contact us</a></li>
                            <li><a href="@Url.Action("TermofUse","Home")">Terms of use</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy","Home")">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Teaching Bharat</h1>
                        <ul>
                            <li><a href="@Url.Action("explorecourses","Home")">Browse Course</a></li>
                            <li><a href="@Url.Action("browseteachers","Home")">Browse Teachers</a></li>
                            <li><a href="#">Clear Doubts</a></li>
                            <li><a href="@Url.Action("FreeResources","Home")">Free Resourse</a></li>
                            <li><a href="@Url.Action("TeacherRegistration","Account",new { area=""})">Become a Teacher</a></li>
                            <li><a href="@Url.Action("Signup","Account")">Student Registration</a></li>
                            <li><a href="#">Read Reviews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Important Links</h1>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Need Help?</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="@Url.Action("SuggestCourse","Home")">Suggest Course</a></li>
                            <li><a href="@Url.Action("AskQuestion","Home")">Ask Question</a></li>
                            <li><a href="@Url.Action("Studentfaq","Home")">Student FAQs</a></li>
                            <li><a href="@Url.Action("GeneralFaq","Home")">General FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomFooter">
            <div class="container" style="width: 100%">
                <div class="col-md-6 leftAlign">
                    <p>Copyright @DateTime.Now.Year All Rights are Reserved by Teaching Bharat</p>
                </div>
                <div class="col-md-6 rightAlign">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s1.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s2.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s3.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s4.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER END-->


    @*@Scripts.Render("~/Content/bootstrapjs")*@
    <script src="~/Content/Front/frontjs/jquery.bootstrap.wizard.js"></script>
    <script src="~/Content/Front/frontjs/jquery.validate.min.js"></script>
    <script src="~/Content/Front/frontjs/wizard.js"></script>
    <script src="~/Content/DashBoard/adminjs/bootstrap-notify.js"></script>
    <script src="@Url.Content("~/Content/CustomJs/customjs.js")"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/Content/TLayoutjs")
    
    <script>
        $(document).ready(function () {
            $(window).bind('scroll', function () {
                var navHeight = $(window).height() - 70;
                if ($(window).scrollTop() > navHeight) {
                    $('nav.abt').addClass('fixed');
                } else {
                    $('nav.abt').removeClass('fixed');
                }
            });

            @*var loginuserdata = '@Html.Raw(Json.Encode(user))';
            if(loginuserdata != 'null')
            {
                var chat = $.connection.HubClass;
                // Create a function that the hub can call back to display notification.

                chat.client.getAllActiveConnections = function () {
                };

                $.connection.hub.start().done(function () {
                });
            }*@

        });
    </script>
    <script type="text/javascript">


      

        if(@ViewBag.UserData!=null)
        {
            window.localStorage.setItem("UserDate",null);
            window.localStorage.setItem("UserDate",'@ViewBag.UserData');
        }

    </script>
</body>
</html>
