﻿
@using BLL.Helpers

@{
    var user = Config.CurrentUser;
}

<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width"/>*@
    <meta name="robots" content="noindex" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="13032258842-8vullm1pj1jgd539vatu68o8jb47ffup.apps.googleusercontent.com">
  

    <link rel="icon" href="~/Content/Front/frontimg/fav.png" type="img/png" />
    <title>@ViewBag.Title</title>
    <!--CSS BUNDLES-->
    @Styles.Render("~/Content/homecss")

    <link href="~/Content/Front/frontcss/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/Dstyle.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/custom.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/remodal.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/remodal-default-theme.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/bootstrap-select.min.css" rel="stylesheet" />

    @Scripts.Render("~/Content/modernizer")
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/Content/wowjs")
    @Scripts.Render("~/Content/Jquery")
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script>
        new WOW().init();
    </script>

</head>
<body>

    <div class="_overlay">
        <div class="_loader"></div>
    </div>

    <!--NAVIGATION-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="mynve-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/Content/Front/frontimg/logo.png" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offerings</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("MonthlyTution","Home")">Monthly Tuitions</a></li>
                                <li><a href="@Url.Action("explorecourses","Home")">Explore Courses</a></li>
                                <li><a href="@Url.Action("step_1","Student", new { area="Student"})">Clear Doubts Now</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("FreeResources","Home")">Free Resources</a></li>
                        <li><a href="@Url.Action("TeacherRegistration","Account",new { area=""})">Become a Teacher</a></li>
                        <li><a href="#">WHY FROM US</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Login","Account")"><i class="glyphicon glyphicon-log-in"></i>LOGIN</a></li>
                        <li><a href="@Url.Action("Signup","Account")"><i class="glyphicon glyphicon-education"></i>REGISTER</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--NAVIGATION END-->

    <div>
        @RenderBody()
    </div>

    <div class="Footer">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <img src="~/Content/Front/frontimg/logo.png" />
                        <p>We are Leading company Providing you Digital Online Learning Services and some texts about our portal goes here some texts about our portal goes here</p>
                        <h2>
                            Toll Free :<br>
                            1800 000 000
                        </h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Company</h1>
                        <ul>
                            <li><a href="@Url.Action("AboutUs", "Home")">About us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press Release</a></li>
                            <li><a href="@Url.Action("ContactUs", "Home")">Contact us</a></li>
                            <li><a href="@Url.Action("TermofUse", "Home")">Terms of use</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Teaching Bharat</h1>
                        <ul>
                            <li><a href="@Url.Action("explorecourses","Home")">Browse Course</a></li>
                            <li><a href="@Url.Action("browseteachers","Home")">Browse Teachers</a></li>
                            <li><a href="#">Clear Doubts</a></li>
                            <li><a href="@Url.Action("FreeResources","Home")">Free Resourse</a></li>
                            <li><a href="@Url.Action("TeacherRegistration","Account",new { area=""})">Become a Teacher</a></li>
                            <li><a href="@Url.Action("Signup","Account")">Student Registration</a></li>
                            <li><a href="#">Read Reviews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Important Links</h1>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Need Help?</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="@Url.Action("SuggestCourse", "Home")">Suggest Course</a></li>
                            <li><a href="@Url.Action("AskQuestion", "Home")">Ask Question</a></li>
                            <li><a href="@Url.Action("Studentfaq", "Home")">Student FAQs</a></li>
                            <li><a href="@Url.Action("GeneralFaq", "Home")">General FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomFooter">
            <div class="container" style="width: 100%">
                <div class="col-md-6 leftAlign">
                    <p>Copyright @DateTime.Now.Year All Rights are Reserved by Teaching Bharat</p>
                </div>
                <div class="col-md-6 rightAlign">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s1.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s2.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s3.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s4.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/bootstrapjs")
    <script src="~/Content/DashBoard/adminjs/bootstrap-notify.js"></script>
    <script src="~/Content/DashBoard/adminjs/notificationjs.js"></script>
    @*<script src="~/Content/CustomJs/customjs.js"></script>*@
    <script src="~/Content/Front/frontjs/bootstrap-select.min.js"></script>
    <script src="~/Content/Front/frontjs/remodal.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>

    <script src="~/Scripts/CustomJS.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    @*<script>
        //AJAX CALL
        $(document).ajaxSend(function (event, jqxhr, settings) {
            $("._overlay").show();
        });
        $(document).ajaxStop(function () {
            $("._overlay").hide();
        });
        $(document).ajaxSend(function (event, jqxhr, settings) {
            if (settings.url == "ajax/test.html") {
                $(".log").text("Triggered ajaxSend handler.");
            }
        });

        var loginuserdata = '@Html.Raw(Json.Encode(user))';
        if (loginuserdata != 'null') {
            var chat = $.connection.HubClass;
            // Create a function that the hub can call back to display notification.

            chat.client.getAllActiveConnections = function () {
            };

            $.connection.hub.start().done(function () {
            });
        }

    </script>*@

</body>
</html>
