﻿@using BLL.Helpers
@{
    var user = Config.User;
    <style>
        .ulclass {
            text-transform: lowercase !important;
        }
    </style>
}

@if (user != null)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right ulclass">
           @if (user.UserType == (int)Enumerations.UserType.Teacher)
            {
                <li>
                    <a href="@Url.Action("Index", "Teacher",new  { area="Teacher"})" title="Home">@Config.UsersProfile.FirstName  <i class="glyphicon glyphicon-user"></i></a>
                </li>
            }
            else if (user.UserType == (int)Enumerations.UserType.Student)
            {
                <li>
                    <a href="@Url.Action("Index", "Student",new  { area="Student"})" title="Home">@Config.UsersProfile.FirstName  <i class="glyphicon glyphicon-user"></i></a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Index", "Home", new { area=""})" title="Home">@Config.UsersProfile.FirstName  <i class="glyphicon glyphicon-user"></i></a>
                </li>
            }
            @*<li>
                <a href="@Url.Action("Index", "Home")" title="Home">@Config.UsersProfile.FirstName  <i class="glyphicon glyphicon-user"></i></a>
            </li>*@
            @*<li>
                <a href="@Url.Action("Index", "StudentHome", new { area = "Student" })" title="Dashboard">
                    <img src="#" alt="Image not found" onerror="this.src = '/Content/Front/frontimg/profileimage.jpg';" />
                </a>
            </li>*@
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" title="Log Out"><i class="glyphicon glyphicon-log-in"></i> Log out</a>
            </li>
        </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right ulclass">
        <li><a href="@Url.Action("Login","Account", new { area=""})"><i class="glyphicon glyphicon-log-in"></i>LOGIN</a></li>
        <li><a href="@Url.Action("Signup","Account", new { area=""})"><i class="glyphicon glyphicon-education"></i>REGISTER</a></li>
    </ul>*@
  
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Login","Account", new { area=""})"><i class="glyphicon glyphicon-log-in"></i>LOGIN</a></li>
            <li><a href="@Url.Action("Signup","Account", new { area=""})"><i class="glyphicon glyphicon-education"></i>REGISTER</a></li>
        </ul>
}


