﻿@using System.Web.Optimization
@model DAL.Entities.Users
@{
	Layout = null;
	//var user = Util.GetCurrentUser();
	
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Email Verified</title>

	@Scripts.Render("~/content/Jquery")

	@{
		<style>
			/* Reset styles */
			body {
				margin: 0;
				padding: 0;
				min-width: 100%;
				width: 100% !important;
				height: 100% !important;
			}

			body, table, td, div, p, a {
				-webkit-font-smoothing: antialiased;
				text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				-webkit-text-size-adjust: 100%;
				line-height: 100%;
			}

			table, td {
				mso-table-lspace: 0pt;
				mso-table-rspace: 0pt;
				border-collapse: collapse !important;
				border-spacing: 0;
			}

			img {
				border: 0;
				line-height: 100%;
				outline: none;
				text-decoration: none;
				-ms-interpolation-mode: bicubic;
			}

			#outlook a {
				padding: 0;
			}

			.ReadMsgBody {
				width: 100%;
			}

			.ExternalClass {
				width: 100%;
			}

				.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
					line-height: 100%;
				}

			/* Extra floater space for advanced mail clients only */
			@@media all and (max-width: 600px) {
				.floater {
					width: 320px;
				}
			}

			/* Set color for auto links (addresses, dates, etc.) */
			a, a:hover {
				color: #127DB3;
			}

			.footer a, .footer a:hover {
				color: #999999;
			}
		</style>
	}

</head>
<!-- BODY -->
<!-- Set message background color (twice) and text color (twice) -->
<body topmargin="0" rightmargin="0" bottommargin="0" leftmargin="0" marginwidth="0" marginheight="0" width="100%" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%; height: 100%; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 100%;
	background-color: #FFFFFF;
	color: #000000;"
	  bgcolor="#FFFFFF"
	  text="#000000">
	<!-- SECTION / BACKGROUND -->
	<!-- Set section background color -->
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;" class="background">
		<tr>
			<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;"
				bgcolor="#ee3945">
				<!-- WRAPPER -->
				<!-- Set wrapper width (twice) -->
				<table border="0" cellpadding="0" cellspacing="0" align="center"
					   width="600" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
	max-width: 600px;" class="wrapper">
					<tr>
						<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 20px;">
							<!-- PREHEADER -->
							<!-- Set text color to background color -->
							<div style="display: none; visibility: hidden; overflow: hidden; opacity: 0; font-size: 1px; line-height: 1px; height: 0; max-height: 0; max-width: 0;
			color: #FFFFFF;" class="preheader">

							</div>
							<a target="_blank" style="text-decoration: none;"
							   href="#">
							</a>
						</td>
					</tr>
					<!-- HEADE
					R -->
					<!-- Set t
					ext color and font family ("sans-serif" or "Georgia, serif") -->
					<tr>
					<tr>
						<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 130%;
			padding-top: 20px;
			color: #FFFFFF;
			font-family: sans-serif;" class="header">
							Email Verification successful!
						</td>
					</tr>
					<!-- SUBHEADER -->
					<!-- Set text color and font family ("sans-serif" or "Georgia, serif") -->
					<tr>
						<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-bottom: 3px; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 18px; font-weight: 300; line-height: 150%;
			padding-top: 5px;
			color: #FFFFFF;
			font-family: sans-serif;" class="subheader"></td>
					</tr>
					<!-- HERO IMAGE -->
					<!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2 (wrapper x2). Do not set height for flexible images (including "auto"). URL format: http://domain.com/?utm_source={{Campaign-Source}}&utm_medium=email&utm_content={{Ìmage-Name}}&utm_campaign={{Campaign-Name}} -->
					<tr>
					
					</tr>
					<!-- PARAGRAPH -->
					<!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
					<tr>
						<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 17px; font-weight: 400; line-height: 160%;
			padding-top: 25px;
			color: #FFFFFF;
			font-family: sans-serif;" class="paragraph"></td>
					</tr>
					<!-- BUTTON -->
					<!-- Set button background color at TD, link/text color at A and TD, font family ("sans-serif" or "Georgia, serif") at TD. For verification codes add "letter-spacing: 5px;". Link format: http://domain.com/?utm_source={{Campaign-Source}}&utm_medium=email&utm_content={{Button-Name}}&utm_campaign={{Campaign-Name}} -->
					<tr>
						<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;
			padding-bottom: 35px;" class="button">
							
								<table border="0" cellpadding="0" cellspacing="0" align="center" style="max-width: 240px; min-width: 120px; border-collapse: collapse; border-spacing: 0; padding: 0;">
									<tr>
										<td align="center" valign="middle" style="padding: 12px 24px; margin: 0; border-collapse: collapse; border-spacing: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px;"
											bgcolor="#af1f2c">

											
												<a style="text-decoration: none !important; color: white" href="@Url.Action("Dashboard", "Home", new {@id = Model.UserID})">
													Home
												</a>
											
										</td>
									</tr>
									<tr>
										<td align="center" valign="top" style="border-collapse: collapse; text-decoration: none !important;  border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 130%;">
											OR
										</td>
									</tr>
									<tr>
										<td align="center" valign="top" style=" text-decoration: none !important;border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 24px; font-weight: bold; line-height: 130%;
			padding-top: 20px;
			color: #FFFFFF;
			font-family: sans-serif;" class="header">
											Redirected to <a href="@Url.Action("Login","Account")" style="text-decoration: none !important;  color:white;"> Login </a>      .. <br/> <span id="count">60</span> <br/> seconds...
										</td>
									
									</tr>
								</table>
						
						</td>
					</tr>
					<!-- End of WRAPPER -->
				</table>
				<!-- SECTION / BACKGROUND -->
				<!-- Set section background color -->
			</td>
		</tr>
		<tr>
			<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;"
				bgcolor="#F0F0F0">
				<!-- WRAPPER -->
				<!-- Set wrapper width (twice) -->
				<table border="0" cellpadding="0" cellspacing="0" align="center"
					   width="600" style="border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit;
	max-width: 600px;" class="wrapper">
					<!-- SOCIAL NETWORKS -->
					<!-- Image text color should be opposite to background color. Set your url, image src, alt and title. Alt text should fit the image size. Real image size should be x2 -->
					<tr>
						<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%;
			padding-top: 25px;" class="social-icons">
							<table width="256" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse: collapse; border-spacing: 0; padding: 0;">
								<tr>
									<!-- ICON 1 -->
									<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
										<a target="_blank"
										   href="#"
										   style="text-decoration: none;">
											<img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
												 alt="F" title="Facebook"
												 width="44" height="44"
												 src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/facebook.png">
										</a>
									</td>
									<!-- ICON 2 -->
									<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
										<a target="_blank"
										   href="#"
										   style="text-decoration: none;">
											<img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
												 alt="T" title="Twitter"
												 width="44" height="44"
												 src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/twitter.png">
										</a>
									</td>
									<!-- ICON 3 -->
									<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
										<a target="_blank"
										   href="#"
										   style="text-decoration: none;">
											<img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
												 alt="G" title="Google Plus"
												 width="44" height="44"
												 src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/googleplus.png">
										</a>
									</td>
									<!-- ICON 4 -->
									<td align="center" valign="middle" style="margin: 0; padding: 0; padding-left: 10px; padding-right: 10px; border-collapse: collapse; border-spacing: 0;">
										<a target="_blank"
										   href="#"
										   style="text-decoration: none;">
											<img border="0" vspace="0" hspace="0" style="padding: 0; margin: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: inline-block;
					color: #000000;"
												 alt="I" title="Instagram"
												 width="44" height="44"
												 src="https://raw.githubusercontent.com/konsav/email-templates/master/images/social-icons/instagram.png">
										</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- FOOTER -->
					<!-- Set text color and font family ("sans-serif" or "Georgia, serif"). Duplicate all text styles in links, including line-height -->
					<tr>
						<td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 6.25%; padding-right: 6.25%; width: 87.5%; font-size: 13px; font-weight: 400; line-height: 150%;
			padding-top: 20px;
			padding-bottom: 20px;
			color: #999999;
			font-family: sans-serif;" class="footer">
							Copyright @DateTime.Now.Year All Rights are Reserved by Teaching Bharat
							<!-- ANALYTICS -->
							<!-- http://www.google-analytics.com/collect?v=1&tid={{UA-Tracking-ID}}&cid={{Client-ID}}&t=event&ec=email&ea=open&cs={{Campaign-Source}}&cm=email&cn={{Campaign-Name}} -->
							<img width="1" height="1" border="0" vspace="0" hspace="0" style="margin: 0; padding: 0; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;"
								 src="https://raw.githubusercontent.com/konsav/email-templates/master/images/tracker.png" />
						</td>
					</tr>
					<!-- End of WRAPPER -->
				</table>
				<!-- End of SECTION / BACKGROUND -->
				</
			</td>
		</tr>
	</table>
</body>
</html>


<script>

	$(function () {
		countdown();
	});

	function countdown() {
		var counter = 60;
		setInterval(function () {
			counter--;
			if (counter >= 0) {
				span = document.getElementById("count");
				span.innerHTML = counter;
			}
			if (counter === 0) {
				window.location.href = '@Url.Action("Login","Account")';
			}

		}, 1000);
	}





</script>