﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .div2 {
            margin: 5%;
            width: 300px;
            height: 200px;
            padding: 50px;
            background-color: rgb(238, 57, 69);
            color: white;
            font-size: 18px;
            font-weight: bold;
        }
        .styles {
    border: 1px solid yellow;
    text-decoration: none !important;
    color: white;
    padding: 10px;
    margin: 5%;
    /* width: 55px; */
}
    </style>
    <title>Email Verification</title>
    </head>
<body>

    <div class="div2">

        Email Verification Failed!  Please Contact our Admin
        <br />
        <br />
        <br />
        <a align="center" class="styles" href="@Url.Action("Index", "Home", new {Area = ""})">
            Home
        </a>

    </div>
</body>
</html>