﻿
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="SLoginArea">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4 SLbox">
                <div class="col-md-12 LoginTop">
                    <img src="~/Content/Front/frontimg/LogoIcon.png" />
                    <h2>Forgot Password</h2>
                </div>
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label>Registered Email</label>
                            <input type="text" class="form-control mytbox" placeholder="Registered Email" required />
                        </div>
                        <button type="submit" class="btn btn-block mybtn">Reset Password</button>
                    </form>
                </div>
                <div class="col-md-12 LoginFS">
                    <a href="@Url.Action("Login")">Login to your Account</a>
                </div>
            </div>
        </div>
    </div>
</div>

