﻿@model BLL.BusinessModels.UserModels.StudentRegisterViewModel

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@{
    <style>
        .errorclass {
            color: red;
        }

        .diverror {
            text-align: center;
        }
    </style>
}

<div class="SLoginArea">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 SLbox">
                <div class="col-md-12 LoginTop">
                    <img src="~/Content/Front/frontimg/LogoIcon.png" />
                    <h2>Registration</h2>
                    <h4 class="errorclass">@ViewBag.Message</h4>
                </div>
                <div class="col-md-12">
                    @using (Html.BeginForm("Signup", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-3 form-group">
                            @Html.RadioButton("UserType", 4)
                            <label>as Student</label>
                        </div>

                        <div class="col-md-3 form-group">
                            @Html.RadioButton("UserType", 5)
                            <label>as Parent</label>
                        </div>

                        <div class="col-md-12 form-group">
                            <h4 class="errorclass diverror">@Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })</h4>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Email Address</label>
                            @Html.EditorFor(model => model.LoginEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Email" } })
                            @Html.ValidationMessageFor(model => model.LoginEmail, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Contact Number</label>
                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Contact Number", @Value = "" } })
                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Password</label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Confirm Password</label>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-6 form-group">
                            <label>State</label>
                            @Html.DropDownListFor(model => model.StateID, Model.sListofStates, "Select State", new { @class = "form-control dropdownlist" })
                            @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your City Name" } })
                            @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3 mt20 mb40">
                                <button type="submit" class="btn btn-block mybtn">Register Now !</button>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-md-12 nopadding SwpipeLogin">
                    <a href="@Url.Action("Login")">Already have Account? Login here</a>
                </div>
            </div>
        </div>
    </div>
</div>



