﻿@model BLL.BusinessModels.UserModels.TeacherRegisterationViewModel
@using BLL.Helpers

@{
    ViewBag.Title = "Teacher Registeration";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    Model.DigitalPen = 0;
    Model.InternetSpeed = 0;
}

@{
    <style>
        .errorclass {
            color: red;
        }

        #spanid {
            text-transform: lowercase !important;
        }

        .D-label {
            text-transform: lowercase !important;
        }
        span.pipe {
    border-left: 1px solid #777;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
        .othertextfield {
            display: none;
            margin-top: 1%;
        }
        #GradeID:disabled {
    background: white;
}
       #PrimarySubjectID:disabled {
    background: white;
}
             #SecondarySubjectID:disabled {
    background: white;
}
    </style>
}

<div class="TeacherBlueBg">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12 Tbox">
				<div class="col-md-12 topp">
					<h3>REGISTER AS TEACHER</h3>
					<p>Start Teaching Online with Rudraa</p>
					<h4 style="display:none" id="errorMessage">@ViewBag.Message</h4>
					<h4 style="display:none" id="infoMessage">@ViewBag.ConfirmationMessage</h4>

					<h4 class="errorclass">@ViewBag.SucessRegister</h4>
				</div>



                @using (Ajax.BeginForm("TeacherRegistration", "Account", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "getresult, resetForm()"
                }, new { enctype = "multipart/form-data", @class = "formresetClass", @Id = "TeacherForm" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label><strong>First Name</strong></label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label><strong>Last Name</strong></label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label><strong>Email Address</strong></label>
                            @Html.EditorFor(model => model.LoginEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                            @Html.ValidationMessageFor(model => model.LoginEmail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile Number</label>
                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Number" } })
                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Alt Number</label>
                            @Html.EditorFor(model => model.AlternateNumber, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Alt Number" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Date of Birth</label>
                            @Html.EditorFor(model => model.TeacherDob, new { htmlAttributes = new { type = "date", @class = "form-control ", @placeholder = "Date of Birth", @id = "txtdob" } })
                            @Html.ValidationMessageFor(model => model.TeacherDob, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4 parentclass">
                            <label>State</label>
                            @Html.DropDownListFor(model => model.StateID, Model.sListofStates, "Select State", new { @class = "form-control dropdownlist" })
                            @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>City</label>
                           @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control", @placeholder = "City Name" } })
                           @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @*<label>PIN Number</label>*@
                        </div>
                        <div class="col-md-12">
                            <hr class="blk" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Highest Qualification</label>
                            @Html.EditorFor(model => model.QualificationName, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g MSc." } })
                            @Html.ValidationMessageFor(model => model.QualificationName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label>Educated from College / University</label>
                            @*@Html.DropDownListFor(model => model.UniversityID,Model.sListofUniversities, "Select University", new { @class = "form-control dropdownlist" })*@
                            @Html.EditorFor(model => model.UniversityName, new { htmlAttributes = new { @class = "form-control", @placeholder = "University Name" } })
                            @Html.ValidationMessageFor(model => model.UniversityName, "", new { @class = "text-danger" })

                      </div>
                        <div class="form-group col-md-4 parentclass">
                            <label>Current Occupation</label>
                            @Html.DropDownListFor(model => model.OccupationID, Model.sListofOccupation, "Select Occupation", new { @class = "form-control dropdownlist" })
                            @Html.ValidationMessageFor(model => model.OccupationID, "", new { @class = "text-danger" })
                          </div>
                        <div class="form-group col-md-4">
                            <label>Prior experience in teaching</label>
                            @Html.EditorFor(model => model.ExperienceName, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g 4 Years" } })
                            @Html.ValidationMessageFor(model => model.ExperienceName, "", new { @class = "text-danger" })
                       </div>
                        <br />
                        <br />
                        <div class="form-group col-md-4 parentclass">
                            <label>Select Curriculum</label>
                            @Html.DropDownListFor(model => model.CurriculumId, Model.sListofCurriculums, "Select Curriculum", new { @class = "form-control dropdownlist",@onchange="ListOfGrades();" })
                            @Html.ValidationMessageFor(model => model.CurriculumId, "", new { @class = "text-danger" })
                        </div>
                       
                        <div class="form-group col-md-4 parentclass">
                            <label>Select the grade you would to Teach</label>
                            @Html.DropDownListFor(model => model.GradeID, Model.sListofSubjects, "Select Grade", new { @class = "form-control dropdownlist", @disabled="disabled", @onchange= "ListOfSubjects()" })
                            @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "text-danger" })
                        </div>

                            <div class="form-group col-md-4 parentclass">
                                <label>Primary Subject of Teaching</label>
                                @Html.DropDownListFor(model => model.PrimarySubjectID, Model.sListofSubjects, "Select Primary", new { @class = "form-control dropdownlist required",@disabled = "disabled", })
                                @Html.ValidationMessageFor(model => model.PrimarySubjectID, "", new { @class = "text-danger" })
                            </div>

                        <div class="form-group col-md-4 parentclass">
                            <label>Secondary Subject of Teaching</label>
                            @Html.DropDownListFor(model => model.SecondarySubjectID, Model.sListofSubjects, "Select Secondary", new { @class = "form-control dropdownlist required", @disabled = "disabled", })
                            @Html.ValidationMessageFor(model => model.SecondarySubjectID, "", new { @class = "text-danger" })

                        </div>
                            @*<div class="form-group col-md-12">
                                <label>Tick the grade you would to to Teach</label><br>
                                @foreach (var item in Model.ListofGrade)
                                {
                                    var last = Model.ListofGrade.Last();
                                    <input type="checkbox" id="g1_@item.GradeId" name="Grade" value="@item.GradeId" class="D-checkbox" /><label for="g1_@item.GradeId" class="D-label">@item.GradeName</label>

                                    if (!item.Equals(last))
                                    {
                                        <span class="pipe"></span>
                                    }
                                }
                                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                            </div>*@
                            <div class="form-group col-md-4">
                                <label>Hours you will be available on Rudraa for Teaching</label>
                                @Html.DropDownListFor(model => model.AvailableHours, Model.sListofavailableTimes, "Select Hours", new { @class = "form-control dropdownlist" })
                                @Html.ValidationMessageFor(model => model.AvailableHours, "", new { @class = "text-danger" })
                            </div>
           
                            <div class="form-group col-md-12">
                                <label>Available Timings on Rudraa for Teaching</label><br>
                                @foreach (var item in Model.ListofavailableTimes)
                                {
                                    @*<div class="col-lg-4 col-md-8 col-sm-12">*@
                                      var last = Model.ListofavailableTimes.Last();
                                        <input type="checkbox" id="t1_@item.TimingId" name="Time" value="@item.TimingId" class="D-checkbox" /><label for="t1_@item.TimingId" class="D-label">@item.FromTime - @item.ToTime</label>
                                    if (!item.Equals(last))
                                    {
                                        <span class="pipe"></span>
                                    }
                                         @*</div>*@
                                }
                                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <hr class="blk" />
                            </div>
                            <div class="form-group col-md-4 parentclass">
                                <label>Do you have Internet speed more than 1 mbps</label>
                                @Html.DropDownListFor(model => model.InternetSpeed, Model.sListofInternetConnection, "Select Internet Speed", new { @class = "form-control dropdownlist" })
                                @Html.ValidationMessageFor(model => model.InternetSpeed, "", new { @class = "text-danger" })

                            </div>
                            @*<div class="form-group col-md-4">
                <label>How did u hear about Rudraa</label>
            </div>
            <div class="form-group col-md-4">
                <label><strong>Resume</strong></label>
            </div>
                            *@
                            <div class="form-group col-md-4">
                                
                                <label>Do you have Digital pen and Tablet</label>
                                @Html.DropDownListFor(model => model.DigitalPen, Model.sListofDigitalPen, "Select", new { @class = "form-control dropdownlist" })
                                @Html.ValidationMessageFor(model => model.DigitalPen, "", new { @class = "text-danger" })

                            </div>

                        <div class="form-group col-md-4">
                            <label>How you heard about Rudra</label>
                            @Html.EditorFor(model => model.HeardAboutRudra, new { htmlAttributes = new { @class = "form-control", @placeholder = "e.g. Internet" } })
                             @Html.ValidationMessageFor(model => model.HeardAboutRudra, "", new { @class = "text-danger" })

                        </div>

                            <div class="form-group col-md-4">
                                <label>Upload your Resume</label><br>
                                <span class="btn btn-success btn-block btn-file">
                                    Browse <input id="imgUpload" type="file" name="FileBase" data-val="true" data-val-required="Resume is required">
                                </span>
                                @Html.ValidationMessage("FileBase", "", new { @class = "text-danger" })
                                <div id="validatormsg" class="text-danger">

                                </div>
                            </div>
</div>
                    <div class="col-md-12">
                        <hr class="blk" />
                    </div>
                    <div class="col-md-12 nopadding SwpipeLogin">
                        <div class="col-md-4 col-md-offset-4">
                            <input type="submit" class="btn btn-block btn-primary" style="color: #fff; margin-top: 40px" value="Submit and Apply" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Specify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Specify your Subject if it is not showing in the List</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 MainReview">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Subjects</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="e.g : NTSE, PSA" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn mybtn" data-dismiss="modal"> Done </button>
            </div>
        </div>
    </div>
</div>

<script>

    //$(function () {

    //    onloadpageMessage();

    //});

</script>
<script type="text/javascript">

    //$(document).ready(function () {
    //    var selectedCountry = $("#CountryID").val();
    //    if (selectedCountry != null && selectedCountry != '')
    //    {
    //        CityList();
    //    }
    //    else
    //    {

    //    }
    //});

    function resetForm() {
        setTimeout(function () {
            $('#TeacherForm')[0].reset();
        }, 5000);       
    }

   function CityList()
    {
        var selectedCountry = $("#CountryID").val();

        if (selectedCountry != null && selectedCountry != '') {

            @*$.getJSON('@Url.Action("CitiesList", "Account",new { area=" "})', { id: selectedCountry }, function (cities) {

                var citySelect = $('#CityID');
                var txtstring = $('#CityID option:first-child').text();
                citySelect.empty();
                citySelect.append('<option value="">' + txtstring + '</option>');
                $.each(cities, function (index, cities) {
                    citySelect.append($('<option/>', {
                        value: cities.value,
                        text: cities.text
                    }));
                });
            });*@

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CitiesList", "Account")',
                dataType: 'json',
                data: { id: selectedCountry },
                success: function (cities) {
                
                    var citySelect = $('#CityID');
                    var txtstring = $('#CityID option:first-child').text();
                    citySelect.empty();
                    citySelect.append('<option value="">' + txtstring + '</option>');
                           $.each(cities, function (i, val) {                            
                                $("#CityID").append('<option value="' + val.value + '">' + val.text + '</option>');
                            });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });

        }
        else
        {
            var citySelect = $('#CityID');
            var txtstring = $('#CityID option:first-child').text();
            citySelect.empty();
            citySelect.append('<option value="">' + txtstring + '</option>');
        }
    }

    @*function SelectSubjects()
    {
        var selectedCountry = $("#CurriculumId").val();
        alert(selectedCountry);
        if (selectedCountry != null && selectedCountry != '') {
            $('#PrimarySubjectID').attr("disabled", false);
            $('#SecondarySubjectID').attr("disabled", false);
            $.getJSON('@Url.Action("SubjectsList","Account",new { area=" "})', { id: selectedCountry }, function (cities) {
                var citySelect = $('#PrimarySubjectID');
                var citySelect1 = $('#SecondarySubjectID');
                var txtstring = $('#CityID option:first-child').text();
                citySelect.empty();
                citySelect.append('<option value="">' + txtstring + '</option>');
                var txtstring1 = $('#CityID option:first-child').text();
                citySelect1.empty();
                citySelect1.append('<option value="">' + txtstring1 + '</option>');
                $.each(cities, function (index, cities) {
                    citySelect.append($('<option/>', {
                        value: cities.value,
                        text: cities.text
                    }));
                    citySelect1.append($('<option/>', {
                        value: cities.value,
                        text: cities.text
                    }));
                });
            });
        }
        else {
            $('#PrimarySubjectID').attr('disabled',true);
            $('#SecondarySubjectID').attr('disabled',true);
        }
    }*@


    function ListOfGrades()
    {
        var CurriculumID = $("#CurriculumId").val();
        
        if (CurriculumID != null && CurriculumID != '')
        {
           
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GradesList", "Account")',
                dataType: 'json',
                data: { id: CurriculumID },
                success: function (cities) {

                    var gradesSelect = $('#GradeID');
                    gradesSelect.attr("disabled", false);
                    var txtstring = $('#GradeID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.value + '">' + val.text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#GradeID").attr('disabled', true);
            $('#PrimarySubjectID').attr('disabled', true);
            $('#SecondarySubjectID').attr('disabled', true);
           
      }
    }
    function ListOfSubjects()
    {
        var GradeID = $("#GradeID").val();
        if (GradeID != null && GradeID != '')
        {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SubjectsList", "Account")',
                dataType: 'json',
                data: { id: GradeID },
                success: function (cities) {

                    var primarySelect = $('#PrimarySubjectID');
                    primarySelect.attr("disabled", false);
                    var txtstring = $('#PrimarySubjectID option:first-child').text();
                    primarySelect.empty();
                    primarySelect.append('<option value="">' + txtstring + '</option>');

                    var secondarySelect = $('#SecondarySubjectID');
                    secondarySelect.attr("disabled", false);
                    var txtstring = $('#SecondarySubjectID option:first-child').text();
                    secondarySelect.empty();
                    secondarySelect.append('<option value="">' + txtstring + '</option>');

                    $.each(cities, function (i, val) {
                        primarySelect.append('<option value="' + val.value + '">' + val.text + '</option>');
                    });

                    $.each(cities, function (i, val) {
                        secondarySelect.append('<option value="' + val.value + '">' + val.text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
          

        }
        else {
            $('#PrimarySubjectID').attr('disabled', true);
            $('#SecondarySubjectID').attr('disabled', true);
        }
    }


    document.getElementById('imgUpload').onchange = function (chk) {
        $("#validatormsg").empty();
        var val = $(this).val();
        var input = this;
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'pdf': case 'docx': case 'doc':
                var fileSize = input.files[0].size //size in kb
                fileSize = fileSize / 1048576;
                if (fileSize > 3)
                {
                    $(this).val('');
                    $("#validatormsg").empty();    
                    $("#validatormsg").html("Please select less than 3MB file");
                }
                else
                 {
                  
                    $("#validatormsg").empty();
                    var names = input.files[0].name
                    $("#validatormsg").html(names + " :  selected");
                   
                }
                break;
            default:
                $(this).val('');
                $("#validatormsg").empty();
                $("#validatormsg").html("Only PDF,DOC and DOCX formats Allowed");
                break;

        }
    }

</script>