﻿@model DAL.Entities.CommisionTable

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>CommisionTable</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Teacher
            </dt>

            <dd>
                @ViewBag.TeacherName
            </dd>

            <dt>
                Commision Percentage
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CommisionPercentage)
            </dd>

            <dt>
                Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
