﻿@model DAL.Entities.CommisionTable

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Commision</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Teacher
            </dt>
    
            <dd>
                @ViewBag.TeacherName
            </dd>
    
            <dt>
                Commision Percentage
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommisionPercentage)
            </dd>
    
            <dt>
                Status
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CommisionID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
