﻿@model IEnumerable<DAL.Entities.CommisionTable>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Teacher
            </th>
            <th>
                Commision Percentage
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ 
                        Tutoring.Areas.Admin.CommisionTablesController obj = new Tutoring.Areas.Admin.CommisionTablesController();
                        @obj.FindTeacherName(item.TeacherId.ToString())
                      }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommisionPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CommisionID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CommisionID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CommisionID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
