﻿body {
}

  
        #container {
            position: relative;
            overflow: auto;
            scrollbar-base-color: #ffeaff;
        }

        #whiteBoard {
            border: 1px dashed #CCCCCC;
            margin: 9px;
            border-style: dotted;
            border-width: 1px;
            background-color: #FFFFFF;
            vertical-align: top;
        }

        #whiteBoards {
            border: 1px dashed #CCCCCC;
            margin: 5px;
            border-style: dotted;
            border-width: 1px;
            background-color: #FFFFFF;
            vertical-align: top;
        }

        #imageTemp {
            position: absolute;
            top: 1px;
            left: 1px;
            margin: 9px;
        }

        #imageTempt {
            position: absolute;
            top: 1px;
            left: 1px;
            margin: 5px;
        }

        .ui-widget-overlay {
            opacity: .70;
            filter: Alpha(Opacity=70);
        }

        /*        // New CSS   */

        .WebCam_Btn {
            float: left;
            font-size: 16px;
            color: #FFF;
            background-color: #ff6600;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background-color: #ff6600 !important;
                cursor: inherit;
                display: block;
            }

        .btn-default {
            /*width: 100%;*/
             background-color: #fff !important;
             border:1px solid #ccc !important;
            border: none;
            color: #333;
        }

        .chat-bx {
            padding-top: 0px !important;
        }
          #localVideo, #local-video {
                            background-color: #555555;
                            height: auto !important;
                            left: 0;
                            margin: 0px !important;
                            position: relative;
                            top: 0;
                            width: 100% !important;
                            z-index: 1;
                            transform: scale(-1,1);
                            -webkit-transform: scale(-1,1);
                            -moz-transform: scale(-1,1);
                        }