body {
    overflow-x:hidden;
}
 .main-container {
            width: 960px;
        }
body {
    overflow-x:hidden;
}
 .main-container {
            width: 960px;
        }

        .convas-container {
            width: 100%;
            float: left;
        }

        .conv-menu {
            width: 8%;
            float: left;
        }

            .conv-menu ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

                .conv-menu ul li {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                    .conv-menu ul li .main-btn {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #CCC;
                        border-radius: 50%;
                    }

        .move-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -24px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
            cursor:pointer;
        }

            .move-icon:hover {
                background-position: -24px -53px;
            }
             .move-icon:active {
                background-position: -24px -53px;
            }
        .pencil-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -70px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .pencil-icon:hover {
                background-position: -70px -53px;
            }
              .pencil-icon:active {
                background-position: -70px -53px;
            }
              .pencil-active{
                  background-position: -70px -53px;
              }

        .erasor-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -116px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .erasor-icon:hover {
                background-position: -116px -53px;
            }
               .erasor-icon:active{
                background-position: -116px -53px;
            }
             .erasor-active{
                  background-position: -116px -53px;
             }
        .shape-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -164px -19px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .shape-icon:hover {
                background-position: -164px -55px;
            }
             .shape-icon:active {
                background-position: -164px -55px;
            }
             .shape-active{
                  background-position: -164px -55px;
             }

        .grid-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -224px -183px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .grid-icon:hover {
                background-position: -24px -53px;
            }
            
              .grid-active{
                   background-position: -24px -53px;
              }

        .grid-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -224px -183px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .grid-icon:hover {
                background-position: -265px -183px;
            }
             .grid-icon:active {
                background-position: -265px -183px;
            }

        .text-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -210px -16px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .text-icon:hover {
                background-position: -210px -51px;
            }
            .text-icon:active {
                background-position: -210px -51px;
            }
             .text-active {
                background-position: -210px -51px;
            }

        .image-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -255px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .image-icon:hover {
                background-position: -255px -53px;
            }
             .image-active {
                background-position: -255px -53px;
            }
        .download-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -149px -184px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .download-icon:hover {
                background-position: -189px -184px;
            }

            .download-active {
                background-position: -189px -184px;
            }


        .conv-body {
            width: 73.7%;
            height: 500px;
            float: left;
            position: relative;
            z-index: 1;
            background-color: #FFF;
            box-shadow: 0px 0px 2px 2px #DDD;
            border: 1px solid #CCCCCC;
            
        }

        .main-bar {
            position: absolute;
            top: 0px;
            width: 764px !important;
            z-index: 3 !important;
            margin-top: 10px;
        }

        .page-text {
            width: 33%;
            float: left;
            top: 1px;
            left: 12px;
            background-color: rgba(255,255,255,0.2);
            padding: 8px 0;
            padding-left: 20px;
        }

            .page-text .span-one {
                font-size: 16px;
                line-height: 16px;
                top: -2px;
                display: inline-block;
                position: relative;
            }

            .page-text .span-two {
                font-size: 21px;
                line-height: 21px;
                top: -2px;
                display: inline-block;
                position: relative;
            }

        .size-bar {
            width: 33%;
            float: left;
            border: 1px solid #E1E1E1;
            background-color: #F8F8F8;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            opacity: 1;
            transition: opacity,top 320ms ease-in-out;
            -webkit-transition: opacity,top 320ms ease-in-out;
            -moz-transition: opacity,top 320ms ease-in-out;
        }

            .size-bar ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

                .size-bar ul li {
                    width: 35px;
                    height: 35px;
                    line-height: 30px;
                    float: left;
                    border-right: 1px solid #CCC;
                    text-align: center;
                    cursor: pointer;
                }

                    .size-bar ul li:hover {
                        background-color: #FFF;
                    }

        .circle-1 {
            width: 6px;
            height: 6px;
            display: inline-block;
            background-color: #000;
            margin-top: 14px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        .circle-2 {
            width: 8px;
            height: 8px;
            display: inline-block;
            background-color: rgb(204, 204, 204);
            margin-top: 13px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        .circle-3 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: rgb(204, 204, 204);
            margin-top: 12px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        .clr-box-1 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #000000;
            margin-top: 12px;
        }

        .clr-box-2 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #fb0000;
            margin-top: 12px;
        }

        .clr-box-3 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #007ee8;
            margin-top: 12px;
        }

        .clr-box-4 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #2dc100;
            margin-top: 12px;
        }

        .shape-drop {
            width: 50px;
            background-color: #f2f2f2;
            position: absolute;
            margin-top: -50px;
            z-index: 999;
            margin-left: 80px;
            border-radius: 5px;
            border: 1px solid #E1E1E1 !important;
        }

        .li-1 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -149px -111px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .li-2 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -190px -111px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .li-3 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -313px -109px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-drop {
            width: 50px;
            background-color: #f2f2f2;
            position: absolute;
            margin-top: -50px;
            z-index: 999;
            margin-left: 80px;
            border-radius: 5px;
            border: 1px solid #E1E1E1 !important;
        }

        .grid-1 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -313px -219px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-2 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -230px -219px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-3 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -313px -184px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-4 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -148px -219px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .undo-redo-dv {
            width: 15%;
            float: right;
        }

            .undo-redo-dv ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

        .undo {
            width: 35px;
            height: 35px;
            float: left;
            background-image: url(../imgs/undo.png);
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }

            .undo:hover {
                background-image: url(../imgs/undo_hover.png);
            }

        .redo {
            width: 35px;
            height: 35px;
            float: left;
            background-image: url(../imgs/redo.png);
            background-repeat: no-repeat;
            background-position: center center;
               cursor:pointer;
        }

            .redo:hover {
                background-image: url(../imgs/redo_hover.png);
            }

        .remove {
            width: 35px;
            height: 35px;
            float: left;
            background-image: url(../imgs/remove.png);
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }

            .remove:hover {
                background-image: url(../imgs/remove_hover.png);
            }

        /*canvas {
            width: 100%;
            float: left;
        }*/
          #container {
         position: relative;
         overflow: auto;
         scrollbar-base-color: #ffeaff;
     }

    #whiteBoard {
        border: 1px dashed #CCCCCC;
        margin: 9px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: top;
    }
     #whiteBoards {
        border: 1px dashed #CCCCCC;
        margin: 5px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: top;
    }
    #imageTemp {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 9px;
    }

    #imageTempt {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
    }

    .ui-widget-overlay {
        opacity: .70;
        filter: Alpha(Opacity=70);
    }

     
        .convas-container {
            width: 100%;
            float: left;
        }

        .conv-menu {
            width: 8%;
            float: left;
        }

            .conv-menu ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

                .conv-menu ul li {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                    .conv-menu ul li .main-btn {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #CCC;
                        border-radius: 50%;
                    }

        .move-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -24px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
            cursor:pointer;
        }

            .move-icon:hover {
                background-position: -24px -53px;
            }
             .move-icon:active {
                background-position: -24px -53px;
            }
        .pencil-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -70px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .pencil-icon:hover {
                background-position: -70px -53px;
            }
              .pencil-icon:active {
                background-position: -70px -53px;
            }
              .pencil-active{
                  background-position: -70px -53px;
              }

        .erasor-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -116px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .erasor-icon:hover {
                background-position: -116px -53px;
            }
               .erasor-icon:active{
                background-position: -116px -53px;
            }
             .erasor-active{
                  background-position: -116px -53px;
             }
        .shape-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -164px -19px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .shape-icon:hover {
                background-position: -164px -55px;
            }
             .shape-icon:active {
                background-position: -164px -55px;
            }
             .shape-active{
                  background-position: -164px -55px;
             }

        .grid-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -224px -183px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .grid-icon:hover {
                background-position: -24px -53px;
            }
            
              .grid-active{
                   background-position: -24px -53px;
              }

        .grid-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -224px -183px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .grid-icon:hover {
                background-position: -265px -183px;
            }
             .grid-icon:active {
                background-position: -265px -183px;
            }

        .text-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -210px -16px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .text-icon:hover {
                background-position: -210px -51px;
            }
            .text-icon:active {
                background-position: -210px -51px;
            }
             .text-active {
                background-position: -210px -51px;
            }

        .image-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -255px -18px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .image-icon:hover {
                background-position: -255px -53px;
            }
             .image-active {
                background-position: -255px -53px;
            }
        .download-icon {
            width: 26px;
            height: 26px;
            margin: 15px;
            background-position: -149px -184px;
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            margin-left: 13px;
            margin-top: 10px;
             cursor:pointer;
        }

            .download-icon:hover {
                background-position: -189px -184px;
            }

            .download-active {
                background-position: -189px -184px;
            }


        .conv-body {
            width: 73.7%;
            height: 500px;
            float: left;
/*            position: relative;*/
/*            z-index: 1;*/
            background-color: #FFF;
            box-shadow: 0px 0px 2px 2px #DDD;
            border: 1px solid #CCCCCC;
            
        }

        .main-bar {
            position: absolute;
            top: 0px;
            width: 764px !important;
/*            z-index: 3 !important;*/
            margin-top: 10px;
        }

        .page-text {
            width: 33%;
            float: left;
            top: 1px;
            left: 12px;
            background-color: rgba(255,255,255,0.2);
            padding: 8px 0;
            padding-left: 20px;
        }

            .page-text .span-one {
                font-size: 16px;
                line-height: 16px;
                top: -2px;
                display: inline-block;
                position: relative;
            }

            .page-text .span-two {
                font-size: 21px;
                line-height: 21px;
                top: -2px;
                display: inline-block;
                position: relative;
            }

        .size-bar {
            width: 33%;
            float: left;
            border: 1px solid #E1E1E1;
            background-color: #F8F8F8;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            opacity: 1;
            transition: opacity,top 320ms ease-in-out;
            -webkit-transition: opacity,top 320ms ease-in-out;
            -moz-transition: opacity,top 320ms ease-in-out;
        }

            .size-bar ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

                .size-bar ul li {
                    width: 35px;
                    height: 35px;
                    line-height: 30px;
                    float: left;
                    border-right: 1px solid #CCC;
                    text-align: center;
                    cursor: pointer;
                }

                    .size-bar ul li:hover {
                        background-color: #FFF;
                    }

        .circle-1 {
            width: 6px;
            height: 6px;
            display: inline-block;
            background-color: #000;
            margin-top: 14px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        .circle-2 {
            width: 8px;
            height: 8px;
            display: inline-block;
            background-color: rgb(204, 204, 204);
            margin-top: 13px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        .circle-3 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: rgb(204, 204, 204);
            margin-top: 12px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        .clr-box-1 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #000000;
            margin-top: 12px;
        }

        .clr-box-2 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #fb0000;
            margin-top: 12px;
        }

        .clr-box-3 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #007ee8;
            margin-top: 12px;
        }

        .clr-box-4 {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: #2dc100;
            margin-top: 12px;
        }

        .shape-drop {
            width: 50px;
            background-color: #f2f2f2;
/*            position: absolute;*/
            margin-top: -50px;
/*            z-index: 999;*/
            margin-left: 80px;
            border-radius: 5px;
            border: 1px solid #E1E1E1 !important;
        }

        .li-1 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -149px -111px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .li-2 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -190px -111px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .li-3 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -313px -109px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-drop {
            width: 50px;
            background-color: #f2f2f2;
/*            position: absolute;*/
            margin-top: -50px;
/*            z-index: 999;*/
            margin-left: 80px;
            border-radius: 5px;
            border: 1px solid #E1E1E1 !important;
        }

        .grid-1 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -313px -219px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-2 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -230px -219px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-3 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -313px -184px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .grid-4 {
            background-image: url(../imgs/sprite.png);
            background-repeat: no-repeat;
            display: inline-block;
            font-size: 1px;
            background-position: -148px -219px;
            width: 25px;
            height: 25px;
            margin: 14px;
            margin-top: 0px;
             cursor:pointer;
        }

        .undo-redo-dv {
            width: 15%;
            float: right;
        }

            .undo-redo-dv ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

        .undo {
            width: 35px;
            height: 35px;
            float: left;
            background-image: url(../imgs/undo.png);
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }

            .undo:hover {
                background-image: url(../imgs/undo_hover.png);
            }

        .redo {
            width: 35px;
            height: 35px;
            float: left;
            background-image: url(../imgs/redo.png);
            background-repeat: no-repeat;
            background-position: center center;
               cursor:pointer;
        }

            .redo:hover {
                background-image: url(../imgs/redo_hover.png);
            }

        .remove {
            width: 35px;
            height: 35px;
            float: left;
            background-image: url(../imgs/remove.png);
            background-repeat: no-repeat;
            background-position: center center;
            cursor:pointer;
        }

            .remove:hover {
                background-image: url(../imgs/remove_hover.png);
            }

        /*canvas {
            width: 100%;
            float: left;
        }*/
          #container {
         position: relative;
         overflow: auto;
         scrollbar-base-color: #ffeaff;
     }

    #whiteBoard {
        border: 1px dashed #CCCCCC;
        margin: 9px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: top;
    }
     #whiteBoards {
        border: 1px dashed #CCCCCC;
        margin: 5px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: top;
    }
    #imageTemp {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 9px;
    }

    #imageTempt {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
       
    }

    .ui-widget-overlay {
        opacity: .70;
        filter: Alpha(Opacity=70);
    }

     