.person-name-bar
{
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ff6600;
}
.person-name
{
	width: 100%;
	float: left;
	text-align: left;
	color: #FFF;
	font-size: 14px;
	padding-left: 15px;
}
.activity-user
{
	width: 100%;
	float: left;
	text-align: left;
	color: #FFF;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 1px;
}
.person-vdeo-dv
{
	width: 100%;
	float: left;
}
.person-vdeo-dv img
{
	width: 100%;
}
.reject-btn
{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #ec3333;
	padding-top: 10px;
	padding-bottom: 10px;
}
.reject-btn:hover
{
	background-color: #d92b2b;
}
.reject-btn i
{
	font-size: 16px;
	color: #FFF;
}
.chat-bx
{
	width: 100%;
	float: left;
	background-color: #676767;
	text-align: center;
	font-size: 20px;
	height: 290px;
	padding-top: 10px;
	color: #FFF;
}

/*White Board Csss Override*/
#canvasColorAndSizeHolder {
    position: relative;
    display: inline-block;
    height: 42px;
    border: 1px solid #E1E1E1;
    background-color: #F8F8F8;
    opacity: 1;
    transition: opacity,top 320ms ease-in-out;
    -webkit-transition: opacity,top 320ms ease-in-out;
    -moz-transition: opacity,top 320ms ease-in-out;
    top: 0px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    margin-top: 15px;

}
.canvasIconHolder {
    cursor: pointer;
    width: 59px !important;
    height: 59px !important;
    border: 1px solid #E1E1E1;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}
.canvasIconHolder:hover
{

}

/*#boardLeftToolBar {
    width: 100% !important;
    float: left;
    position: relative;
    max-height: none !important;
    min-height: 74px !important;
    float: left;
    z-index: 2;
    margin-top: 20px;
}*/

/*#boardHolder {
    width: 902px;
    height: 498px !important;
    float: left;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 2px 2px #DDD;
    border: 1px solid #CCCCCC;
}*/

#boardTopToolBar {
    position: absolute;
    width: 904px;
    z-index: 3;
}
#undoRedoHolder .canvasIconHolder
{
	border-radius: 0px !important;
	border: none !important;
}

#boardHolder
{
	width: 90% !important;
	margin-left: 2%;
}
.whiteboardSection
{
	width: 100% !important;
}
#mainBoard 
{
	width: 100% !important;
}
#boardTopToolBar {
    position: absolute;
    top: 0px;
    left: 96px !important;
    width: 764px !important;
    z-index: 3 !important;
    margin-top: 10px
}
#boardPagesIcons {
    margin-left: 73px !important;
    position: relative;
}
#wb-curr-page-holder
{
	top: 15px !important;
}
#undoRedoHolder
{
	top: 10px !important;
}


.shape-drop {
    width: 50px;
    background-color: #f2f2f2;
    position: absolute;
    margin-top: -50px;
    margin-left: 80px;
    border-radius: 5px;
    border: 1px solid #E1E1E1 !important;
}.shape-drop ul
{
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
}
.shape-drop ul li:hover
{
}
.shape-drop ul .li-1
{
	background-image: url(../../Images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 1px;
        background-position: -149px -111px;
            width: 25px;
    height: 25px;
    margin: 14px;
    margin-top: 0px;
}

.shape-drop ul .li-2
{
	background-image: url(../../Images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 1px;
        background-position: -190px -111px;
            width: 25px;
    height: 25px;
    margin: 14px;
    margin-top: 0px;
}

/*.shape-drop ul .li-3
{
	background-image: url(../../Images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 1px;
    background-position: -231px -111px;
            width: 25px;
    height: 25px;
    margin: 14px;
    margin-top: 0px;
}*/

.shape-drop ul .li-4
{
	background-image: url(../../Images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 1px;
    background-position: -271px -111px;
            width: 25px;
    height: 25px;
    margin: 14px;
    margin-top: 0px;
}


@media screen and (max-width: 780px)
{
	#boardTopToolBar
	{
		display: none !important;
	}
}
