﻿@model Tutoring.Models.TeacherTestModel


<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 AddTest">
                <div class="col-md-12 ATtitle">
                    <h3>Add New Test</h3>
                </div>
                @using (Html.BeginForm("AddNewTest", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="col-md-12 ATField">
                        <div class="col-md-12 nopadding">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Test Name</label>
                                    @Html.TextBoxFor(M => M.Test.TestName, new { @class = "MyInput", @placeholder = "Enter Test Name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Curriculum</label>
                                    @Html.DropDownList("Curriculum", Model.Curriculums, "Select Curriculum", new { @class = "MyInput",@id="ddcrriculm" , @onchange = "LoadGrades()" })
                                    @*<select class="MyInput">
                                            <option>Select Unit</option>
                                            <option>All Unit</option>
                                            <option>Unit 1</option>
                                            <option>Unit 2</option>
                                        </select>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Grade</label>
                                    @Html.DropDownListFor(M => M.Test.FKGradeID, Model.Grades, "Select Grade", new { @class = "MyInput", @disabled = "disabled" , @id = "ddgrade", @onchange = "LoadSubjects()" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Subject</label>
                                    @Html.DropDownListFor(M => M.Test.FKSubjectID, Model.Subjects, "Select Subject", new { @class = "MyInput", @disabled = "disabled", @id = "ddsubject" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Total Marks</label>
                                    @Html.TextBoxFor(M => M.Test.TotalScores, new { @class = "MyInput", @placeholder = "i.e : 100", @type = "number" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Passing Marks</label>
                                    @Html.TextBoxFor(M => M.Test.PassingMarks, new { @class = "MyInput", @placeholder = "i.e : 35", @type = "number" })
                                    @*@Html.TextBoxFor(X => X.TotalScores, new { @class = "MyInput", @placeholder = "i.e : 100" })*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Test Duration in Mins</label>
                                    @Html.TextBoxFor(M => M.Test.TestDuration, new { @class = "MyInput", @placeholder = "i.e : 45 mins" , @type = "number" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Total Questions</label>
                                    @*<input type="text" class="MyInput" placeholder="i.e : 15" />*@
                                    @Html.TextBoxFor(M => M.Test.TotalQuestions, new { @class = "MyInput", @placeholder = "i.e : 15" , @type = "number" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Questions are skippable</label>
                                    @Html.DropDownListFor(M => M.Test.ISSkipable, Model.Skipable, "Select One", new { @class = "MyInput" })
                                    @*<select class="MyInput">
                                        <option>Select one</option>
                                        <option value="1">Yes</option>
                                        <option value="2">No</option>
                                    </select>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Test Level</label>
                                    @Html.DropDownListFor(M => M.Test.TestLevel, Model.TestLevel, "Select Level", new { @class = "MyInput" })
                                    @*<select class="MyInput">
                                            <option>Select one</option>
                                            <option>Easy</option>
                                            <option>Medium</option>
                                            <option>Tough</option>
                                        </select>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remark for Teacher</label>
                                    @Html.TextAreaFor(M => M.Test.RemarksTeacher, new { @class = "MyInput", @placeholder = "if any.." })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Remark for Students</label>
                                    @Html.TextAreaFor(M => M.Test.RemarksStudent, new { @class = "MyInput", @placeholder = "if any.." })
                                    @*<textarea class="MyInput" rows="10" placeholder="if any.."></textarea>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="col-md-3 col-md-offset-1">
                                <input type="submit" class="btn btn-block btn-success" name="Command" value="SAVE" />
                                @*<a href="TestListing.html" class="btn btn-block btn-success">SAVE</a>*@
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-block btn-success" name="Command" value="SAVE AND ADD QUESTIONS" />
                                @*<a href="TestQuestionAdd.html" class="btn btn-block btn-primary">SAVE AND ADD QUESTIONS</a>*@
                            </div>
                            <div class="col-md-3">
                                <a href="@Url.Action("Test", "Test", new { area = "teacher" })" class="btn btn-block btn-danger">CANCEL</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function LoadGrades() {
        debugger;
        var CurriculumID = $("#ddcrriculm").val();

        if (CurriculumID != null && CurriculumID != '')
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GradesList", "Test")',
                dataType: 'json',
                data: { CurriculumID: CurriculumID },
                success: function (cities) {
                    debugger;
                    var gradesSelect = $('#ddgrade');
                    $("#ddgrade").attr("disabled", false);
                    $("#ddsubject").attr('disabled', true);

                    var txtstring = $('#ddgrade option:first-child').text();
                    $("#ddgrade").empty();
                    $("#ddgrade").append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        $("#ddgrade").append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#FKGradeID").attr('disabled', true);
            $("#ddsubject").attr('disabled', true);
        }

    }

    function LoadSubjects() {
        debugger;
        var CurriculumID = $("#ddcrriculm").val();
        var GradeId = $("#ddgrade").val();

        if (CurriculumID != null && CurriculumID != '' || GradeId != null && GradeId != '')
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadSubjects", "Test")',
                dataType: 'json',
                data: { GradeId: GradeId, CurriculumID: CurriculumID},
                success: function (subjects) {
                    debugger;
                    var gradesSelect = $('#ddsubject');
                    $("#ddsubject").attr("disabled", false);
                   

                    var txtstring = $('#ddsubject option:first-child').text();
                    $("#ddsubject").empty();
                    $("#ddsubject").append('<option value="">' + txtstring + '</option>');
                    $.each(subjects, function (i, val) {
                        $("#ddsubject").append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#ddsubject").attr('disabled', true);
            $("#ddgrade").attr('disabled', true);
        }

    }

</script>
    