﻿@model BLL.BusinessModels.TeacherModels.TeacherViewTestModel


<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-7">
                    <h2><span>Test Name :</span>@Model.TestDetails.TestName</h2>
                    <h2><span>Grade / Subject :</span>@Model.TestDetails.GradeName @Model.TestDetails.SubjectName</h2>
                    <input type="hidden" value="@Model.TestDetails.TestID" id="hdntestid" />
                    <input type="hidden" value="@Model.TestDetails.TestDuration" id="hdnTestduration" />
                </div>
                <div class="col-md-5 TQLefttop">
                    <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">READ REMARKS</a>
                    <a href="/Teacher/Test/EditTest/@Model.TestDetails.TestID" class="btn btn-sm btn-primary">Edit Test Details</a>
                    <a href="/Teacher/Test/DeleteTest/@Model.TestDetails.TestID" class="btn btn-sm btn-danger">Delete Test</a>
                </div>
                <div class="col-md-12 Metabox">
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                                @Model.TestDetails.TotalMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Passing Marks</span><br>
                                @Model.TestDetails.PassingMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                                @Model.TestDetails.TestDuration
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                                @Model.TestDetails.TotalQuestions
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Skippable</span><br>
                                @Model.TestDetails.Skipable
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Level</span><br>
                                @Model.TestDetails.TestLevel
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a href="/Teacher/Test/Test">Back to Test List</a>
                </div>
            </div>
            <div class="col-md-12 TQDetailsArea" style="margin-bottom: 10px">
                <div class="col-md-12 ATField">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Student</label>
                                <select class="MyInput" onchange="Abc()" id="studentlst">
                                    <option value="select">Select Student</option>
                                    <option value="All" >All Students</option>
                                    @{string allSudentsIds = "";} 
                                    @foreach (var item in Model.StudentList)
                                    {
                                        allSudentsIds+= item.FKUserID.ToString() + ",";
                                        <option value="@item.FKUserID">@item.FirstName @item.LastName @item.StateName (@item.FKUserID)</option>
                                    }
                                </select>
                            </div>
                           <p id="allstuids" style="display:none">@allSudentsIds</p>
                            <div id="studentDiv"></div>
                        </div>
                        <div class="col-md-6 nopadding">
                            <div class="form-group col-sm-6">
                                <label>Select Date</label>
                                <input type="date" class="MyInput" id="startdate" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Select Time</label>
                                <input type="time" class="MyInput" id="starttime" />
                            </div>
                        </div>
                        <div class="col-md-12 nopadding mt50">
                            <div class="col-md-3 col-md-offset-3">
                                <a href="#" onclick="AsignTest(@Model.TestDetails.TestID)" class="btn btn-block btn-success MyBBtn">ASSIGN</a>
                            </div>
                            <div class="col-md-3">
                                <a href="/Teacher/Test/Test" class="btn btn-block btn-danger MyBBtn">CANCEL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Test Remarks</h4>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Remarks for Teacher</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Remarks for Students</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="TabRemarks">
                                <p>
                                    @Model.TestDetails.RemarksStudent
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="TabRemarks">
                                <p>
                                    @Model.TestDetails.RemarksTeacher
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var students = "";
    function Abc() {
        var text = $('#studentlst').find("option:selected").text();
        var value = $('#studentlst').val();
        if (value != "select" && value != "All") {
            if (!$('#' + value).length) {
                $("#0").remove();
                $('#studentDiv').append("<a href='#' class='btn btn-default' id=" + value + " style='margin-bottom:3px' onclick='Remove("+value+")'>" + text + "<i class='glyphicon glyphicon-remove'></i></a>");
                students += value + ",";
            }
        }
        if (value == "All") {
            students = $('#allstuids').html();
            $('#studentDiv').html('');
            $('#studentDiv').append("<a href='#' class='btn btn-default' id='0' onclick='Remove(0)'>" + text + "<i class='glyphicon glyphicon-remove'></i></a>");
        }

    }

    function Remove(studeid) {
        if (studeid == 0) {
            students = "";
        } else {
            var array = students.split(",");
            students = "";
            $.each(array, function (i) {
                
                if (array[i] != studeid) {
                    students += array[i] + ",";
                }
            });
            students=students.slice(0, -1)
        }
        $('#' + studeid).remove();
    }

    function AsignTest(id) {
        $.ajax({
            type: "POST",
            url: "/Test/AsignTestToStudents",
            data: {
                'TestId': $('#hdntestid').val(), 'StudentIds': students.slice(0, -1), 'StartDate': $('#startdate').val(), 'Time': $('#starttime').val(), 'TestDuration': $('#hdnTestduration').val() },
            //success: function (dataString) {
            //    alert();
            //}
        });  
    }

</script>