﻿<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-7">
                    <h2><span>Test Name :</span>Assignment Operation Test</h2>
                    <h2><span>Grade / Subject :</span>CBSC 10th Maths</h2>
                </div>
                <div class="col-md-5 TQLefttop">
                    <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">READ REMARKS</a>
                    <a href="TestAssign.html" class="btn btn-sm btn-primary">Assign This Test</a>
                </div>
                <div class="col-md-12 Metabox">
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                                100
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Passing Marks</span><br>
                                35
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                                45 mins
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                                15
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Skippable</span><br>
                                Yes
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Level</span><br>
                                Medium
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a href="TestAssign.html">Back to Test List</a>
                </div>
            </div>
            <div class="col-md-12 Testarea">
                <div class="col-md-12 TestTable">
                    <div class=" col-md-4 nopadding">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Student..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class=" col-md-8 alignright nopadding">
                        <a class="btn btn-md btn-default">Total : 42</a>
                        <a class="btn btn-md btn-success">Pass : 32</a>
                        <a class="btn btn-md btn-danger">Fail : 10</a>
                    </div>
                    <br><br><br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Student Name</th>
                                <th>Assigned on</th>
                                <th>Test Taken on</th>
                                <th>Duration</th>
                                <th>Makrs Obtained</th>
                                <th>Result</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12</td>
                                <td>Dhaval Khatri</td>
                                <td>12/12/2016 11:35 AM</td>
                                <td>15/12/2016 04:17 AM</td>
                                <td>37:45 mins</td>
                                <td>72</td>
                                <td class="greenTxt">Pass</td>
                                <td><a href="TestAnswerSheetbyStudent.html" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="View Answer sheet"><i class="glyphicon glyphicon-eye-open"></i></a><a href="TestAssign.html" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Dhaval Khatri</td>
                                <td>12/12/2016 11:35 AM</td>
                                <td>15/12/2016 04:17 AM</td>
                                <td>37:45 mins</td>
                                <td>32</td>
                                <td class="redTxt">Fail</td>
                                <td><a href="TestAnswerSheetbyStudent.html" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="View Answer sheet"><i class="glyphicon glyphicon-eye-open"></i></a><a href="TestAssign.html" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Dhaval Khatri</td>
                                <td>12/12/2016 11:35 AM</td>
                                <td>15/12/2016 04:17 AM</td>
                                <td>37:45 mins</td>
                                <td>72</td>
                                <td class="greenTxt">Pass</td>
                                <td><a href="TestAnswerSheetbyStudent.html" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="View Answer sheet"><i class="glyphicon glyphicon-eye-open"></i></a><a href="TestAssign.html" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a></td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>Dhaval Khatri</td>
                                <td>12/12/2016 11:35 AM</td>
                                <td>15/12/2016 04:17 AM</td>
                                <td>37:45 mins</td>
                                <td>32</td>
                                <td class="redTxt">Fail</td>
                                <td><a href="TestAnswerSheetbyStudent.html" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="View Answer sheet"><i class="glyphicon glyphicon-eye-open"></i></a><a href="TestAssign.html" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>