﻿
@using BLL.Helpers
@using BLL.BusinessManagers
<div class="White79">

    <div class="col-md-12 NewTopTitle">
        <div class="col-md-12">
            <h2>Tests</h2>
        </div>
    </div>
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 Testarea">
                <div class="col-md-12 TOpAction">
                    <div class=" col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtSearch" placeholder="Search Test..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="LoadTest()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class=" col-md-8">
                        <a href="@Url.Action("AddNewTest", "Test", new { area = "teacher" })" class="AddBtn">Test / Assignments</a>
                    </div>
                </div>
                <div class="col-md-12 TestTable">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Test Title</th>
                                <th>Grade/Subject</th>
                                <th>Added On</th>
                                <th>Last Modified On</th>
                                <th>Level</th>
                                @*<th>Assigned</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tstbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function LoadTest() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadTeachers", "Test")',
                dataType: 'json',
                data: {
                    TestName: $("#txtSearch").val()
                },
                success: function (result) {
                    var row = "";
                    var srno = 0;
                    var level;
                    $.each(result, function (key, value) {
                        var AsignedCOunt = GetAsignedCount(value.TestID);
                        
                        srno = srno + 1;
                        if (value.TestLevel == 1) {
                            level = 'Easy';
                        } else if (value.TestLevel == 2) {
                            level = 'Medium';
                        } else {
                            level = 'Hard';
                        }
                        row += '<tr> <td>' + srno + '</td><td>' + value.TestName + '</td>'
                            + '<td>' + value.GradeName + ' / ' + value.SubjectName + '</td><td>' + value.CreatedDate + '</td><td>' + value.ModifiedDate + '</td><td>' + level + '</td>'
                            + '<td><a href="/Teacher/Test/ViewTest/' + value.TestID + '" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="View / Add Questions"><i class="glyphicon glyphicon-eye-open"></i></a>'
                            + '<a href="/Teacher/Test/EditTest/' + value.TestID + '" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Edit">'
                            + '<i class="glyphicon glyphicon-pencil"></i></a><a href="/Teacher/Test/DeleteTest/' + value.TestID + '" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>'
                            + '<a href="/Teacher/Test/AsignTest/' + value.TestID + '" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Assign Test"><i class="glyphicon glyphicon-user"></i></a>'
                            + '<a href="/Teacher/Test/TestResults/' + value.TestID + '" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="View Results">'
                            + '<i class="glyphicon glyphicon-text-color"></i></a></td></tr>';
                    });
                    $('#tstbody').html('');
                    $('#tstbody').html(row);
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
    $(document).ready(function () {
        LoadTest();
    });
    function GetAsignedCount(Id) {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAsignedCount", "Test")',
                dataType: 'json',
                data: {
                    Id: Id
                },
                success: function (result) {
                    
                    return result;
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
    }
</script>