﻿@model BLL.BusinessModels.TeacherModels.TeacherViewTestModel

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-7">
                    <h2><span>Test Name :</span>@Model.TestDetails.TestName</h2>
                    <h2><span>Grade / Subject :</span>@Model.TestDetails.GradeName @Model.TestDetails.SubjectName</h2>
                    <input type="hidden" value="@Model.TestDetails.TestID" id="hdnTestIdResult"/>
                </div>
                <div class="col-md-5 TQLefttop">
                    <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">READ REMARKS</a>
                    <a href="/Teacher/Test/AsignTest/@Model.TestDetails.TestID" class="btn btn-sm btn-primary">Assign This Test</a>
                    
                </div>
                <div class="col-md-12 Metabox">
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                                @Model.TestDetails.TotalMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Passing Marks</span><br>
                                @Model.TestDetails.PassingMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                                @Model.TestDetails.TestDuration
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                                @Model.TestDetails.TotalQuestions
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Skippable</span><br>
                                @Model.TestDetails.Skipable
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Level</span><br>
                                @Model.TestDetails.TestLevel
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a href="/Teacher/Test/Test">Back to Test List</a>
                </div>
            </div>
            <div class="col-md-12 Testarea">
                <div class="col-md-12 TestTable">
                    <div class=" col-md-4 nopadding">
                        <div class="input-group">
                            <input type="text" id="txtstuname" class="form-control" placeholder="Search Student..." />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="GetTestResultsByName()"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class=" col-md-8 alignright nopadding">
                        <a class="btn btn-md btn-default" id="totalstudents">Total : 42</a>
                        <a class="btn btn-md btn-success" id="passstudents">Pass : 32</a>
                        <a class="btn btn-md btn-danger" id="failstudents">Fail : 10</a>
                    </div>
                    <br><br><br>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Student Name</th>
                                <th>Assigned on</th>
                                <th>Test Taken on</th>
                                <th>Duration</th>
                                <th>Makrs Obtained</th>
                                <th>Result</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbltestresults">
                            @*<tr>
                                <td>12</td>
                                <td>Dhaval Khatri</td>
                                <td>12/12/2016 11:35 AM</td>
                                <td>15/12/2016 04:17 AM</td>
                                <td>37:45 mins</td>
                                <td>72</td>
                                <td class="greenTxt">Pass</td>
                                <td><a href="TestAnswerSheetbyStudent.html" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="View Answer sheet"><i class="glyphicon glyphicon-eye-open"></i></a><a href="TestAssign.html" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a></td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Test Remarks</h4>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Remarks for Teacher</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Remarks for Students</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="TabRemarks">
                                <p>
                                    @Model.TestDetails.RemarksStudent
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="TabRemarks">
                                <p>
                                    @Model.TestDetails.RemarksTeacher
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  

<script type="text/javascript">
    function LoadTestResults() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadTestResults", "Test")',
                dataType: 'json',
                data: {
                    Id: $("#hdnTestIdResult").val()
                },
                success: function (result) {
                    var row = "";
                    debugger;
                    var srno = 0;
                    var rslt = '';
                    $('#totalstudents').html(result.PassCount + result.FailCount);
                    $('#passstudents').html(result.PassCount);
                    $('#failstudents').html(result.FailCount);
                    $.each(result.lstTestResultModel, function (key, value) {
                        if (value.Result == 1) {
                            rslt = 'Fail';
                        } else {
                            rslt = 'Pass';
                        }
                        srno = srno + 1;
                        row += '<tr>'
                            + '<td>' + srno+'</td>'
                            + '<td>' + value.StudentName + '</td>'
                            + '<td>' + value.TestAssignedOn + '</td>'
                            + '<td>' + value.TestTakenOn + '</td>'

                            + '<td>' + value.DurationHours + ':' + value.DurationMints+ ' mins</td>'
                            + '<td>' + value.TotalMarks + '</td>'
                            + '<td>' + rslt + '</td>'
                            + '<td><a href="/Teacher/Test/AsignTest/' + value.TestID + '" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a></td>'
                            +'</tr >';
                    });
                    $('#tbltestresults').html('');
                    $('#tbltestresults').html(row);
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
    }

    function GetTestResultsByName() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTestResultsByName", "Test")',
                dataType: 'json',
                data: {
                    Id: $("#hdnTestIdResult").val(),
                    StuName: $("#txtstuname").val()
                },
                success: function (result) {
                    var row = "";
                    debugger;
                    var srno = 0;
                    var rslt = '';
                    $('#totalstudents').html(result.PassCount + result.FailCount);
                    $('#passstudents').html(result.PassCount);
                    $('#failstudents').html(result.FailCount);
                    $.each(result.lstTestResultModel, function (key, value) {
                        if (value.Result == 1) {
                            rslt = 'Fail';
                        } else {
                            rslt = 'Pass';
                        }
                        srno = srno + 1;
                        row += '<tr>'
                            + '<td>' + srno+'</td>'
                            + '<td>' + value.StudentName + '</td>'
                            + '<td>' + value.TestAssignedOn + '</td>'
                            + '<td>' + value.TestTakenOn + '</td>'

                            + '<td>' + value.DurationHours + ':' + value.DurationMints+ ' mins</td>'
                            + '<td>' + value.TotalMarks + '</td>'
                            + '<td>' + rslt + '</td>'
                            + '<td><a href="TestAnswerSheetbyStudent.html" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="View Answer sheet"><i class="glyphicon glyphicon-eye-open"></i></a><a href="/Teacher/Test/AsignTest/' + value.TestID + '" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Re-Assign Test"><i class="glyphicon glyphicon-ok"></i></a></td>'
                            +'</tr >';
                    });
                    $('#tbltestresults').html('');
                    $('#tbltestresults').html(row);
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
    $(document).ready(function () {
        LoadTestResults();
    });
</script>