﻿@model BLL.BusinessModels.TeacherModels.TeacherViewTestModel

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-7">
                    <h2><span>Test Name :</span>@Model.TestDetails.TestName</h2>
                    <h2><span>Grade / Subject :</span>@Model.TestDetails.GradeName @Model.TestDetails.SubjectName</h2>
                </div>
                <div class="col-md-5 TQLefttop">
                    <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">READ REMARKS</a>
                    <a href="/Teacher/Test/EditTest/@Model.TestDetails.TestID" class="btn btn-sm btn-primary">Edit Test Details</a>
                    <a href="/Teacher/Test/DeleteTest/@Model.TestDetails.TestID" class="btn btn-sm btn-danger">Delete Test</a>
                </div>
                <div class="col-md-12 Metabox">
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                                @Model.TestDetails.TotalMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Passing Marks</span><br>
                                @Model.TestDetails.PassingMarks
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                                @Model.TestDetails.TestDuration
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                                @Model.TestDetails.TotalQuestions
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Skippable</span><br>
                                @Model.TestDetails.Skipable
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Level</span><br>
                                @Model.TestDetails.TestLevel
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a href="/Teacher/Test/Test">Back to Test List</a>
                </div>
            </div>
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-12 ATField">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-6">
                            <a class="btn btn-md btn-default">Questions Added : @Model.Questions.Count() /@Model.TestDetails.TotalQuestions</a>
                        </div>
                        <div class="col-md-6 alignright">
                            <a href="/Teacher/Test/TestQuestions?Id=@Model.TestDetails.TestID&&QuestionId=0" class="btn btn-md btn-success">ADD QUESTION</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 TQuestionArea">
                @{ int i = 0;}
                @foreach (var itm in Model.Questions)
                {
                    i = i + 1;
                    <div class="col-md-12 TQuestion">
                        <div class="col-md-11">
                            <h2><span>@i.</span>@itm.Question</h2>
                        </div>
                        <div class="col-md-1 alignright">
                            <h2><span>@itm.QuestionMarks</span></h2>
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-6">
                                <p><span>A.</span>@itm.FirstOption</p>
                            </div>
                            <div class="col-md-6">
                                <p><span>B.</span>@itm.SecondOption</p>
                            </div>
                            <div class="col-md-6">
                                <p><span>C.</span>@itm.ThirdOption</p>
                            </div>
                            <div class="col-md-6">
                                <p><span>D.</span>@itm.FourthOption</p>
                            </div>
                        </div>
                        <div class="col-md-2 alignright">
                            <a href="/Teacher/Test/TestQuestions?Id=@Model.TestDetails.TestID&&QuestionId=@itm.QuestionBankID" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="/Teacher/Test/DeleteQuestion?TestId=@Model.TestDetails.TestID&&QuestionId=@itm.QuestionBankID" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Test Remarks</h4>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Remarks for Teacher</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Remarks for Students</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="TabRemarks">
                                <p>
                                    @Model.TestDetails.RemarksStudent
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="TabRemarks">
                                <p>
                                    @Model.TestDetails.RemarksTeacher
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>