﻿@model BLL.BusinessModels.BannerModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <a class="btn btn-info" href="@Url.Action("Index", "Banner", new { area = "Admin" })">
                    <i class="fa fa-arrow-left"></i>  Back to All Slides
                </a>
                @*<a href="ManageBanners.html" class="btn btn-info"><i class="fa fa-arrow-left"></i> Back to All Slides</a>*@
                @*<button class="btn btn-success"><i class="fa fa-plus"></i> New Slide</button>*@
                <a class="btn btn-success" href="@Url.Action("AddSlide", "Banner")"><i class="fa fa-plus"></i> New Slide</a>
            </div>

@using (Html.BeginForm("AddSlide", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row" style="margin-top:20px">
        <div class="col-md-12">
            <div class="row slide-head mar-t-10">
                Edit Slide
            </div>
            <div class="row ed-img">
                <div class="ed-inp">
                    <label>TITLE</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                  
                </div>


                <label style="margin-top:10px">IMAGE</label><br>
                <span class="f-s-12"><strong>NOTE:</strong> Image should be atleast 610px x 343px</span>
            </div>
            
            <div class="row">
                <label for="file" class="btn btn-info up-dv">
                    <i class="fa fa-image"></i> Select File
                    <input type="file" class="upload" id="file" name="image" >
                </label>

                <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                <div class="col-md-12">
                    <div class="row upl-image">
                        <img id="blah" src="images/img-1.jpg">
                    </div>
                </div>

                <script>
                        //Preview & Update an image before it is uploaded
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                                var reader = new FileReader();

                                reader.onload = function (e) {
                                    $('#blah').attr('src', e.target.result);
                                }
                                reader.readAsDataURL(input.files[0]);
                            }
                        }

                        $("#file").change(function () {
                            readURL(this);
                        });
                </script>


            </div>
            @*<div class="row" style="margin-top:10px">
               
                <input type="file" class="btn btn-info"  name="image" id="file" /> 
                <div class="col-md-12">
                    <div class="row upl-image">
                        <img id="blah" src="images/img-1.jpg">
                    </div>
                </div>

                <script>
                        //Preview & Update an image before it is uploaded
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();

                                    reader.onload = function (e) {
                                        $('#blah').attr('src', e.target.result);
                                    }
                                    reader.readAsDataURL(input.files[0]);
                                }
                            }

                            $("#file").change(function () {
                                readURL(this);
                            });
                </script>
            </div>*@

            <div class="row" style="margin-top:10px">
                <input type="submit" class="btn btn-success up-dv" value="Save Changes" />
              
            </div>

        </div>
    </div>
}
        
        </div>
    </div>
