﻿@model IEnumerable<DAL.Entities.BannerSlides>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}


@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>*@


<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <a href="@Url.Action("AddSlide","Banner", new { area="Admin"})" class="btn btn-success">+ New Slide</a>
            @*<button class="btn btn-success">+ New Slide</button>*@
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row slide-head mar-t-10">
                    All Slides
                </div>

                <div class="row slide-label">
                    <div class="col-md-3">
                        Image
                    </div>
                    <div class="col-md-3">
                        Title
                    </div>
                    <div class="col-md-3">
                        Status
                    </div>
                    <div class="col-md-3">
                        Actions
                    </div>
                </div>
                <div class="row slides odd-row">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-md-3">
                                <img src="@Url.Content("~/Content/BannerSlides/"+@item.BannerSlidesID + ".jpg")"  height="50px" width="30px"/>
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayFor(modelItem => item.Title)
                            </div>

                            
                                <div class="col-md-3">
                                    @if (item.Status != true)
                                    {
                                        <input type="checkbox"  class="test"  value="Off" data-offstyle="danger" data-toggle="toggle" data-size="mini" onchange="AssignButtonClicked(this)" data-assigned-id="@item.BannerSlidesID">
                                    }
                                    else
                                    {
                                        <input type="checkbox"  class="test1" value="On" checked data-onstyle="success" data-toggle="toggle" data-size="mini" onchange="AssignButtonClicked(this)" data-assigned-id="@item.BannerSlidesID">
                                    }
                                    @*<input type="checkbox" checked data-onstyle="success" data-offstyle="danger" data-toggle="toggle" data-size="mini">*@
                                </div>

                                <div class="col-md-3">
                                    <a href="@Url.Action("UpdateSlide", "Banner", new { slideID = item.BannerSlidesID})" onclick="" id="MyLink" name="MyLink" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i></a>
                                    <a href="@Url.Action("DeleteSlide", "Banner", new { slideID = item.BannerSlidesID})" class="btn btn-sm btn-danger"
                                       onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');"><i class="fa fa-trash"></i></a>
                                    @*<a href="EditBanner.html" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i></a>
                        <a href="EditBanner.html" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>*@
                                </div>
                                @*<td>@Html.EditorFor(modelItem => item.Status)</td>*@

                                

                            count++;
                        }

                    }
                    
                </div>


                    </div>
                    </div>


        </div>
    </div>
                
<script>

    function AssignButtonClicked(elem) {

        if ($(elem).hasClass('test')) {
            
                var emailValue = $(elem).data('assigned-id');
                $.ajax({

                    url: '@Url.Action("UpdateStatus", "Banner")',
                    type: 'GET',
                    data: { check: true, customerId: emailValue },
                    success: function (result) {

                    }
                });
            } else {
                var emailValue = $(elem).data('assigned-id');
                
                $.ajax({
                    url: '@Url.Action("UpdateStatus", "Banner")',
                    type: 'GET',
                    data: { check: false, customerId: emailValue },
                    success: function (result) {

                    }
                });
            }



    }


</script>






                @section scripting{
                    <script type="text/javascript">
                        $(document).ready(function () {
                            //$('#dataTable').DataTable();
                        });
                    </script>
                }
