﻿.ststmainbtn
{
    display: inline-block;
    width: 100%;
    background: #02b754;
    padding: 15px;
    font-size: 26px;
    color: #fff;
    transition: 0.4s;
    border: none;
}
.ststmainbtn:hover
{
       background: #008a3e;
    text-decoration: none;
    transition: 0.4s;
    border-radius: 50px;
}

.snbtn
{
	padding: 7px 20px;
    background: #ff6600;
    color: #fff;
    border: none;
}

.ssbtn
{
	padding: 7px 20px;
    background: #9f9f9f;
    color: #fff;
    border: none;
}
.ssbtn:hover
{
        background: #b6b6b6;
    transition: 0.3s;
    text-decoration: none;
}