﻿@using DAL.Entities
@using BLL.BusinessManagers
@using BLL.Helpers


@model CoursesHeader

@{
    ViewBag.Title = "PaymentDetails";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<body>
    <section class="new-top-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 FTStep">
                    <div class="col-md-12 nopadding">
                        <div class="col-md-3">
                            <img src="~/Content/Front/frontimg/RudraaAssistant.gif" alt="" />
                        </div>
                        <div class="col-md-9">

                            <h2>Payment  Details <span>@Config.UsersProfile.FirstName</span></h2>
                            <div class="col-sm-8">
                                <div class="col-sm-12 new-c-box">

                                    @*<p class="c-grade"><h2>Grade :-</h2>@Model.GradeName</p>*@
                                    <h2>@Model.CourseTitle</h2>
                                    <div class="col-sm-6 nopadding">
                                        <p class="c-meta">
                                            <span>Price</span><br>

                                        </p>
                                    </div>
                                    <div class="col-sm-6 nopadding text-right">
                                        <p class="c-meta">
                                            <span>@Model.CourseFee</span>
                                           
                                           
                                            <br>

                                        </p>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="col-sm-12 nopadding">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnpay" onclick="launchBOLT(); return false;">Pay Now</button>*
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

    </section>


    @*Payment Regarding Code*@

    <div>

        <input type="hidden" id="udf5" name="udf5" value="BOLT_KIT_ASP.NET" />
        <input type="hidden" id="surl" name="surl" value="@Session["surl"]" />
        <input type="hidden" id="key" name="key"  value="3RflEhg7" />
        <input type="hidden" id="salt" name="salt"  value="1B74doYXFr" />
        <input type="hidden" id="txnid" name="txnid"   value="test123" />
        <input type="hidden" id="amount" name="amount"  value="@Model.CourseFee" />
        <input type="hidden" id="pinfo" name="pinfo"  value="@Model.CourseTitle" />
        <input type="hidden" id="fname" name="fname"  value="@Config.UsersProfile.FirstName" />
        <input type="hidden" id="email" name="email"  value="@Config.User.LoginEmail" />
        <input type="hidden" id="mobile" name="mobile"  value="@Config.UsersProfile.ContactNumber" />
        <input type="hidden" id="hash" name="hash"  value="" />
    </div>



    <script type="text/javascript">
        debugger;
        $(document).ready(function () {
            //$('#payment_form').keyup(function () {
            $('#btnpay').click(function () {
                $.ajax({
                    url: '~/Payment/Hash.aspx',
                    type: 'post',
                    data: JSON.stringify({
                        key: $('#key').val(),
                        salt: $('#salt').val(),
                        txnid: $('#txnid').val(),
                        amount: $('#amount').val(),
                        pinfo: $('#pinfo').val(),
                        fname: $('#fname').val(),
                        email: $('#email').val(),
                        mobile: $('#mobile').val(),
                        udf5: $('#udf5').val()
                    }),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (json) {
                        if (json['error']) {
                            $('#alertinfo').html('<i class="fa fa-info-circle"></i>' + json['error']);
                        }
                        else if (json['success']) {
                            $('#hash').val(json['success']);
                        }
                    }
                });
            });
        });

    </script>
    <script type="text/javascript">

        function launchBOLT() {
            bolt.launch({
                key: $('#key').val(),
                txnid: $('#txnid').val(),
                hash: $('#hash').val(),
                amount: $('#amount').val(),
                firstname: $('#fname').val(),
                email: $('#email').val(),
                phone: $('#mobile').val(),
                productinfo: $('#pinfo').val(),
                udf5: $('#udf5').val(),
                surl: $('#surl').val(),
                furl: $('#surl').val()
            }, {
                    responseHandler: function (BOLT) {
                        console.log(BOLT.response.txnStatus);
                        if (BOLT.response.txnStatus != 'CANCEL') {
                            //Salt is passd here for demo purpose only. For practical use keep salt at server side only.
                            var fr = '<form action=\"' + $('#surl').val() + '\" method=\"post\">' +
                                '<input type=\"hidden\" name=\"key\" value=\"' + BOLT.response.key + '\" />' +
                                '<input type=\"hidden\" name=\"salt\" value=\"' + $('#salt').val() + '\" />' +
                                '<input type=\"hidden\" name=\"txnid\" value=\"' + BOLT.response.txnid + '\" />' +
                                '<input type=\"hidden\" name=\"amount\" value=\"' + BOLT.response.amount + '\" />' +
                                '<input type=\"hidden\" name=\"productinfo\" value=\"' + BOLT.response.productinfo + '\" />' +
                                '<input type=\"hidden\" name=\"firstname\" value=\"' + BOLT.response.firstname + '\" />' +
                                '<input type=\"hidden\" name=\"email\" value=\"' + BOLT.response.email + '\" />' +
                                '<input type=\"hidden\" name=\"udf5\" value=\"' + BOLT.response.udf5 + '\" />' +
                                '<input type=\"hidden\" name=\"mihpayid\" value=\"' + BOLT.response.mihpayid + '\" />' +
                                '<input type=\"hidden\" name=\"status\" value=\"' + BOLT.response.status + '\" />' +
                                '<input type=\"hidden\" name=\"hash\" value=\"' + BOLT.response.hash + '\" />' +
                                '</form>';
                            var form = jQuery(fr);
                            jQuery('body').append(form);
                            form.submit();
                        }
                    },
                    catchException: function (BOLT) {
                        alert(BOLT.message);
                    }
                });
        }

    </script>







</body>


   
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<!-- this meta viewport is required for BOLT //-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- BOLT Sandbox/test //-->
<script id="bolt" src="https://sboxcheckout-static.citruspay.com/bolt/run/bolt.min.js" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script>
<!-- BOLT Production/Live //-->
<!--// script id="bolt" src="https://checkout-static.citruspay.com/bolt/run/bolt.min.js" bolt-color="e34524" bolt-logo="http://boltiswatching.com/wp-content/uploads/2015/09/Bolt-Logo-e14421724859591.png"></script //-->








