﻿@model BLL.BusinessModels.CurriculumGradeSubjectViewModel
@{
    ViewBag.Title = "MonthlyTution";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="White79">
    <img src="~/Content/Front/frontimg/MonthlyHeader.jpg" width="100%" />

    <div class="container">
        <div class="col-md-12 MonthlyTuiArea">
            <div class="col-md-2 filter">
                <div class="col-md-12 block">
                    <h2>Target </h2>
                    <ul id="parentActive">

                        @foreach (var item in Model.CurriculumsList)
                        {
                            <li onclick="AddActive(this)" id="yess" data-assigned-id="@item.CurriculumID">

                                @Ajax.ActionLink(item.CurriculumName, "cbscMonthly", "Home", new { @id = item.CurriculumID },
                               new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "GET", OnBegin = "ShowWaiting", OnSuccess = "HideWaiting" })

                            </li>
                        }
                      
                    </ul>
                </div>
               

                <div class="col-md-12 block" id="GradesUpdate">

                    <h2>Grade</h2>
                    <ul id="newParent">
                        <li class="active"><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>ALL</a></li>
                        @foreach (var item in Model.GradesList)
                        {
                            <li onclick="AddActiveGrade(this)">

                                @Ajax.ActionLink(item.GradeName, "CoursesList", "Home", new { @id = item.GradeID }, new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "ShowWaiting", OnSuccess = "HideWaiting" })

                            </li>

                        }
                    </ul>
                </div>
              

            </div>
            <div class="col-md-10">


                <div id="content">
                    <div id="NeedToUpdate">
                        @Html.Action("GradessList", "Home")
                    </div>
                </div>

                <div id="divProcessing" style="text-align:center;">

                    <p><img src="~/Content/img/Reload (1).gif" /> </p>
                </div>
            </div>

            </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        $("#divProcessing").hide();

    });

    function ShowWaiting() {
        $("#divProcessing").show();
        $("#content").hide();

    }

    function HideWaiting() {
        $("#divProcessing").hide();
        $("#content").show();
        $("#callgrade").show();

    }
    function AddActive(elem) {

        if ($(elem).hasClass('active')) {
            $("#parentActive").children().removeClass("active");
            $("#newParent").children().removeClass("active");
            $(elem).removeClass('active');
            var id1 = $(elem).data('assigned-id');;
            $("#callgrade").show();
        } else {
            $("#parentActive").children().removeClass("active");
            $("#newParent").children().removeClass("active");
            $(elem).addClass('active');



        }
    }
    function AddActiveGrade(elem) {

        if ($(elem).hasClass('active')) {
            $("#newParent").children().removeClass("active");
            $(elem).removeClass('active');
            var id1 = $(elem).data('assigned-id');;
            $("#callgrade").show();
        } else {
            $("#newParent").children().removeClass("active");
            $(elem).addClass('active');



        }
    }
    function AssignButtonClicked(elem) {

        if ($(elem).hasClass('btn btn-sm btn-success')) {
            $(elem).removeClass('btn btn-sm btn-success');
            $(elem).addClass('btn btn-sm btn-default');
            $(elem).text('Disable');
            var emailValue = $(elem).data('assigned-id');
            $.ajax({

                url: '@Url.Action("ChangeStatus", "Reviews")',
                type: 'GET',
                data: { id: emailValue, status: false },
                success: function (result) {

                }
            });
        }
    }

</script>

