﻿@using BLL.BusinessModels.AdminModels;
@model UserViewModel

@{
    ViewBag.Title = "CreateStudent";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Add New Student
                    </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateStudent", "Student", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x => x.UserStatus)
                        @Html.HiddenFor(x => x.UserType)

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                First Name
                            </label>

                            @Html.TextBoxFor(x => x.UsersProfileViewModel.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Last Name
                            </label>
                            @Html.TextBoxFor(x => x.UsersProfileViewModel.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Student Email
                            </label>
                            @Html.TextBoxFor(x => x.LoginEmail, new { @class = "form-control", @placeholder = "Email" })
                            <p id="emailError" style="color:red; font-family:aria"></p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Student Password
                            </label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select State
                            </label>
                            @Html.DropDownListFor(model => model.UsersProfileViewModel.FKStateId, new SelectList(Model.StatesList, "Value", "Text", new { Value = Model.UserID }), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UsersProfileViewModel.FKStateId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select Curriculum
                            </label>
                            @Html.DropDownListFor(model => model.curriculumViewModel.CurriculumID, new SelectList(Model.CurriculumsList, "Value", "Text", new { Value = Model.UserID }), new { @class = "form-control", @onchange = "GetGradesDropDown()" })
                            @Html.ValidationMessageFor(model => model.curriculumViewModel.CurriculumID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select Grade
                            </label>
                            @Html.DropDownListFor(model => model.UsersProfileViewModel.GradeID, new SelectList(Model.GradesList, "Value", "Text", new { Value = Model.UserID }), new { id = "gradesDropDown", @class = "form-control" })
                            @*@Html.DropDownListFor(model => model.gradeViewModel.GradeID, new SelectList(Model.GradesList, "Value", "Text", new { Value = Model.UserID }), new { id = "gradesDropDown",  @class = "form-control" })*@
                     
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("Index","Student", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function GetGradesDropDown()
    {
        var selectedCurriculumValue = $("#curriculumViewModel_CurriculumID").val();
       
        $.ajax({
            url: '@Url.Action("GetGradesByCurriculumID", "Student")',
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({ curriculumID: selectedCurriculumValue }),
            dataType: 'json',
            success: function (data) {
                if (data.Success == "true") {
                    debugger;

                    $("#gradesDropDown").empty();
                    var gradesOptions = $("#gradesDropDown");
                    $.each(data.GradesList, function () {
                        gradesOptions.append($("<option />").val(this.Value).text(this.Text));
                    });
                }
                else {
                    $("#gradesDropDown").append($("<option />").val("0").text('Select Grade'));
                    // $('.ajx_deliv').text(data.errorMessage).css('color', 'red');
                }
            }
        });
    }
 
</script>


<script>
        $("#LoginEmail").focusout(function () {

            var email = $("#LoginEmail").val();
            if (email != null && email != '') {
                if (!validateEmail(email))
                {
                    $('#emailError').empty();
                    $('#emailError').append('Email is not valid').show();
                    $("#send").prop("disabled", true);
                    return false;
                }
                $.ajax({
                    url: '@Url.Action("CheckEmailInDatabase", "Admin")',
                    type: 'POST',
                    data: {
                        email: email

                    },
                    success: function (result) {

                        if(result.Success == "true")
                        {
                            $('#emailError').empty();
                            $('#emailError').append('Email Already Exists').show();
                            $("#send").prop("disabled", true);

                        }
                        else if(result.Success == "false")
                        {
                            $("#send").prop("disabled", false);
                            $('#emailError').empty();
                        }
                    },
                    error: function (result) {
                        alert("error!");
                    }
                });   //end ajax
            }
        });

    function validateEmail(Email) {
        var pattern = "^[a-zA-Z0-9_\\.-]+@@([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,6}$";

        return $.trim(Email).match(pattern) ? true : false;
    }
</script>