﻿@using BLL.BusinessModels.AdminModels;
@model UserViewModel

@{
    ViewBag.Title = "BlockStudent";
    Layout = null;
}

<div class="row">
    <div class="col-md-6 col-lg-offset-2">

        <div class="content" style="margin:3% !important;">
@using (Html.BeginForm("BlockStudent", "Student", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    @Html.HiddenFor(x => x.UserID);
    @Html.HiddenFor(x => x.RequestFrom)
    

            <div class="form-group">
                <label class="control-label" style="padding-bottom:10px;">
                   Reason
                </label>

                @Html.TextBoxFor(x => x.BlockReason, new { @class = "form-control", @placeholder = "Enter Reason to Block" })
                @Html.ValidationMessageFor(x => x.BlockReason, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <input id="send" type="submit" class="btn btn-success" value="Submit">
                </div>
            </div>
}
        </div>
    </div>
</div>
