﻿@using BLL.BusinessModels.AdminModels;
@model UserViewModel

@{
    ViewBag.Title = "GetStudent";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                       Student Detail
                    </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("UpdateStudent", "Student", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x  => x.UserID)
                        @Html.HiddenFor(x => x.ExternalLoginID)
                        @Html.HiddenFor(x => x.UserStatus)
                        @Html.HiddenFor(x => x.UserType)
                        @Html.HiddenFor(x => x.IsVerified)
                        @Html.HiddenFor(x => x.IsActive)
                        @Html.HiddenFor(x => x.IsOnline)

                        @Html.HiddenFor(x => x.UsersProfileViewModel.UsersProfileID)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.ContactNumber)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.AlternateNumber)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.ProfilePic)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.HeardAboutRudra)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.Resume)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.AboutMe)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.DateOfBirth)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.CreateDate)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.UpdatedDate)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.WeekHours)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.WeekendHours)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.CityName)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.IsPen)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.IsWebcam)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.IsInternetSpeed)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.FKUserId)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.FKOccupationId)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.SessionCost)
                      

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                First Name
                            </label>

                            @Html.TextBoxFor(x => x.UsersProfileViewModel.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Last Name
                            </label>
                            @Html.TextBoxFor(x => x.UsersProfileViewModel.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Student Email
                            </label>
                            @Html.TextBoxFor(x => x.LoginEmail, new { @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                            @Html.ValidationMessageFor(x => x.LoginEmail, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Student Password
                            </label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select State
                            </label>
                            @Html.DropDownListFor(model => model.UsersProfileViewModel.FKStateId, new SelectList(Model.StatesList, "Value", "Text", new { Value = Model.UserID }), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UsersProfileViewModel.FKStateId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select Curriculum
                            </label>
                            @Html.DropDownListFor(model => model.CurriculumID, new SelectList(Model.CurriculumsList, "Value", "Text", new { Value = Model.UserID }), new { @class = "form-control", @onchange = "GetGradesDropDown()" })
                            @Html.ValidationMessageFor(model => model.curriculumViewModel.CurriculumID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select Grade
                            </label>
                            @Html.DropDownListFor(model => model.UsersProfileViewModel.GradeID, new SelectList(Model.GradesList, "Value", "Text", new { Value = Model.UserID }), new { id = "gradesDropDown", @class = "form-control" })

                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("Index","Student", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function GetGradesDropDown()
    {
        var selectedCurriculumValue = $("#CurriculumID").val();

        $.ajax({
            url: '@Url.Action("GetGradesByCurriculumID", "Student")',
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({ curriculumID: selectedCurriculumValue }),
            dataType: 'json',
            success: function (data) {
                if (data.Success == "true") {
                    debugger;

                    $("#gradesDropDown").empty();
                    var gradesOptions = $("#gradesDropDown");
                    $.each(data.GradesList, function () {
                        gradesOptions.append($("<option />").val(this.Value).text(this.Text));
                    });
                }
                else {
                    $("#gradesDropDown").append($("<option />").val("0").text('Select Grade'));
                    // $('.ajx_deliv').text(data.errorMessage).css('color', 'red');
                }
            }
        });
    }

</script>