﻿@model IEnumerable<BLL.BusinessModels.AdminModels.UserViewModel>
@using BLL.Helpers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<script src="~/Content/Lightbox/js/inspect.js"></script>
<script src="~/Content/Lightbox/js/jquery.rimodal.js"></script>
<link href="~/Content/Lightbox/css/jquery.rimodal.css" rel="stylesheet" />
<script>
    $(document).riModal({ delegate: '.lightboxmodal' });
</script>

<style>
    .dataTables_filter {
        float: right !important;
    }

    .ri-modal-close {
        color: black;
    }

        .ri-modal-close:hover {
            color: black;
        }
</style>


<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div style="padding:10px">

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@ViewBag.TotalStudentsCount</h3>
                            <p>Total Students Registered</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>@ViewBag.TotalStudentsRegisteredThisMonthCount</h3>
                            <p>New Students Registered (this month)</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>@ViewBag.TotalStudentsRegisteredTodayCount</h3>
                            <p>New Students Registered Today </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


@using (Html.BeginForm("ApplyFilter", "Student", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
<div class="container-fluid">
    <div class="" style="margin-bottom:20px">
        <div class="row">
            <div style="padding:10px">

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            @*<label class="control-label" style="padding-bottom:10px">
                               
                            </label>*@
                            <select id="mainFilterDropdown" class="form-control" name="mainfilterRequest">
                                <option value="0">Select</option>
                                <option value="FilterByTeacher">Filter By Teacher</option>
                                <option value="FilterByGrade">Filter By Grade</option>
                                <option value="FilterBySubject">Filter By Subject</option>
                                <option value="FilterByCity">Filter By City</option>
                                <option value="FilterByStatus">Filter By Status</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <select id="subFilterDropdown" class="form-control" name="subfilterRequest">
                              
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-red">
                        <div class="inner">
                           <input type="submit" id="btnFilter" value="Filter" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
}


<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Students
                        @if (ViewBag.currentUserPermissions != null)
                        {
                            foreach (var item in ViewBag.currentUserPermissions)
                            {

                                if (item == (int)Enumerations.Permissions.PermissiontoAddnewStudent)
                                {
                                    <a href="@Url.Action("CreateStudent","Student", new { area="Admin"})" class="pull-right">Add Student</a>
                                    break;
                                }
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("CreateStudent","Student", new { area="Admin"})" class="pull-right">Add Student</a>
                        }
                    </h4>

                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Reason</th>
                                <th>Verification</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                          @if (Model != null)
                          {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UsersProfileViewModel.FirstName)
                                        @Html.DisplayFor(modelItem => item.UsersProfileViewModel.LastName)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.LoginEmail)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Password)</td>

                                    @if (item.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.BlockReason)</td>
                                    }
                                    else
                                    {
                                        <td></td> }

                                    @if (item.IsVerified == (int)Enumerations.VerificationType.NotVerified)
                                    {
                                        <td>Not Verified</td>
                                    }
                                    @if (item.IsVerified == (int)Enumerations.VerificationType.EmailVerfied)
                                    {
                                        <td>Verified through Email</td>
                                    }
                                    @if (item.IsVerified == (int)Enumerations.VerificationType.PhoneVerified)
                                    {
                                        <td>Verified through Phone</td>
                                    }
                                    @if (item.IsVerified == (int)Enumerations.VerificationType.VerifiedByAdmin)
                                    {
                                        <td>Approved by Admin</td>
                                    }


                                    @if (item.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                    {
                                        <td> Blocked    </td>

                                    }

                                    @if (item.UserStatus == (int)Enumerations.UserStatus.IsActive)
                                    {
                                        <td> Active </td>

                                    }
                                    @if (item.UserStatus == (int)Enumerations.UserStatus.Approved)
                                    {
                                        <td> Approved </td>

                                    }
                                    @if (item.UserStatus == (int)Enumerations.UserStatus.NotApproved)
                                    {
                                        <td> Not Approved </td>

                                    }
                                    @if (item.UserStatus == (int)Enumerations.UserStatus.Pending)
                                    {
                                        <td> Pending </td>

                                    }

                                    <td>
                                        @if (ViewBag.currentUserPermissions != null)
                                        {
                                            foreach (var permission in ViewBag.currentUserPermissions)
                                            {
                                                if (permission == (int)Enumerations.Permissions.PermissiontoUpdateStudent)
                                                {
                                                    <a href="@Url.Action("GetStudent", new { userID = item.UserID })">
                                                        <i data-original-title="Edit Student" rel="tooltip" class="fa fa-pencil"></i>
                                                        <span class="sr-only"></span>
                                                    </a>
                                                }
                                                else if (permission == (int)Enumerations.Permissions.PermissiontoDeleteStudent)
                                                {
                                                    <a href="@Url.Action("DeleteStudent", new { userID = item.UserID })" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                                        <i rel="tooltip" data-original-title="Delete Student" class="fa fa-remove"></i>
                                                        <span class="sr-only"></span>
                                                    </a>
                                                }

                                                else if (permission == (int)Enumerations.Permissions.PermissiontoViewStudentDetails)
                                                {
                                                    <a href="@Url.Action("StudentDetails", new { userID = item.UserID })">
                                                        <i rel="tooltip" data-original-title="See Student Activities" class="fa fa-eye"></i>
                                                        <span class="sr-only"></span>
                                                    </a>
                                                }

                                                else if (permission == (int)Enumerations.Permissions.PermissiontoBlockStudent)
                                                {
                                                    if (item.UserStatus == (int)Enumerations.UserStatus.Approved)
                                                    {

                                                        <a href="#" class="lightboxmodal" data-modal-ajax="@Url.Action("GetStudentToBlock", "Student", new { userID = @item.UserID, requestFrom = "StudentMenu" })"
                                                           data-modal-width="500" data-modal-height="300" data-modal-id="ifrm"><i class="fa fa-lock" rel="tooltip" title="" data-original-title="Block Student"></i></a>
                                                    }
                                                }
                                                else if (permission == (int)Enumerations.Permissions.PermissiontoApproveStudent)

                                                {
                                                    if (item.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                                    {
                                                        <a href="@Url.Action("ApproveStudent", new { userID = item.UserID })">
                                                            <i rel="tooltip" data-original-title="Unblock student" class="fa fa-unlock"></i>
                                                            <span class="sr-only"></span>
                                                        </a>
                                                    }
                                                    else if (item.UserStatus == (int)Enumerations.UserStatus.Pending)
                                                    {
                                                        <a href="@Url.Action("ApproveStudent", new { userID = item.UserID })">
                                                            <i rel="tooltip" data-original-title="Approve student" class="fa fa-check"></i>
                                                            <span class="sr-only"></span>
                                                        </a>
                                                    }
                                                }
                                            }
                                        }

                                        else
                                        {
                                            <a href="@Url.Action("GetStudent", new { userID = item.UserID })">
                                                <i data-original-title="Edit Student" rel="tooltip" class="fa fa-pencil"></i>
                                                <span class="sr-only"></span>
                                            </a>
                                            <a href="@Url.Action("DeleteStudent", new { userID = item.UserID })" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                                <i rel="tooltip" data-original-title="Delete Student" class="fa fa-remove"></i>
                                                <span class="sr-only"></span>
                                            </a>
                                            <a href="@Url.Action("StudentDetails", new { userID = item.UserID })">
                                                <i rel="tooltip" data-original-title="See Student Activities" class="fa fa-eye"></i>
                                                <span class="sr-only"></span>
                                            </a>

                                            if (item.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                            {
                                                <a href="@Url.Action("ApproveStudent", new { userID = item.UserID })">
                                                    <i rel="tooltip" data-original-title="Unblock student" class="fa fa-unlock"></i>
                                                    <span class="sr-only"></span>
                                                </a>
                                            }
                                            else if (item.UserStatus == (int)Enumerations.UserStatus.Pending)
                                            {
                                                <a href="@Url.Action("ApproveStudent", new { userID = item.UserID })">
                                                    <i rel="tooltip" data-original-title="Approve student" class="fa fa-check"></i>
                                                    <span class="sr-only"></span>
                                                </a>
                                            }
                                            else if (item.UserStatus == (int)Enumerations.UserStatus.Approved || item.UserStatus == (int)Enumerations.UserStatus.IsActive)
                                            {

                                                <a href="#" class="lightboxmodal" data-modal-ajax="@Url.Action("GetStudentToBlock", "Student", new { userID = @item.UserID, requestFrom = "StudentMenu" })"
                                                   data-modal-width="500" data-modal-height="300" data-modal-id="ifrm"><i class="fa fa-lock" rel="tooltip" title="" data-original-title="Block Student"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                                count++;
                            }
                          }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripting{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

    </script>
}

@*<script>
    alert('@TempData["subfilterValue"]').ToString()
</script>*@

<script>
    $(document).ready(function () {
        $('#mainFilterDropdown').val('@TempData["mainfilterValue"]');

        if ($("#mainFilterDropdown").val() == null) {

            $("#mainFilterDropdown").val('0');
            $("#btnFilter").attr("disabled", true);
        }
        changeSubFilterDropdown();

       

        function changeSubFilterDropdown()
        {
            var mainFilterSelectedValue = $('#mainFilterDropdown').val();
            if (mainFilterSelectedValue == null && mainFilterSelectedValue.len == 0)
            {
                return;
            }
            CheckBothDropdownsValue();

            if (mainFilterSelectedValue != null) {
                $.ajax({
                    url: '@Url.Action("FilterMethod", "Student")',
                    type: 'POST',
                    data: {
                        request: mainFilterSelectedValue
                    },
                    success: function (result) {

                        if (result.Success == "FilterByTeacher") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.teachersList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByGrade") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.gradesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterBySubject") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.subjectsList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByCity") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.citiesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByStatus") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.citiesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (filterChanged == false) {
                            $('#subFilterDropdown').val('@TempData["subfilterValue"]');
                        }
                    },
                    error: function (result) {
                        alert("error!");
                    }
                });   //end ajax
            }
            else {
                $("#btnFilter").attr("disabled", true);
            }
        }
        var filterChanged = false;
        $('#mainFilterDropdown').change(function () {
            filterChanged = true;
            changeSubFilterDropdown();
            $('#subFilterDropdown').val('0');

        });


        $('#subFilterDropdown').change(function () {

            CheckBothDropdownsValue()

        });

    });

    function CheckBothDropdownsValue()
    {
        debugger;
        var dropdown1 = $("#mainFilterDropdown").val();
        var dropdown2 = $("#subFilterDropdown").val();


        if (dropdown1 != null && dropdown1 != "" && dropdown2 == null)
        {
            $("#btnFilter").attr("disabled", true);
        }
        if (dropdown1 != "" && dropdown1 != null && dropdown2 != null && dropdown2 != "")
        {
            $("#btnFilter").attr("disabled", false);
        }
        if(dropdown1 == "0")
        {
            $("#subFilterDropdown").empty();
            $("#btnFilter").attr("disabled", true);
        }
        if(dropdown2 != ""  && dropdown1 == "0")
        {
            $("#subFilterDropdown").empty();
            $("#btnFilter").attr("disabled", true);
        }
        if(dropdown1 != null && dropdown1 != "" && dropdown2 == "")
        {
            $("#btnFilter").attr("disabled", true);
        }

    }

</script>





