﻿
@model BLL.BusinessModels.AdminModels.UserViewModel
@using BLL.Helpers


@{
    ViewBag.Title = "StudentDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
    int counter2 = 1;
    int counter3 = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">

                        <div class="header headerborder">
                            <h4 class="title">
                                Student Detail
                            </h4>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-horizontal" style="margin:3% !important;">
                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @Html.DisplayFor(model => model.UsersProfileViewModel.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @Html.DisplayFor(model => model.UsersProfileViewModel.LastName, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @*@Html.DisplayFor(model => model.UserStatus, new { htmlAttributes = new { @class = "form-control" } })*@

                                    @if (Model.UserStatus == (int)Enumerations.UserStatus.Approved)
                                    {
                                        <text>Approved</text>
                                    }
                                    else if (Model.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                    {
                                        <text>Blocked</text>
                                    }
                                    else if (Model.UserStatus == (int)Enumerations.UserStatus.Pending)
                                    {
                                        <text>Pending</text>
                                    }
                                    else if (Model.UserStatus == (int)Enumerations.UserStatus.NotApproved)
                                    {
                                        <text>Not Approved</text>
                                    }
                                    else if (Model.UserStatus == (int)Enumerations.UserStatus.IsActive)
                                    {
                                        <text>Active</text>
                                    }

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                @Html.Label("Login Email", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @Html.DisplayFor(model => model.LoginEmail, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("City Name", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @Html.DisplayFor(model => model.UsersProfileViewModel.CityName, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Contact Number", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @Html.DisplayFor(model => model.UsersProfileViewModel.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="row">
                    <div class="col-md-12" style="height:200px">

                        <div class="header headerborder">
                            <h4 class="title">
                                Student Last Login
                            </h4>

                        </div>

                        <div class="form-horizontal" style="margin:3% !important;">
                            <div class="form-group">
                                @Html.Label("Login at : ", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @Html.DisplayFor(model => model.lastLoginActivityModel.Time, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Logout at : ", htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-4" style="margin-top: 5px;">
                                    @Html.DisplayFor(model => model.lastLogoutActivityModel.Time, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Course Purchased Activities
                    </h4>

                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable1" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Joining Date</th>
                                <th>Course Title</th>
                                <th>Course Description</th>
                                <th>Course Fee</th>
                                <th>Course Start Date</th>
                                <th>Course End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.courseParticipantsList != null)
                            {
                                foreach (var item in Model.courseParticipantsList)
                                {
                                    <tr>
                                        <td>@counter2</td>
                                        <td>@Html.DisplayFor(modelItem => item.JoinDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Course.CourseTitle)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Course.CourseDescription)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Course.CourseFee)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Course.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Course.EndDate)</td>

                                    </tr>
                                    counter2++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Join Sessions Activities
                    </h4>

                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable2" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Session Name</th>
                                <th>Topic Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Request Date</th>
                                <th>Curriculum Name</th>
                                <th>Grade Name</th>
                                <th>Subject Name</th>
                                <th>Session Cost</th>
                                <th>Requested To</th>
                                <th>Session Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.joinSessionsList != null)
                            {
                                foreach (var item in Model.joinSessionsList)
                                {
                                    <tr>
                                        <td>@counter3</td>
                                        <td>@Html.DisplayFor(modelItem => item.SessionName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TopicName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CurriculumModel.CurriculumName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.GradeModel.GradeName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SubjectModel.SubjectName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SessionCost)</td>
                                        @if (item.userModel != null)
                                        {
                                            if (item.userModel.UserID > 0 && item.userModel.UsersProfileViewModel != null)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.userModel.UsersProfileViewModel.FirstName)
                                                    @Html.DisplayFor(modelItem => item.userModel.UsersProfileViewModel.LastName)
                                                </td>
                                            }
                                        }

                                        @if (item.CurrentStatus == (int)Enumerations.SessionStatus.Pending)
                                        {
                                            <td>Pending</td>
                                        }
                                        else if (item.CurrentStatus == (int)Enumerations.SessionStatus.Delay)
                                        {
                                            <td>Delay</td>
                                        }
                                        else if (item.CurrentStatus == (int)Enumerations.SessionStatus.Completed)
                                        {
                                            <td>Completed</td>
                                        }
                                        else if (item.CurrentStatus == (int)Enumerations.SessionStatus.NotTaken)
                                        {
                                            <td>Not taken</td>
                                        }

                                    </tr>
                                    counter3++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        All Sessions Activities
                    </h4>

                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable3" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Session Name</th>
                                <th>Topic Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Request Date</th>
                                <th>Curriculum Name</th>
                                <th>Grade Name</th>
                                <th>Subject Name</th>
                                <th>Session Cost</th>
                                <th>Requested To</th>
                                <th>Session Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.SessionsList != null)
                            {
                                foreach (var item in Model.SessionsList)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SessionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TopicName)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>

                                        <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>

                                        <td>@Html.DisplayFor(modelItem => item.CurriculumModel.CurriculumName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.GradeModel.GradeName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SubjectModel.SubjectName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SessionCost)</td>
                                        @if (item.userModel != null)
                                        {
                                            if (item.userModel.UserID > 0 && item.userModel.UsersProfileViewModel != null)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.userModel.UsersProfileViewModel.FirstName)
                                                    @Html.DisplayFor(modelItem => item.userModel.UsersProfileViewModel.LastName)
                                                </td>
                                            }
                                        }

                                        @if (item.CurrentStatus == (int)Enumerations.SessionStatus.Pending)
                                        {
                                            <td>Pending</td>
                                        }
                                        else if (item.CurrentStatus == (int)Enumerations.SessionStatus.Delay)
                                        {
                                            <td>Delay</td>
                                        }
                                        else if (item.CurrentStatus == (int)Enumerations.SessionStatus.Completed)
                                        {
                                            <td>Completed</td>
                                        }
                                        else if (item.CurrentStatus == (int)Enumerations.SessionStatus.NotTaken)
                                        {
                                            <td>Not taken</td>
                                        }

                                    </tr>
                                    count++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripting{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable1').DataTable();
            $('#dataTable2').DataTable();
            $('#dataTable3').DataTable();
        });
    </script>
}
