﻿@model BLL.BusinessModels.SettingsModel
@{
    ViewBag.Title = "UpdateSettings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row slide-head mar-t-10">
                    Website Settings
                </div>
@using (Html.BeginForm("UpdateSettings", "Setting", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                <div class="row ed-img">
                    <div class="ed-inp">
                        <label>META TITLE</label>
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control input-sm" })
                        
                    </div>

                    <div class="ed-inp">
                        <label>META DESCRIPTION</label>
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control input-sm" })
                    </div>

                    <div class="ed-inp">
                        <label>META KEYWORDS</label>
                        @Html.TextBoxFor(x => x.KeyWords, new { @class = "form-control input-sm" })
                    </div>

                    <div class="ed-inp">
                        <label>WEBSITE MAINTENANCE</label><br>
                        <div class="col-md-12">

                            @*@Html.EditorFor(x => x.IsEnabled, new { @class = "form-control input-sm" })*@
                            <label class="radio-inline"><input type="radio" value="Enable" name="optradio" id="optradio" >Enable</label>
                            <label class="radio-inline"><input type="radio" checked="checked" name="optradio" id="optradio1" value="Disable">Disable</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button class="btn btn-success up-dv"><i class="fa fa-save"></i> Save Changes</button>
                </div>
}
            </div>
        </div>
    </div>
</div>


