﻿@model List<Rudra.BLL.BusinessModels.MonthlyTutionModels.MonthlyTutionViewModel>

@{

    <style>
        .bottomdiv {
            background: #dedcdc !important;
        }

        .custome-coursebox .area {
            padding: 0 !important;
        }

        .custome-coursebox .row {
            margin: 0;
        }

        .custome-coursebox {
            height: auto !important;
            padding-bottom: 40px !important;
        }

        .area .col-md-6:hover {
            box-shadow: 0 0 5px #b5b5b5;
        }

        .recorderror{
            color:red;
        }

    </style>


    long counter = 0;

}


@if (Model == null || Model.Count == 0)
{
    <h1 class="recorderror">No Record Found !</h1>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-md-4 p10">
            <div class="col-md-12 nopadding coursebox1 custome-coursebox">
                <div class="row title @(counter <=0 ? "green": counter == 1 ? "purple" : counter == 2 ? "blue" : "orange")" id="dynamic_@item.CurriculumId">
                    <h1>@item.CurriculumName Science Monthly Tuition</h1>
                    @Html.HiddenFor(model => item.CurriculumId, new { @id = "curriculumid" })
                </div>
                <div class="row area">
                    <div class="row">
                        @if (item.GradeList == null || item.GradeList.Count == 0)
                        {
                            <div class="col-md-12">
                                <h4>No Record Found !</h4>
                            </div>
                        }
                        else
                        {
                            foreach (var items in item.GradeList)
                            {
                                <div class="col-md-12">
                                    <ul>
                                        <li>
                                            <i class="glyphicon glyphicon-menu-hamburger">
                                            </i>
                                            <strong>@items.GradeName</strong>
                                            @Html.HiddenFor(model => items.GradeId, new { @id = "gradeid" })
                                        </li>
                                        <li>
                                            <i class="glyphicon glyphicon-bookmark"></i>
                                            @if (items.GradeSubjectList == null || items.GradeSubjectList.Count == 0)
                                            {
                                                <span>No Record Found !</span>
                                            }
                                            else
                                            {
                                                foreach (var sb in items.GradeSubjectList)
                                                {
                                                    @sb.SubjectName <span>,</span>
                                                }
                                            }

                                        </li>
                                        <li><i class="glyphicon glyphicon-time"></i><strong>@item.Hour hrs</strong></li>
                                    </ul>
                                </div>
                            }
                        }

                    </div>
                </div>
                @if (item.GradeList.Count != 0)
                {
                    <div class="row bottom bottomdiv">
                        <div class="col-md-5 p10">
                            <p><span>₹</span>@item.Price</p>
                        </div>
                        <div class="col-md-7 p10">
                            <a href="@Url.Action("CourseDetails","Home" , new { id = item.CurriculumId })">@item.TeacherCount Teachers <i class="glyphicon glyphicon-menu-right"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}











