﻿@model Rudra.BLL.BusinessModels.MonthlyTutionModels.FilterViewModel

<div class="col-md-12 block">
    <h2>Target</h2>
    <ul class="curriculumclass">
        <li class="active"><a href="javascript:void(0)" onclick="SelectionCurriculum(this,0)"><i class="glyphicon glyphicon-ok"></i>ALL</a></li>
        @foreach (var cr in Model.ListOfCurriculum)
        {
            <li>
                <a href="javascript:void(0)" onclick="SelectionCurriculum(this,@cr.CurriculumId)">
                    <i class="glyphicon glyphicon-triangle-right"></i>
                    @cr.CurriculumName
                </a>
            </li>
        }
    </ul>
</div>
<div class="col-md-12 block">
    <h2>Grade</h2>
    <ul class="gradeclass">
        <li class="active"><a href="javascript:void(0)" onclick="SelectionGrade(this,0)"><i class="glyphicon glyphicon-ok"></i>ALL</a></li>
        @foreach (var gr in Model.ListofGrades)
        {
            <li><a href="javascript:void(0)" onclick="SelectionGrade(this,@gr.GradeId)"><i class="glyphicon glyphicon-triangle-right"></i>@gr.GradeName</a></li>
        }
    </ul>
</div>
<div class="col-md-12 block">
    <h2>Subject</h2>
    <ul class="subjectclass">
        <li class="active"><a href="javascript:void(0)" onclick="SelectionSubject(this,0)"><i class="glyphicon glyphicon-ok"></i>ALL</a></li>
        @foreach (var sb in Model.ListofSubjects)
        {
            <li><a href="javascript:void(0)" onclick="SelectionSubject(this,@sb.SubjectId)"><i class="glyphicon glyphicon-triangle-right"></i>@sb.SubjectName</a></li>
        }
    </ul>
</div>



<script>
    //Curriculum Filter Selection
    function SelectionCurriculum(e, id) {

        $('.curriculumclass').find('li').each(function () {
            $(this).removeClass('active');
            $(this).find('i').removeClass('glyphicon-ok');
            $(this).find('i').addClass('glyphicon-triangle-right');
        });
        $(e).parent('li').addClass('active');
        $(e).find('i').removeClass('glyphicon-triangle-right');
        $(e).find('i').addClass('glyphicon-ok');
        if (id == 0) {
            ResetFilter();
        } else {
            SearchMonthlyTution(id, 0, 0);
        }
    }

    //Grade Filter Selection
    function SelectionGrade(e, id) {

        $('.gradeclass').find('li').each(function () {
            $(this).removeClass('active');
            $(this).find('i').removeClass('glyphicon-ok');
            $(this).find('i').addClass('glyphicon-triangle-right');
        });
        $(e).parent('li').addClass('active');
        $(e).find('i').removeClass('glyphicon-triangle-right');
        $(e).find('i').addClass('glyphicon-ok');
        if (id == 0) {
            ResetFilter();
        } else {
            SearchMonthlyTutionGrade(id);
        }

    }

    //Subject Filter Selection
    function SelectionSubject(e, id) {

        $('.subjectclass').find('li').each(function () {
            $(this).removeClass('active');
            $(this).find('i').removeClass('glyphicon-ok');
            $(this).find('i').addClass('glyphicon-triangle-right');
        });
        $(e).parent('li').addClass('active');
        $(e).find('i').removeClass('glyphicon-triangle-right');
        $(e).find('i').addClass('glyphicon-ok');
        if (id == 0) {
            ResetFilter();
        } else {
            SearchMonthlyTutionSubjects(id)
        }
    }

    //Curriculum...........
    function SearchMonthlyTution(crid, gid, sid) {

        var obj = new Object();
        obj.CurriculumId = crid;
        obj.GradeId = gid;
        obj.SubjectId = sid;

        $.ajax({
            url: '/Home/FilterMonthlyTution',
            type: 'POST',
            cache: false,
            data: JSON.stringify(obj),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != null) {
                    $('#monthlyTutionresult').html('');
                    $('#monthlyTutionresult').html(data);
                }
            }
        });

    }

    //Grade Filter ..........................
    function SearchMonthlyTutionGrade(gid) {
        var crid = $('#curriculumid').val();
        var obj = new Object();
        obj.CurriculumId = crid;
        obj.GradeId = gid;

        $.ajax({
            url: '/Home/FilterMonthlyTutionGrade',
            type: 'POST',
            cache: false,
            data: JSON.stringify(obj),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != null) {
                    $('#monthlyTutionresult').html('');
                    $('#monthlyTutionresult').html(data);
                }
            }
        });

    }

    //Subject Filter ..........................
    function SearchMonthlyTutionSubjects(sid) {

        var crid = $('#curriculumid').val();
        var gid = $('#gradeid').val();

        var obj = new Object();
        obj.CurriculumId = crid;
        obj.GradeId = gid;
        obj.SubjectId = sid;

        $.ajax({
            url: '/Home/FilterMonthlyTutionSubject',
            type: 'POST',
            cache: false,
            data: JSON.stringify(obj),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != null) {
                    $('#monthlyTutionresult').html('');
                    $('#monthlyTutionresult').html(data);
                }
            }
        });

    }

    //Reset Filter...........................
    function ResetFilter() {

        $.ajax({
            url: '/Home/MonthlyTutionPartial',
            type: 'GET',
            cache: false,
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != null) {
                    $('#monthlyTutionresult').html('');
                    $('#monthlyTutionresult').html(data);
                }
            }
        });

    }


</script>