.nopadding{
    padding: 0 !important;
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
body{
    font-family: roboto !important;
    background: #272e38;
}
.padding5::-webkit-scrollbar {
    width: 10px;
}
 
.padding5::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
 
.padding5::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  outline: 1px solid slategrey;
}
.my_container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.navbar_bg{
    background: #303d46;
    border-radius: 0;
    min-height: 20px;
    border: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.dropdown_bg{
    background: #303d46;
    border-radius: 0;
}
ul.my_nav{
    padding: 0;
}
ul.my_nav li a{
    color: #fff;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 2px;
}
.m_r_5{
    margin-right: 5px;
}

ul.my_nav li a:hover, ul.my_nav li a:focus, .navbar-nav > li > a:hover{
    background: #081c29 !important;
    color: #fff;
}
.rotate180{
    transform: rotateY(180deg);
}
.rotatepoll{
    transform: rotate(270deg);
}
ul.my_right_nav{
    padding: 0;
    float: right;
    margin-right: 0 !important;
}
ul.my_right_nav li a{
    color: #fff;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-right: 2px;
}
}
ul.my_right_nav li a:hover, ul.my_right_nav > li > a:focus{
    background-color: #081c29 !important;
    color: #fff;
}
.toolbar{
    width: 3%;
    height: 92vh;
    background: #fff;
    float: left;
}
.main_area{
    width: 97%;
    float: left;
    height: 92vh;
}
.toolbar_header{
    width: 100%;
    height: 20px;
    background: #272e38;
}
.toolbar_ul{
    list-style: none;
    padding: 5px 0 0 0;
    text-align: center;
}
.toolbar_ul li{
    font-size: 16px;
    text-align: center;
     padding: 8px 0px
}
.tool_rotate{
    transform: rotate(40deg);
}
.toolbar_ul li img{
    max-width: 20px;
    height: auto;
}
.ul_border{
    border: 1px solid #000;
    border-radius: 2px;
    width: 94%;
    margin: 0 auto;
}
.my_small{
    font-size: 85% !important;
    border-top: 1px solid #000;
    margin-bottom: 0 !important;
}
.board{
    background: #323c46;
    padding-top: 3px;
    margin-left: 5px;
}
.white{
    background: #fff !important;
    /*min-height:77%;*/
    min-height: 50vh;
}
.tab{
    padding: 0;
}
.tab ul li a{
    color: #000;
}
.padding5{
    padding: 0 5px !important;
    height: 90vh;
    overflow: auto;
}
.heading{
    width: 100%;
    padding: 5px;
    background: #385366;
    color: #fff;
}
.m_b_20{
    margin-bottom: 20px;
}
.black{
    background: #000 !important;
    border: 0;
    padding: 10px 40px;
}
.black iframe{
    width: 100%;
    height: auto;
}
.dp{
    max-width: 13px;
    height: auto;
    margin-top: -2px;
    margin-right: 5px;
}
.attendee{
    background: #323c46 !important;
    border: 0;
    padding: 10px 5px;
}
.attendee ul{
    padding: 0;
    list-style: none;
}
.attendee ul li{
    color: #babfc3;
    font-size: 12px;
    padding: 3px 0;
}
.border_bottom{
    border-bottom: 1px solid #babfc3;
    padding-bottom: 2px
}
.video{
    padding: 0;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    float: right;
}
.image{
    max-width: 13px;
    height: auto;
    position: absolute;
    top: 2px;
    right: 2px
}
.none{
    max-width: 12px;
    position: absolute;
    top: 20px;
    right: 2px;
}
.video > image:focus + .none{
    top: 2px;
    right: 2px;
}
.chat{
     background: #323c46 !important;
    border: 0;
    padding: 10px;
}
.massage{
    width: 100%;
    max-width: 100%;
    overflow: auto;
    color: #fff;
    background: #272e38;
    margin-top: 10px;
    border: 0;
    padding: 5px;
}
.send_area{
    width: 100%;
    padding: 5px 10px;
    background-color: #395266;
    color: #babfc3;
    margin-top: 5px;
}
.my_select{
    width: 50%;
    border: 0;
    background: #272e38;
}
.my_select_small{
    width: 25%;
    border: 0;
    background: #272e38;
    margin-right: 5px
}
.sqare{
    max-width: 14px;
    margin-top: -2px;
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    background: #303d46;
    width: 100%;
    padding: 2px 20px;
    text-align: right;
    color: #fff;
}
.footer p{
    margin: 0px;
    line-height: 40px;
}
.footer p img{
    height: 30px;
    background: #fff;
    padding: 5px;
    border-radius: 3px;
    margin-left: 10px;
}

/*  New  */

.nav-tabs > li > a{border-radius: 0px !important; padding: 5px 20px; color: #ff7214}
.Leftaling{text-align: left}
a.EndSes{margin: 5px; padding: 5px 26px; color: #fff; background: #f5412e; border-radius: 5px; display: inline-block; text-transform: uppercase; font-family: Arial; transition: 0.4s}
a.EndSes:hover{border-radius: 50px; text-decoration: none;  transition: 0.4s}
a.PauseSes{margin: 5px; padding: 5px 26px; color: #fff; background: #5cb85c; border-radius: 5px; display: inline-block; text-transform: uppercase; font-family: Arial;  transition: 0.4s}
a.PauseSes:hover, a.shrbtn:hover{border-radius: 50px; text-decoration: none; transition: 0.4s}

.ChatHistory p.rightp{text-align: right; color: #5cb85c; margin: 0px}
.ChatHistory p.leftp{text-align: left; color: #fff; margin: 0px}
.ChatHistory p.leftp span{margin-left: 4px; color: #1c64b1;}


.WhiteboardModal{border-radius: 0px; background-color: rgba(0, 0, 0, 0.8); color: #fff}
a:focus{outline: none}
.WhiteboardModal button.close{margin: 2px 10px}
.WhiteboardModal .modal-header{border-bottom: 1px solid #4c4b4b}
.WhiteboardModal .modal-footer{border-top: 1px solid #4c4b4b}
.WhiteboardModal .sc{text-align: center; padding: 40px 15px;}
.WhiteboardModal .sc img{margin-bottom: 20px}
.WhiteboardModal .sc h2.titl{font-size: 18px; margin-bottom: 26px}
a.shrbtn{background: #5cb85c; display: inline-block; color: #fff; font-family: Arial; padding: 10px 26px; transition: 0.4s}
.br0{border-radius: 0px}

