﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model IEnumerable<DAL.Entities.Curriculums>

@{
    Layout = "~/Areas/Support/Views/Shared/_SupportLayout.cshtml";
    
    var proctor = @Config.UsersProfile.FirstName + " " + @Config.UsersProfile.LastName;
}

<input type="hidden" id="nickname" value="@proctor" />
<link href="~/Content/Chat/chat.css" rel="stylesheet" />
<link href="~/Content/Chat/style.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />



<div class="LightOrangeBg">
    <div class="container">
        <div class="col-md-12">
            <h1 class="TitleV1"><span>CHAT</span> - Welcome in our chatting room</h1>
        </div>

       
        <div id="container" class="col-md-12">
            <div class="panel" style="border:inset;border-color:darkslategrey">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="chat-right-aside">
                            <div class="chat-main-header">
                                <div class="p-10 b-b">
                                    <p style="margin: 0px"><strong>Chat</strong></p>
                                </div>
                            </div>
                            <div class="chat-box" style="height: 250px;">
                                <ul id="chatlog" class="chat-list slimscroll" style="padding: 15px 0px"></ul>
                                <div class="send-chat-box" style="padding-top: 10px">
                                    <div class="col-sm-12">
                                        <textarea spellcheck="true" id="message" class="form-control" placeholder="Type your message"></textarea>
                                        <div class="custom-send text-right" style="margin-top: 5px; margin-bottom: 5px">
                                            <button class="btn btn-primary"  style="color:white" id="btnsend" type="button">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="containerChat" class="col-md-12">
                    <div id="dialog" title="Enter your name to start a chat." style="display:none">
                        <input type="text" id="nick" />
                        <div class="actionpane">
                            <select id="users">
                                <option value="All">All</option>
                            </select>
                        </div>
                        <div id="onlineusers">
                            <b>Online Users</b>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>


@section scripts {

<script src="~/Content/Chat/jquery.min.js"></script>
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>*@
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>

<script src="~/Content/js/jquery.slimscroll.js"></script>
    <script src="~/Content/Chat/custom.js"></script>
    <!--SignalR script to update the chat page and send messages.-->

    <script>
        var chatSendClickCount = 0;
        $(document).ready(function () {
            startChartHub();
        });
        function formatAMPM() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }


        function startChartHub() {
            var chat = $.connection.chatHub;
            chat.client.differentName = function (name) {
                chat.server.notify($('#nickname').val(), $.connection.hub.id);
            };

            chat.client.online = function (name) {
                // Update list of users
                if (name == $('#nickname').val())
                    $('#onlineusers').append('<div class="border" style="color:green">You: ' + name + '</div>');
                else {
                    $('#onlineusers').append('<div class="border">' + name + '</div>');
                    $("#users").append('<option value="' + name + '">' + name + '</option>');
                }
            };

            chat.client.enters = function (name) {
                $('#chatlog').append('<div style="font-style:italic;"><i>' + name + ' joins the conversation</i></div>');
                $("#users").append('<option value="' + name + '">' + name + '</option>');
                $('#onlineusers').append('<div class="border">' + name + '</div>');
            };
            // Create a function that the hub can call to broadcast chat messages.
            chat.client.broadcastMessage = function (name, message) {
                //Interpret smileys
                message = message.replace(":)", "<img src=\"/images/smile.gif\" class=\"smileys\" />");
                message = message.replace("lol", "<img src=\"/images/laugh.gif\" class=\"smileys\" />");
                message = message.replace(":o", "<img src=\"/images/cool.gif\" class=\"smileys\" />");

                //display the message
                var currTime = formatAMPM();
              
                if ($("#nickname").val() == name) {
                    $('#chatlog').append('<li class="odd"><div class="chat-body"><div class="chat-text"><h4>Me</h4><p style="font-size: 12px">' + message + '</p><b>' + currTime + '</b></div></div></li>');
                }
                else {
                    $('#chatlog').append('<li><div class="chat-body"><div class="chat-text"><h4>' + name + '</h4><p style="font-size: 12px">' + message + '</p><b>' + currTime + '</b></div></div></li>');
                }
                try {

                    chatSendClickCount = chatSendClickCount + 1;
                    var divElem = $("#chatlog");// $( "div:first" ).css( "class", "slimScrollDiv" );

                    var new_height = divElem.height() + 300 * chatSendClickCount;
                    divElem.animate({ scrollTop: new_height }, 500);
                    // alert(new_height);
                }
                catch (e) {
                    alert("error in scroll" + e);
                }
            };

            chat.client.disconnected = function (name) {

                //Calls when someone leaves the page
                $('#chatlog').append('<div style="font-style:italic;"><i>' + name + ' leaves the conversation</i></div>');
                $('#onlineusers div').remove(":contains('" + name + "')");
                $("#users option").remove(":contains('" + name + "')");
            }

            // Start the connection.
            $.connection.hub.start().done(function () {
                //Calls the notify method of the server
                chat.server.notify($('#nickname').val(), $.connection.hub.id);

                $('#btnsend').click(function () {
                    if ($("#users").val() == "All") {
                        // Call the Send method on the hub.
                        chat.server.send($('#nickname').val(), $('#message').val());
                    }
                    else {
                        chat.server.sendToSpecific($('#nickname').val(), $('#message').val(), $("#users").val());
                    }
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        }

    </script>
}
