﻿@{
    ViewBag.Title = "GoodLuck";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
<input type="hidden" id="AssignedId" value="@ViewBag.TestAssignedID" />
<script type="text/javascript">
        $(window).load(function () {
            window.setTimeout(function () {
                var assignedId = $("#AssignedId").val();
                window.location.href = "/Student/StudentTest/TestStartPaper/" + assignedId;
            }, 4000)
        });
</script>
<div class="White79">
    <div class="container">
        <div class="col-sm-12 StartTest01">
            <img src="~/Content/Front/frontimg/RudraaBotLike.png" alt="Rudraa Bot" />
            <h1>Good Luck</h1>
            <div class="col-sm-12">
                <div class="loader"></div>
            </div>
            <p class="info">Test is starting in few moments..</p>
        </div>
    </div>
</div>