﻿@model DAL.Entities.TestAssigned
@using DAL.MasterEntity;
@{
    ViewBag.Title = "StartTest";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";

    MyDbContext context = new MyDbContext();
    Model.Test = context.Test.FirstOrDefault(c => c.TestID == Model.FKTestID);
    var UsersProfile = context.UsersProfile.FirstOrDefault(c => c.FKUserID == Model.FKAssignedTo);
    var Subjects = context.Subjects.FirstOrDefault(c => c.SubjectID == Model.Test.FKSubjectID);
}
<body>
    <div class="White79">
        <div class="container">
            <div class="col-sm-12 StartTest01">
                <img src="~/Images/RudraaBot.jpg" alt="Rudraa Bot" />
                <h1>
                    Hi.. @UsersProfile.FirstName<br>
                    You are about to start the Test
                </h1>
                <p class="info">Please check the info given below and read the Description before start the Test</p>
                <div class="col-md-12 TQDetailsArea">
                    <div class="col-md-5">
                        <br>
                        <h2><span>Test Name :</span>@Model.Test.TestName</h2>
                        <h2><span>Grade / Subject :</span>@Subjects.SubjectName @Model.Test.GradeSubjectName</h2>
                    </div>
                    <div class="col-md-7 Metabox">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <h3>
                                    <span>@Model.Test.TotalScores</span><br>
                                    100
                                </h3>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <h3>
                                    <span>Total Questions</span><br>
                                    @Model.Test.TotalQuestions
                                </h3>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <h3>
                                    <span>Test Duration</span><br>
                                    @Model.Test.TestDuration
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 STDes">
                    <h4>Description :</h4>
                    <p>
                        Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                        Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                        Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                        Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                        Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                        Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                    </p>
                </div>

                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/Student/StudentTest/GoodLuck/@Model.FKTestID" class="ststmainbtn">Start Test Now</a>
                </div>
            </div>
        </div>
    </div>
</body>

