﻿@model DAL.Entities.QuestionsBank

<input type="hidden" id="questionId" value="@Model.QuestionBankID" /> 
<div class="col-sm-12 STSmain">
    <h2><span id="questionN">@ViewBag.attemptedAnswer </span> Question :</h2>
    <h1 id="question">@Model.Question</h1>
    <h2>Options :</h2>

    <ul class="testOption">
        <li>
            <input type="radio" id="f-option" name="selector" value="1">
            <label for="f-option" id="FirstOption">@Model.FirstOption</label>
            <div class="check"></div>
        </li>

        <li>
            <input type="radio" id="s-option" name="selector" value="2">
            <label for="s-option" id="SecondOption">@Model.SecondOption</label>
            <div class="check">
                <div class="inside"></div>
            </div>
        </li>

        <li>
            <input type="radio" id="t-option" name="selector" value="3">
            <label for="t-option" id="ThirdOption">@Model.ThirdOption</label>
            <div class="check">
                <div class="inside"></div>
            </div>
        </li>
        <li>
            <input type="radio" id="d-option" name="selector" value="4">
            <label for="d-option" id="FourthOption">@Model.FourthOption</label>
            <div class="check">
                <div class="inside"></div>
            </div>
        </li>
    </ul>
    <label class="error" id="SelectAnswerError" style="display:none;color:red;">Please select an option to submit the answer.</label>
</div> 