﻿@{
    ViewBag.Title = "TestStartPaper";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
<div class="White79">
    <div class="container">
        <div class="col-sm-12 mt50 StartTest01">
            <div class="checkmark-circle">
                <div class="background"></div>
                <div class="checkmark draw"></div>
            </div>
        </div>
        <div class="col-sm-12 finishmsg">
            <h2>WOHO.. You Finished.. !</h2>
            <div class="col-sm-6 leftAlign">
                <a href="/Student/StudentTest/ViewResult/@ViewBag.ResultId" class="snbtn">View Your Result</a>
            </div>
        </div>
    </div>
</div>

