﻿@model DAL.Entities.QuestionsBank

@{
    ViewBag.Title = "TestStartPaper";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    DAL.Entities.Test testId = ViewBag.Test;
}

<input type="hidden" id="testId" value="@testId.TestID" />
<input type="hidden" id="QuestionNumber" value="@ViewBag.attemptedAnswer" />
<input type="hidden" id="ContTimer" value="@ViewBag.ContTimer" />
<input type="hidden" id="TestAssignedId" value="@ViewBag.TestAssignedId" />
<div class="White79">
    <div class="container nopadding" style="width: 100%">
        
        <div class="col-sm-12 nopadding">
            <div class="col-sm-9 STestArea">
                <div class="col-sm-12 STSTop">
                    <div class="col-sm-6 leftAlign">
                        <h3>Question : <span id="testQuestionNumber">@ViewBag.attemptedAnswer</span> / @testId.TotalQuestions</h3>
                    </div>
                    <div class="col-sm-6 rightAlign">
                        <h3>Time Left : <span id="demo"></span></h3>
                    </div>
                </div>
                <div id="question">
                    @Html.Partial("~/Areas/Student/Views/StudentTest/TestNextQuestion.cshtml", Model)
                </div>
                <div class="col-sm-12 STSBtns">
                    <div class="col-sm-6 leftAlign">
                        <a href="#" class="snbtn" id="nextButton">Submit and Next ></a>
                    </div>
                    @*<div class="col-sm-6 rightAlign">
                        <a href="#" class="ssbtn">Skip and Next ></a>
                    </div>*@
                </div>
            </div>
            <div class="col-sm-3 STSside">
                <div class="col-sm-12">
                    <h3>Test Information</h3>
                    <p><span>Test Name :</span> @testId.TestName</p>
                    <p><span>Subject/Grade :</span> @testId.GradeSubjectName @*Maths / 10th*@</p>
                    <p><span>Duration :</span> @testId.TestDuration mins</p>
                    <p><span>Total Questions :</span> @testId.TotalQuestions</p>
                    <p><span>Test Marks :</span> @testId.TotalScores</p>
                    <p><span>Assigned by :</span> @ViewBag.AssignedByName</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#questionN").text($("#QuestionNumber").val());
    });
    $("#nextButton").click(function () {
        debugger;
        var selectedOption = $('input[name=selector]:checked').val();
        if (typeof selectedOption === "undefined") {
            $("#SelectAnswerError").show();
        }
        else {
            $("#SelectAnswerError").hide();
            $.ajax({
                url: "/Student/StudentTest/TestNextQuestion",
                async: false,
                data: {
                    questionId: $("#questionId").val(),
                    testId: $("#testId").val(),
                    QuestionNumber: $("#questionN").text(),
                    selectedOption: selectedOption,
                    testAssingedId: $("#TestAssignedId").val()
                },
                success: function (result) {
                    debugger;
                    var questionN = $("#questionN").text();
                    $("#question").html(result);
                    $("#questionN").text(parseInt(questionN) + 1);
                    $("#testQuestionNumber").text(parseInt(questionN) + 1);
                }
            });
        }
    });
</script>

<script>
    // Set the date we're counting down to
    var ContTimer = $("#ContTimer").val();
    var countDownDate = new Date(ContTimer).getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "Finished";
            var testAssingedId = $("#TestAssignedId").val();
            window.location = '/Student/StudentTest/TestFinished/' + testAssingedId;
        }
    }, 1000);
</script>