﻿@model List<DAL.Entities.TestAssigned>
@using DAL.MasterEntity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    MyDbContext context = new MyDbContext();
}
<body>
    <div class="White79">
        <div class="StdTitle">
            <h2>MY TESTS</h2>
        </div>
        <div class="container">
            <div class="col-sm-9 nopadding">
                <div class="col-sm-12 StdTestNew">
                    <h3 class="t">Upcoming Tests</h3>
                    @foreach (var test in Model.Where(c => c.TestStatus == (int)BLL.Helpers.Enumerations.TestStatus.New))
                    {
                        test.Test = context.Test.FirstOrDefault(c => c.TestID == test.FKTestID);
                        var UsersProfile = context.UsersProfile.FirstOrDefault(c => c.UsersProfileID == test.FKAssignedBy);

                        var Subjects = context.Subjects.FirstOrDefault(c => c.SubjectID == test.Test.FKSubjectID);
                        test.TestHappenedTime = test.TestHappenedTime.AddHours(1);
                        if (UsersProfile != null && test.Test != null && Subjects != null && (test.TestHappenedTime) >= DateTime.Now)
                        {
                            test.TestHappenedTime = test.TestHappenedTime.AddHours(-1);
                            <div class="col-sm-12 StdTestBlock">
                                <div class="col-sm-8">
                                    <h3>@test.Test.TestName</h3>
                                    <p><span>Assigned by : <a href="#">@UsersProfile.FirstName</a></span><span>Subject : @Subjects.SubjectName <a href="#">@test.Test.GradeSubjectName</a></span><span>Marks : <a href="#">@test.Test.TotalScores</a></span></p>
                                    <p><span>Test on : <a>@test.TestHappenedTime</a></span><span>Duration : <a>@test.Test.TestDuration</a></span></p>
                                </div>

                                @if (test.TestHappenedTime <= DateTime.Now)
                                {
                                    <div class="col-sm-4">
                                        <a href="/Student/StudentTest/StartTest/@test.FKTestID" class="StartTestBtn">Start Test</a>
                                        <p class="hrs">Test is Ready, Start Exam now..</p>
                                    </div>
                                }
                                else
                                {
                                    DateTime a = DateTime.Now;
                                    DateTime b = test.TestHappenedTime;

                                    // Find time difference between two dates
                                    TimeSpan TimeDifference = b - a;

                                    // Write difference in hours and minutes
                                    string remaining = TimeDifference.Hours.ToString() + " : " + TimeDifference.Minutes.ToString() + " : " + TimeDifference.Seconds.ToString();
                                    <div class="col-sm-4">
                                        <h2>@remaining</h2>
                                        <p class="hrs">Hours remaining..</p>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
                <div class="col-sm-12 StdTestNew">

                    @{ var allTest = Model.Where(c => c.TestHappenedTime < DateTime.Now && c.TestStatus != (int)BLL.Helpers.Enumerations.TestStatus.New).ToList();
                        <h3 class="t">All Tests (@allTest.Count)</h3>
                        foreach (var test in allTest)
                        {
                            test.Test = context.Test.FirstOrDefault(c => c.TestID == test.FKTestID);
                            var UsersProfile = context.UsersProfile.FirstOrDefault(c => c.FKUserID == test.FKAssignedBy);

                            var Subjects = context.Subjects.FirstOrDefault(c => c.SubjectID == test.Test.FKSubjectID);
                            if (UsersProfile != null && test.Test != null && Subjects != null && (test.TestHappenedTime) < DateTime.Now)
                            {
                                <div class="col-sm-12 StdTestBlock">
                                    <div class="col-sm-8">
                                        <h3>@test.Test.TestName</h3>
                                        <p><span>Assigned by : <a href="#">@UsersProfile.FirstName</a></span><span>Subject : @Subjects.SubjectName <a href="#">@test.Test.GradeSubjectName</a></span><span>Marks : <a href="#">@test.Test.TotalScores</a></span></p>
                                        <p><span>Test on : <a>@test.TestHappenedTime</a></span><span>Duration : <a>@test.Test.TestDuration</a></span></p>
                                    </div>
                                    @if (test.TestStatus == (int)BLL.Helpers.Enumerations.TestStatus.Pending)
                                    {
                                        <div class="col-sm-4">
                                            <h4>Pending</h4>
                                            <p class="hrs">Be prepared.. Good Luck</p>
                                        </div>
                                    }
                                    else if (test.TestStatus == (int)BLL.Helpers.Enumerations.TestStatus.Completed)
                                    {
                                        <div class="col-sm-4">
                                            <h4 class="greenTxt">Completed</h4>
                                            @*<a href="#" class="stdrsbtn" data-toggle="modal" data-target=".Details">View Details</a>
                                                <a href="Result/index.html" class="stdrsbtn" target="_blank">View Result</a>*@
                                        </div>
                                    }
                                    else if (test.TestStatus == (int)BLL.Helpers.Enumerations.TestStatus.NotTaken)
                                    {
                                        <div class="col-sm-4">
                                            <h4 class="redTxt">Not Taken</h4>
                                            <p class="hrs">Be aware Next time</p>
                                        </div>
                                    }
                                </div>

                            }
                        }
                    }


                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12 StestNoti">
                    <h2>Test Notification</h2>
                    <div class="col-sm-12 hight300">
                        @foreach (var n in Model)
                        {
                            var UsersProfile = context.UsersProfile.FirstOrDefault(c => c.FKUserID == n.FKAssignedBy);
                            var Tst = context.Test.FirstOrDefault(c => c.TestID == n.FKTestID);
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">@Tst.TestName</a> by  @UsersProfile.FirstName</h3>
                                <p>@n.TestHappenedTime</p>
                            </div>

                        }



                        @*<div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>*@
                    </div>
                </div>
                <div class="col-sm-12 stdtodaythought">
                    <p>Today's Thought</p>
                    <h1>Push yourself becasue, No one else is going to do it for you</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade Details Bottom" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog DBottomModal" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-sm-12 StdTestBlock mb0">
                                <div class="col-sm-8">
                                    <h3>Test title goes here</h3>
                                    <p><span>Assigned by : <a href="#">Dhaval Khatri</a></span><span>Subject : <a href="#">Maths</a></span><span>Marks : <a href="#">100</a></span><span>Test on : <a>30th December, 2016 - 11:00 AM</a></span><span>Duration : <a>45 mins</a></span></p>
                                    <p><span>Taken on : <a>30th December, 2016 - 11:02 AM</a></span><span>Duration : <a>42 : 07 mins</a></span></p>
                                </div>
                                <div class="col-sm-4">
                                    <h4 class="greenTxt">Pass</h4>
                                    <a href="#" class="stdrsbtn" data-dismiss="modal" aria-label="Close">Close</a>
                                    <a href="Result/index.html" class="stdrsbtn" target="_blank">View Full Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

