﻿@using DAL.Entities;
@{ 
    Layout = null;

    tblStudentTestResult objResult = ViewBag.objResult;
    UsersProfile objStudentDetails = ViewBag.studentDetails;
    Test objTest = ViewBag.objTest;
    Grades objGrade = ViewBag.objGrade;
    Subjects objSubjects = ViewBag.objSubjects;
    List<StudentTestAnswers> resultAll = ViewBag.resultAll;

    decimal TotalMarks = objResult.TotalMarks;
    decimal TotalScores = objTest.TotalScores;
    decimal percentage = ((TotalMarks / TotalScores) * 100);
    int qustionNumber = 0;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Rudraa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/Result/css/style.css" rel="stylesheet" />
    <link href="/Result/css/nav.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/Result/js/jquery.js"></script>
    <script type="text/javascript" src="/Result/js/login.js"></script>
    <script type="text/javascript" src="/Result/js/Chart.js"></script>
    <script type="text/javascript" src="/Result/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/Result/js/jquery.ulslide.js"></script>
    <!----Calender -------->
    <link href="" rel="stylesheet" />
    <link href="/Result/css/clndr.css" rel="stylesheet" />

    <script src="/Result/js/underscore-min.js"></script>
    <script src="/Result/js/moment-2.2.1.js"></script>
    <script src="/Result/js/clndr.js"></script>
    <script src="/Result/js/site.js"></script>
    <!----End Calender -------->
</head>
<body>
    <div class="header">
        <div class="header_top">
            <div class="menu">
                <a class="toggleMenu" href="#">
                    <img src="/Result/images/nav.png" alt="" />
                </a>
                <ul class="nav">
                    <li>
                        <a>
                            <i>
                                
                                <img src="/Result/images/a01.png" alt="" />
                            </i>RESULT REPORT #@objResult.ResultId <a href="/Student/Student"> Go To Dashboard </a>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
                <script type="text/javascript" src="/Result/js/responsive-nav.js"></script>
            </div>
            <div class="profile_details">
                <div class="">
                    <img src="/Result/images/logo.png" alt="" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="main">
        <div class="wrap">
            <div class="column_left">
                <div class="column_middle_grid1">
                    <div class="profile_picture">
                        <a href="">
                            <img src="/Result/images/profile_img150x150.jpg" alt="" />
                        </a>
                        <div class="profile_picture_name">
                            <h2>@objStudentDetails.FirstName</h2>
                            <p>@objGrade.GradeName</p>
                        </div>
                    </div>
                </div>

                <div class="social_networks">
                    <ul>
                        <li>
                            <a href="#" class="facebook">
                                <i>
                                    <img src="/Result/images/facebook_icon.png" alt="" />
                                </i> <span>Share to Facebook</span><div class="clear"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <i>
                                    <img src="/Result/images/tweets.png" alt="" />
                                </i> <span>Share to Twitter</span><div class="clear"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="googleplus">
                                <i>
                                    <img src="/Result/images/google+.png" alt="" />
                                </i> <span>Share to Google+</span><div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                @*<div class="column_right_grid">
                    <div class="newsletter">
                        <h3>OR Send via Email</h3>
                        <form>
                            <span>
                                <input type="text" value="Enter email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email';}">
                            </span>
                            <input type="submit" class="my_button" value="SEND">
                        </form>
                    </div>
                </div>*@
                @*<div class="tweets">
                    <h3>Teacher's Comments</h3>
                    <div class="tweets_list">
                        <ul>
                            <li>
                                Comment of the Teacher goes here Comment of the Teacher goes here Comment of the Teacher goes here
                                Comment of the Teacher goes here Comment of the Teacher goes here Comment of the Teacher goes here Comment of the <a href="#">- Dhaval Khatri</a>
                                <span>31st December, 2016</span>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>

            <div class="column_middle">
                <div class="Testdetails">
                    <h2> @objTest.TestName </h2>
                    <div class="D-table">
                        <table>
                            <tr>
                                <td>Grade / Subject</td>
                                <td>@objGrade.GradeName / @objSubjects.SubjectName</td>
                            </tr>
                            <tr>
                                <td>Total Marks / Passing Marks</td>
                                <td>@objTest.TotalScores / @objTest.PassingMarks</td>
                            </tr>
                            <tr>
                                <td>Duration / Time taken</td>
                                <td>@objTest.TestDuration mins / @objResult.DurationHours : @objResult.DurationMints : @objResult.DurationSeconds</td>
                            </tr>
                            <tr>
                                <td>Test Taken on</td>
                                <td>@objResult.TestTakenOn</td>
                            </tr>
                            <tr>
                                <td>Assigned By</td>
                                <td>@ViewBag.TeacherName</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="chart">
                    <h3>ACCURACY - SPEED</h3>
                    <div class="diagram">
                        <canvas id="canvas" height="220" width="220"></canvas>
                        <h4>
                            <span>25</span><br />
                            QUE
                        </h4>
                    </div>

                    <!----
                        <span><img src="images/chart.png" alt="" /></span>
                        ----->
                    <div class="chart_list">
                        <ul>
                            <li>
                                <a href="#" class="red">
                                    False<p class="percentage">07</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="purple">
                                    True<p class="percentage">18</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="yellow">
                                    FAST<p class="percentage">19<em>%</em></p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="blue">
                                    SLOW<p class="percentage">81<em>%</em></p>
                                </a>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <script>
                        var doughnutData = [
								{
								    value: 21,
								    color: "#E64C65"
								},
								{
								    value: 48,
								    color: "#11A8AB"
								},
								{
								    value: 32,
								    color: "#4FC4F6"
								},
								{
								    value: 9,
								    color: "#FCB150"
								},

                        ];
                        var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                @*<div class="graph">
                    <div class="graph_list">
                        <div class="week-month-year">
                            <h2>performance</h2>
                            <p><a>Poor</a></p>
                            <p><a class="active">Good</a></p>
                            <p><a>Excellent</a></p>
                            <div class="clear"></div>
                        </div>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="day_name">CORRECT</span> + <span class="day_name">FAST</span>

                                    <label class="digits">21<span><em>%</em></span></label><div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="day_name">CORRECT</span> + <span class="day_name">SLOW</span>

                                    <label class="digits">48<span><em>%</em></span></label><div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="day_name">INCORRECT</span> + <span class="day_name">FAST</span>

                                    <label class="digits">15<span><em>%</em></span> </label>
                                    <div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="day_name">INCORRECT</span> + <span class="day_name">SLOW</span>

                                    <label class="digits">16<span><em>%</em></span> </label>
                                    <div class="clear"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>

            <div class="column_right">
                <div class="ShowResult pass">
                    <p>Marks Obtained</p>
                    <h1>@objResult.TotalMarks</h1>
                    @if (objResult.TotalMarks == 1)
    {
                <h2>Pass</h2>
}
else
{
                <h2>Fail</h2>
}

                </div>
                <div class="column_right_grid downloading_uploading">
                    <ul>
                        <li>
                            <div class="progress">
                                <div class="progress-bar" style="width: @percentage%"></div>
                            </div>
                            <div class="clearfix">
                                <p class="downloading">Overall Rank...</p>
                                <p class="percentage">@TotalMarks / @TotalScores</p>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="column_right_grid date_events">
                    <h3>
                        <a href="#" id="slide_prev">
                            <img src="/Result/images/arrow-left.png" alt="" />
                        </a> ANSWERS <a href="#" id="slide_next">
                            <img src="/Result/images/arrow-right.png" alt="" />
                        </a>
                    </h3>
                    <ul id="slide" class="event_dates">
                        @foreach (var r in resultAll)
                        {
                            qustionNumber = qustionNumber + 1;
                        <li>
                        <h2>@r.QuestionStartTime</h2>
                            <h1>@qustionNumber</h1>
                        @if(r.ISStuedentAnswerTrue)
                        {
                          <p>TRUE</p>
                        }
                        else
                        {
                          <p class="false">FALSE</p>
                        }
                        </li>
                        }

                        @*<li><h2>11:15:42 sec</h2><h1>01</h1><p>TRUE</p></li>
                        <li><h2>11:16:42 sec</h2><h1>12</h1><p class="false">FALSE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>11</h1><p>TRUE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>10</h1><p>TRUE</p></li>
                        <li><h2>11:16:42 sec</h2><h1>09</h1><p class="false">FALSE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>08</h1><p>TRUE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>07</h1><p>TRUE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>06</h1><p>TRUE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>05</h1><p>TRUE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>04</h1><p>TRUE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>03</h1><p>TRUE</p></li>
                        <li><h2>11:15:42 sec</h2><h1>02</h1><p class="false">FALSE</p></li>*@
                    </ul>
                    <script type="text/javascript">
                        $(function () {
                            $('#slide').ulslide({

                                effect: {
                                    type: 'carousel', // slide or fade
                                    axis: 'x',        // x, y
                                    showCount: 1
                                },
                                nextButton: '#slide_next',
                                prevButton: '#slide_prev',
                                duration: 800,
                                /*autoslide: 2000,*/
                                easing: 'easeOutBounce'
                            });
                        });
                    </script>
                </div>
                @*<div class="award">
                    <h2>YOU WON</h2>
                    <img src="/Result/images/AwardSilver.png" class="big" />
                    <h3>SLIVER TROPHY</h3>
                    <p>Congrts ! Work Hard</p>
                    <div>
                        <img src="/Result/images/AwardSilver.png" class="small" title="Silver Trophy" />
                        <img src="/Result/images/AwardGold.png" class="small" title="Gold Trophy" />
                        <img src="/Result/images/AwardNo.png" class="small" title="No Trophy" />
                    </div>
                </div>*@
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="copy-right">
        <p>© 2016 Rudraa</p>
    </div>
</body>
</html>


