﻿@model List<DAL.Entities.Actions>
@using BLL.Helpers

<div class="content">
    <div class="container-fluid min-h">
        <div class="col-md-12" id="actionsDiv">

           
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-md-2">
                        @if (item.IsActive == true)
                        {
                            
                            <label  class="checkbox-inline">
                                <input type="checkbox" checked="checked"  value="@item.ActionsID"/>@item.ActionName
                            </label>
                            
                        }
                        else
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" value="@item.ActionsID"/>@item.ActionName
                            </label>
                        }
                    </div>
                    <div class="clear-fix">

                    </div>

                        }
                    </div>

            <!-- /.row -->
        </div>
        <div class="col-md-12" style="margin-top: 15px;">

        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <input type="submit" id="btnSave" class="btn btn-primary pull-right" name="">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#btnSave').click(function () {

            debugger;
            var list = [];
            $('#actionsDiv input:checked').each(function () {
                list.push(this.value);
            });

            $.ajax({
                url: '@Url.Action("SaveActions", "Admin")',
                type: 'POST',
                data: {
                    actionIDs: list,

                },
                success: function (result) {

                    window.location.href = '@Url.Action("Actions","Admin")'
                },
                error: function (result) {
                    alert("error!");
                }
            });   //end ajax
        });
    });
</script>