﻿@model IEnumerable<BLL.BusinessModels.AdminModels.UserViewModel>
@using BLL.Helpers

@{
    ViewBag.Title = "AdminsList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;

}

<style>
    .dataTables_filter {
        float: right !important;
    }
</style>
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Admins
                        @if (ViewBag.currentUserPermissions != null)
                        {
                            foreach (var item in ViewBag.currentUserPermissions)
                            {

                                if (item == (int)Enumerations.Permissions.PermissiontoAddSubAdmin)
                                {
                                    <a href="@Url.Action("CreateAdmin","Admin", new { area="Admin"})" class="pull-right">Add Admin</a>
                                    break;
                                }
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("CreateAdmin","Admin", new { area="Admin"})" class="pull-right">Add Admin</a>
                        }

                    </h4>

                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Status</th>
                                <th class="tablecolumn"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UsersProfileViewModel.FirstName)
                                        @Html.DisplayFor(modelItem => item.UsersProfileViewModel.LastName)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.LoginEmail)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                                    <td>
                                        @if (item.UserStatus == (int)Enumerations.UserStatus.Approved)
                                        {
                                            <text >Approved</text>
                                        }
                                        else if (item.UserStatus == (int)Enumerations.UserStatus.IsActive)
                                        {
                                            <text>Active</text>
                                        }
                                        else if (item.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                        {
                                            <text>Blocked</text>
                                        }
                                        else if (item.UserStatus == (int)Enumerations.UserStatus.Pending)
                                        {
                                            <text>Pending</text>
                                        }
                                        else if (item.UserStatus == (int)Enumerations.UserStatus.NotApproved)
                                        {
                                            <text>Not Approved</text>
                                        }
                                    </td>
                                    <td class="tablecolumn">

                                        @if (ViewBag.currentUserPermissions != null)
                                        {
                                            foreach (var permission in ViewBag.currentUserPermissions)
                                            {
                                                if (permission == (int)Enumerations.Permissions.PermissiontoUpdateSubAdmin)
                                                {
                                                    <a href="@Url.Action("GetAdmin", new { userID = item.UserID})">
                                                        <i rel="tooltip" data-original-title="Edit Admin" class="fa fa-pencil"></i>
                                                        <span class="sr-only"></span>
                                                    </a>
                                                }
                                                else if (permission == (int)Enumerations.Permissions.PermissiontoDeleteSubAdmin)
                                                {
                                                    <a href="@Url.Action("DeleteAdmin", new { userID = item.UserID})" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                                        <i rel="tooltip" data-original-title="Delete Admin" class="fa fa-remove"></i>
                                                        <span class="sr-only"></span>
                                                    </a>
                                                }
                                             
                                            }
                                        }

                                        else
                                        {
                                            <a href="@Url.Action("GetAdmin", new { userID = item.UserID})">
                                                <i rel="tooltip" data-original-title="Edit Admin" class="fa fa-pencil"></i>
                                                <span class="sr-only"></span>
                                            </a>
                                            <a href="@Url.Action("DeleteAdmin", new { userID = item.UserID})" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');">
                                                <i rel="tooltip" data-original-title="Delete Admin" class="fa fa-remove"></i>
                                                <span class="sr-only"></span>
                                            </a>
                                            <a href="@Url.Action("AssignPermissions", new { userID = item.UserID , userType = item.UserType})">
                                                <i rel="tooltip" data-original-title="Assign Permissions" class="fa fa-check"></i>
                                                <span class="sr-only"></span>
                                            </a>
                                        }

                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripting{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}

