﻿@using BLL.BusinessModels.AdminModels;
@*@model List<PermissionViewModel>*@
@model UserViewModel

@{
    ViewBag.Title = "AssignPermissions";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

 
    <div class="header headerborder">
        <h4 class="title">
            Assign Permissions
        </h4>
    </div>


    <div id="checkBoxesDiv">
        @if (Model.listOfAllPermissions.Count > 0)
        {
            foreach (var item in Model.listOfAllPermissions)
            {
                if (Model.permissionsList.Any(x => x.PermissionID == item.PermissionID))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <input value="@item.PermissionID" name="@item.PermissionName" type="checkbox" checked="checked" style="width:50px; height:20px">
                            <label> @item.PermissionName </label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-4">
                            <input value="@item.PermissionID" name="@item.PermissionName" type="checkbox" style="width:50px; height:20px">
                            <label> @item.PermissionName </label>
                        </div>
                    </div>
                }
            }
        }
     
    </div>



    <input type="button" id="AssignBtn" value="Assign" class="btn btn-primary" />




<script>
    $(document).ready(function () {
        $('#AssignBtn').click(function () {

            var list = [];
            $('#checkBoxesDiv input:checked').each(function () {
                list.push(this.value);
            });

            $.ajax({
                url: '@Url.Action("SaveAssignedPermissionsToUser", "Admin")',
                type: 'POST',
                data: {
                    permissionIDs: list,
                    userID : '@Model.UserID',
                    userType: '@Model.UserType'
                  
                },
                success: function (result) {
                 
                    window.location.href = '@Url.Action("AdminsList","Admin")'
                },
                error: function (result) {
                    alert("error!");
                }
            });   //end ajax
        });
    });
</script>