﻿@using BLL.BusinessModels.AdminModels
@using BLL.BusinessManagers.StudentManager
@using BLL.Helpers

@{
    ViewBag.Title = "Broadcast";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}


<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-envelope-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Email to</strong><br>All Students</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Email", new { type = (int)Enumerations.SendEmailTo.AllStudents})">
                        <div class="panel-footer">
                            <span class="pull-left">Next</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-envelope-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Email to</strong><br>All Teachers</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Email", new { type = (int)Enumerations.SendEmailTo.AllTeachers})">
                        <div class="panel-footer">
                            <span class="pull-left">Next</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-envelope-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Email to</strong><br>All Admins</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Email", new { type = (int)Enumerations.SendEmailTo.AllAdmins})">
                        <div class="panel-footer">
                            <span class="pull-left">Next</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-envelope-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Email to</strong><br>Selected Users</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("EmailSelectedUsers","Admin")">
                        <div class="panel-footer">
                            <span class="pull-left">Next</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <div class="col-md-12" style="margin-top: 15px;">

    </div>
</div>