﻿
@using BLL.BusinessModels.AdminModels;
@model UserViewModel

@{
    ViewBag.Title = "CreateAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Add New Admin
                        @*<a href="@Url.Action("CurriculumsList","Curriculum", new { area="Admin"})" class="pull-right">View Curriculums</a>*@
                    </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateAdmin", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x => x.UserStatus)
                        @Html.HiddenFor(x => x.UserType)

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                First Name
                            </label>

                            @Html.TextBoxFor(x => x.UsersProfileViewModel.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Last Name
                            </label>
                            @Html.TextBoxFor(x => x.UsersProfileViewModel.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Admin Email
                            </label>
                            @Html.TextBoxFor(x => x.LoginEmail, new { @class = "form-control", @placeholder = "Email" })
                            <p id="emailError" style="color:red; font-family:aria"></p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Admin Password
                            </label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select State
                            </label>
                            @Html.DropDownListFor(model => model.UsersProfileViewModel.FKStateId, new SelectList(Model.StatesList, "Value", "Text", new { Value = Model.UserID }), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UsersProfileViewModel.FKStateId, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("AdminsList","Admin", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        $("#LoginEmail").focusout(function () {

            var email = $("#LoginEmail").val();          
            if (email != null && email != '') {
                if (!validateEmail(email))
                {
                    $('#emailError').empty();
                    $('#emailError').append('Email is not valid').show();
                    $("#send").prop("disabled", true);
                    return false;
                }              
                $.ajax({
                    url: '@Url.Action("CheckEmailInDatabase", "Admin")',
                    type: 'POST',
                    data: {
                        email: email

                    },
                    success: function (result) {
                       
                        if(result.Success == "true")
                        {
                            $('#emailError').empty();
                            $('#emailError').append('Email Already Exists').show();
                            $("#send").prop("disabled", true);
                         
                        }
                        else if(result.Success == "false")
                        {
                            $("#send").prop("disabled", false);
                            $('#emailError').empty();
                        }
                    },
                    error: function (result) {
                        alert("error!");
                    }
                });   //end ajax
            }
        });

    function validateEmail(Email) {
        var pattern = "^[a-zA-Z0-9_\\.-]+@@([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,6}$";

        return $.trim(Email).match(pattern) ? true : false;
    }
</script>


