﻿@model BLL.BusinessModels.AdminModels.EmailTemplatesModel
@using BLL.Helpers

@{
    ViewBag.Title = "AdminsList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}


<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        @if (Model.Type == (int)Enumerations.EmailTemplates.EmailTemplateForTeacherRegistration)
                        {
                            <text> Email Template For Teachers </text>
                        }
                        else if (Model.Type == (int)Enumerations.EmailTemplates.EmailTemplateForStudentRegistration)
                        {
                            <text> Email Template For Students </text>
                        }
                        else if (Model.Type == (int)Enumerations.EmailTemplates.EmailTemplateForCoursePurchase)
                        {
                            <text> Email Template For Course Purchase </text>
                        }

                    </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("UpdateTemplate", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x => x.EmailTemplatesModelID)
                        @Html.HiddenFor(x => x.Type)

                        <div class="form-group">

                            @Html.EditorFor(x => x.Body, new { @class = "form-control" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("Templates","Admin", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>