﻿@model BLL.BusinessModels.AdminModels.EmailTemplatesModel
@using BLL.Helpers

@{
    ViewBag.Title = "Email";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        @if (Model.Type == (int)Enumerations.SendEmailTo.AllAdmins)
                        {
                            <text> Email To All Admins </text>
                        }
                        else if (Model.Type == (int)Enumerations.SendEmailTo.AllTeachers)
                        {
                            <text> Email To All Teachers </text>
                        }
                        else if (Model.Type == (int)Enumerations.SendEmailTo.AllStudents)
                        {
                            <text> Email To All Students </text>
                        }
                        else if (Model.Type == (int)Enumerations.SendEmailTo.SelectedUsers)
                        {
                            <text> Email To Selected Users </text>
                        }

                    </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("EmailUsersOnRequest", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x => x.EmailTemplatesModelID)
                        @Html.HiddenFor(x => x.Type)

                        <div class="form-group col-md-10">
                            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @placeholder = "Subject" })
                        </div>

                        <div class="form-group col-md-10">

                            @Html.EditorFor(x => x.Body, new { @class = "form-control" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("Broadcast","Admin", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>