﻿@model BLL.BusinessModels.AdminModels.EmailTemplatesModel

<script src="~/Content/DashBoard/Autocomplete/js/jquery-ui.js"></script>
<link href="~/Content/DashBoard/Autocomplete/css/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">

    $(document).ready(function () {


        $("#Receipents").autocomplete({
            source: function (req, resp) {
                debugger;
                $.ajax({
                    url: "@Url.Action("GetReceipents","Admin")",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: GetCurrentSearchTerm(req.term) },
                    success: function (data) {
                        debugger;
                        resp($.map(data, function (item) {
                            return { label: item.name, value: item.email };

                            debugger;
                        }))

                    }
                })
            },

            select: function (event, ui) {

                debugger;
                var LastValue = splitCurrentText(this.value);
                LastValue.pop();
                LastValue.push(ui.item.value);
                LastValue.push("");
                this.value = LastValue.join(",");
                return false;
            },
            focus: function () {
            return false;
        }
        });
        function splitCurrentText(LastTerm) {

            debugger;
            return LastTerm.split(/,\s*/);
        }

        function GetCurrentSearchTerm(LastTerm) {

            debugger;
            return splitCurrentText(LastTerm).pop();
        }
    });
</script>

<div class="row">
    <div class="col-md-10">

        <div class="content" style="margin:3% !important;">
            @using (Html.BeginForm("SendEmailToSelectedUsers", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
     
                <div class="form-group col-md-10">
                    @Html.TextAreaFor(x => x.Receipents, new { @class = "form-control", @placeholder = "Select Users", @rows = 3, @cols = 10  })
                </div>


                <div class="form-group col-md-10">
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @placeholder = "Subject" })
                </div>

                        <div class="form-group col-md-12">

                            @Html.EditorFor(x => x.Body, new { @class = "form-control" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("Broadcast","Admin", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
            }
        </div>
    </div>
</div>









