﻿@using BLL.BusinessModels.AdminModels;
@model UserViewModel

@{
    ViewBag.Title = "GetAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Admin Detail
                     </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("UpdateAdmin", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x => x.UserID)
                        @Html.HiddenFor(x => x.UserStatus)
                        @Html.HiddenFor(x => x.UserType)
                        @Html.HiddenFor(x => x.IsActive)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.UsersProfileID)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.FKUserId)

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                First Name
                            </label>

                            @Html.TextBoxFor(x => x.UsersProfileViewModel.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Last Name
                            </label>
                            @Html.TextBoxFor(x => x.UsersProfileViewModel.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Admin Email
                            </label>
                            @Html.TextBoxFor(x => x.LoginEmail, new { @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                            @Html.ValidationMessageFor(x => x.LoginEmail, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Admin Password
                            </label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px">
                                Select State
                            </label>
                            @Html.DropDownListFor(model => model.UsersProfileViewModel.FKStateId, new SelectList(Model.StatesList, "Value", "Text", new { Value = Model.UserID }), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UsersProfileViewModel.FKStateId, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("AdminsList","Admin")" class="btn btn-primary">Go Back</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


