﻿
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-7 amount">
                            <span>8600$</span>
                        </div>
                        <div class="col-xs-5 text-right">
                            <div><strong>Total</strong><br>Income</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-7 amount">
                            <span>1350$</span>
                        </div>
                        <div class="col-xs-5 text-right">
                            <div><strong>Total</strong><br>Paid</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-7 amount">
                            <span>7250$</span>
                        </div>
                        <div class="col-xs-5 text-right">
                            <div><strong>Available</strong><br>Funds</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-7 amount">
                            <span>120</span>
                        </div>
                        <div class="col-xs-5 text-right">
                            <div><strong>Withdrawal</strong><br>Requests</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

