﻿@model IEnumerable<BLL.BusinessModels.AdminModels.UserActivitiesModel>
@using BLL.Helpers

@{
    ViewBag.Title = "AdminsList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;

}


<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        @if (ViewBag.Requestside == (int)Enumerations.ActivitySource.FrontsideActivity)
                        {
                            <text>  Front end Activities </text>
                        }
                        else if (ViewBag.Requestside == (int)Enumerations.ActivitySource.BacksideActivity)
                        {
                            <text>  Back end Activities </text>
                        }
                    </h4>

                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Action Performed</th>
                                <th>Name</th>
                                @*<th>User Type</th>*@
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActionPerformed) </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.userModel.UsersProfileViewModel.FirstName)
                                        @Html.DisplayFor(modelItem => item.userModel.UsersProfileViewModel.LastName)
                                    </td>
                                    @*@if (item.userModel.UserType == (int)Enumerations.UserType.Admin)
                                        {
                                            <td>Admin</td>
                                        }
                                        else if (item.userModel.UserType == (int)Enumerations.UserType.Parent)
                                        {
                                            <td>Parent</td>
                                        }
                                        else if (item.userModel.UserType == (int)Enumerations.UserType.Student)
                                        {
                                            <td>Student</td>
                                        }
                                        else if (item.userModel.UserType == (int)Enumerations.UserType.Super)
                                        {
                                            <td>Super Admin</td>
                                        }
                                        else if (item.userModel.UserType == (int)Enumerations.UserType.Teacher)
                                        {
                                            <td>Teacher </td>
                                        }*@

                                    <td>@Html.DisplayFor(modelItem => item.Time)</td>

                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripting{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}

