﻿

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-graduation-cap fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Template For</strong><br>All Students</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("EmailTemplate","Admin" , new { type = 2 })">
                        <div class="panel-footer">
                            <span class="pull-left">Next</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Template For</strong><br>All Teachers</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("EmailTemplate","Admin" , new { type = 1 })">
                        <div class="panel-footer">
                            <span class="pull-left">Next</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Purchase</strong></div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("EmailTemplate","Admin" , new { type = 3 })">
                        <div class="panel-footer">
                            <span class="pull-left">Next</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <div class="col-md-12" style="margin-top: 15px;">

    </div>
</div>