﻿@using DAL.Entities
@using BLL.BusinessManagers
@using BLL.Helpers

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teaching Bharat</title>
    <link rel="icon" href="~/Content/Front/frontimg/fav.png" type="img/png" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/studentcss")
    <script src="~/Content/TeacherDasboard/js/moment.min.js"></script>
    <link href="~/Content/TeacherDasboard/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/UpdatedCSS/CustomizeTest.css" rel="stylesheet" />
    
     @Scripts.Render("~/Content/wowjs")
    @Scripts.Render("~/Content/Jquery")

    <script>
        new WOW().init();
    </script>

</head>
<body>

    @if (Config.CurrentUser != 0)
    {
        NotificationManager nManager = new NotificationManager();
        List<UserNotifications> list = new List<UserNotifications>();
        list = nManager.ListofUserNotifications(Config.CurrentUser);

        if(list!=null && list.Count>0)
        {
            list = list.Take(3).ToList();
        }


       <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="mynve-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index","Home", new { area=""})">
                            <img src="~/Content/Front/frontimg/logo.png" />
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="indexs active"><a href="@Url.Action("Index","Student", new { area="Student"})">Dashboard</a></li>
                            <li class="stp"><a href="@Url.Action("step_1","Student", new { area="Student"})">Find Teacher</a></li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offerings</a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("monthlyTuitions","student", new { area="student"})">Monthly Tuitions</a></li>
                                    <li><a href="@Url.Action("exploreCourses","student", new { area="student"})">Explore Courses</a></li>
                                    <li><a href="@Url.Action("clearDoubts","student", new { area="student"})">Clear Doubts Now</a></li>
                                </ul>
                            </li>*@
                            <li class="UpdateMySession"><a href="@Url.Action("UpdateMySession","Student", new { area="Student"})"> My Sessions </a></li>
                            @*<li><a href="@Url.Action("JoinSessions","Student",new { area="Student"})">Join Session</a></li>*@
                            <li class="mySubscriptions"><a href="@Url.Action("Subscriptions","student", new { area="student"})">My Subscriptions</a></li>
                            <li class="myStudents"><a href="@Url.Action("myTeachers","student", new { area="student"})">My Teacher</a></li>
                            <li class="MyCalender"><a href="@Url.Action("MyCalender","Student",new { area="Student"})">My Calendar</a></li>

                            <li class="dropdown MoreO">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                                <ul class="dropdown-menu">
                                    @*<li><a href="@Url.Action("freeResources","student", new { area="student"})">Free Resources</a></li>*@
                                    <li><a href="/Student/StudentTest/Test">Test / Assignments</a></li>
                                    <li><a href="@Url.Action("Notes","student", new { area="student"})">Notes</a></li>
                                    <li><a href="@Url.Action("tryWhiteboard","student", new { area="student"})">WhiteBoard</a></li>
                                    <li><a href="@Url.Action("systemCheck","student", new { area="student"})">System Check</a></li>
                                    <li><a href="@Url.Action("support","student", new { area="student"})">Support</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-bell noti"></i></a>
                                <ul class="dropdown-menu notidd">
                                    @if (list != null && list.Count > 0)
                                    {
                                        foreach (var item in list)
                                        {
                                               <li><a href="@Url.Action("AllNotification","Student", new { @area="Student"})">@item.ActionPerformed</a></li>
                                        }
                                    }
                                    else
                                    {
                                        <li style="text-align:center;margin:45px;">No Notification Found</li>
                                    }
                                
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="glyphicon glyphicon-user"></i>@Config.UsersProfile.FirstName <i class="glyphicon glyphicon-menu-down"></i></span></a>
                                <ul class="dropdown-menu userdd">
                                    <li><a href="@Url.Action("MyProfile","Student", new { area="Student"})"><i class="glyphicon glyphicon-user"></i>My Profile</a></li>
                                    <li><a href="@Url.Action("myAccount","Student", new { area="Student"})"><i class="glyphicon glyphicon-briefcase"></i>My Account</a></li>
                                    <li><a href="@Url.Action("Login", "Account", new {Area = ""})"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                                    @*<li><a href="#"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="mynve-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index","Home", new { area=""})">
                            <img src="~/Content/Front/frontimg/logo.png" />
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home", new { area=""})">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offerings</a>
                                <ul class="dropdown-menu">

                                    <li><a href="@Url.Action("MonthlyTution","Home", new { area=""})">Monthly Tuitions</a></li>
                                    <li><a href="@Url.Action("explorecourses","Home", new { area=""})">Explore Courses</a></li>
                                    <li><a href="@Url.Action("FindTeacher","Student", new { area="Student"})">Clear Doubts Now</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("FreeResources","Home", new { area=""})">Free Resources</a></li>
                            @if (Config.CurrentUser == 0)
                            {
                                <li><a href="@Url.Action("TeacherRegistration","Account", new { area=""})">Become A Teacher</a></li>
                            }
                            @*<li><a href="@Url.Action("FindTeacherStepOne","Home")">Find a Teacher</a></li>*@

                            <li><a href="#">WHY FROM US</a></li>

                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
    }



  @RenderBody()
    
    <div class="Footer">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <img src="~/Content/Front/frontimg/logo.png" />
                        <p>We are Leading company Providing you Digital Online Learning Services and some texts about our portal goes here some texts about our portal goes here</p>
                        <h2>
                            Toll Free :<br>
                            1800 000 000
                        </h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Company</h1>
                        <ul>
                            <li><a href="../AboutUs.html">About us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press Release</a></li>
                            <li><a href="../ContactUs.html">Contact us</a></li>
                            <li><a href="../TermsOfUse.html">Terms of use</a></li>
                            <li><a href="../PrivacyPolicy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Teaching Bharat</h1>
                        <ul>
                            <li><a href="#">Browse Course</a></li>
                            <li><a href="#">Browse Teachers</a></li>
                            <li><a href="#">Clear Doubts</a></li>
                            <li><a href="../FreeResources.html">Free Resourse</a></li>
                            <li><a href="#">Become a Teacher</a></li>
                            <li><a href="../SRegister.html">Student Registration</a></li>
                            <li><a href="../AllReviews.html">Read Reviews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Important Links</h1>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Need Help?</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="../SuggestCourse.html">Suggest Course</a></li>
                            <li><a href="../AskQuestion.html">Ask Question</a></li>
                            <li><a href="../Sfaqs.html">Student FAQs</a></li>
                            <li><a href="../GeneralFAQs.html">General FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomFooter">
            <div class="container" style="width: 100%">
                <div class="col-md-6 leftAlign">
                    <p>Copyright 2016 All Rights are Reserved by Teaching Bharat</p>
                </div>
                <div class="col-md-6 rightAlign">
                    <a href="#">
                      
                        <img src="~/Content/Front/frontimg/s1.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s2.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s3.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s4.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content Mcourse">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Session Request | 11th November, 2016 (09:04 AM)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Student Name</td>
                                    <td><strong>Viral Modi</strong></td>
                                </tr>
                                <tr>
                                    <td>Session on</td>
                                    <td><strong>English - Topic here</strong></td>
                                </tr>
                                <tr>
                                    <td>Session type</td>
                                    <td><strong>Once</strong></td>
                                </tr>
                                <tr>
                                    <td>Session on</td>
                                    <td><strong>MON - 15th November, 2016</strong></td>
                                </tr>
                                <tr>
                                    <td>Session Time</td>
                                    <td><strong>10:00 AM - 11:00 AM ( 1 Hour )</strong></td>
                                </tr>
                                <tr>
                                    <td>Comments by Student</td>
                                    <td>Hi Sir, Please accept my request for the Session</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> ACCEPT</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-pencil"></i> MODIFY</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> DECLINE</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/TLayoutjs")  
    @RenderSection("Scripts", false)

    @{string aName = ViewContext.RouteData.GetRequiredString("action"); }

    <script type="text/javascript">
        function IAM()
        {
            window.onbeforeunload = null;
            window.onbeforeunload = function () { null }
            window.location.href = "@Url.Action("TestFinished", "Student", new { area="Student"})";
        }
    </script>
    <script type="text/javascript">
 
      var dataUser = '@TempData["UserData"]';

      if(dataUser!=null && dataUser!='' )
      {
         // if (window.localStorage.getItem("UserData") == null){
              window.localStorage.setItem("UserData", null);
              window.localStorage.setItem("UserData", dataUser);

        //  }
         
      }

    </script>

    <script type="text/javascript">
        var sN='@aName';
        if (sN.toLowerCase() == 'UpdateMySession'.toLowerCase())
        {
            $(".navbar-nav li").removeClass("active");
            $(".UpdateMySession").addClass("active");
        }
        else if (sN.toLowerCase() == 'Subscriptions'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".mySubscriptions").addClass("active");
        }
        else if (sN.toLowerCase() == 'index'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".indexs").addClass("active");
        }
        else if (sN == 'step_1' || sN.toLowerCase() == 'ListOfTeachers'.toLowerCase() || sN.toLowerCase() == 'StaticBookSessions'.toLowerCase() || sN.toLowerCase() == 'TeacherProfile'.toLowerCase() || sN.toLowerCase() == 'BookSession'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".stp").addClass("active");
        }

        else if (sN.toLowerCase() == 'myTeachers'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".myStudents").addClass("active");
        }
        else if (sN.toLowerCase() == 'MyCalender'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".MyCalender").addClass("active");
        }
        else if (sN.toLowerCase() == 'freeResources'.toLowerCase() || sN.toLowerCase() == 'testlist'.toLowerCase() || sN.toLowerCase() == 'Folders'.toLowerCase() || sN.toLowerCase() == 'systemCheck'.toLowerCase() || sN.toLowerCase() == 'support'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".MoreO").addClass("active");
        }
        else
        {
            $(".navbar-nav li").removeClass("active");
        }

    </script>

</body>

</html>
