
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls {
     position: relative;
  	color: #FFF;
	font-size: 1.2em;
	text-transform: uppercase;
	padding: 23px;
	text-align: center;
	background: #3468AF;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	margin-bottom:20px;
}
.cal1 .clndr .clndr-controls .month {
  text-align: center;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
  position:absolute;
  right:30px;
  top:19px;
  width:30px;
  height:30px;
  text-indent: -4000px;
  background: url(../images/arrow-right.png) no-repeat 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
   position:absolute;
   left:30px;
   top:19px;
   width:30px;
   height:30px;
  text-indent: -4000px;
  background: url(../images/arrow-left.png) no-repeat 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:90%;
  margin:0 auto;
}
.cal1 .clndr .clndr-table .header-days {
   font-size:1em;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color: #4FC4F6;
}
.cal1 .clndr .clndr-table tr {
    height:50px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color:#FFF;
  vertical-align:middle;
}
.cal1 .clndr .clndr-table tr .day.today {
  	background: #EC3D68;
	 color: #FFF;
	 border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
}
.cal1 .clndr .clndr-table tr .day.today:hover {
  	color: #FFF;
}
.cal1 .clndr .clndr-table tr .day.today.event {
     background: #EC3D68;
	 color: #FFF;
	 border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
}
.day.today.event:hover{
	color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  font-size:1em;
  text-align:center;
  cursor:pointer;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color:#9099B7;
}
@media all and (max-width:320px) {
	.cal1 .clndr .clndr-table{
		width:90%;
	}
	.cal1 .clndr .clndr-table tr {
		height: 35px;
	}
}