﻿@using DAL.Entities
@model List<FreeResources>

@if (Model != null && Model.Count > 0)
{

    foreach (var item in Model)
    {

        <div class="col-md-12 FRDbox">
            <div class="col-sm-3 nopadding img">
               
                 @*<a href="FreeResourcesDetail.html">
                        <img src="../Include/img/Course/no-img.jpg" /> newW
                    </a>*@
                @*<p>12:42</p>*@

                <iframe width="100%" src="@item.VideoURL" frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="col-sm-9 content">

                <a href="@Url.Action("ResourceDetail","Home", new { @ResourceID=@item.FreeResourcesID, @sID=item.FKSubjectID})">
                    <h1>@item.ResourceTitle</h1>
                </a>

                <p>@item.VideoDescription </p>

                <div class="Bottomfix">
                    <h3><span><i class="glyphicon glyphicon-book"></i><a href="#">@item.Subject.SubjectName</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>@Convert.ToDateTime(item.UploadDate).ToString("dd MMMM, yy")</a></span>
                    @*<span><i class="glyphicon glyphicon-eye-open"></i> <a>@item.NumberOfViews</a></span>*@
                    </h3>
                </div>

            </div>
        </div>
    }


    @*<div class="col-md-12">
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>*@


}
else
{
    <div class="col-md-12 FRDArea">
        <h3>
            No Resources Found
        </h3>
    </div>
}





