﻿
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div class="InnerArea">
    <img src="~/Content/Front/frontimg/AboutBanner.jpg" width="100%" />
    <div class="container">
        <div class="col-md-12 Imarea">
            <div class="col-md-12 logoIconMiddle">
                <img src="~/Content/Front/frontimg/LogoIcon.png" />
            </div>
            <div class="col-md-12 InnerText">
                <h2 class="InnTitle">ABOUT <span>RUDRAA.<span>org</span></span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="HomeWhyUs">
                <div class="col-md-12  wow fadeInUp animated" data-wow-delay="0.4s">
                    <h1 style="font-size: 30px; margin-top: 50px">Why from <span>Rudraa</span></h1>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Front/frontimg/b1.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>LIVE PERSONALIZED TEACHING</h2>
                                    <p>Learn online Live interactive classes by Expert faculty at your Personal Computer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Front/frontimg/b2.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>LEARN ANYTIME ANYWHERE</h2>
                                    <p>Learn online Live interactive Classes Anywhere Anytime at your Place with Teaching Bharat</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Front/frontimg/b3.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>SAVE TIME AND ENERGY</h2>
                                    <p>Save your Transportation time and Energy, Reduce the time for finding best Teacher.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Front/frontimg/b4.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>ECONOMICAL LEARNING</h2>
                                    <p>Cheaper than Physical Classes. Choose from several Learning plans from Teaching Bharat</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Front/frontimg/b5.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>innovative methodology</h2>
                                    <p>Rudraa is giving you Innovative and unique methodology to make your Doubts more Clear.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 InnerText">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="HomeFacts">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f1.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL STUDENTS</span>
                    <p>42,726</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f2.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL TEACHER</span>
                    <p>7,271</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f3.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>HOURS LIVE LEARNING</span>
                    <p>4,11,959</p>
                </div>
            </div>
        </div>
    </div>
</div>

