﻿
@{
    ViewBag.Title = "AskQuestion";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="InnerAreamt">
    <div class="container mt180">
        <div class="col-md-12 Imarea">
            <div class="col-md-12 logoIconMiddle">
                <img src="~/Content/Front/frontimg/LogoIcon.png" />
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12 InnerText">
                    <h2 class="InnTitle">ASK <span>QUESTION</span></h2>
                    <p style="text-align: justify">If you have any Questions to us and you may want to know something from us, please feel free to ask us a Question.</p>
                </div>
                <div class="col-md-12 contactSend">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control mytbox" placeholder="Your Name" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mytbox" placeholder="Your Email" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mytbox" placeholder="Your Contact No." required />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mytbox" rows="5" placeholder="Your Question"></textarea>
                        </div>
                        <button type="submit" class="btn btn-block mybtn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

