﻿@{
    ViewBag.Title = "FreeResources";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="White79">
    <div class="container">
        <div class="col-md-12 MCContent">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">CHOOSE TEACHER</a></li>
                        <li role="presentation"><a href="#3" role="tab" data-toggle="tab">CHANGE FILTERS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                           
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6><i class="glyphicon glyphicon-stop"></i>Offline</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6><i class="glyphicon glyphicon-stop"></i>Offline</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6><i class="glyphicon glyphicon-stop"></i>Offline</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6><i class="glyphicon glyphicon-stop"></i>Offline</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-md-offset-3 tabfltr">
                                        <div class="form-group">
                                            <label>Your Target</label>
                                            <select class="form-control">
                                                <option>CBSC</option>
                                                <option>ICSE</option>
                                                <option>IGCSE</option>
                                                <option>IB</option>
                                                <option>JEE Main</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Your Grade</label>
                                            <select class="form-control">
                                                <option>7th</option>
                                                <option>8th</option>
                                                <option>9th</option>
                                                <option>10th</option>
                                                <option>11th</option>
                                                <option>12th</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Your Subject</label>
                                            <select class="form-control">
                                                <option>Mathematics</option>
                                                <option>English</option>
                                                <option>Social Science</option>
                                                <option>Physics</option>
                                                <option>Chemistry</option>
                                                <option>Biology</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Learn for</label>
                                            <select class="form-control">
                                                <option>Just this once</option>
                                                <option>A Few times</option>
                                                <option>Regularly</option>
                                                <option>Not sure</option>
                                            </select>
                                        </div><br><br>
                                        <div class="form-group centeralign">
                                            <a href="FindTeacher.html" class="nxtbtn">GO<i class="glyphicon glyphicon-menu-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

