﻿@using DAL.Entities
@using BLL.Helpers



@if (Model != null && Model.Count > 0)
{

<div class="col-md-2 col-sm-3">
    <div class="col-md-12 EXSide">
        <h2>SUBJECTS</h2>
       
        <ul id="CheckUncheckAll">
            @{
                int counter = 0;
                List<Int64> listofId = new List<Int64>();
              }
              
            @foreach (var item in Model)
            {
                if (!listofId.Contains(item.FKSubjectID))
                {

                    listofId.Add(item.FKSubjectID);
                    counter++;

                    var conc = "dv_Grade_"+Convert.ToString(item.FKGradeID) + "_Sub_"+Convert.ToString(item.FKSubjectID);

                    <li> 
                        <input type="hidden" id="hdnsub@(counter)" value="@conc"/>
                        <input type="checkbox"  name="sub@(counter)" id="sub@(counter)" class="D-checkbox" checked />
                        <label for="sub@(counter)" class="D-label">@item.GradeName</label>
                    </li>

                  }

              }
        </ul>
    </div>

</div>

<div class="col-md-10 col-sm-9 listing" id="SortUpdate">

    @foreach (var item in Model)
    {
        var conc = "dv_Grade_" + Convert.ToString(item.FKGradeID) + "_Sub_" + Convert.ToString(item.FKSubjectID);
        <div class="col-md-4 col-sm-6" name="@conc">
            <div class="col-md-12 box">
                <h1>@item.CourseTitle</h1>
                <h2>Class : @item.GradeName</h2>
                <div class="col-md-12 mid">
                    <div class="col-md-6 leftalign nopadding">
                        <p>Starting on</p>
                        <h4>@Convert.ToDateTime(@item.StartDate).ToString("dd MMMM")</h4>
                    </div>
                    <div class="col-md-6 rightalign nopadding">
                        <p>Duration</p>
                        <h4>@item.TotalHours Hrs</h4>
                    </div>
                </div>
                <div class="col-md-12 teacher">
                    <p>Teaching by</p>
                    <a href="#" class="ttip" data-toggle="tooltip" data-placement="top" title="@item.TeacherName">
                        @if (string.IsNullOrEmpty(item.TeacherPic))
                        { <label>No image</label>}
                        else
                        { <img src="~/UserImages/@item.TeacherPic" />}

                    </a>
                </div>
                <div class="col-md-12 bottom">
                    <div class="col-md-6 leftalign nopadding">
                        <h2>₹ @item.CourseFee</h2>
                        <p>@*<i class="glyphicon glyphicon-adjust"></i>*@ 
                       @*@{int leftSeats = @item.TotalSeats - @item.CourseParticipants.Count;}  
                        @leftSeats Seats Available*@
                        </p>
                    </div>
                    <div class="col-md-6 rightalign nopadding">
                        <a href="@Url.Action("CourseDetail","Home", new { @CourseID=@item.CoursesHeaderID})">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

}
else
{
    <div class="col-md-10 col-sm-9 listing">
        <h3>Sorry No Course Found of CBSC</h3>
    </div>
}


<script type="text/javascript">

    $(document).ready(function ()
    {
        $('[id^="sub"]').change(function () {
            var hdnField = "#hdn" + $(this).prop('id');
            
            if ($(this).prop('checked') == true) {
                $("[name="+$(hdnField).val()+"]").show();
            }
            else {
                $("[name=" + $(hdnField).val() + "]").hide();
            }
            
        });
        $('.ttip').tooltip();
    });

</script>