﻿@*@{
    ViewBag.Title = "CbseMonthly";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}*@

@using DAL.Entities
@using BLL.Helpers

@model List<CoursesHeader>


@if (Model != null && Model.Count > 0)
{
    <div class="col-md-10 list">


        @foreach (var item in Model)
        {
            <div class="col-md-4 p10">
                <div class="col-md-12 nopadding coursebox1">
                    <div class="col-md-12 title green" style="height:50px">
                        <h1> Monthly Tuition</h1>
                    </div>
                    <div class="col-md-12 area">
                        <ul>
                            <li><i class="glyphicon glyphicon-menu-hamburger"></i><strong>@item.GradeName</strong></li>
                            <li><i class="glyphicon glyphicon-bookmark"></i>@item.CourseTitle</li>
                            <li><i class="glyphicon glyphicon-time"></i><strong>@item.TotalHours hrs</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-12 bottom" style="padding-top: 12px;">
                        <div class="col-md-4 p10">
                            <p><span>₹</span>@item.CourseFee</p>
                        </div>

                        <div class="col-md-8 p10">
                            @*<a href="@Url.Action("monthlycDetail", "home")">19 Teachers <i class="glyphicon glyphicon-menu-right"></i></a>*@
                            <a href="@Url.Action("EnrollStudent","Home", new {@CourseID= item.CoursesHeaderID })" class="enroll p-t-10">ENORLL NOW<i class="glyphicon glyphicon-menu-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
