﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="InnerArea">
    <img src="~/Content/Front/frontimg/AboutBanner.jpg" width="100%" />
    <div class="container">
        <div class="col-md-12 Imarea">
            <div class="col-md-12 logoIconMiddle">
                <img src="~/Content/Front/frontimg/LogoIcon.png" />
            </div>
            <div class="col-md-7 InnerText">
                <h2 class="InnTitle">CONTACT <span>US</span></h2>
                <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h3 style="font-family: Dbold; font-size: 20px">ADDRESS :</h3>
                <h4>111, Lorem ipsum dolor sit amet<br>Lorem ipsum dolor sit<br>City Name - INDIA</h4>
                <br>
                <h4>CALL US: 1800 000 000</h4>
                <h4>MAIL US: contact@rudraa.com</h4>
            </div>
            <div class="col-md-5 contactSend">
                <h2>For any Query, Please send Message to us.</h2>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control mytbox" placeholder="Your Name" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mytbox" placeholder="Your Email" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control mytbox" placeholder="Your Contact No." required />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control mytbox" rows="5" placeholder="Your Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-block mybtn">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

