﻿
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<style>
    .hoonecstmpadding {
        padding: 50px 20px !important;
    }
</style>
<div class="HomeBanner">
    <div class="container">
        <div class="col-md-5 home-right-img">
            <a href="#">
                <img src="~/Content/Include/img/bannerimage.png" />
            </a>
        </div>
        <div class="col-md-7 home-banner-texts p-l-8">
            <h3>@ViewBag.Heading<span class="ro">Online</span></h3>
            <h4>
                India's Best Teachers Live<br>
                at your Screen at affordable Price.
            </h4>
            <a href="#" class="h-b-btn">Choose your Course</a>
        </div>
    </div>
</div>

<div id="space_adjust">
    <div id="pricing_sec" class="container-fluid">
        <div class="text-center">
            <h2 class="price_heading">What will you get?</h2>
        </div>
        <div class="row slideanim slide">
            <div class="container">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center custom_p_height">
                        <div class="panel-heading">
                            <div class="course-feature-card-details" style="">
                                <div class="icon-container">
                                    <i class="fa fa-laptop pricing_icon"></i>
                                </div>
                                <div class="text-bottom-container">
                                    <div class="top">
                                        @TempData["doc1"]
                                    </div>
                                    <div class="bottom">
                                        <span class="live-text">LIVE</span>
                                        <span class="clasing"> Classes</span>
                                    </div>
                                    <div class="below">
                                        By IITians
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body custom_list_pricing">
                            <ul class="list-group">
                                <li class="list-group-item"> <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">Entire JEE 12th and 11th preparation in 180 hrs - Objective solving approach </a></li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Live classes By Master Teacher
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Entire JEE preparation
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Quick summary of chapter, key formulas, concepts and last year JEE questions
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Detailed theory & assignment materials
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="watch_btn"><span>Watch Demo </span></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center custom_p_height">
                        <div class="panel-heading">
                            <div class="course-feature-card-details" style="">
                                <div class="icon-container">
                                    <i class="fa fa-laptop pricing_icon"></i>
                                </div>
                                <div class="text-bottom-container">
                                    <div class="top">
                                        @TempData["doc2"]
                                    </div>
                                    <div class="bottom">
                                        <span class="live-text">LIVE</span>
                                        <span class="clasing"> Classes</span>
                                    </div>
                                    <div class="below">
                                        By IITians
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body custom_list_pricing">
                            <ul class="list-group">
                                <li class="list-group-item"> <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">Entire JEE 12th and 11th preparation in 180 hrs - Objective solving approach </a></li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        @ViewBag.firstdetail
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Entire JEE preparation
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Quick summary of chapter, key formulas, concepts and last year JEE questions
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Detailed theory & assignment materials
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="watch_btn"><span>Watch Demo </span></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center custom_p_height">
                        <div class="panel-heading">
                            <div class="course-feature-card-details" style="">
                                <div class="icon-container">
                                    <i class="fa fa-laptop pricing_icon"></i>
                                </div>
                                <div class="text-bottom-container">
                                    <div class="top">
                                        @TempData["doc3"]
                                    </div>
                                    <div class="bottom">
                                        <span class="live-text">LIVE</span>
                                        <span class="clasing"> Classes</span>
                                    </div>
                                    <div class="below">
                                        By IITians
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body custom_list_pricing">
                            <ul class="list-group">
                                <li class="list-group-item"> <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">Entire JEE 12th and 11th preparation in 180 hrs - Objective solving approach </a></li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Live classes By Master Teacher
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Entire JEE preparation
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Quick summary of chapter, key formulas, concepts and last year JEE questions
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Detailed theory & assignment materials
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="watch_btn"><span>Watch Demo </span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pricinger" class="container-fluid">
        <div class="row slideanim slide">
            <div class="container">
                <div class="col-sm-3 col-xs-12">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="panel panel-default text-center custom_p2_height">
                        <div class="panel-heading">
                            <div class="course-feature-card-details" style="">
                                <div class="icon-container">
                                    <i class="fa fa-laptop pricing_icon"></i>
                                </div>
                                <div class="text-bottom-container">
                                    <div class="top">
                                        JEE
                                    </div>
                                    <div class="bottom">
                                        <span class="live-text">LIVE</span>
                                        <span class="clasing"> Classes</span>
                                    </div>
                                    <div class="below">
                                        By IITians
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body custom_list_pricing">
                            <ul class="list-group">
                                <li class="list-group-item"> <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">Entire JEE 12th and 11th preparation in 180 hrs - Objective solving approach </a></li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Live classes By Master Teacher
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="panel panel-default text-center custom_p2_height">
                        <div class="panel-heading">
                            <div class="course-feature-card-details" style="">
                                <div class="icon-container">
                                    <i class="fa fa-laptop pricing_icon"></i>
                                </div>
                                <div class="text-bottom-container">
                                    <div class="top">
                                        JEE
                                    </div>
                                    <div class="bottom">
                                        <span class="live-text">LIVE</span>
                                        <span class="clasing"> Classes</span>
                                    </div>
                                    <div class="below">
                                        By IITians
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body custom_list_pricing">
                            <ul class="list-group">
                                <li class="list-group-item"> <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">Entire JEE 12th and 11th preparation in 180 hrs - Objective solving approach </a></li>
                                <li class="list-group-item">
                                    <i class="fa fa-angle-double-right indicate_arrow"> </i> <a href="#" class="items_price">
                                        Live classes By Master Teacher
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                </div>
            </div>
        </div>
    </div>
    <div class="NextBanner">
        <div class="container">
            <div class="col-md-12">
                <h1>CHOOSE YOUR <span>BEST CHOICE</span></h1>
                <p><span class="line"></span>Experience the New and Feel like <span>SUPERIOR</span> !<span class="line"></span></p>
            </div>
            <div class="col-md-12 ChoiceBlock">
                <a href="#">
                    <div class="col-sm-4  wow fadeInUp animated" data-wow-delay="0.4s">
                        <div class="col-sm-12 block">
                            <div class="col-sm-3">
                                <img src="~/Content/Include/img/i3.png">
                            </div>
                            <div class="col-sm-9">
                                <h2>Explore Courses</h2>
                                <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                                <h4>
                                    <a href="#">Choose <i class="glyphicon glyphicon-menu-right"></i></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-sm-4 wow fadeInUp animated" data-wow-delay="0.4s">
                        <div class="col-sm-12 block">
                            <div class="col-sm-3">
                                <img src="~/Content/Include/img/i1.png">
                            </div>
                            <div class="col-sm-9">
                                <h2>Monthly Tuitions</h2>
                                <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                                <h4>
                                    <a href="#">Choose <i class="glyphicon glyphicon-menu-right"></i></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="col-sm-4  wow fadeInDown animated" data-wow-delay="0.4s">
                        <div class="col-sm-12 block">
                            <div class="col-sm-3">
                                <img src="~/Content/Include/img/i2.png">
                            </div>
                            <div class="col-sm-9">
                                <h2>Find My Teacher</h2>
                                <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                                <h4>
                                    <a href="FindTeacherStep1.html">Choose <i class="glyphicon glyphicon-menu-right"></i></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-10 col-md-offset-1 TagBlock  wow fadeInUp animated" data-wow-delay="0.4s">
                <a href="#">CBSC</a><a href="#">JEE-FOUNDATION</a><a href="#">IGCSC</a><a href="#">OLYMPIAD</a><a href="#">NTSC</a><a href="#">ANDROID</a><a href="#">MATHEMATICS</a>
                <a href="#">IB</a><a href="#">CO-CURRICULAR-COURSE</a><a href="#">ICSE</a><a href="#">GRAMMER & VOCABULARY</a><a href="#">MIDDLE-EAST COURSE</a>
            </div>
            <div class="col-md-12 TagBrowse wow bounceInUp   animated" data-wow-delay="0.4s">
                <a href="#">BROWSE ALL COURSES</a>
            </div>
        </div>
    </div>
    <div class="home-one-one">
        <div class="container">
            <div class="col-md-12 hoo-box">
                <div class="col-md-1 hoo-one hoonecstmpadding">
                    <img src="~/Content/Include/img/video-chat.png" />
                    
                </div>
                <div class="col-md-8 hoo-two">
                    <h3>Try One-to-One Classes <span>with a Personal Teacher</span></h3>
                    <p>Available for CBSE, ICSE, IGCSE, IB and State Boards' Students</p>
                </div>
                <div class="col-md-3">
                    <a href="#">First Free Trial Class <i class="glyphicon glyphicon-menu-right"></i></a>
                </div>
            </div>
            <div class="col-md-12 hoo-talk">
                <h5>Need something more specific ?</h5>
                <p>Discuss with our counsellor to get a customized study plan designed for you.</p>
                <a href="#">Talk to us Now !</a>
            </div>
        </div>
    </div>
    <div class="HomeBranding">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-12 wow fadeInUp animated" data-wow-delay="0.4s">
                    <img src="~/Content/Include/img/HowItWorks.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="HomeWhyUs">
        <div class="container">
            <div class="col-md-12  wow fadeInUp animated" data-wow-delay="0.4s">
                <h1>Why from <span>Teachingbharat</span></h1>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="col-md-12 HWBox">
                            <div class="col-md-3">
                                <img src="~/Content/Include/img/aboutimg/b1.png" />
                            </div>
                            <div class="col-md-9">
                                <h2>LIVE PERSONALIZED TEACHING</h2>
                                <p>Learn online Live interactive classes by Expert faculty at your Personal Computer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 HWBox">
                            <div class="col-md-3">
                                <img src="~/Content/Include/img/aboutimg/b2.png" />
                            </div>
                            <div class="col-md-9">
                                <h2>LEARN ANYTIME ANYWHERE</h2>
                                <p>Learn online Live interactive Classes Anywhere Anytime at your Place with Rudraa.org</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 HWBox">
                            <div class="col-md-3">
                                <img src="~/Content/Include/img/aboutimg/b3.png" />
                            </div>
                            <div class="col-md-9">
                                <h2>SAVE TIME AND ENERGY</h2>
                                <p>Save your Transportation time and Energy, Reduce the time for finding best Teacher.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="col-md-12 HWBox">
                            <div class="col-md-3">
                                <img src="~/Content/Include/img/aboutimg/b4.png" />
                            </div>
                            <div class="col-md-9">
                                <h2>ECONOMICAL LEARNING</h2>
                                <p>Cheaper than Physical Classes. Choose from several Learning plans from Rudraa.org</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 HWBox">
                            <div class="col-md-3">
                                <img src="~/Content/Include/img/aboutimg/b5.png" />
                            </div>
                            <div class="col-md-9">
                                <h2>innovative methodology</h2>
                                <p>Rudraa is giving you Innovative and unique methodology to make your Doubts more Clear.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="guarantee-section">
        <div class="container">

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="guarantee-pic-container">

                        <img src="~/Content/Include/img/gurnt.png" alt="guaranteed" class="img-responsive">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="guarantee-head-title">
                        Great learning guaranteed or it's free
                    </div>
                    <div class="guarantee-details">
                        We are confident of the academic quality and utility of this package that we offer 'no questions asked' full price back guarantee within 7-days of subscription
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>

        </div>

    </div>

    <div class="HomeStory">
        <div class="container">
            <div class="col-md-12">
                <h1 class="hs-title">What <span>Students and Parents</span> Feels About Rudraa</h1>
                <div class="col-md-6 reviews">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner reviewCar" role="listbox">
                                <div class="item active">
                                    <img src="~/Content/Include/img/testi1.jpg">
                                    <div>
                                        <h5>Dhaval Khatri, Student</h5>
                                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                                        <p>I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/Include/img/testi1.jpg">
                                    <div>
                                        <h5>Dhaval Khatri, Student</h5>
                                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                                        <p>I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 reviewbtn">
                        <a href="AllReviews.html">Read All Reviews</a>
                    </div>
                </div>
                <div class="col-md-6 video  wow fadeInRight animated" data-wow-delay="0.4s">
                    <a href="#" data-toggle="modal" data-target="#Video">
                        <img src="~/Content/Include/img/reviewimg.gif" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-teacher">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-8 col-md-offset-2 wow fadeInUp animated" data-wow-delay="0.4s">
                    <img src="~/Content/Include/img/teachersthub.jpg" />
                    <h3>Meet some of our <span>awesome tutors</span></h3>
                    <p>Proven tutors, recruited from top universities, for high school and college subjects</p>
                    <a href="#">Find me a Tutor</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-sample-video">
        <div class="container">
            <div class="col-md-12 wow fadeInUp animated" data-wow-delay="0.4s">
                <h3>Introducing Video Courses</h3>
                <h4>Very first time in India, buy HD Recorded Video Courses</h4>
            </div>
            <div class="col-md-12 hsv-main wow fadeInUp animated" data-wow-delay="0.4s">
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <<img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 hsv-box">
                        <a href="#">
                            <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                            <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                        </a>
                        <h2>Title of the Video here</h2>
                        <p>CBSE / Class 10th / Maths</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 hs-btn wow fadeInUp animated" data-wow-delay="0.4s">
                <div class="col-md-3 col-md-offset-3">
                    <a href="#" class="pink">BUY VIDEO COURSE</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="purple">VIEW ALL SAMPLE VIDEOS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="HomeGrade wow fadeInUp animated" data-wow-delay="0.4s">
        <div class="container">
            <div class="col-md-12 nopadding-m">
                <h2>Choose Your Grade</h2>
                <div class="col-md-12 nopadding-m">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="~/Content/Include/img/7th.png" />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="~/Content/Include/img/8th.png" />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="~/Content/Include/img/9th.png" />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="~/Content/Include/img/10th.png" />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="~/Content/Include/img/11th.png" />
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <a href="#">
                            <img src="~/Content/Include/img/12th.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="HomeLearnMore">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h1>Learn more About Rudraa.org</h1>
                    <a href="#" data-toggle="modal" data-target="#Video">
                        <img src="~/Content/Include/img/eye.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="HomeFacts">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="col-md-3">
                        <img src="~/Content/Include/img/f1.png" />
                    </div>
                    <div class="col-md-8 nopadding">
                        <span>TOTAL STUDENTS</span>
                        <p>42,726</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-3">
                        <img src="~/Content/Include/img/f2.png" />
                    </div>
                    <div class="col-md-8 nopadding">
                        <span>TOTAL TEACHER</span>
                        <p>7,271</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-3">
                        <img src="~/Content/Include/img/f3.png" />
                    </div>
                    <div class="col-md-8 nopadding">
                        <span>HOURS LIVE LEARNING</span>
                        <p>4,11,959</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="Footer">
    <div class="container">
        <div class="col-md-12 f-one">
            <p>Enter to the</p>
            <h3>Virtual Learning World</h3>
            <div class="col-md-4 col-md-offset-4  wow fadeInUp animated" data-wow-delay="0.4s">
                <a href="#" class="btn btn-block">Register Now</a>
            </div>
        </div>
    </div>
    <div class="container f-two">
        <div class="col-md-8 nopadding">
            <div class="col-md-3">
                <div class="col-md-12 fblock">
                    <h1>Rudraa.org</h1>
                    <ul>
                        <li><a href="#">Browse Course</a></li>
                        <li><a href="#">Browse Teachers</a></li>
                        <li><a href="#">Clear Doubts</a></li>
                        <li><a href="FreeResources.html">Free Resourse</a></li>
                        <li><a href="#">Become a Teacher</a></li>
                        <li><a href="SRegister.html">Student Registration</a></li>
                        <li><a href="#">Read Reviews</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 fblock">
                    <h1>Company</h1>
                    <ul>
                        <li><a href="AboutUs.html">About us</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press Release</a></li>
                        <li><a href="ContactUs.html">Contact us</a></li>
                        <li><a href="TermsOfUse.html">Terms of use</a></li>
                        <li><a href="PrivacyPolicy.html">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 fblock">
                    <h1>Important Links</h1>
                    <ul>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Need Help?</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="SuggestCourse.html">Suggest Course</a></li>
                        <li><a href="AskQuestion.html">Ask Question</a></li>
                        <li><a href="Sfaqs.html">Student FAQs</a></li>
                        <li><a href="GeneralFAQs.html">General FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 fblock">
                    <h1>Free Resources</h1>
                    <ul>
                        <li><a href="#">Resources link here</a></li>
                        <li><a href="#">Resources link</a></li>
                        <li><a href="#">Resources link here</a></li>
                        <li><a href="#">Resources link here</a></li>
                        <li><a href="#">Resources link</a></li>
                        <li><a href="#">Resources link</a></li>
                        <li><a href="#">Resources link here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 f-con-new">
            <h6>Feel free to contact us</h6>
            <h3><span>Call :</span> 1800 133 432</h3>
            <h4><span>Email :</span> info@rudraa.org</h4>
            <h5>Get Socialsed with us</h5>
            <a href="#"><img src="~/Content/Include/img/sn1.png" alt="facebook" /></a>
            <a href="#"><img src="~/Content/Include/img/sn2.png" alt="facebook" /></a>
            <a href="#"><img src="~/Content/Include/img/sn3.png" alt="facebook" /></a>
            <a href="#"><img src="~/Content/Include/img/sn4.png" alt="facebook" /></a>
        </div>
        <div class="col-md-12 seo-footer">
            <h1>India's Best online tution at affordable price on Rudraa.org</h1>
            <p>Rudraa offers personalised LIVE Online tuition classes at your home. In our online tutoring platform, students get to learn from the best teachers who have studied from top colleges and institutes across India. We offer year-long structured courses for CBSE & ICSE board school students, so that students can study entire subject in a structured manner at the comfort of their home. Apart from Regular monthly tuitions, we also provide doubt clearing sessions for students of all grades and boards.</p>
            <p>Rudraa's tuition classes are completely online and allows the teacher and student to engage on our website using WAVE platform. All the classes are taken by expert Tutors who ensure to share assignments after completion of every chapter (i.e. regular homework help, subjective & objects tests & quizzes), along with revision notes and formula worksheets. There are regular Parent-Teacher meetings to monitor & track student's academic progress throughout student's learning engagement. All the sessions taken by students on Rudraa are recorded and replays of those sessions are available in student's login account for revision of all the chapters & topics learnt on Rudraa.</p>
            <p>We find the RIGHT Tutor to match students' and parents' requirements, and our highly experienced Tutor strives to establish connect with students so that even a first-time student is comfortable with studying online and does not feel the need of taking tuition classes from coaching centers near their home.</p>
            <p>Rudraa caters to CBSE and ICSE board from classes 6th to 12th for Maths and Science (Physics, Chemistry & Biology) subjects. Our free reference materials are textbook solutions (NCERT, RD Sharma, HC Verma & etc.), Sample papers for CBSE & ICSE board, important questions and more.</p>
        </div>
    </div>
    <div class="bottomFooter">
        <div class="container">
            <div class="col-md-12">
                <p>Copyright 2016 All Rights are Reserved by Rudraa.org</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content" style="border-radius: 0px">
            <div class="modal-body" style="padding: 0px">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/CBqdVosM4gU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">