﻿@using DAL.Entities
@using BLL.Helpers

@model CoursesHeader

@{    Layout = "~/Views/Shared/_PublicLayout.cshtml";}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">

<div class="White79" style="background: #e4e7ea">
    @if (Model != null)
    {


    <div class="CourseBann">
        <div class="container">
            <div class="col-md-12 nopadding">
                <div class="col-md-7">
                    <h1>@Model.CourseTitle</h1>
                    <h5><span>Subject : @Model.Subject.SubjectName</span><span>Grade : @Model.Subject.GradeName</span></h5>
                    <p>
                        <span>ABOUT THIS COURSE</span><br>
                        <br>
                         @Model.CourseDescription
                    </p>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <h6>Course Fee</h6>
                    <h2>₹ @Model.CourseFee</h2>
                    <div class="col-md-12 price">
                        <p><i class="glyphicon glyphicon-time"></i>Course Duration : <span>@Model.TotalHours Hrs</span></p>
                        <p><i class="glyphicon glyphicon-play-circle"></i>Starts on : <span>@Convert.ToDateTime(Model.StartDate).ToString("dd MMMM")</span></p>
                        <p><i class="glyphicon glyphicon-play-circle"></i>Ends on : <span>@Convert.ToDateTime(Model.CourseSchedule.Last().CourseSessionDate).ToString("dd MMMM")</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 MCContent">
            <div class="col-md-9">
                <div>
                    <ul class="nav nav-tabs cdtab" role="tablist">
                        <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">CHOOSE BATCH</a></li>
                        <li role="presentation"><a href="#2" role="tab" data-toggle="tab">CURRICULUM</a></li>
                        @*<li role="presentation"><a href="#3" role="tab" data-toggle="tab">FAQs</a></li>*@
                    </ul>
                    <div class="tab-content cdtab">
                        <div role="tabpanel" class="tab-pane active" id="1">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 30px">
    <div class="col-md-12 TeacherBox" style="margin: 0px">
        <div class="col-md-6" style="padding-top: 20px">
            <h6 class="@((Model.IsOnline==true)?"online" :"offline")"><i class="glyphicon glyphicon-stop"></i>
             @((Model.IsOnline == true) ? "online" : "offline")
            </h6>
            <!-- <h6 class="offline"><i class="glyphicon glyphicon-stop"></i>Online</h6> -->
            @if (string.IsNullOrEmpty(Model.TeacherPic))
            { <img src="~/Content/Front/frontimg/noimage.jpg" />}
            else
            {
                <label>No image</label>
            }
            <h3>@Model.TeacherName</h3>
            <p>@Model.UniversityName</p>
            <h4>Ratings :
           
                <i id="rateYo" style="display:inline-block !important"></i>
            </h4>
            <a href="#" class="call"><i class="glyphicon glyphicon-phone"></i>Call</a>
            <a href="@Url.Action("Index", "Chat", new {area="Support"})" class="msg" ><i class="glyphicon glyphicon-comment"></i>Message</a>
        </div>
        <div class="col-md-6 cddata">
            <div class="col-md-10 col-md-offset-2 box">
                <p>Batch Timing</p>
                <h4>@Model.DateTimeSlot.ToString("hh tt") - @Model.DateTimeSlot.AddHours(1).ToString("hh tt") </h4>
            </div>
            <div class="col-md-10 col-md-offset-2 box">
                <p>Classes conducted on</p>
                <h4>

                <span class="@((Model.CourseDays.Any(x=>x.DayID==1)?"":"off"))">M</span>
                <span class="@((Model.CourseDays.Any(x=>x.DayID==2)?"":"off"))">T</span>
                <span class="@((Model.CourseDays.Any(x=>x.DayID==3)?"":"off"))">W</span>
                <span class="@((Model.CourseDays.Any(x=>x.DayID==4)?"":"off"))">T</span>
                <span class="@((Model.CourseDays.Any(x=>x.DayID==5)?"":"off"))">F</span>
                <span class="@((Model.CourseDays.Any(x=>x.DayID==6)?"":"off"))">S</span>
                <span class="@((Model.CourseDays.Any(x=>x.DayID==7)?"":"off"))">S</span>

                </h4>
            </div>
            <div class="col-md-10 col-md-offset-2 box">
                <p>Available seats: <span>
                                        @{
                                            int leftSeats = Model.TotalSeats - Model.CourseParticipants.Count;
                                         }
                                        @leftSeats                    </span></p>
                <h4>
                
                    @for (int i = 0; i <= Model.TotalSeats; i++)
                    {
                        if (i < leftSeats)
                        {
                            <i class="glyphicon glyphicon-user"></i>
                        }
                        else
                        {
                            <i class="glyphicon glyphicon-user off"></i>
                        }

                    }
               
                
               </h4>
            </div>
            <div class="col-md-8 col-md-offset-2 box">
                <a href="@Url.Action("EnrollStudent","Home", new {@CourseID=Model.CoursesHeaderID })" class="enroll">ENORLL NOW</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 ShowSchedule">
        <a data-toggle="collapse" href="#Schedule" aria-expanded="false">Show Full Schedule <i class="glyphicon glyphicon-menu-down"></i></a>
    </div>

    @if (Model.CourseSchedule != null && Model.CourseSchedule.Count > 0)
    {
        <div class="collapse" id="Schedule">
            <div class="col-md-12 schmain">
                <div class="col-md-12 nopadding">
                   
                    @foreach(var item in Model.CourseSchedule)
                    {
                                         
                     <div class="col-md-12 flex mb15">
                        <div class="col-xs-2 datesche">
                            <h3>@item.CourseSessionDate.ToString("dd")</h3>
                            <p>@item.CourseSessionDate.ToString("MMMM")</p>
                        </div>
                        <div class="col-xs-10 txtsche">
            

    @if (!string.IsNullOrEmpty(item.SessionContent))
    {
    <p>
        <span>Class:</span>
        @item.SessionContent
    </p>
    }
    else
    {
        <p>
            <span>Class:</span>
            Not Provided
        </p>
    }
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="collapse" id="Schedule">
            <div class="col-md-12 schmain">
                <div class="col-md-12 nopadding">
                    <h4>No Schedule Found</h4>
                </div>
            </div>
        </div>


    }




                </div>
            </div>
        </div>
                        <div role="tabpanel" class="tab-pane" id="2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 MCCuri">
                                        <h2 class="title">ABOUT THE COURSE</h2>
                                        <ul>
                                           
                                            @if (Model.AboutCourse != null & Model.AboutCourse.Count > 0)
                                            {
                                                foreach (var item in Model.AboutCourse)
                                                {
                                                    <li>@item.BulletPoint</li>
                                                }
                                            }
                                            else
                                            {
                                                <li>Not Provided</li>
                                            }
                                       
                                         </ul>
                                        <div class="col-md-12 clist">
                                            <h2 class="title">WHAT WILL IT COVER</h2>
                                           @if (Model.CourseCurriculum != null & Model.CourseCurriculum.Count > 0)
                                           {
                                            <ul class="curri">

                                                @foreach (var item in Model.CourseCurriculum)
                                                {
                                                <li>@item.CoveredTopic</li>
                                                }

                                            </ul>
                                           }
                                           else
                                           {
                                                    <h4>Not Provided</h4>
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 MCFAQs">
                                        <h2 class="title">FREQUENTLY ASKED QUESTIONS BY PARENTS</h2>
                                        <div class="col-md-12 faq">
                                            @if (Model.CourseFaqs != null && Model.CourseFaqs.Count > 0)
                                            {
                                                int count = 0;
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                    @foreach (var item in Model.CourseFaqs)
                                                    {
                                                        count++;
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading" role="tab" id="headingOne">
                                                                <h4 class="panel-title">
                                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(count)" aria-expanded="true" aria-controls="collapse@(count)">@item.Question</a>
                                                                </h4>
                                                            </div>
                                                            <div id="collapse@(count)" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                                <div class="panel-body">
                                                                   @item.Answer
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                  

                                                </div>

                                            }
                                            else
                                            {
                                                <h4>No FAQ,s Found</h4>
                                            }

                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                            </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 cddyou">
                   @if (!string.IsNullOrEmpty(Model.TrialVideoURL))
                   {
                        <iframe width="100%" height="130" src="@Model.TrialVideoURL" frameborder="0" allowfullscreen></iframe>
                        <h4>See What will you Learn in this Course</h4>
                   }
                   else
                   {
                    <h4>No Video Link Provided</h4>
                   }
                       </div>

                @* Recommended Course  *@

                @*<div class="col-md-12 cddyou">
                    <h6>Recommended Courses</h6>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="green">Seats Available</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="blue">Filling Fast</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="red">Seats Not Available</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="green">Seats Available</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="green">Seats Available</p>
                    </div>
                </div>*@


            </div>
        </div>
    </div>
    }
    else
    {
        <div class="col-md-10 col-sm-9 listing">
            <h3>Sorry Something is wrong</h3>
        </div>
    }
</div>




@*<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send Message to Dhaval Khatri</h4>
            </div>
            <div class="modal-body">
                <div class="msgmodal">
                    <textarea class="form-control" rows="10" placeholder="Please ask your queries to the Teacher.."></textarea>
                    <label class="btn btn-default">
                        Attach File
                        <input type="file" style="display: none;" />
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" style="background: #ff6600; border-color: #ff6600">SEND YOUR MESSAGE</button>
            </div>
        </div>
    </div>
</div>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<script type="text/javascript">

      
    $(function() {

        $("#rateYo").rateYo({
            rating: @Model.TeacherRatings,
            readOnly:true,
            starWidth: "15px",
            ratedFill:"#ff6600"

        });
    });
</script>

<style>
    .TeacherBox i {
        /*display: inline-block;*/
    }
</style>