﻿@{
    ViewBag.Title = "CourseDetails";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="White79" style="background: #e4e7ea">
    <div class="CourseBann">
        <div class="container">
            <div class="col-md-12 nopadding">
                <div class="col-md-7">
                    <h1>Class 10 SA2 Physics</h1>
                    <h5><span>Subject : Mathematics</span><span>Grade : 10th</span></h5>
                    <p>
                        <span>ABOUT THIS COURSE</span><br>
                        <br>
                        This monthly tuition course targeting CBSE, is a highly well planned course with focus on preparing students for SA2 exams. We are sure that this course will offers an extra edge to the students over others and help them come out with flying colors in the final exams. The best part is, the course is in accordance with the CBSE guidelines and personal mentors will take care of students' academic needs through a highly customized study plan and performance tracking.
                    </p>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <h6>Course Fee</h6>
                    <h2>₹ 2960</h2>
                    <div class="col-md-12 price">
                        <p><i class="glyphicon glyphicon-time"></i>Course Duration : <span>12 Hrs</span></p>
                        <p><i class="glyphicon glyphicon-play-circle"></i>Starts on : <span>19th Oct</span></p>
                        <p><i class="glyphicon glyphicon-play-circle"></i>Ends on : <span>26th Nov</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 MCContent">
            <div class="col-md-9">
                <div>
                    <ul class="nav nav-tabs cdtab" role="tablist">
                        <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">CHOOSE BATCH</a></li>
                        <li role="presentation"><a href="#2" role="tab" data-toggle="tab">CURRICULUM</a></li>
                        <li role="presentation"><a href="#3" role="tab" data-toggle="tab">FAQs</a></li>
                    </ul>
                    <div class="tab-content cdtab">
                        <div role="tabpanel" class="tab-pane active" id="1">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 30px">
                                    <div class="col-md-12 TeacherBox" style="margin: 0px">
                                        <div class="col-md-6" style="padding-top: 20px">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <!-- <h6 class="offline"><i class="glyphicon glyphicon-stop"></i>Online</h6> -->

                                            <img src="~/Content/Front/frontimg/t3.jpg" />  
                                                 <h3>Dhaval Khatri</h3>
                                            <p>MCA, Bhagwan Mahavir College Of Technology</p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="call"><i class="glyphicon glyphicon-phone"></i>Call</a>
                                            <a href="#" class="msg" data-toggle="modal" data-target="#message"><i class="glyphicon glyphicon-comment"></i>Message</a>
                                        </div>
                                        <div class="col-md-6 cddata">
                                            <div class="col-md-10 col-md-offset-2 box">
                                                <p>Batch Timing</p>
                                                <h4>7:30 pm - 8:30 pm</h4>
                                            </div>
                                            <div class="col-md-10 col-md-offset-2 box">
                                                <p>Classes conducted on</p>
                                                <h4><span class="off">M</span><span>T</span><span>W</span><span class="off">T</span><span class="off">F</span><span>S</span><span class="off">S</span></h4>
                                            </div>
                                            <div class="col-md-10 col-md-offset-2 box">
                                                <p>Available seats: <span>4</span></p>
                                                <h4><i class="glyphicon glyphicon-user off"></i><i class="glyphicon glyphicon-user off"></i><i class="glyphicon glyphicon-user off"></i><i class="glyphicon glyphicon-user off"></i><i class="glyphicon glyphicon-user off"></i><i class="glyphicon glyphicon-user off"></i><i class="glyphicon glyphicon-user off"></i><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-user"></i></h4>
                                            </div>
                                            <div class="col-md-8 col-md-offset-2 box">
                                                <a href="#" class="enroll">ENORLL NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ShowSchedule">
                                        <a data-toggle="collapse" href="#Schedule" aria-expanded="false">Show Full Schedule <i class="glyphicon glyphicon-menu-down"></i></a>
                                    </div>
                                    <div class="collapse" id="Schedule">
                                        <div class="col-md-12 schmain">
                                            <div class="col-md-12 nopadding">
                                                <div class="col-md-12 flex mb15">
                                                    <div class="col-xs-2 datesche">
                                                        <h3>22</h3>
                                                        <p>Dec</p>
                                                    </div>
                                                    <div class="col-xs-10 txtsche">
                                                        <p><span>Class:</span> Algebraic Expessions and Identities</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 flex mb15">
                                                    <div class="col-xs-2 datesche">
                                                        <h3>22</h3>
                                                        <p>Dec</p>
                                                    </div>
                                                    <div class="col-xs-10 txtsche">
                                                        <p><span>Class:</span> Algebraic Expessions and Identities</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 flex mb15">
                                                    <div class="col-xs-2 datesche">
                                                        <h3>22</h3>
                                                        <p>Dec</p>
                                                    </div>
                                                    <div class="col-xs-10 txtsche">
                                                        <p><span>Class:</span> Algebraic Expessions and Identities</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 flex mb15">
                                                    <div class="col-xs-2 datesche">
                                                        <h3>22</h3>
                                                        <p>Dec</p>
                                                    </div>
                                                    <div class="col-xs-10 txtsche">
                                                        <p><span>Class:</span> Algebraic Expessions and Identities</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 flex mb15">
                                                    <div class="col-xs-2 datesche">
                                                        <h3>22</h3>
                                                        <p>Dec</p>
                                                    </div>
                                                    <div class="col-xs-10 txtsche">
                                                        <p><span>Class:</span> Algebraic Expessions and Identities</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 flex mb15">
                                                    <div class="col-xs-2 datesche">
                                                        <h3>22</h3>
                                                        <p>Dec</p>
                                                    </div>
                                                    <div class="col-xs-10 txtsche">
                                                        <p><span>Class:</span> Algebraic Expessions and Identities</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 flex mb15">
                                                    <div class="col-xs-2 datesche">
                                                        <h3>22</h3>
                                                        <p>Dec</p>
                                                    </div>
                                                    <div class="col-xs-10 txtsche">
                                                        <p><span>Class:</span> Algebraic Expessions and Identities</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 MCCuri">
                                        <h2 class="title">ABOUT THE COURSE</h2>
                                        <ul>
                                            <li>NCERT Curriculum + Reference Books+ Revision+ HOTS+ Paper Solving</li>
                                            <li>Content aligned to your target exam</li>
                                            <li>Complete Term-2 curriculum coverage</li>
                                            <li>Revision and Sample paper solving at the end of course</li>
                                            <li>Chapter based assignment and test to ensure exam readiness</li>
                                            <li>Regular MCQ test to ensure comprehension</li>
                                        </ul>
                                        <div class="col-md-12 clist">
                                            <h2 class="title">WHAT WILL IT COVER</h2>
                                            <ul class="curri">
                                                <li>Quadratic Equations</li>
                                                <li>Arithmetic Progressions</li>
                                                <li>Coordinate Geometry</li>
                                                <li>Some Applications of Trigonometry</li>
                                                <li>Surface Areas and Volumes</li>
                                                <li>Quadratic Equations</li>
                                                <li>Arithmetic Progressions</li>
                                                <li>Coordinate Geometry</li>
                                                <li>Some Applications of Trigonometry</li>
                                                <li>Surface Areas and Volumes</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 MCFAQs">
                                        <h2 class="title">FREQUENTLY ASKED QUESTIONS BY PARENTS</h2>
                                        <div class="col-md-12 faq">
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item #1</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 MCFAQs">
                                        <h2 class="title">FREQUENTLY ASKED QUESTIONS BY STUDENTS</h2>
                                        <div class="col-md-12 faq">
                                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="sh1">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#s1" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item #1</a>
                                                        </h4>
                                                    </div>
                                                    <div id="s1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sh1">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="sh2">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s2" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2</a>
                                                        </h4>
                                                    </div>
                                                    <div id="s2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh2">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="sh3">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s3" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3</a>
                                                        </h4>
                                                    </div>
                                                    <div id="s3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh3">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 cddyou">
                    <iframe width="100%" height="130" src="https://www.youtube.com/embed/FWXek4o1v6U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    <h4>See What will you Learn in this Course</h4>
                </div>
                <div class="col-md-12 cddyou">
                    <h6>Recommended Courses</h6>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="green">Seats Available</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="blue">Filling Fast</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="red">Seats Not Available</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="green">Seats Available</p>
                    </div>
                    <div class="box">
                        <h1>Class 8 SA2 Science</h1>
                        <p class="green">Seats Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


