﻿@{
    ViewBag.Title = "TestFinished";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";

    int status = ViewBag.Status;

}

<div class="White79">
    <div class="container">

        @if (status != 2)
        {
        
        <div class="col-sm-12 mt50 StartTest01">
            <div class="checkmark-circle">
                <div class="background"></div>
                <div class="checkmark draw"></div>
            </div>
        </div>

        }

        <div class="col-sm-12 finishmsg mt50 StartTest01">
            
            <h2>
                @ViewBag.Message
            </h2>

            <h2>
               Redirecting To Dashboard....
            </h2>

        </div>




    </div>
</div>




@section scripts
{
    <script type="text/javascript">
        $(window).load(function () {
            window.setTimeout(function () {
                window.location.href = "@Url.Action("Index","Student", new { area="Student"})";
            }, 5000)
        });
    </script>

}
