﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model IEnumerable<DAL.Entities.Curriculums>

@{    Layout = "~/Views/Shared/_PublicLayout.cshtml";}



<div class="White79">
    <div class="ExploreCourseBanner">
        <div class="container">
            <div class="col-md-10">
                <h1>Welcome to Live online Tuition</h1>
                <h2>Explore your Course and Learn Now !</h2>
                <div class="link">
                    <a href="#" data-toggle="modal" data-target="#HowThisWorkd">See how this works</a>
                </div>
            </div>
            <div class="col-md-2 vchat">
                <img src="~/Content/Front/frontimg/VChatExample.png" /> 
                <a href="#" data-toggle="modal" data-target="#ExampleSession">Watch Example Session</a>
            </div>
        </div>
    </div>

    <div class="ECStrip">
        <div class="container">
            <div class="col-md-12">
                <ul id="parentActive">
                    @*<li><a href="#"><i class="glyphicon glyphicon-fire"></i>Trending</a></li>*@
                    <li class="active" onclick="AddActive(this)">
                        @Ajax.ActionLink("All", "cbsc", "Home", new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "ShowWaiting", OnSuccess = "HideWaiting" })
                    </li>
                    @foreach (var item in Model)
                    {
                    <li onclick="AddActive(this)">
                        @Ajax.ActionLink(item.CurriculumName, "jee", "Home", new { @id = item.CurriculumID }, new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "ShowWaiting", OnSuccess = "HideWaiting" })
                    </li>
                    }
                    @*<li id="tab2">
                        @Ajax.ActionLink("ICSE", "icse", "Home",  new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @onclick = "AddActive('tab2')" })   
                    </li>

                    <li id="tab3">
                        @Ajax.ActionLink("JEE Foundation", "jee", "Home", new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new {  @onclick = "AddActive('tab3')" })
                    </li>*@
                 
                </ul>
            </div>
        </div>
    </div>
    <div id="divProcessing" style="text-align:center;">
        <p><img src="~/Content/img/Reload (1).gif" /></p>
    </div> 
    <div class="ECmain" id="content">
        <div class="container">
            <div class="col-md-12 nopadding" id="NeedToUpdate"> 
                      
             @Html.Action("cbsc","Home")
            </div>
        </div>
    </div>
</div>


@* Popups *@


<div class="modal fade" id="AboutCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">About CBSE Math Tuition (Term 2)</h4>
            </div>
            <div class="modal-body">
                <p><strong>Course planned to prepare student for SA2 exams in Mar 2017.</strong></p>
                <ul>
                    <li>NCERT Curriculum + Reference Books+ Revision+ HOTS+ Paper Solving</li>
                    <li>Content aligned to your target exam</li>
                    <li>Complete Term-2 curriculum coverage</li>
                    <li>Revision and Sample paper solving at the end of course</li>
                    <li>Chapter based assignment and test to ensure exam readiness</li>
                    <li>Regular MCQ test to ensure comprehension</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn mybtn" data-dismiss="modal">DONE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HowThisWorkd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">How This Works</h4>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="350" src="https://www.youtube.com/embed/mqrsYz_WChc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn mybtn" data-dismiss="modal">DONE</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ExampleSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sample Session Video</h4>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="350" src="https://www.youtube.com/embed/mqrsYz_WChc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn mybtn" data-dismiss="modal">DONE</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#divProcessing").hide();
        });
        function AddActive(elem) {
            if ($(elem).hasClass('active')) {
                $("#parentActive").children().removeClass("active");
                $(elem).removeClass('active');
                
            
            } else {
                $("#parentActive").children().removeClass("active");
                $(elem).addClass('active');
                
            }
        }

        function ShowWaiting() {
            $("#divProcessing").show();
            $("#content").hide();
        }
        function HideWaiting() {
            $("#divProcessing").hide();
            $("#content").show();
        }


</script>  
  }
