﻿@model List<Rudra.BLL.BusinessModels.TeacherModels.TeacherViewModel>

@{
    ViewBag.Title = "Find Teacher";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="White79">
    <div class="container">
        <div class="col-md-12 MCContent">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">CHOOSE TEACHER</a></li>
                        <li role="presentation"><a href="#3" role="tab" data-toggle="tab">CHANGE FILTERS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="1">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (Model.Count == 0)
                                    {
                                        <div class="col-md-12">
                                            <h3>No Record Found</h3>
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <div class="col-md-4">
                                                <div class="col-md-12 TeacherBox">
                                                    @*<h6><i class="glyphicon glyphicon-stop"></i>Offline</h6>*@
                                                    <h6 class="@(item.IsOnline == true ? "online":"")"><i class="glyphicon glyphicon-stop"></i>
                                                    @if (item.IsOnline)
                                                    {
                                                        <span>Online</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Offline</span>
                                                    }
                                                    </h6>
                                                    <img src="~/Content/Front/frontimg/testi1.jpg" />
                                                    <h3>@item.FirstName <span>@item.LastName</span></h3>
                                                    <p>Qualification : <span>@item.TeacherQualification</span></p>
                                                    <p>Experiance : <span>@item.TeacherExperience</span></p>
                                                    <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                                    <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="#"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="3">
                            <div class="row">
                                @Html.Action("TeacherSearchFilter", "Home")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AboutCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">About CBSE Math Tuition (Term 2)</h4>
            </div>
            <div class="modal-body">
                <p><strong>Course planned to prepare student for SA2 exams in Mar 2017.</strong></p>
                <ul>
                    <li>NCERT Curriculum + Reference Books+ Revision+ HOTS+ Paper Solving</li>
                    <li>Content aligned to your target exam</li>
                    <li>Complete Term-2 curriculum coverage</li>
                    <li>Revision and Sample paper solving at the end of course</li>
                    <li>Chapter based assignment and test to ensure exam readiness</li>
                    <li>Regular MCQ test to ensure comprehension</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn mybtn" data-dismiss="modal">DONE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HowThisWorkd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">How This Works</h4>
            </div>
            <div class="modal-body">
                <iframe style="width:100%" height="350" src="https://www.youtube.com/embed/mqrsYz_WChc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn mybtn" data-dismiss="modal">DONE</button>
            </div>
        </div>
    </div>
</div>