﻿@using DAL.Entities
@model List<FreeResources>


@{
    ViewBag.Title = "FreeResources";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="LightOrange">
    <div class="container">

        @if (Model != null && Model.Count > 0)
        {
            <div class="col-md-12 FRDTitle">
                <div class="col-md-9 nopadding">
                    <h1>@Model.First().Subject.CompleteSubjectName</h1>
                   
                    <h2>Available Solutions of <span>@Model.Min(x=>@Model.First().Year) - @Model.Max(x => @Model.First().Year) </span> years' Exam Papers</h2>
                
                </div>

                <div class="col-md-3 VideoCount">
                    <h4>
                        <i class="glyphicon glyphicon-play-circle"></i>
                        <br>
                        @Model.Count() Videos
                    </h4>
                </div>

            </div>
            <div class="col-md-12 FreeResourseArea">
                <div class="col-md-12 FRDArea">
                    <div class="col-md-3 FRDLeft">
                      
                          @*<div class="col-md-12 filter">
                            <h2>Choose year</h2>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        All Years
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        2015 - 2014
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        2014 - 2013
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        2013 - 2012
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        2012 - 2011
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 filter">
                            <h2>Choose TOPICS</h2>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        All Topics
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Application of Integrals
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Linear Programming
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Three Dimensional Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Coordinate Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Application of Integrals
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Linear Programming
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Three Dimensional Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Coordinate Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Application of Integrals
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Linear Programming
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Three Dimensional Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Coordinate Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Application of Integrals
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Linear Programming
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Three Dimensional Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Coordinate Geometry
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Coordinate Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Application of Integrals
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Linear Programming
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Three Dimensional Geometry
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        Coordinate Geometry
                                    </label>
                                </div>

                            </div>
                        </div>*@

                    </div>


                  
                        <div class="col-md-9" style="padding: 15px">

                            <div id="UpdatedID">
                                @Html.Action("_FreeResDetail", "Home")
                            </div>

                        </div>
                
                </div>
            
            </div>
        }

  
    </div>
</div>



