﻿@using BLL.BusinessModels.TeacherModels

@model List<FreeResourcesFolder>

@{
    ViewBag.Title = "FreeResources";
    //Layout = "~/Views/Shared/_PublicLayout.cshtml";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    #FKSubjectID:disabled{
        background:white !important;
    }

</style>

<div class="LightOrangeBg">
    <div class="container">
        <div class="col-md-12">
            <h1 class="TitleV1"><span>FREE RESOURCES</span> - Previous Year Questions with Video Solutions</h1>
        </div>

        <div class="col-md-12 FreeResourseArea">
           
             <div class="col-md-12 Filter">

                <div class="col-md-2 col-sm-4">

                    @Html.DropDownList("FKGradeID", (IEnumerable<SelectListItem>)ViewBag.GradesList, "Select Grade", new { @id = "FKGradeID", @class = "form-control", @onchange = "LoadSubjects()" })

                </div>

                <div class="col-md-2 col-sm-4">

                    @Html.DropDownList("FKSubjectID", (IEnumerable<SelectListItem>)ViewBag.SubjectList, "Select Subject", new { @id = "FKSubjectID", @class = "form-control", @disabled = "disabled", @onchange = "LoadResources();" })

                </div>

            </div>

            @if (Model != null && Model.Count > 0)
            {
                <div class="col-md-12 Listing">

                @foreach (var item in Model)
                {

                <div class="col-md-4">
                    <div class="col-md-12 FrBox">
                        <h1>@item.FolderName</h1>
                        <h2>Solution of (@item.FromToYear)</h2>
                        <a href="@Url.Action("FreeResDetail","Home", new {@id=@item.SubjectID })"><i class="glyphicon glyphicon-play-circle"></i><br>@item.TotalVideos Video @((item.TotalVideos>1)?"Solutions" : "Solution")</a>
                        <p>CLASS: @item.ClassName | SUBJECT: @item.SubjectName</p>
                    </div>
                </div>

                }

                </div>


            }
            else
            {
                <h4 style="margin-top:10%;"> No Resource Found against your query </h4>
            }
        </div>
    </div>
</div>

@section scripts{
    
    <script type="text/javascript">
        function LoadResources()
        {
           
                var id = $("#FKSubjectID").val();
               
                var sName= $('#FKGradeID').val();

                var url = "@Url.Action("FreeResources", "Home")?gID=" + sName + "&sID=" + id;
         
                window.location.href = url;

        }


        function LoadSubjects() {
            var GradeID = $("#FKGradeID").val();
            if (GradeID != null && GradeID != '') {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("dSubjectsList", "Home")',
                    dataType: 'json',
                    data: { GradeID: GradeID },
                    success: function (cities) {
                        var gradesSelect = $('#FKSubjectID');
                        gradesSelect.attr("disabled", false);
                        $("#FKTopicID").attr('disabled', true);
                        var txtstring = $('#FKSubjectID option:first-child').text();
                        gradesSelect.empty();
                        gradesSelect.append('<option value="">' + txtstring + '</option>');
                        $.each(cities, function (i, val) {
                            gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        ShowErrorNotification("Error", _AjaxErrorMessage);
                    }
                });
            }
            else {
                $("#FKSubjectID").attr('disabled', true);
               
            }
        }

    </script>
    
    }