﻿@using DAL.Entities
@using BLL.Helpers
@model List<CoursesHeader>


    @if (Model == null)
    {
        <h4>No Grade Found</h4>


    }

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="col-sm-12 new-c-box">
                    <span class="c-tag">Upcoming</span>
                    <p class="c-grade"> Grade @item.GradeName</p>
                    <h2>@item.CourseTitle</h2>
                    <div class="col-sm-6 nopadding">
                        <p class="c-meta">
                            <span>Starting from</span><br>
                            17 Dec
                        </p>
                    </div>
                    <div class="col-sm-6 nopadding text-right">
                        <p class="c-meta">
                            <span>Duration</span><br>
                            @item.TotalHours hrs
                        </p>
                    </div>
                    <div class="col-sm-12 nopadding">
                        <h3><a href="@Url.Action("CourseDetailsExpand","Payment",new {@CourseID= item.CoursesHeaderID })">₹ @item.CourseFee<i class="glyphicon glyphicon-menu-right" text-decoration="none"></i></a></h3>
                    </div>
                </div>
            </div>
        }
    }













