﻿@using DAL.Entities
@using BLL.Helpers

@model List<CoursesHeader>


@if (Model != null && Model.Count > 0)
{
    <div class="col-md-12 block" id="GradesUpdate">

        <h2>Grade</h2>
        <ul>
            <li class="active"><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>ALL</a></li>
            @foreach (var item in Model)
            {
                <li><a href="#"><i class="glyphicon glyphicon-ok"></i>@item.GradeName</a></li>
            }
            @*<li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>8th</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>9th</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>10th</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>11th</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>12th</a></li>*@
        </ul>
    </div>

}
