﻿@model BLL.BusinessModels.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link rel="icon" href="~/Content/Include/img/fav.png" type="img/png" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
<link href="~/Content/Include/css/animate.css" rel="stylesheet" type="text/css" />

<script>
        new WOW().init();
</script>

<div class="HomeBanner">
    <div class="container">
        <div class="col-md-7 home-banner-texts">
            <h3>Learn <span>Live</span><span class="ro">Online</span></h3>
            <h4>
                India's Best Teachers Live<br>
                at your Screen at affordable Price.
            </h4>
            <a href="https://teachingbharat.com/Home/explorecourses" class="h-b-btn">Choose your Course</a>
        </div>
        <div class="col-md-5 home-right-img">
            <a href="#" data-toggle="modal" data-target="#HomeVideo">
                <img src="~/Content/Include/img/bannerimage.png" />
            </a>
        </div>
    </div>
</div>
<div class="NextBanner">
    <div class="container">
        <div class="col-md-12">
            <h1>CHOOSE YOUR <span>BEST CHOICE</span></h1>
            <p><span class="line"></span>Experience the New and Feel like <span>SUPERIOR</span> !<span class="line"></span></p>
        </div>
        <div class="col-md-12 ChoiceBlock">
            <a href="#">
                <div class="col-sm-4  wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="col-sm-12 block">
                        <div class="col-sm-3">
                            <img src="~/Content/Include/img/i3.png">
                        </div>
                        
                        
                        

                        <div class="col-sm-9">
                            <h2>Explore Courses</h2>
                            <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                            <h4><a href="https://teachingbharat.com/Home/explorecourses">Choose <i class="glyphicon glyphicon-menu-right"></i></a></h4>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-sm-4 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="col-sm-12 block">
                        <div class="col-sm-3">
                            <img src="~/Content/Include/img/i1.png">
                        </div>
                        <div class="col-sm-9">
                            <h2>Monthly Tuitions</h2>
                            <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                            <h4><a href="https://teachingbharat.com/Home/MonthlyTution">Choose <i class="glyphicon glyphicon-menu-right"></i></a></h4>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-sm-4  wow fadeInDown animated" data-wow-delay="0.4s">
                    <div class="col-sm-12 block">
                        <div class="col-sm-3">
                            <img src="~/Content/Include/img/i2.png">
                        </div>
                        <div class="col-sm-9">
                            <h2>Find My Teacher</h2>
                            <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                            <h4><a href="https://teachingbharat.com/Student/Student/step_1">Choose <i class="glyphicon glyphicon-menu-right"></i></a></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-10 col-md-offset-1 TagBlock  wow fadeInUp animated" data-wow-delay="0.4s">
            <a href="#">CBSC</a><a href="#">JEE-FOUNDATION</a><a href="#">IGCSC</a><a href="#">OLYMPIAD</a><a href="#">NTSC</a><a href="#">ANDROID</a><a href="#">MATHEMATICS</a>
            <a href="#">IB</a><a href="#">CO-CURRICULAR-COURSE</a><a href="#">ICSE</a><a href="#">GRAMMER & VOCABULARY</a><a href="#">MIDDLE-EAST COURSE</a>
        </div>
        <div class="col-md-12 TagBrowse wow bounceInUp   animated" data-wow-delay="0.4s">
            <a href="https://teachingbharat.com/Home/explorecourses">BROWSE ALL COURSES</a>
        </div>
    </div>
</div>
<div class="home-one-one">
    <div class="container">
        <div class="col-md-12 hoo-box">
            <div class="col-md-1 hoo-one">
                <img src="~/Content/Include/img/video-chat.png" />
            </div>
            <div class="col-md-8 hoo-two">
                <h3>Try One-to-One Classes <span>with a Personal Teacher</span></h3>
                <p>Available for CBSE, ICSE, IGCSE, IB and State Boards' Students</p>
            </div>
            <div class="col-md-3">
                <a href="https://teachingbharat.com/Student/Student/step_1">First Free Trial Class <i class="glyphicon glyphicon-menu-right"></i></a>
            </div>
        </div>
        <div class="col-md-12 hoo-talk">
            <h5>Need something more specific ?</h5>
            <p>Discuss with our counsellor to get a customized study plan designed for you.</p>
            <a href="http://teachingbharat.com/Teacher/teacher/support">Talk to us Now !</a>
        </div>
    </div>
</div>
<div class="HomeBranding">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12 wow fadeInUp animated" data-wow-delay="0.4s">
                <img src="~/Content/Include/img/HowItWorks.png" />
            </div>
        </div>
    </div>
</div>

<div class="HomeWhyUs">
    <div class="container">
        <div class="col-md-12  wow fadeInUp animated" data-wow-delay="0.4s">
            <h1>Why from <span>Rudraa</span></h1>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Include/img/b1.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>LIVE PERSONALIZED TEACHING</h2>
                            <p>Learn online Live interactive classes by Expert faculty at your Personal Computer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Include/img/b2.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>LEARN ANYTIME ANYWHERE</h2>
                            <p>Learn online Live interactive Classes Anywhere Anytime at your Place with Teaching Bharat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Include/img/b3.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>SAVE TIME AND ENERGY</h2>
                            <p>Save your Transportation time and Energy, Reduce the time for finding best Teacher.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Include/img/b4.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>ECONOMICAL LEARNING</h2>
                            <p>Cheaper than Physical Classes. Choose from several Learning plans from Teaching Bharat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Include/img/b5.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>innovative methodology</h2>
                            <p>Rudraa is giving you Innovative and unique methodology to make your Doubts more Clear.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="HomeStory">
    <div class="container">
        <div class="col-md-12">
            <h1 class="hs-title">What <span>Students and Parents</span> Feels About Rudraa</h1>
            <div class="col-md-6 reviews">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner reviewCar" role="listbox">
                            <div class="item active">
                                <img src="~/Content/Include/img/testi1.jpg">
                                <div>
                                    <h5>Dhaval Khatri, Student</h5>
                                    <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                                    <p>I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Content/Include/img/testi1.jpg">
                                <div>
                                    <h5>Dhaval Khatri, Student</h5>
                                    <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                                    <p>I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here I love it, Rudraa is the best website I am thankful and some text goes here.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 reviewbtn">
                    <a href="AllReviews.html">Read All Reviews</a>
                </div>
            </div>
            <div class="col-md-6 video  wow fadeInRight animated" data-wow-delay="0.4s">
                <a href="#" data-toggle="modal" data-target="#Video">
                    <img src="~/Content/Include/img/reviewimg.gif" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="home-teacher">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 wow fadeInUp animated" data-wow-delay="0.4s">
                <img src="~/Content/Include/img/teachersthub.jpg" />
                <h3>Meet some of our <span>awesome tutors</span></h3>
                <p>Proven tutors, recruited from top universities, for high school and college subjects</p>
                <a href="#">Find me a Tutor</a>
            </div>
        </div>
    </div>
</div>
<div class="home-sample-video">
    <div class="container">
        <div class="col-md-12 wow fadeInUp animated" data-wow-delay="0.4s">
            <h3>Introducing Video Courses</h3>
            <h4>Very first time in India, buy HD Recorded Video Courses</h4>
        </div>
        <div class="col-md-12 hsv-main wow fadeInUp animated" data-wow-delay="0.4s">
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12 hsv-box">
                    <a href="#">
                        <img src="~/Content/Include/img/ProductPoster.jpg" alt="" class="poster-main" />
                        <img src="~/Content/Include/img/play-button.png" alt="play" class="play-btn" />
                    </a>
                    <h2>Title of the Video here</h2>
                    <p>CBSE / Class 10th / Maths</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 hs-btn wow fadeInUp animated" data-wow-delay="0.4s">
            <div class="col-md-3 col-md-offset-3">
                <a href="#" class="pink">BUY VIDEO COURSE</a>
            </div>
            <div class="col-md-3">
                <a href="#" class="purple">VIEW ALL SAMPLE VIDEOS</a>
            </div>
        </div>
    </div>
</div>
<div class="HomeGrade wow fadeInUp animated" data-wow-delay="0.4s">
    <div class="container">
        <div class="col-md-12 nopadding-m">
            <h2>Choose Your Grade</h2>
            <div class="col-md-12 nopadding-m">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="~/Content/Include/img/7th.png" />
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="~/Content/Include/img/8th.png" />
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="~/Content/Include/img/9th.png" />
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="~/Content/Include/img/10th.png" />
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="~/Content/Include/img/11th.png" />
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="#">
                        <img src="~/Content/Include/img/12th.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="HomeLearnMore">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1>Learn more About Teaching Bharat</h1>
                <a href="#" >
                    <img src="~/Content/Include/img/eye.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="HomeFacts">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Include/img/f1.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL STUDENTS</span>
                    <p>42,726</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Include/img/f2.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL TEACHER</span>
                    <p>7,271</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Include/img/f3.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>HOURS LIVE LEARNING</span>
                    <p>4,11,959</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="HomeVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content" style="border-radius: 0px">
            <div class="modal-body" style="padding: 0px">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/CBqdVosM4gU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content" style="border-radius: 0px">
            <div class="modal-body" style="padding: 0px">
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/CBqdVosM4gU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/CBqdVosM4gU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
        $(document).ready(function () {
            $(window).bind('scroll', function () {
                var navHeight = $(window).height() - 70;
                if ($(window).scrollTop() > navHeight) {
                    $('nav.abt').addClass('fixed');
                }
                else {
                    $('nav.abt').removeClass('fixed');
                }
            });
        });
</script>
