﻿@model BLL.BusinessModels.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    int count = 0;
}

<div class="HomeBanner">
    <div id="HomeBanner" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
        <ol class="carousel-indicators">
            <li data-target="#HomeBanner" data-slide-to="0" class="active"></li>
            <li data-target="#HomeBanner" data-slide-to="1"></li>
            <li data-target="#HomeBanner" data-slide-to="2"></li>
            <li data-target="#HomeBanner" data-slide-to="3"></li>
            <li data-target="#HomeBanner" data-slide-to="4"></li>
            <li data-target="#HomeBanner" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/Front/frontimg/Banner.jpg" width="100%" />
                <div class="carousel-caption">
                    <h1>Anywhere Anytime Learn Live Online</h1>
                    <p>This Backgroud image is just for Demo</p>
                    <a href="#">Take a Free Trial</a>
                    <a href="#" class="no">How this Works</a>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Front/frontimg/Banner2.jpg" width="100%" />
                <div class="carousel-caption">
                    <h1>Title for the Slider goes here</h1>
                    <p>This Backgroud image is just for Demo</p>
                    <a href="#">Take a Free Trial</a>
                    <a href="#" class="no">How this Works</a>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Front/frontimg/Banner4.jpg" width="100%" />
                <div class="carousel-caption">
                    <h1>Title for the Slider goes here</h1>
                    <p>This Backgroud image is just for Demo</p>
                    <a href="#">Take a Free Trial</a>
                    <a href="#" class="no">How this Works</a>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Front/frontimg/Banner5.jpg" width="100%" />
                <div class="carousel-caption">
                    <h1>Title for the Slider goes here</h1>
                    <p>This Backgroud image is just for Demo</p>
                    <a href="#">Take a Free Trial</a>
                    <a href="#" class="no">How this Works</a>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Front/frontimg/Banner8.jpg" width="100%" />
                <div class="carousel-caption">
                    <h1>Title for the Slider goes here</h1>
                    <p>This Backgroud image is just for Demo</p>
                    <a href="#">Take a Free Trial</a>
                    <a href="#" class="no">How this Works</a>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Front/frontimg/Banner11.jpg" width="100%" />
                <div class="carousel-caption">
                    <h1>Title for the Slider goes here</h1>
                    <p>This Backgroud image is just for Demo</p>
                    <a href="#">Take a Free Trial</a>
                    <a href="#" class="no">How this Works</a>
                </div>
            </div>
            @foreach (var item in Model.SlideList)
            {
                <div class="item">
                    <img src="@Url.Content("~/Content/BannerSlides/"+@item.BannerSlidesID + ".jpg")" width="100%" />
                    <div class="carousel-caption">
                        <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                        <p>@Html.DisplayFor(modelItem => item.Link)</p>
                        <a href="#">Take a Free Trial</a>
                        <a href="#" class="no">How this Works</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<nav class="navbar navbar-default abt  wow fadeInDown animated" data-wow-delay="0.1s">
    <div class="container">
        <div class="mynve-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/Content/Front/frontimg/logo.png" />
                </a>
            </div>
            <div id="Div1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offerings</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Monthly Tuitions</a></li>
                            <li><a href="#">Explore Courses</a></li>
                            <li><a href="#">Clear Doubts Now</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Free Resources</a></li>
                    <li><a href="#">Become a Teacher</a></li>
                    <li><a href="#">WHY FROM US</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="SLogin.html"><i class="glyphicon glyphicon-log-in"></i>LOGIN</a></li>
                    <li><a href="SRegister.html"><i class="glyphicon glyphicon-education"></i>REGISTER</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="NextBanner">
    <div class="container">
        <div class="col-md-12">
            <h1>CHOOSE YOUR BEST CHOICE</h1>
            <p><span class="line"></span>Select from the three Options<span class="line"></span></p>
        </div>
        <div class="col-md-12 ChoiceBlock">
            <a href="#">
                <div class="col-sm-4 wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="col-sm-12 block">
                        <div class="col-sm-3">
                            <img src="~/Content/Front/frontimg/i1.png">
                        </div>
                        <div class="col-sm-9">
                            <h2>Monthly Tuitions</h2>
                            <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                            <h4><a href="#">Choose <i class="glyphicon glyphicon-menu-right"></i></a></h4>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-sm-4  wow fadeInDown animated" data-wow-delay="0.4s">
                    <div class="col-sm-12 block">
                        <div class="col-sm-3">
                            <img src="~/Content/Front/frontimg/i2.png">
                        </div>
                        <div class="col-sm-9">
                            <h2>Find My Teacher</h2>
                            <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                            <h4><a href="#">Choose <i class="glyphicon glyphicon-menu-right"></i></a></h4>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-sm-4  wow fadeInUp animated" data-wow-delay="0.4s">
                    <div class="col-sm-12 block">
                        <div class="col-sm-3">
                            <img src="~/Content/Front/frontimg/i3.png">
                        </div>
                        <div class="col-sm-9">
                            <h2>Explore Courses</h2>
                            <p>Grade : 7<sup>th</sup> - 12<sup>th</sup></p>
                            <h4><a href="#">Choose <i class="glyphicon glyphicon-menu-right"></i></a></h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-10 col-md-offset-1 TagBlock  wow fadeInUp animated" data-wow-delay="0.4s">
            <a href="#">CBSC</a><a href="#">JEE-FOUNDATION</a><a href="#">IGCSC</a><a href="#">OLYMPIAD</a><a href="#">NTSC</a><a href="#">ANDROID</a><a href="#">MATHEMATICS</a>
            <a href="#">IB</a><a href="#">CO-CURRICULAR-COURSE</a><a href="#">ICSE</a><a href="#">GRAMMER & VOCABULARY</a><a href="#">MIDDLE-EAST COURSE</a>
        </div>
        <div class="col-md-12 TagBrowse">
            <a href="#">BROWSE ALL</a>
        </div>
    </div>
</div>
<div class="HomeStory">
    <div class="container">
        <div class="col-md-12">
            <h1 class="ThinTitle">What People Feels About Rudraa</h1>
            <div class="col-md-6 reviews">
                @foreach (var item in Model.ReviewList)
                {
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner reviewCar" role="listbox">
                               @if (count == 0)
                               {
                                <div class="item active">
                                    <img src="~/Content/Front/frontimg/testi1.jpg">
                                    <div>
                                        @if (item.CreatedBy == "Teacher")
                                        {
                                            <h5>@item.TeacherName, TEACHER</h5>
                                        }
                                        else
                                        {
                                            <h5>@item.StudentName, STUDENT</h5>
                                        }

                                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                                        <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                                    </div>
                                </div>
                                   count++;
                               }
                               else
                               {
                                <div class="item">
                                        <img src="~/Content/Front/frontimg/testi1.jpg">
                                        <div>
                                           @if (item.CreatedBy == "Teacher")
                                           {
                                            <h5>@item.TeacherName, TEACHER</h5>
                                           }
                                           else
                                           {
                                            <h5>@item.StudentName, STUDENT</h5>
                                           }

                                        <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                                        <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                                        </div>
                                    </div>
                               }

                                
                            </div>
                        </div>
                    </div>
                    
                }
                <div class="col-md-12 reviewbtn">
                    <a href="@Url.Action("ReadReviews","Home", new { area=""})">Read All Reviews</a>
                </div>
            </div>
            <div class="col-md-6 video  wow fadeInRight animated" data-wow-delay="0.4s">
                <a href="#" data-toggle="modal" data-target="#Video">
                    <img src="~/Content/Front/frontimg/People.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="HomeBranding">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12 wow fadeInUp animated" data-wow-delay="0.4s">
                <img src="~/Content/Front/frontimg/HowItWorks.png" />
            </div>
        </div>
    </div>
</div>
<div class="HomeTeachers">
    <div class="container">
        <div class="col-md-12  wow fadeInUp animated" data-wow-delay="0.4s">
            <div class="col-md-4">
                <div class="col-md-12 Tpromise">
                    <img src="~/Content/Front/frontimg/TeacherPik.gif" />
                    <h2>
                        We Selects the Best Teachers for you to make more Amazing your<br>
                        <span>Online Learning Experiance</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-8 nopadding">
                <h2 class="Ttitle">Choose from Expert Teachers</h2>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t8.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t1.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t2.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t3.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t4.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t5.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t6.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 HTblock">
                        <img src="~/Content/Front/frontimg/t7.jpg" />
                        <p>Maahi Modi</p>
                        <p><span>M.C.A , Phd</span></p>
                    </div>
                </div>
                <div class="col-md-12 nopadding">
                    <div class="col-md-6 col-md-offset-6">
                        <a href="#" class="btn btn-block mybtn">Choose from the List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="HomeGrade">
    <div class="container">
        <div class="col-md-12">
            <h2>Choose Your Grade</h2>
            <div class="col-md-12">
                <div class="col-md-2">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/7th.png" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/8th.png" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/9th.png" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/10th.png" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/11th.png" />
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/12th.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="HomeWhyUs">
    <div class="container">
        <div class="col-md-12  wow fadeInUp animated" data-wow-delay="0.4s">
            <h1>Why from <span>Rudraa</span></h1>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Front/frontimg/b1.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>LIVE PERSONALIZED TEACHING</h2>
                            <p>Learn online Live interactive classes by Expert faculty at your Personal Computer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Front/frontimg/b2.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>LEARN ANYTIME ANYWHERE</h2>
                            <p>Learn online Live interactive Classes Anywhere Anytime at your Place with Teaching Bharat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Front/frontimg/b3.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>SAVE TIME AND ENERGY</h2>
                            <p>Save your Transportation time and Energy, Reduce the time for finding best Teacher.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Front/frontimg/b4.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>ECONOMICAL LEARNING</h2>
                            <p>Cheaper than Physical Classes. Choose from several Learning plans from Teaching Bharat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 HWBox">
                        <div class="col-md-3">
                            <img src="~/Content/Front/frontimg/b5.png" />
                        </div>
                        <div class="col-md-9">
                            <h2>innovative methodology</h2>
                            <p>Rudraa is giving you Innovative and unique methodology to make your Doubts more Clear.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="HomeLearnMore">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12">
                <h1>Learn more About Teaching Bharat</h1>
                <a href="#" data-toggle="modal" data-target="#Video">
                    <img src="~/Content/Front/frontimg/eye.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="HomeFacts">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f1.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL STUDENTS</span>
                    <p>42,726</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f2.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL TEACHER</span>
                    <p>7,271</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f3.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>HOURS LIVE LEARNING</span>
                    <p>4,11,959</p>
                </div>
            </div>
        </div>
    </div>
</div>

