﻿@using DAL.Entities
@using BLL.Helpers

@model List<CoursesHeader>


@if (Model != null && Model.Count > 0)
{
    <div class="col-md-10 list">

        <div class="col-md-3 p10">
            @foreach (var item in Model)
            {
                <div class="col-md-12 nopadding coursebox1">
                    <div class="col-md-12 title green">
                        <h1> Monthly Tuition</h1>
                    </div>
                    <div class="col-md-12 area">
                        <ul>
                            <li><i class="glyphicon glyphicon-menu-hamburger"></i><strong>@item.GradeName</strong></li>
                            <li><i class="glyphicon glyphicon-bookmark"></i>@item.CourseTitle</li>
                            <li><i class="glyphicon glyphicon-time"></i><strong>@item.TotalHours hrs</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-12 bottom">
                        <div class="col-md-5 p10">
                            <p><span>₹</span>@item.CourseFee</p>
                        </div>
                        @*<div class="col-md-7 p10">
                                <a href="@Url.Action("monthlycDetail", "home")">19 Teachers <i class="glyphicon glyphicon-menu-right"></i></a>
                            </div>*@
                    </div>
                </div>

            }
        </div>
    </div>
}
