﻿@using DAL.Entities
@using BLL.Helpers

@model List<CoursesHeader>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6">
            <div class="col-md-12 box">
                <h1>@item.CourseTitle</h1>
                <h2>Class : @item.GradeName</h2>
                <div class="col-md-12 mid">
                    <div class="col-md-6 leftalign nopadding">
                        <p>Starting on</p>
                        <h4>@Convert.ToDateTime(@item.StartDate).ToString("dd MMMM")</h4>
                    </div>
                    <div class="col-md-6 rightalign nopadding">
                        <p>Duration</p>
                        <h4>@item.TotalHours Hrs</h4>
                    </div>
                </div>
                <div class="col-md-12 teacher">
                    <p>Teaching by</p>
                    <a href="#" class="ttip" data-toggle="tooltip" data-placement="top" title="@item.TeacherName">
                        @if (string.IsNullOrEmpty(item.TeacherPic))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                    else
                    { <img src="~/UserImages/@item.TeacherPic" />}

                    </a>
                </div>
                <div class="col-md-12 bottom">
                    <div class="col-md-6 leftalign nopadding">
                        <h2>₹ @item.CourseFee</h2>
                        <p>
                            @*<i class="glyphicon glyphicon-adjust"></i>*@
                            @{int leftSeats = @item.TotalSeats - @item.CourseParticipants.Count;}
                            @leftSeats Seats Available
                        </p>
                    </div>
                    <div class="col-md-6 rightalign nopadding">
                        <a href="@Url.Action("CourseDetail","Home", new { @CourseID=@item.CoursesHeaderID})">Details</a>
                    </div>
                </div>
            </div>
        </div>
                                }
                                }
                                else
                                {
                                    <div class="col-md-10 col-sm-9 listing">
                                        <h3>Sorry No Course Found of CBSC</h3>
                                    </div>
                                }


<script type="text/javascript">

    $(document).ready(function () {
        $('.ttip').tooltip();
    });
</script>