﻿@model BLL.BusinessModels.CurriculumGradeSubjectViewModel
@{
    ViewBag.Title = "MonthlyTution";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";

    @*Layout = "~/Views/Shared/_FrontLayout.cshtml";
}*@
  }
    <section class="new-top-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 new-c-1">
                    <div class="col-sm-9">
                        <h3><span>Teaching Bharat</span> Offerings Monthly Classes </h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's<br>
                            standard dummy text ever since the 1500s.
                        </p>
                        <table>
                            <tr>
                                <td>
                                    <img src="~/Content/Include/img/new/tick.png">
                                </td>
                                <td>Lorem Ipsum is simply dummy text</td>
                                <td>
                                    <img src="~/Content/Include/img/new/tick.png">
                                </td>
                                <td>Lorem Ipsum is simply</td>
                                <td>
                                    <img src="~/Content/Include/img/new/tick.png">
                                </td>
                                <td>Lorem Ipsum is simply dummy typesetting</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/Content/Include/img/new/tick.png">
                                </td>
                                <td>Lorem Ipsum is simply</td>
                                <td>
                                    <img src="~/Content/Include/img/new/tick.png">
                                </td>
                                <td>Lorem Ipsum is simply typesetting</td>
                                <td>
                                    <img src="~/Content/Include/img/new/tick.png">
                                </td>
                                <td>Lorem Ipsum is simply dummy </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-3 text-right">
                        <img src="~/Content/Include/img/course-new-top.gif" class="c-new-top-img" / >
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ECStrip-2">
        <div class="container">
            <div class="col-sm-12">
                <ul>
                    <li class="active"><a href="#">All</a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-fire"></i>Trending</a></li>
                    <li><a href="#">Popular</a></li>
                    <li><a href="#">Co-curricular</a></li>
                    <li><a href="#">1-on-1 Classes</a></li>
                </ul>
            </div>
        </div>
    </section>

    <div class="new-grey">
        <div class="container">
            <div class="col-sm-12 new-c-area">
                <div class="col-sm-3 new-c-filter">
                    <div class="col-sm-12 new-c-filter-block">
                        <h2>Board / Target</h2>


                         @foreach (var item in Model.CurriculumsList)
                        {
                            <span onclick="AddActive(this)" id="yess" data-assigned-id="@item.CurriculumID">
                                
                                @Ajax.ActionLink(item.CurriculumName, "cbscMonthly", "Home", new { @id = item.CurriculumID },
                               new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace,
                                   HttpMethod = "GET", OnBegin = "ShowWaiting", OnSuccess = "HideWaiting" })

                            </span>
                        }
                     
                        
                    </div>
                    <div class="col-sm-12 new-c-filter-block" id="GradesUpdate">
                        <h2>Grade</h2>
                     
                        <ul id="newParent">
                            <span class="active"><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>ALL</a></span>
                            @foreach (var item in Model.GradesList)
                            {
                                <span onclick="AddActiveGrade(this)">

                                    @Ajax.ActionLink(item.GradeName, "CoursesList", "Home", new { @id = item.GradeID }, new AjaxOptions { UpdateTargetId = "NeedToUpdate", InsertionMode = InsertionMode.Replace, HttpMethod = "GET", OnBegin = "ShowWaiting", OnSuccess = "HideWaiting" })

                                </span>

                            }
                            <a href="#">6th</a>
                        </ul>
                    </div>
                    <div class="col-sm-12 new-c-filter-block">
                        <h2>Subjects</h2>
                        <a href="#">English</a>
                        <a href="#">Maths</a>
                        <a href="#">Biology</a>
                        <a href="#">Social Science</a>
                        <a href="#">Physics</a>
                        <a href="#">Chemistry</a>
                        <a href="#">Aptitude</a>
                        <a href="#">Science</a>
                        <a href="#">Hindi</a>
                    </div>
                </div>
                <div class="col-sm-9 new-c-list">
                 
                        @*<div class="col-sm-4">
                            <div class="col-sm-12 new-c-box">
                                <span class="c-tag">Upcoming</span>
                                <p class="c-grade">Grade 10th - Physics</p>
                                <h2>CBSE X Exam Prep - Physics</h2>
                                <div class="col-sm-6 nopadding">
                                    <p class="c-meta">
                                        <span>Starting from</span><br>
                                        17 Dec
                                    </p>
                                </div>
                                <div class="col-sm-6 nopadding text-right">
                                    <p class="c-meta">
                                        <span>Duration</span><br>
                                        10 hrs
                                    </p>
                                </div>
                                <div class="col-sm-12 nopadding">
                                    <a href="@Url.Action("PaymentDetails","Payment")"> <h3>₹ 2,000<i class="glyphicon glyphicon-menu-right"></i></h3></a>
                                </div>
                            </div>
                        </div>*@
             
           
                    <div id="content">
                        <div id="NeedToUpdate">
                           @Html.Action("GradessList", "Home")
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="Include/js/bootstrap.min.js"></script>
    <script src="Include/js/custom.js"></script>


    <script>
    $(document).ready(function () {
        $("#divProcessing").hide();

    });

    function ShowWaiting() {
        $("#divProcessing").show();
        $("#content").hide();

    }

    function HideWaiting() {
        $("#divProcessing").hide();
        $("#content").show();
        $("#callgrade").show();

    }
    function AddActive(elem) {

        if ($(elem).hasClass('active')) {
            $("#parentActive").children().removeClass("active");
            $("#newParent").children().removeClass("active");
            $(elem).removeClass('active');
            var id1 = $(elem).data('assigned-id');;
            $("#callgrade").show();
        } else {
            $("#parentActive").children().removeClass("active");
            $("#newParent").children().removeClass("active");
            $(elem).addClass('active');



        }
    }
    function AddActiveGrade(elem) {

        if ($(elem).hasClass('active')) {
            $("#newParent").children().removeClass("active");
            $(elem).removeClass('active');
            var id1 = $(elem).data('assigned-id');;
            $("#callgrade").show();
        } else {
            $("#newParent").children().removeClass("active");
            $(elem).addClass('active');



        }
    }
    function AssignButtonClicked(elem) {

        if ($(elem).hasClass('btn btn-sm btn-success')) {
            $(elem).removeClass('btn btn-sm btn-success');
            $(elem).addClass('btn btn-sm btn-default');
            $(elem).text('Disable');
            var emailValue = $(elem).data('assigned-id');
            $.ajax({

                url: '@Url.Action("ChangeStatus", "Reviews")',
                type: 'GET',
                data: { id: emailValue, status: false },
                success: function (result) {

                }
            });
        }
    }

    </script>


