﻿
@{
    ViewBag.Title = "MonthlyTution";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="White79">
    <div class="MCDetailBanner">
        <div class="container">
            <div class="col-md-12 nopadding">
                <div class="col-md-12">
                    <h1>CBSE Math Tuition (Term 2)</h1>
                    <div class="col-sm-3 box price">
                        <h3>₹ 15799</h3>
                        <p>Course Fee</p>
                    </div>
                    <div class="col-sm-3 box">
                        <h3>Mathematics</h3>
                        <p>Subject</p>
                    </div>
                    <div class="col-sm-3 box">
                        <h3>10<sup>th</sup></h3>
                        <p>Grade</p>
                    </div>
                    <div class="col-sm-3 box">
                        <h3>68</h3>
                        <p>Hours</p>
                    </div>
                    <div class="col-md-12 link">
                        <a href="#" data-toggle="modal" data-target="#AboutCourse"><i class="glyphicon glyphicon-star-empty"></i>About this Course</a>
                        <a href="#" data-toggle="modal" data-target="#HowThisWorkd"><i class="glyphicon glyphicon-unchecked"></i>See how this works</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 MCContent">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">CHOOSE TEACHER</a></li>
                        <li role="presentation"><a href="#2" role="tab" data-toggle="tab">CURRICULUM</a></li>
                        <li role="presentation"><a href="#3" role="tab" data-toggle="tab">FAQs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="1">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" /> 
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                  
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 TeacherBox">
                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                            <img src="~/Content/Front/frontimg/testi1.jpg" />
                                            <h3>Dhaval Khatri</h3>
                                            <p>Qualification : <span>MCA</span></p>
                                            <p>Experiance : <span>8 Years</span></p>
                                            <h4>Ratings : <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></h4>
                                            <a href="#" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a><a href="TeacherProfile.html"><i class="glyphicon glyphicon-user"></i>Profile</a>
                                        </div>
                                    </div>
                                            
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 MCCuri">
                                        <h2 class="title">ABOUT THE COURSE</h2>
                                        <ul>
                                            <li>NCERT Curriculum + Reference Books+ Revision+ HOTS+ Paper Solving</li>
                                            <li>Content aligned to your target exam</li>
                                            <li>Complete Term-2 curriculum coverage</li>
                                            <li>Revision and Sample paper solving at the end of course</li>
                                            <li>Chapter based assignment and test to ensure exam readiness</li>
                                            <li>Regular MCQ test to ensure comprehension</li>
                                        </ul>
                                        <div class="col-md-12 clist">
                                            <h2 class="title">WHAT WILL IT COVER</h2>
                                            <ul class="curri">
                                                <li>Quadratic Equations</li>
                                                <li>Arithmetic Progressions</li>
                                                <li>Coordinate Geometry</li>
                                                <li>Some Applications of Trigonometry</li>
                                                <li>Surface Areas and Volumes</li>
                                                <li>Quadratic Equations</li>
                                                <li>Arithmetic Progressions</li>
                                                <li>Coordinate Geometry</li>
                                                <li>Some Applications of Trigonometry</li>
                                                <li>Surface Areas and Volumes</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 MCFAQs">
                                        <h2 class="title">FREQUENTLY ASKED QUESTIONS BY PARENTS</h2>
                                        <div class="col-md-12 faq">
                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item #1</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 MCFAQs">
                                        <h2 class="title">FREQUENTLY ASKED QUESTIONS BY STUDENTS</h2>
                                        <div class="col-md-12 faq">
                                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="sh1">
                                                        <h4 class="panel-title">
                                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#s1" aria-expanded="true" aria-controls="collapseOne">Collapsible Group Item #1</a>
                                                        </h4>
                                                    </div>
                                                    <div id="s1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sh1">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="sh2">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s2" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2</a>
                                                        </h4>
                                                    </div>
                                                    <div id="s2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh2">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="sh3">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s3" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3</a>
                                                        </h4>
                                                    </div>
                                                    <div id="s3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh3">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

