﻿
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="spacer-60"></div>
<div class="spacer-60"></div>
<div class="container">
    <!-- 404 Section -->
    <section id="wrng_pg">
     
        <!-- /.row -->
    </section>

    <div class="row" style="margin-top:15%;">
        <div class="col-xs-12 text-center">
            <p class="desc"> </p>
            <h3>@ViewBag.NotificationMessage </h3>
        </div>
    </div>
   
</div>

