﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model PublicRatingInsertionModel



@if (Config.CurrentUser != 0)
{
    <script>

        //$("#Name").rules('remove', 'required');
        //$("#Email").rules('remove', 'regularExpression');
        //$("#Email").rules('remove', 'required');

    </script>
}
<div class="modal fade" id="WriteReviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Write Your Reviews</h4>
            </div>
            @using (Html.BeginForm("RateRudra", "Home", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ReviewForm" }))
            {
              
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 MainReview">
                            @if (Config.CurrentUser == 0)
                            {
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Your Name</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Full Name", @rows = "5" })
                                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Your Email</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email", @rows = "5" })
                                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                           
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Your Ratings</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(x => x.RatingStars, Model.ListofStars, "Select Your Ratings", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.RatingStars, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Your Review</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", @placeholder = "Comment", @rows = "5" })
                                    @Html.ValidationMessageFor(x => x.Comment, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn mybtn" style="color:#ff6600 !important;" value="Submit" />
                </div>
            }
        </div>
    </div>
</div>

