﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model PublicRatingsViewModel
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    int status = ViewBag.Status;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">

<div class="White79">
    <div class="TeacheProfileTop" style="padding-top: 0px">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>

            <div class="col-md-12 action" style="margin-top: 0px">
                <div class="col-md-3">
                    <a href="#" class="btn btn-block bs" onclick="IdGet()">Write your Review</a>
                </div>
                <div class="col-md-3">
                    <p><span>@Model.UsersCount</span> Users</p>
                </div>
                <div class="col-md-3">
                    <p><span>@Model.TeachersCount</span> Teachers</p>
                </div>
                <div class="col-md-3">
                    <p><span>@Model.SessionsCount</span> HOURS LEARNING</p>
                </div>
            </div>         
        </div>
    </div>

    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">

                @if (Model != null && Model.ReviewsList.Count > 0)
                {
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-12 TPBbox">

                            <h2 class="title">Rating & Reviews</h2>
                            <h5 class="rating">
                                <span>@Model.RatingAverage.ToString("0.00")/ 5</span>

                                <i id="rateYo"></i>

                                @Model.ReviewsList.Count()  Rating
                            </h5>
                            @{ int counter = 0;}
                            @foreach (var item in Model.ReviewsList)
                            {
                                counter++;
                                <div class="col-md-12 ratebox">
                                    @if (item.IsActive == true)
                                    {
                                        <p class="user">@item.StudentName<span> @item.StudentGrade  @item.StudentLocation</span></p>
                                    }
                                    else
                                    {
                                        <p class="user">@item.TeacherName</p>
                                    }
                                    <p class="user"><div id="rateYo_@(counter)"></div></p>
                                    <p class="comment">" @item.Comment "</p>
                                </div>

                                <script>
                                  $(function() {

                                      $("#rateYo_@counter").rateYo({
                                        rating: @item.Rating,
                                          readOnly:true ,
                                          starWidth: "15px",
                                          ratedFill:"#ff6600"});
                                  });
                                </script>
                            }

                           
                                <div class="col-md-12 reviewbtn">
                                    <a href="#" class="btn" onclick="IdGet()">Write Your Review</a>
                                </div>
                           
                        </div>
                    </div>
                                }
                                else
                                {
                                    <h3 class="text-center text-capitalize">
                                        No Ratings received Yet
                                    </h3>

                                    <div class="col-md-12 reviewbtn">
                                        <a href="#" class="btn" onclick="IdGet()">Write Your Review</a>
                                    </div>

                                }

            </div>
        </div>
    </div>

</div>


<div id="ModalWindow">

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<script type="text/javascript">

       function IdGet() {
           $("#ModalWindow").empty();
        
            var url = "@Url.Action("RateRudra", "Home")";
            $("#ModalWindow").load(url, function () {

                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);


                $('#WriteReviews').modal('show');

            });


        }

    $(function() {

        $("#rateYo").rateYo({
            rating: @Model.RatingAverage,
            readOnly:true,
            starWidth: "25px",
            ratedFill:"#ff6600"

        });
    });
</script>

<style>
    .TPContent .TPBbox h5.rating i {
        display: inline-block;
    }
</style>