﻿@using DAL.Entities
@model List<FreeResources>

@{
    ViewBag.Title = "FreeResources";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<script type="text/javascript" language="javascript">
            //jQuery("#comments").attr("data-href", window.location.href.split('?')[0]);
</script>

    <div class="LightOrange">
        <div class="container">

            @if (Model != null && Model.Count > 0)
                {
                    FreeResources obj = new FreeResources();
                    obj = Model.Where(x => x.FreeResourcesID == ViewBag.RID).FirstOrDefault();

                <div class="col-md-12 FreeResourseArea">
                    <div class="col-md-12 FRDArea">
                        @if(obj!=null)
                        {

                        <div class="col-md-9 FRDLeft">
                            <div class="col-md-12 filter">
                                <h1 class="blogtitle">@obj.ResourceTitle</h1>
                            </div>
                            <div class="col-md-12 FRYoutube">
                                <iframe width="100%" height="410" src="@obj.VideoURL" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div class="col-md-12 FRYoutubemeta">
                                <div class="col-md-6 left">
                                    <p>
                                        @if (string.IsNullOrEmpty(obj.TeacherPic))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" />}
                    else
                    { <img src="~/UserImages/@obj.TeacherPic" id="imgChange" />}

                                                        
                                    <a href="#">@obj.OfferedBy</a> <span>( Teacher )</span>
                                    
                                    </p>
                                </div>
                                <div class="col-md-6 right">
                                    <p><span><i class="glyphicon glyphicon-calendar"></i> @(Convert.ToDateTime(obj.UploadDate).ToString("dd MMMM, yyyy"))</span>
                                    @*<span><i class="glyphicon glyphicon-eye-open"></i> @obj.NumberOfViews</span>*@
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 FRYoutubetxt">
                                <p>
                                    @obj.VideoDescription
                                </p>
                            </div>

                            <div class="col-md-12 FRYoutubecmt">
                                <h2 class="title">Comments</h2>
                                <div id="comments">
                                    <div class="fb-comments" data-href="https://localhost/Tutoring/Home/ResourceDetail" data-width="500" data-numposts="50"></div>

                                </div>
                              </div>

                       
                        </div>

                        }
                        <div class="col-md-3" style="padding: 15px">
                           
                            @foreach (var item in Model)
                            {
                                if (item.FreeResourcesID != obj.FreeResourcesID)
                                {
                                    <div class="col-md-12 FRDbox noflex">
                                        <div class="col-md-12 nopadding img">

                                            <iframe width="100%" src="@item.VideoURL" frameborder="0" allowfullscreen></iframe>

                                        </div>
                                        <div class="col-md-12 nopadding">
                                            <a href="@Url.Action("ResourceDetail","Home", new { @ResourceID=@item.FreeResourcesID, @sID=item.FKSubjectID})">
                                                <h2 class="sugvidetitle">@item.ResourceTitle</h2>
                                            </a>
                                        </div>
                                    </div>
                                }

                            }
                        
                                
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="col-md-12">
                    <h3>
                        Something went wrong.

                    </h3>
                </div>
            }

          


        </div>
    </div>


@section scripts{
    
    <script type="text/javascript">


        $(document).ready(function () {

            if (window.localStorage.getItem("ViewCount") == false)
            {

                window.localStorage.setItem("ViewCount", true);

                // need to send ajax call to increment view count

                var id = '@ViewBag.RID';
               
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddViewCount", "Home")',
                    dataType: 'json',
                    data: { ResourceID: id  },

                });

                window.localStorage.setItem("ViewCount", false);

            }
            else
            {

            }

        });


    </script>
    
    <div id="fb-root"></div>
<script>

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1367906456606935',
            xfbml: true,
            version: 'v2.9'
        });

        var link = window.location.href;
        document.getElementById('comments').innerHTML = '<div style="float: left; padding-left:5px; min-height:700px" class="fb-comments" data-href="' + link + '" data-num-posts="20" data-width="500"></div>';
        FB.XFBML.parse(document.getElementById('comments'));
    };

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1367906456606935";
  fjs.parentNode.insertBefore(js, fjs);


}(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">

</script>


    

}