﻿
@{
    ViewBag.Title = "ResourceDetails";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="LightOrange">
    <div class="container">
        <div class="col-md-12 FRDTitle">
            <div class="col-md-9 nopadding">
                <h1>CBSE 10th Mathematics</h1>
                <p>CBSE 10th Mathematics</p>
                <h2>Available Solutions of <span>2010 - 2015</span> years' Exam Papers</h2>
            </div>
            <div class="col-md-3 VideoCount">
                <h4>
                    <i class="glyphicon glyphicon-play-circle"></i>
                    <br>
                    109 Videos
                </h4>
            </div>
        </div>
        <div class="col-md-12 FreeResourseArea">
            <div class="col-md-12 FRDArea">
                <div class="col-md-3 FRDLeft">
                    <div class="col-md-12 filter">
                        <h2>Choose year</h2>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    All Years
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    2015 - 2014
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    2014 - 2013
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    2013 - 2012
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    2012 - 2011
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 filter">
                        <h2>Choose TOPICS</h2>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    All Topics
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Application of Integrals
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Linear Programming
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Three Dimensional Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Coordinate Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Application of Integrals
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Linear Programming
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Three Dimensional Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Coordinate Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Application of Integrals
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Linear Programming
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Three Dimensional Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Coordinate Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Application of Integrals
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Linear Programming
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Three Dimensional Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Coordinate Geometry
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Coordinate Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Application of Integrals
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Linear Programming
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Three Dimensional Geometry
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Coordinate Geometry
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="padding: 15px">
                    <div class="col-md-12 FRDbox">
                        <div class="col-sm-3 nopadding img">
                            <a href="#">
                                <img src="~/Content/Front/frontimg/Course/no-img.jpg" />
                            </a>
                            <p>12:42</p>
                        </div>
                        <div class="col-sm-9 content">
                            <a href="#">
                                <h1>CBSE Board Papers Class 10 - 2014 - Mathematics - Question 30</h1>
                            </a>
                            <p>Question - In a school, students decided to plant trees in and around the school to reduce air pollution. It was decided that </p>
                            <div class="Bottomfix">
                                <h3><span><i class="glyphicon glyphicon-user"></i><a href="#">Dhaval Khatri</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>17 Sep, 2015</a></span><span><i class="glyphicon glyphicon-eye-open"></i> <a>15,782</a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 FRDbox">
                        <div class="col-sm-3 nopadding img">
                            <a href="#">
                                <img src="~/Content/Front/frontimg/Course/no-img.jpg" />
                            </a>
                            <p>12:42</p>
                        </div>
                        <div class="col-sm-9 content">
                            <a href="#">
                                <h1>CBSE Board Papers Class 10 - 2014 - Mathematics - Question 30</h1>
                            </a>
                            <p>Question - In a school, students decided to plant trees in and around the school to reduce air pollution. It was decided that </p>
                            <div class="Bottomfix">
                                <h3><span><i class="glyphicon glyphicon-user"></i><a href="#">Dhaval Khatri</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>17 Sep, 2015</a></span><span><i class="glyphicon glyphicon-eye-open"></i> <a>15,782</a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 FRDbox">
                        <div class="col-sm-3 nopadding img">
                            <a href="#">
                                <img src="~/Content/Front/frontimg/Course/no-img.jpg" />
                            </a>
                            <p>12:42</p>
                        </div>
                        <div class="col-sm-9 content">
                            <a href="#">
                                <h1>CBSE Board Papers Class 10 - 2014 - Mathematics - Question 30</h1>
                            </a>
                            <p>Question - In a school, students decided to plant trees in and around the school to reduce air pollution. It was decided that </p>
                            <div class="Bottomfix">
                                <h3><span><i class="glyphicon glyphicon-user"></i><a href="#">Dhaval Khatri</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>17 Sep, 2015</a></span><span><i class="glyphicon glyphicon-eye-open"></i> <a>15,782</a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 FRDbox">
                        <div class="col-sm-3 nopadding img">
                            <a href="#">
                                <img src="~/Content/Front/frontimg/Course/no-img.jpg" />
                            </a>
                            <p>12:42</p>
                        </div>
                        <div class="col-sm-9 content">
                            <a href="#">
                                <h1>CBSE Board Papers Class 10 - 2014 - Mathematics - Question 30</h1>
                            </a>
                            <p>Question - In a school, students decided to plant trees in and around the school to reduce air pollution. It was decided that </p>
                            <div class="Bottomfix">
                                <h3><span><i class="glyphicon glyphicon-user"></i><a href="#">Dhaval Khatri</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>17 Sep, 2015</a></span><span><i class="glyphicon glyphicon-eye-open"></i> <a>15,782</a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 FRDbox">
                        <div class="col-sm-3 nopadding img">
                            <a href="#">
                                <img src="~/Content/Front/frontimg/Course/no-img.jpg" />
                            </a>
                            <p>12:42</p>
                        </div>
                        <div class="col-sm-9 content">
                            <a href="#">
                                <h1>CBSE Board Papers Class 10 - 2014 - Mathematics - Question 30</h1>
                            </a>
                            <p>Question - In a school, students decided to plant trees in and around the school to reduce air pollution. It was decided that </p>
                            <div class="Bottomfix">
                                <h3><span><i class="glyphicon glyphicon-user"></i><a href="#">Dhaval Khatri</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>17 Sep, 2015</a></span><span><i class="glyphicon glyphicon-eye-open"></i> <a>15,782</a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 FRDbox">
                        <div class="col-sm-3 nopadding img">
                            <a href="#">
                                <img src="~/Content/Front/frontimg/Course/no-img.jpg" />
                            </a>
                            <p>12:42</p>
                        </div>
                        <div class="col-sm-9 content">
                            <a href="#">
                                <h1>CBSE Board Papers Class 10 - 2014 - Mathematics - Question 30</h1>
                            </a>
                            <p>Question - In a school, students decided to plant trees in and around the school to reduce air pollution. It was decided that </p>
                            <div class="Bottomfix">
                                <h3><span><i class="glyphicon glyphicon-user"></i><a href="#">Dhaval Khatri</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>17 Sep, 2015</a></span><span><i class="glyphicon glyphicon-eye-open"></i> <a>15,782</a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 FRDbox">
                        <div class="col-sm-3 nopadding img">
                            <a href="#">
                                <img src="~/Content/Front/frontimg/Course/no-img.jpg" />
                            </a>
                            <p>12:42</p>
                        </div>
                        <div class="col-sm-9 content">
                            <a href="#">
                                <h1>CBSE Board Papers Class 10 - 2014 - Mathematics - Question 30</h1>
                            </a>
                            <p>Question - In a school, students decided to plant trees in and around the school to reduce air pollution. It was decided that </p>
                            <div class="Bottomfix">
                                <h3><span><i class="glyphicon glyphicon-user"></i><a href="#">Dhaval Khatri</a></span><span><i class="glyphicon glyphicon-calendar"></i> <a>17 Sep, 2015</a></span><span><i class="glyphicon glyphicon-eye-open"></i> <a>15,782</a></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <nav aria-label="...">
                            <ul class="pager">
                                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                                <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

