﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0034)http://demo.rudraa.org/Admin/Admin -->
<html class=" js csstransitions">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Content/Front/frontimg/fav.png" type="img/png" />
    <title>DashBoard</title>
    <script src="~/Content/DashBoard/adminjs/jquery-1.10.2.js"></script>

    @Styles.Render("~/Content/admincss")
    @*<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/Content/DashBoard/admincss/dstyle.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/animate.min.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/admin.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/custom.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    @Scripts.Render("~/Content/modernizer")
    @*@Scripts.Render("~/Content/Jquery")*@
    @Scripts.Render("~/Content/unobtrusiveajax")
    @Scripts.Render("~/Content/validate")
    @Scripts.Render("~/Content/unobtrusive")

    @*<style>
            .modal-backdrop {
                z-index: 1040;
            }

            .modal-content {
                width: 100%;
                float: left;
                position: relative !important;
               z-index: 1100 !important;
            }

            .modal-dialog {
                z-index: 5000 !important;
            }
        </style>*@

    <style>
        .MakeWhite {
            color: white;
        }

        .sidebar .nav i {
            font-size: 21px;
        }
    </style>

</head>

<body>

    <div class="col-md-12">
        <div class="row main-back">
            <article class="maintenance">
                <img src="~/Content/img/disablenotify.png">
                <h1>We&rsquo;ll be back soon!</h1>
                <div>
                    <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. We&rsquo;ll be back online shortly!</p>
                    <p>&mdash; The Team</p>
                </div>
            </article>
        </div>
    </div>

</body>
</html>

