﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}



<div class="InnerArea">
    <img src="~/Content/Front/frontimg/AboutBanner.jpg" width="100%" />
    <div class="container">
        <div class="col-md-12 Imarea">
            <div class="col-md-12 logoIconMiddle">
                <img src="~/Content/Front/frontimg/LogoIcon.png" />
            </div>
            <div class="col-md-12 InnerText">
                <h2 class="InnTitle">FAQ's FOR <span>STUDENTS</span></h2>
            </div>
            <div class="col-md-12 Sfaq">
                <div class="col-md-10 col-md-offset-1 sfaqbox">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-10 col-md-offset-1 sfaqbox">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-10 col-md-offset-1 sfaqbox">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-10 col-md-offset-1 sfaqbox">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-10 col-md-offset-1 sfaqbox">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-10 col-md-offset-1 sfaqbox">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4 col-md-offset-4">
                    <br><br>
                    <a href="AskQuestion.html" class="btn btn-block mybtn">ASK QUESTION</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="HomeFacts">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f1.png" />
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL STUDENTS</span>
                    <p>42,726</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f2.png" />
                  
                </div>
                <div class="col-md-8 nopadding">
                    <span>TOTAL TEACHER</span>
                    <p>7,271</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-3">
                    <img src="~/Content/Front/frontimg/f3.png" />
                   
                </div>
                <div class="col-md-8 nopadding">
                    <span>HOURS LIVE LEARNING</span>
                    <p>4,11,959</p>
                </div>
            </div>
        </div>
    </div>
</div>


