﻿
@{
    ViewBag.Title = "SuggestCourse";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<div class="InnerAreamt">
    <div class="container mt180">
        <div class="col-md-12 Imarea">
            <div class="col-md-12 logoIconMiddle">
                <img src="~/Content/Front/frontimg/LogoIcon.png" />
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-12 InnerText">
                    <h2 class="InnTitle">SUGGEST <span>SUBJECT / COURSE</span></h2>
                    <p style="text-align: justify">If your school syllabus is having any subject which is not listed here in Teaching Bharat, and you want to Learn it then please suggest us the Subject name with Details we will try our best to help you out :)</p>
                    <br>
                </div>
                <div class="col-md-12 contactSend">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control mytbox" placeholder="Your Name" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mytbox" placeholder="Your Email" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mytbox" placeholder="Your Contact No." required />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mytbox" rows="5" placeholder="Course Name with full Details.."></textarea>
                        </div>
                        <button type="submit" class="btn btn-block mybtn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

