﻿@model Rudra.BLL.BusinessModels.TeacherModels.TeacherProfileViewModel
@{
    ViewBag.Title = "TeacherProfile";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="White79">
    <div class="TeacheProfileTop">
        <div class="container">
            <div class="col-md-12 nopadding">
                <div class="col-sm-2 dp">
                    <img src="~/Content/Front/frontimg/testi1.jpg" />
                </div>
                <div class="col-sm-10 details">
                    <h1>@Model.FirstName <span>@Model.LastName</span></h1>
                    <p>@Model.Qualification, @Model.InstituteName <i class="glyphicon glyphicon-ok-sign"></i></p>
                </div>
            </div>
            <div class="col-md-12 action">
                <div class="col-md-3">
                    <p>Experiace : <span>@Model.Experience</span></p>
                </div>
                <div class="col-md-3">
                    <p>Rate : <span>₹ 550/Hour</span></p>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-block bs">BOOK SESSIONS</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-block ts">FREE TRIAL SESSION</a>
                </div>
            </div>
        </div>
    </div>
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-6">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">About Me</h2>
                        @if (Model.AboutMe == null)
                        {
                            <p class="status">
                                <i class="glyphicon glyphicon-bookmark"></i> No info
                            </p>
                        }
                        else
                        {
                            <p class="status">@Model.AboutMe!!</p>
                        }
                        <div class="col-md-12 bx">
                            <h5>
                                <i class="glyphicon glyphicon-map-marker"></i><span>From </span>
                                @Model.StateName
                            </h5>
                            <h5>
                                <i class="glyphicon glyphicon-volume-down"></i><span>Speaks </span>
                                @foreach (var item in Model.LanguageList)
                                {
                                    @item.LanguageName <span>,</span>
                                }
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">Subjects Taught</h2>
                        <div class="col-md-12 bx">
                            <table>

                                @foreach (var item in Model.SubjectList)
                                {
                                    <tr>
                                        <td>@item.SubjectName</td>
                                        <td>
                                            <span>CBSC 8-10th</span>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">Rating & Reviews</h2>
                        <h5 class="rating"><span>4.1 / 5</span><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i> - 442 Rating</h5>
                        <div class="col-md-12 ratebox">
                            <p class="user">Dhaval Khatri<span>8 CBSE Mathematics, Bangalore</span></p>
                            <p class="user"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></p>
                            <p class="comment">" Awesome class clear all doubts very clearly it is very interactive session with Dhaval Sir "</p>
                        </div>
                        <div class="col-md-12 ratebox">
                            <p class="user">Dhaval Khatri<span>8 CBSE Mathematics, Bangalore</span></p>
                            <p class="user"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></p>
                            <p class="comment">" Awesome class clear all doubts very clearly it is very interactive session with Dhaval Sir "</p>
                        </div>
                        <div class="col-md-12 reviewbtn">
                            <a href="#" class="btn" data-toggle="modal" data-target="#Reviews">Read All Reviews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
