﻿@using BLL.BusinessModels.AdminModels;
@model UserViewModel

@{
    ViewBag.Title = "GetAdmin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Teacher Details
                    </h4>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("UpdateTeacher", "Teacher", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x => x.UserID)
                        @Html.HiddenFor(x => x.ExternalLoginID)
                        @Html.HiddenFor(x => x.UserStatus)
                        @Html.HiddenFor(x => x.UserType)
                        @Html.HiddenFor(x => x.IsVerified)
                        @Html.HiddenFor(x => x.IsActive)
                        @Html.HiddenFor(x => x.IsOnline)

                        @Html.HiddenFor(x => x.UsersProfileViewModel.UsersProfileID)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.ContactNumber)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.AlternateNumber)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.ProfilePic)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.HeardAboutRudra)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.Resume)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.AboutMe)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.DateOfBirth)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.CreateDate)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.UpdatedDate)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.WeekHours)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.WeekendHours)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.CityName)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.IsPen)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.IsWebcam)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.IsInternetSpeed)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.FKUserId)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.FKStateId)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.FKOccupationId)
                        @Html.HiddenFor(x => x.UsersProfileViewModel.SessionCost)

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                First Name
                            </label>

                            @Html.TextBoxFor(x => x.UsersProfileViewModel.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Last Name
                            </label>
                            @Html.TextBoxFor(x => x.UsersProfileViewModel.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(x => x.UsersProfileViewModel.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Teacher Email
                            </label>
                            @Html.TextBoxFor(x => x.LoginEmail, new { @class = "form-control", @placeholder = "Email", @readonly = "readonly" })
                            @Html.ValidationMessageFor(x => x.LoginEmail, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Teacher Password
                            </label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("ViewTeachers","Teacher")" class="btn btn-primary">Go Back</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



