﻿@*@model List<BLL.BusinessManagers.AdminManager.AdminManager.TeacherViewModel>*@

@model List<BLL.BusinessModels.TeacherModels.TeacherViewModel>
@using BLL.Helpers
@{
    ViewBag.Title = "ViewTeacher";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}

<script src="~/Content/Lightbox/js/inspect.js"></script>
<script src="~/Content/Lightbox/js/jquery.rimodal.js"></script>
<link href="~/Content/Lightbox/css/jquery.rimodal.css" rel="stylesheet" />
<script>
    $(document).riModal({ delegate: '.lightboxmodal' });
</script>

<style>
    .ri-modal-close {
        color: black;
    }

        .ri-modal-close:hover {
            color: black;
        }
</style>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div style="padding:10px">

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@ViewBag.totalTeachersRegistered</h3>
                            <p>Total Teachers Registered</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>@ViewBag.teachersRegisteredThisMonth</h3>
                            <p>New Teachers Registered (this month)</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4">
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>@ViewBag.teachersRegisteredToday</h3>
                            <p>New Teachers Registered Today </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


@using (Html.BeginForm("ApplyFilter", "Teacher", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    <div class="container-fluid">
        <div class="" style="margin-bottom:20px">
            <div class="row">
                <div style="padding:10px">

                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                             
                                <select id="mainFilterDropdown" class="form-control" name="mainfilterRequest">
                                    <option value="0">Select</option>
                                    <option value="FilterByGrade">Filter By Grade</option>
                                    <option value="FilterBySubject">Filter By Subject</option>
                                    <option value="FilterByCity">Filter By City</option>
                                    <option value="FilterByStatus">Filter By Status</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <select id="subFilterDropdown" class="form-control" name="subfilterRequest"></select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <input type="submit" id="btnFilter" value="Filter" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
}




<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Teachers
                    </h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                
                                <th>Email Address</th>
                                <th>Status</th>
                                <th>Verification</th>
                                <th>Contact Number</th>
                                <th class="tablecolumn">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                                    
                                    <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                                    <td>
                                        @if (item.UserStatus == (int)Enumerations.UserStatus.Approved)
                                        {
                                            <text>Approved</text>
                                        }
                                        else if (item.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                        {
                                            <text>Blocked</text>
                                        }
                                        else if (item.UserStatus == (int)Enumerations.UserStatus.Pending)
                                        {
                                            <text>Pending</text>
                                        }
                                        else if (item.UserStatus == (int)Enumerations.UserStatus.NotApproved)
                                        {
                                            <text>Not Approved</text>
                                        }
                                    </td>
                                    @if (item.IsVerfied == (int)Enumerations.VerificationType.NotVerified)
                                    {
                                        <td>Not Verified</td>
                                    }
                                    @if (item.IsVerfied == (int)Enumerations.VerificationType.EmailVerfied)
                                    {
                                        <td>Verified through Email</td>
                                    }
                                    @if (item.IsVerfied == (int)Enumerations.VerificationType.PhoneVerified)
                                    {
                                        <td>Verified through Phone</td>
                                    }
                                    @if (item.IsVerfied == (int)Enumerations.VerificationType.VerifiedByAdmin)
                                    {
                                        <td>Approved by Admin</td>
                                    }

                                    <td>@Html.DisplayFor(modelItem => item.ContactNumber)</td>

                                    <td class="tablecolumn">
                                        @if (ViewBag.currentUserPermissions != null)
                                        {
                                            foreach (var permission in ViewBag.currentUserPermissions)
                                            {
                                                if (permission == (int)Enumerations.Permissions.PermissiontoDeleteTeacher)
                                                {
                                                    <a href="@Url.Action("DeleteTeacher", "Teacher", new {userid = item.PersonId})" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');"><i class="fa fa-times" rel="tooltip" title="" data-original-title="Delete"></i></a>

                                                }
                                                else if (permission == (int)Enumerations.Permissions.PermissiontoViewDetailsofTeacher)
                                                {
                                                    <a href="@Url.Action("ViewDetails", "Teacher", new {userid = item.PersonId})"><i class="fa fa-eye" rel="tooltip" title="" data-original-title="View Details"></i></a>

                                                }
                                                else if (permission == (int)Enumerations.Permissions.PermissiontoApproveTeacher)
                                                {
                                                    if (item.UserStatus == (int)Enumerations.UserStatus.Pending || item.UserStatus == (int)Enumerations.UserStatus.IsBlocked || item.UserStatus == (int)Enumerations.UserStatus.NotApproved)
                                                    {
                                                        <a href="@Url.Action("ApproveTeacher", "Teacher", new {userid = item.PersonId})"><i class="fa fa-check" rel="tooltip" title="" data-original-title="Approve Teacher"></i></a>
                                                    }
                                                }
                                                else if (permission == (int)Enumerations.Permissions.PermissiontoBlockTeacher)
                                                {
                                                    if (item.UserStatus == (int)Enumerations.UserStatus.Approved)
                                                    {
                                                        <a href="#" class="lightboxmodal" data-modal-ajax="@Url.Action("GetStudentToBlock", "Student", new { userID = @item.PersonId, requestFrom = "TeacherMenu" })"
                                                           data-modal-width="500" data-modal-height="300" data-modal-id="ifrm"><i class="fa fa-lock" rel="tooltip" title="" data-original-title="Block Teacher"></i></a>
                                                    }
                                                }

                                            }
                                        }


                                        else
                                        {
                                            <a href="@Url.Action("GetTeacher", "Teacher", new {userid = item.PersonId})"><i class="fa fa-pencil" rel="tooltip" title="" data-original-title="Edit Teacher"></i></a>
                                            <a href="@Url.Action("DeleteTeacher", "Teacher", new {userid = item.PersonId})" onclick="return confirm('Are you sure you wish to delete? This record will no longer exsists.');"><i class="fa fa-times" rel="tooltip" title="" data-original-title="Delete"></i></a>
                                            <a href="@Url.Action("ViewDetails", "Teacher", new {userid = item.PersonId})"><i class="fa fa-eye" rel="tooltip" title="" data-original-title="View Details"></i></a>

                                            //if (item.UserStatus != (int)Enumerations.UserStatus.IsBlocked)
                                            if (item.UserStatus == (int)Enumerations.UserStatus.Approved || item.UserStatus == (int)Enumerations.VerificationType.EmailVerfied)
                                            {
                                                <a href="#" class="lightboxmodal" data-modal-ajax="@Url.Action("GetStudentToBlock", "Student", new { userID = @item.PersonId, requestFrom = "TeacherMenu" })"
                                                   data-modal-width="500" data-modal-height="300" data-modal-id="ifrm"><i class="fa fa-lock" rel="tooltip" title="" data-original-title="Block Teacher"></i></a>                         
                                            }
                                            
                                            else if (item.UserStatus == (int)Enumerations.UserStatus.Pending || item.UserStatus == (int)Enumerations.VerificationType.NotVerified || item.UserStatus == (int)Enumerations.UserStatus.NotApproved)
                                            {
                                                <a href="@Url.Action("ApproveTeacher", "Teacher", new {userid = item.PersonId})"><i class="fa fa-check" rel="tooltip" title="" data-original-title="Approve Teacher"></i></a>
                                            }

                                            else if (item.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                                            {
                                                <a href="@Url.Action("ApproveTeacher", "Teacher", new {userid = item.PersonId})"><i class="fa fa-unlock" rel="tooltip" title="" data-original-title="Unblock Teacher"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        $('#mainFilterDropdown').val('@TempData["mainfilterValue"]');
        $('#subFilterDropdown').val('@TempData["subfilterValue"]');


        if ($("#mainFilterDropdown").val() == null) {

            $("#mainFilterDropdown").val('0');
            $("#btnFilter").attr("disabled", true);
        }

        $('#mainFilterDropdown').change(function () {

            debugger;
            var mainFilterSelectedValue = $('#mainFilterDropdown').val();
            CheckBothDropdownsValue();

            if (mainFilterSelectedValue != null)
            {
                $.ajax({
                    url: '@Url.Action("FilterMethod", "Student")',
                    type: 'POST',
                    data: {
                        request: mainFilterSelectedValue
                    },
                    success: function (result) {
                    
                        if (result.Success == "FilterByGrade") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.gradesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterBySubject") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.subjectsList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByCity") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.citiesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                        if (result.Success == "FilterByStatus") {
                            $("#subFilterDropdown").empty();
                            var subfilterOptions = $("#subFilterDropdown");
                            $.each(result.citiesList, function () {
                                subfilterOptions.append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                    },
                    error: function (result) {
                        alert("error!");
                    }
                });   //end ajax
            }
            else {
                $("#btnFilter").attr("disabled", true);
            }

        });


        $('#subFilterDropdown').change(function () {

            CheckBothDropdownsValue()

        });

    });

    function CheckBothDropdownsValue()
    {
        debugger;
        var dropdown1 = $("#mainFilterDropdown").val();
        var dropdown2 = $("#subFilterDropdown").val();


        if (dropdown1 != null && dropdown1 != "" && dropdown2 == null)
        {
            $("#btnFilter").attr("disabled", true);
        }
        if (dropdown1 != "" && dropdown1 != null && dropdown2 != null && dropdown2 != "")
        {
            $("#btnFilter").attr("disabled", false);
        }
        if(dropdown1 == "0")
        {
            $("#subFilterDropdown").empty();
            $("#btnFilter").attr("disabled", true);
        }
        if(dropdown2 != ""  && dropdown1 == "0")
        {
            $("#subFilterDropdown").empty();
            $("#btnFilter").attr("disabled", true);
        }
        if(dropdown1 != null && dropdown1 != "" && dropdown2 == "")
        {
            $("#btnFilter").attr("disabled", true);
        }

    }

</script>