﻿@using BLL.BusinessModels.AdminModels;
@model UserViewModel
@using BLL.Helpers

@{
    ViewBag.Title = "ViewDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int counter1 = 1;
    int counter2 = 1;
    int counter3 = 1;
   

}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Teacher Details
                    </h4>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-horizontal" style="margin:3% !important;">
                <div class="col-md-6">

                    <div class="form-group">
                        @Html.Label("Login Email", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.LoginEmail, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @*@Html.DisplayFor(model => model.UserStatus, new { htmlAttributes = new { @class = "form-control" } })*@

                            @if (Model.UserStatus == (int)Enumerations.UserStatus.Approved)
                            {
                                <text>Approved</text>
                            }
                            else if (Model.UserStatus == (int)Enumerations.UserStatus.IsBlocked)
                            {
                                <text>Blocked</text>
                            }
                            else if (Model.UserStatus == (int)Enumerations.UserStatus.Pending)
                            {
                                <text>Pending</text>
                            }
                            else if (Model.UserStatus == (int)Enumerations.UserStatus.NotApproved)
                            {
                                <text>Not Approved</text>
                            }

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.UsersProfileViewModel.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.UsersProfileViewModel.LastName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("City Name", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.UsersProfileViewModel.CityName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                </div>


                <div class="col-md-6">

                    <div class="form-group">
                        @Html.Label("Week Hours", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.UsersProfileViewModel.WeekHours, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Qualification", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.teacherQualification.QualificationName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("University Name", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.teacherQualification.UniversityName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Experience (In Years )", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.UsersProfileViewModel.ExperienceName, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Contact Number", htmlAttributes: new { @class = "control-label col-md-4" })

                        <div class="col-md-4" style="margin-top: 5px;">
                            @Html.DisplayFor(model => model.UsersProfileViewModel.ContactNumber, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Courses Offered
                    </h4>
                </div>

                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Course Title</th>
                                <th>Course Description</th>
                                <th>Course Fees</th>
                                <th>Total Hours</th>
                                <th>Total Seats</th>
                                <th>Offered Date</th>
                                @*<th>Time Slot</th>*@
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Curriculum</th>
                                <th>Grade</th>
                                <th>Subject</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.teacherCoursesList != null)
                            {
                                if (Model.teacherCoursesList.Count > 0)
                                {
                                    foreach (var item in Model.teacherCoursesList)
                                    {
                                        <tr>
                                            <td>@counter1</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CourseTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CourseDescription)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.CourseFee)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalHours)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalSeats)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OfferedDate)</td>
                                            @*<td>@Html.DisplayFor(modelItem => item.TimeSlot)</td>*@
                                            <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.curriculumViewModel.CurriculumName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.gradeViewModel.GradeName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.subjectModel.SubjectName)</td>

                                        </tr>
                                        counter1++;
                                    }
                                }

                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Teacher Subjects
                    </h4>
                </div>

                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Curriculum Name</th>
                                <th>Grade Name</th>
                                <th>Subject Name</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.teacherSubjectsList != null)
                            {
                                if (Model.teacherSubjectsList.Count > 0)
                                {
                                    foreach (var item in Model.teacherSubjectsList)
                                    {
                                        <tr>
                                            <td>@counter2</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.curriculumModel.CurriculumName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.gradeModel.GradeName)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.subjectModel.SubjectName)</td>
                                            @if (item.Type == (int)Enumerations.SubjectType.Primary)
                                            {
                                                <td> Primary </td>
                                            }
                                            else if (item.Type == (int)Enumerations.SubjectType.Secondary)
                                            {
                                                <td>Secondary</td>
                                            }


                                        </tr>
                                        counter2++;
                                    }
                                }
                            }
                           
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">

                <div class="header headerborder">
                    <h4 class="title">
                        Teacher Available Hours
                    </h4>
                </div>

                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>From Time</th>
                                <th>To Time</th>
                                <th>Time Slot</th>
                                <th>Day Name</th>
                                <th>Full Day Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.teacherAvailableHours != null)
                            {
                                if (Model.teacherAvailableHours.Count > 0)
                                {
                                    foreach (var item in Model.teacherAvailableHours)
                                    {
                                        <tr>
                                            <td>@counter3</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.timingModel.FromTime) pm
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.timingModel.ToTime) pm
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.timingModel.TimeSlot)</td>
                                            <td>@Html.DisplayFor(modelItem => item.dayModel.FullName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.dayModel.FullName)</td>


                                        </tr>
                                        counter3++;
                                    }
                                }

                            }
                          
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

