﻿@using System.Web.Optimization
@using BLL.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Content/Front/frontimg/fav.png" type="img/png" />
    <title>DashBoard</title>
    <script src="~/Content/DashBoard/adminjs/jquery-1.10.2.js"></script>

    @*@Styles.Render("~/Content/admincss")*@
    <link href="~/Content/DashBoard/admincss/admin.css" rel="stylesheet" />
    @*<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">*@


    <link href="~/Content/DashBoard/admincss/dstyle.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/animate.min.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/admin.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/custom.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    @Scripts.Render("~/Content/modernizer")
    @*@Scripts.Render("~/Content/Jquery")*@
    @Scripts.Render("~/Content/unobtrusiveajax")
    @Scripts.Render("~/Content/validate")
    @Scripts.Render("~/Content/unobtrusive")

    @*<style>
            .modal-backdrop {
                z-index: 1040;
            }

            .modal-content {
                width: 100%;
                float: left;
                position: relative !important;
               z-index: 1100 !important;
            }

            .modal-dialog {
                z-index: 5000 !important;
            }
        </style>*@

    <style>
        .MakeWhite{
            color: white
        }
        .sidebar .nav i
        {
            font-size:21px;

        }
    </style>

</head>
<body>

    

    <div class="wrapper">

        <div class="_overlay">
            <div class="_loader"></div>
        </div>
        <div class="side" style="background-color:#ed4426;">
            <div class="logo">
                <a href="@Url.Action("Index", "Admin")" class="simple-text">
                   Teaching Bhart
                </a>
            </div>

     
            <ul class="nav">
                <li @ViewBag.DashboardMenu>
                    <a href="@Url.Action("Index", "Admin")">
                        <i class="fa fa-pie-chart"></i>
                        <p>DASHBOARD</p>
                    </a>
                </li>
                @*@if (Util.GetCurrentUser().IsSuper)
        {
            <li>
                <a href="@Url.Action("ViewUsers", "AdminHome")">
                    <i class="pe-7s-user"></i>
                    <p>Users</p>
                </a>
            </li>
        }
        <li>
            <a href="@Url.Action("ViewStudent", "Student")">
                <i class="pe-7s-note2"></i>
                <p>Students</p>
            </a>
        </li>*@

                <li @ViewBag.SubjectsMenu>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <i class="fa fa-book"></i> <p>SUBJECTS</p>
                    </a>

                    <div id="collapseTwo" class="collapse" style="margin-left:20%;margin-top:1%;">
                        <a class="MakeWhite" href="@Url.Action("CurriculumsList","Curriculum", new { area="Admin"})" style="@ViewBag.Curriculumlink">
                            <i class="fa fa-sticky-note"></i> <p style="margin:5px;">Curriculums</p>
                        </a>
                        <a class="MakeWhite" href="@Url.Action("GradesLists","Curriculum", new { area="Admin"})" style="@ViewBag.GradeLink">
                            <i class="fa fa-sticky-note"></i> <p style="margin:5px;">Grade</p>
                        </a>
                        <a class="MakeWhite" href="@Url.Action("SubjectsLists","Curriculum", new { area="Admin"})" style="@ViewBag.SubjectsLink">
                            <i class="fa fa-sticky-note"></i> <p style="margin:5px;">Subjects</p>
                        </a>

                        <a class="MakeWhite" href="@Url.Action("QuestionsBank","Curriculum", new { area="Admin"})" style="@ViewBag.QuestionLink">
                            <i class="fa fa-sticky-note"></i> <p style="margin:5px;">Questions</p>
                        </a>
                    </div>

                </li>

                <li @ViewBag.SubAdminsMenu>
                    <a href="@Url.Action("AdminsList", "Admin", new { ares = "Admin"})">
                        <i class="fa fa-users"></i> <p>SUB-ADMIN MANAGMENT</p>
                    </a>
                </li>
                <li @ViewBag.StudentsMenu>
                    <a href="@Url.Action("Index", "Student", new { ares = "Admin"})">
                        <i class="fa fa-graduation-cap"></i> <p>STUDENT MANAGMENT</p>
                    </a>
                </li>
                <li @ViewBag.TeachersMenu>
                    <a href="@Url.Action("ViewTeachers", "Teacher", new { ares = "Admin"})">
                        <i class="fa fa-user"></i> <p>TEACHER MANAGMENT</p>
                    </a>
                </li>

                <li @ViewBag.ActivitiesMenu>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <i class="fa fa-sticky-note"></i> <p>ACTIVITIES</p>
                    </a>

                    <div id="collapseThree" class="collapse" style="margin-left:20%;margin-top:1%;">
                        <a class="MakeWhite" href="@Url.Action("MainActivities", "Admin", new { ares = "Admin", side = (int)Enumerations.ActivitySource.FrontsideActivity })" style="@ViewBag.FrontActivitiesLink">
                            <i class="fa fa-sticky-note"></i> <p style="margin:5px;">Frontend Activities</p>
                        </a>
                        <a class="MakeWhite" href="@Url.Action("MainActivities", "Admin", new { ares = "Admin", side = (int)Enumerations.ActivitySource.BacksideActivity })" style="@ViewBag.BackActivities">
                            <i class="fa fa-sticky-note"></i> <p style="margin:5px;">Backend Activities</p>
                        </a>
                    </div>
                </li>

                <li @ViewBag.ManageEmailMenu>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <i class="fa fa-wrench"></i> <p>MANAGE EMAILS</p>
                    </a>

                    <div id="collapseFour" class="collapse" style="margin-left:20%;margin-top:1%;">
                        <a href="@Url.Action("Templates", "Admin", new { ares = "Admin"})" style="color:white;">
                            <i class="fa fa-envelope-o"></i> <p style="margin:5px;"> TEMPLATES</p>
                        </a>
                        <a href="@Url.Action("Broadcast", "Admin", new { ares = "Admin"})" style="color:white;">
                            <i class="fa fa-bullhorn"></i> <p style="margin:5px;"> BROADCAST</p>
                        </a>
                        <a href="@Url.Action("Actions", "Admin", new { ares = "Admin"})" style="color:white;">
                            <i class="fa fa-check-square-o"></i> <p style="margin:5px;"> ACTIONS</p>
                        </a>

                    </div>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Notification", new { ares = "Admin"})">
                        <i class="fa fa-bell"></i> <p>ALL NOTIFICATIONS </p>
                    </a>
                </li>

                <li>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        <i class="fa fa-cog"></i> <p>MANAGE REVIEWS</p>
                    </a>

                    <div id="collapseFive" class="collapse" style="margin-left:20%;margin-top:1%;">
                        <a href="@Url.Action("StudentReviews", "Reviews", new { ares = "Admin"})" style="color:white;">
                            <i class="fa fa-comments-o"></i> <p style="margin:5px;"> STUDENT REVIEWS</p>
                        </a>
                        <a href="@Url.Action("TeacherReviews", "Reviews", new { ares = "Admin"})" style="color:white;">
                            <i class="fa fa-comment-o"></i> <p style="margin:5px;"> TEACHER REVIEWS</p>
                        </a>
                        <a href="@Url.Action("AdminReviews", "Reviews", new { ares = "Admin"})" style="color:white;">
                            <i class="fa fa-commenting-o"></i> <p style="margin:5px;"> ADMIN REVIEWS</p>
                        </a>

                    </div>
                </li>


                <li>
                    <a href="@Url.Action("Index", "Banner", new { ares = "Admin"})">
                        <i class="fa fa-picture-o"></i> <p>MANAGE BANNERS </p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "WithDraws", new { ares = "Admin"})">
                        <i class="fa fa-usd" aria-hidden="true"></i> <p>Withdrawal Requests</p>
                    </a>
                </li>
                @*<li>
                    <a href="@Url.Action("Index", "Subscribe", new { area = "Student"})">
                        <i class="fa fa-usd" aria-hidden="true"></i> <p>Subscription Requests</p>
                    </a>
                </li>*@
                <li>
                    <a href="@Url.Action("UpdateSettings", "Setting", new { ares = "Admin"})">
                        <i class="fa fa-cogs" aria-hidden="true"></i> <p>Website Settings</p>
                    </a>
                </li>
                @*<li>
                    <a href="@Url.Action("Index", "CouponTables", new { ares = "Admin"})">
                        <i class="fa fa-cogs" aria-hidden="true"></i> <p>Coupons</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "CommisionTables", new { ares = "Admin"})">
                        <i class="fa fa-cogs" aria-hidden="true"></i> <p>Commision</p>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("FeeList", "Curriculum", new { ares = "Admin"})">
                        <i class="fa fa-cogs" aria-hidden="true"></i> <p>Fee List</p>
                    </a>
                </li>*@
            </ul>
                </div>


            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid containerclass">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="@Url.Action("Index", "Admin")">Dashboard</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-dashboard"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                        <b class="caret"></b>
                                        @{Html.RenderAction("Counter", "Notification", new { ares = "Admin" });}
                                    </a>
                                    <ul class="dropdown-menu">
                                        @{Html.RenderAction("ShowList", "Notification", new { ares = "Admin" });}
                                        @*<li>
                                            <a href="#" class="unread">Hi, Dhaval.. Welcome back to Rudraa. Its Been.....</a>
                                        </li>
                                        <li>
                                            <a href="#" class="unread">Your wallet has Low balance, Recharge now.....</a>
                                        </li>
                                        <li>
                                            <a href="#">Your wallet has Low balance, Recharge now.....</a>
                                        </li>
                                        <li>
                                            <a href="#">Your wallet has Low balance, Recharge now.....</a>
                                        </li>
                                        <li>
                                            <a href="#">Your wallet has Low balance, Recharge now.....</a>
                                        </li>
                                        <li>
                                            <a href="#">Your wallet has Low balance, Recharge now.....</a>
                                        </li>
                                        <li>
                                            <a href="#">Your wallet has Low balance, Recharge now.....</a>
                                        </li>*@
                                        <div class="col-md-12 text-center v-m">
                                            <a href="@Url.Action("Index", "Notification")">View More</a>
                                        </div>
                                    </ul>

                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="@Url.Action("Index", "AdminHome")">
                                        @*  @Config.User.LoginEmail <span></span>*@
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <b class="fa fa-gear"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("GetAdmin", "Admin",new { userID = @Config.CurrentUser })"><i class="fa fa-edit"></i> Update Profile</a></li>
                                        <li><a href="@Url.Action("Logout", "Account", new {Area = ""})"><i class="fa fa-sign-out"></i> Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="content">
                    @RenderBody()
                </div>

                @*<footer class="footer">
                    <div class="container-fluid">
                        <p class="copyright pull-right">
                            &copy; @DateTime.Now.Year <a href="#">Teaching Bharat</a>
                        </p>
                    </div>
                </footer>*@

            </div>
        </div>

    @Scripts.Render("~/Content/adminjs")
    @RenderSection("scripting", false)

   
    @*<script>
    var selector = '.nav li';

    $(selector).on('click', function(){
    $(selector).removeClass('active');
    $(this).addClass('active');
    });
    </script>*@

    <!--NOTIFICATION-->
    @*<script type="text/javascript">

            $(document).ready(function () {

                var username = '@TempData["Message"]';
                var status = '@TempData["Status"]';
                var message;
                var check;
                if (username == '' || username == null) {
                    message = "Welcome Adeel ";
                }
                else {
                    message = username;
                }

                if (status == '' || status == null) {
                    check = 0;
                }
                else {
                    check = status;
                }

                if(status==0)
                {
                $.notify({
                    icon: 'pe-7s-gift',
                    message: "<b>" + message + "</b>"
                }, {
                    type: 'info',
                    timer: 4000
                });
                }
               else if (status == 1) {
                    $.notify({
                        icon: 'pe-7s-gift',
                        message: "<b>" + message + "</b>"
                    }, {
                        type: 'success',
                        timer: 4000
                    });
               }
               else if (status == 2) {
                   $.notify({
                       icon: 'pe-7s-gift',
                       message: "<b>" + message + "</b>"
                   }, {
                       type: 'danger',
                       timer: 4000
                   });
               }
            });

            //AJAX CALL
            $(document).ajaxSend(function (event, jqxhr, settings) {
                $("._overlay").show();
            });
            $(document).ajaxStop(function () {
                $("._overlay").hide();
            });
            $(document).ajaxSend(function (event, jqxhr, settings) {
                if (settings.url == "ajax/test.html") {
                    $(".log").text("Triggered ajaxSend handler.");
                }
            });

        </script>*@

</body>
</html>
