﻿@using BLL.Helpers;

@{ 
    var FirstGroup = ViewBag.FirstGroup;
    var SecondGroup = ViewBag.SecondGroup;
 }

<h4> Hub testing </h4>


<div id="divMessage"></div>

<input  type="submit" id="btnSend" value="Send Username" />

<script src="~/Scripts/jquery-1.8.0.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="~/signalR/hubs"></script>

    <script type="text/javascript">

     var whiteboardHub = $.connection.whiteboardHub;
    
    

     whiteboardHub.client.SendName = function (a) {
       //  alert(a);
       //  $("#divMessage").append("<span>" + a + "</span><br/>");
     };
     whiteboardHub.client.SendID = function () {
         whiteboardHub.server.setUserID(@Config.CurrentUser);
         $("#divMessage").append("<span>" + @Config.CurrentUser + "</span><br/>");
     };

     $("#btnSend").click(
     function () {
         $.connection.hub.qs = "myInfo=@FirstGroup";
         $.connection.hub.start().done(function () {

             whiteboardHub.server.joinGroup("@FirstGroup",@Config.CurrentUser).done(function () {
                 // whiteboardHub.server.joinHub("@Config.CurrentUser.ToString()");
                 // whiteboardHub.server.addUserToGroup(@FirstGroup);
             });

             whiteboardHub.server.joinGroup("@SecondGroup").done(function () {
            
                 // whiteboardHub.server.addUserToGroup(@SecondGroup);
             });
         });
         }
     );


    </script>

  
