﻿<!doctype html>
<html>

<head>
    <title>Whiteboard</title>

    <link href="~/Content/NewWhiteboard/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/NewWhiteboard/css/Dstyle.css" rel="stylesheet" />
    <link href="~/Content/NewWhiteboard/css/custom_w.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />

<style>
.student-palyer
{
    width: 100%;
    height: 85vh;
    float: left;
    background-color: #323c46;
    text-align: center;
    color: #FFF;
}

</style>

</head>

<body>

    <nav class="navbar navbar_bg">
    </nav>
    <div class="my_container">
        <div class="col-xs-12">
            <div class="col-xs-9 nopadding">
                <div class="student-palyer">
                    <div id="screens"></div>
                </div>
            </div>
            <div class="col-xs-3 padding5">
                <div class="m_b_20">
                    <div class="heading" role="button" data-toggle="collapse" href="#video" aria-expanded="true" aria-controls="collapseExample"> Live video stram </div>
                    <div class="collapse in" id="video">
                        <div class="well black">
                           <div id="people"></div>
                        </div>
                    </div>
                </div>
                <div class="m_b_20">
                    <div class="heading" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample"> Chat (All) </div>
                    <div class="collapse in" id="collapseExample">
                        <div class="well chat">
                            @*<div class="ChatHistory">
                                <p class="rightp">Hello</p>
                                <p class="leftp">Hello, How r u?<span>( Std Name )</span></p>
                            </div>*@
                            <!--
                                                            <div class="send_area"> <span>To</span>
                                                                <select class="my_select">
                                                                    <option>All</option>
                                                                    <option>Student name</option>
                                                                    <option>Student name</option>
                                                                    <option>Student name</option>
                                                                    <option>Student name</option>
                                                                </select>
                                                            </div>
                            -->
                            @*<textarea placeholder="Write Your Massage Here..." class="massage" rows="3"></textarea>*@

                            @*<div>
                                <ul class="pages">
                                    <li class="chat page">
                                        <div class="chatArea">
                                            <ul class="messages"></ul>
                                        </div>
                                        <input class="inputMessage" placeholder="Type here..." />
                                    </li>
                                    <li class="login page">
                                        <div class="form">
                                            <h3 class="title">What's your nickname?</h3>
                                            <input class="usernameInput" type="text" maxlength="14" />
                                        </div>
                                    </li>
                                </ul>
                            </div>*@
                            <iframe src="https://demo.iproctoring.com:3002/"></iframe>
                            @*<div class="text-right"> <a class="btn btn-success">Send</a> </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Content/NewWhiteboard/js/bootstrap.min.js"></script>
    <script src="https://static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script src="~/Content/Whiteboard/js/config.js"></script>
    <script src="~/Content/Whiteboard/js/studentInit.js"></script>
    <script src="~/Content/Whiteboard/js/studentInclude.js"></script>

    <style>
        .login.page .form .usernameInput {
            width: 100% !important;
        }
    </style>
   

</body>
</html>