﻿

@using Microsoft.Owin.Security
@using BLL.Helpers
@using BLL.BusinessModels.UserModels
@model BLL.BusinessModels.UserModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    <style>
        .remodal-bg.with-red-theme.remodal-is-opening,
        .remodal-bg.with-red-theme.remodal-is-opened {
            filter: none;
        }

        .remodal-overlay.with-red-theme {
            background-color: #f44336;
        }

        .remodal.with-red-theme {
            background: #fff;
        }

        .modalcustomclass {
            border: 5px solid #ff6600;
            border-radius: 20px;
        }

        .headingcustomclass {
            margin-top: 0px !important;
            margin-bottom: 25px !important;
        }


        .abcRioButtonBlue {
            background-color: #ea4335;
            border: none;
            color: #fff;
            width: 98% !important;
            height: auto !important;
            border-radius: 5px;
            padding: 5px;
            margin: 0 auto;
        }

        .abcRioButtonContents {
            font-size: 20px !important;
        }
    </style>
    //int status = ViewBag.Status;
}
<div class="col-md-12 topp">
    <h4 style="display:none" id="infoMessage">@ViewBag.ConfirmationMessage</h4>
</div>
<div class="SLoginArea">
    <div class="container">

        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4 SLbox">
                <div class="col-md-12 LoginTop">
                    <img src="~/Content/Front/frontimg/LogoIcon.png" />
                    <h2>Login</h2>
                </div>
                <div class="col-md-12">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group has-feedback">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.LoginEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LoginEmail, "", new { @class = "text-danger" })
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-12 LoginFS">
                    <a href="#">Forgot Password?</a>
                </div>
           
                <div class="col-md-12 nopadding SwpipeLogin">
                    <a href="@Url.Action("Signup")">Dont have Account? Sign Up here</a>
                </div>
            </div>
        </div>

       

    </div>
</div>

<div class="remodal modalcustomclass" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div>
        <h2 id="modal1Title" class="headingcustomclass">Please select who you are ?</h2>
        <h3 style="display:none;color:red" id="errorMessage">Please make selection</h3>
        <div class="col-lg-12">
            <div class="col-md-6 form-group">
                <input type="radio" name="UserType" value="4" />
                <label>as Student</label>
            </div>
            <div class="col-md-6 form-group">
                <input type="radio" name="UserType" value="5" />
                <label>as Parent</label>
            </div>
            <input type="hidden" id="firstname" />
            <input type="hidden" id="lastname" />
            <input type="hidden" id="email" />
            <input type="hidden" id="tokenid" />

        </div>
    </div>
    <br>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm" onclick="signUp()">Submit</button>

</div>

<div class="remodal modalcustomclass" data-remodal-id="modalfacebook" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div>
        <h2 id="modal1Title" class="headingcustomclass">Please select who you are ?</h2>
        <h3 style="display:none;color:red" id="errorMessage">Please make selection</h3>
        <div class="col-lg-12">
            <div class="col-md-6 form-group">
                <input type="radio" name="UserType" value="4" />
                <label>as Student</label>
            </div>
            <div class="col-md-6 form-group">
                <input type="radio" name="UserType" value="5" />
                <label>as Parent</label>
            </div>

        </div>
    </div>
    <br>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm" onclick="facebookLogin()">Submit</button>

</div>




<div class="remodal modalcustomclass" data-remodal-id="modalgoogle" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div>
        <h2 id="modal1Title" class="headingcustomclass">Please select who you are ?</h2>
        <h3 style="display:none;color:red" id="errorMessage">Please make selection</h3>
        <div class="col-lg-12">
            <div class="col-md-6 form-group">
                <input type="radio" name="UserType" value="4" />
                <label>as Student</label>
            </div>
            <div class="col-md-6 form-group">
                <input type="radio" name="UserType" value="5" />
                <label>as Parent</label>
            </div>

        </div>
    </div>
    <br>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm" onclick="login()">Submit</button>

</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>