﻿@model IEnumerable<DAL.Entities.RatingReviews>
@{
    ViewBag.Title = "AdminReviews";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="col-md-12 TPContent">
        <div class="col-md-12 TPBbox">
            <div class="col-md-12 title">
                <div class="col-md-6">
                    <h2>Rating &amp; Reviews</h2>
                </div>
                <div class="col-md-6 reviewbtn">
                    <a href="#" class="btn" data-toggle="modal" data-target="#WriteReviews">Write Your Review</a>
                </div>
                <h5 class="rating">
                    <span>4.7 / 5</span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i> - 19,70,245 Rating
                </h5>
                <div class="col-md-12 ratebox">
                    @foreach (var item in Model)
                    {
                        @Html.HiddenFor(modelItem => item.RatingReviewsID, new { id = "EmailList", name = "EmailList", @class="hid" })

                        <div class="col-md-9">
                            <p class="user">
                                @if (item.CreatedBy == "Teacher")
                                {
                                    @Html.DisplayFor(modelItem => item.TeacherName)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.StudentName)
                                }
                               @*<span>8 CBSE Mathematics, Bangalore</span>*@
                            </p>
                            <p class="user">
                                @if (item.Rating >= 0 && item.Rating < 1)
                                {
                                    <span>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                }
                                @if (item.Rating >= 1 && item.Rating < 2)
                                {
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                }
                                @if (item.Rating >= 2 && item.Rating < 3)
                                {
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                }
                                @if (item.Rating >= 3 && item.Rating < 4)
                                {
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                }
                                @if (item.Rating >= 4 && item.Rating < 5)
                                {
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                }
                                @if (item.Rating >= 5 && item.Rating < 6)
                                {
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                }
                                @*<i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>*@
                            </p>
                            <p class="comment">@Html.DisplayFor(modelItem => item.Comment)</p>
                        </div>
                        <div class="col-md-3">
                            @{
                                var active = ViewBag.Active as bool? ?? false;
                            }
                            @*<a href="@Url.Action("ButtonClick", "Reviews", new { divClicked = true })"/>*@
                            @*@Html.ActionLink("Enable", "ButtonClick", new { controller = "Reviews", divClicked = true }, new { @class = "btn btn-sm btn-success" })*@
                            @*<div id="mydivID" class="@(active ? "active" : "")"></div>*@
                            @if (item.IsActive != true)
                            {
                                <button class="btn btn-sm btn-default" id="ButtonId" onclick="AssignButtonClicked(this)" data-assigned-id="@item.RatingReviewsID" name="ButtonId" >Disable</button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-success" id="ButtonId" onclick="AssignButtonClicked(this)" data-assigned-id="@item.RatingReviewsID" name="ButtonId">Enable</button>
                            }


                           
                            @if (item.IsApproved == false)
                            {
                                <a href="javascript:void(0);" onclick="AssignAClicked(this)" data-assigned-id="@item.RatingReviewsID" class="featured-dis fa fa-square-o">Featured</a>
                            }
                            else
                            {
                                <a href="javascript:void(0);" onclick="AssignAClicked(this)" data-assigned-id="@item.RatingReviewsID" class="featured fa fa-check-square-o">Featured</a>
                            }


                        </div>


                                }

                </div>
            </div>
    </div>
</div>
    </div>

<script>
    
    function AssignButtonClicked(elem) {
        
        if ($(elem).hasClass('btn btn-sm btn-success')) {
            $(elem).removeClass('btn btn-sm btn-success');
            $(elem).addClass('btn btn-sm btn-default');
            $(elem).text('Disable');
                var emailValue = $(elem).data('assigned-id');
                $.ajax({

                    url: '@Url.Action("ChangeAdminStatus", "Reviews")',
                    type: 'GET',
                    data: { id: emailValue, status: false },
                    success: function (result) {

                    }
                });
            } else {
                var emailValue = $(elem).data('assigned-id');
                $(elem).removeClass('btn btn-sm btn-default');
                $(elem).addClass('btn btn-sm btn-success');
                $(elem).text('Enable');
                $.ajax({
                    url: '@Url.Action("ChangeAdminStatus", "Reviews")',
                    type: 'GET',
                    data: { id: emailValue, status: true },
                    success: function (result) {

                    }
                });
            }

       

    }

                            
</script>
<script>
    function AssignAClicked(elem) {

        if ($(elem).hasClass('featured-dis')) {
            $(elem).removeClass('featured-dis');
            $(elem).addClass('featured');
            $(elem).removeClass('fa-square-o');
            $(elem).addClass('fa-check-square-o');
            var emailValue = $(elem).data('assigned-id');
            $.ajax({

                url: '@Url.Action("ChangeAdminApprovedStatus", "Reviews")',
                type: 'GET',
                data: { id: emailValue, status: true },
                success: function (result) {

                }
            });
        } else {
            var emailValue = $(elem).data('assigned-id');
            $(elem).removeClass('featured');
            $(elem).addClass('featured-dis');
            $(elem).removeClass('fa-check-square-o');
            $(elem).addClass('fa-square-o');
            $.ajax({
                url: '@Url.Action("ChangeAdminApprovedStatus", "Reviews")',
                type: 'GET',
                data: { id: emailValue, status: false },
                success: function (result) {

                }
            });
        }



    }
   
</script>
<div class="modal fade" id="WriteReviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Write Your Reviews</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 MainReview">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Your Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Your Name" id="nameBy" name="nameBy"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Your Ratings</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="rate" name="rate">
                                        <option>Select Your Ratings</option>
                                        <option>5 Stars</option>
                                        <option>4 Stars</option>
                                        <option>3 Stars</option>
                                        <option>2 Stars</option>
                                        <option>1 Star</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Your Review</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" placeholder="Your Review" rows="5" id="review" name="review"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="reset" value="Submit" id="ButtonId1" data-dismiss="modal"  class="btn mybtn" />
            </div>
            
        </div>
    </div>
</div>
<script>
                            $('#ButtonId1').on('click', function () {
                                if ($(this).hasClass('asdsddd')) {
                                    //$(this).removeClass('btn btn-sm btn-success');
                                    //$(this).addClass('btn btn-sm btn-default');
                                    //$(this).text('Disable');
                                    var nameIsq = $("#nameBy").val();
                                    var ratinga = $("#rate").val();
                                    var comments = $("#review").val();
                                    $.ajax({

                                        url: '@Url.Action("AddReviews", "Reviews")',
                                        type: 'GET',
                                        data: { nameIs: nameIsq, rating: ratinga, comment: comments },
                                        success: function (result) {

                                        }
                                    });
                                } else {
                                    var nameIsq = $("#nameBy").val();
                                    var ratinga = $("#rate").val();
                                    var comments = $("#review").val();
                                    $.ajax({

                                        url: '@Url.Action("AddReviews", "Reviews")',
                                        type: 'GET',
                                        data: { nameIs: nameIsq, rating: ratinga, comment: comments },
                                        success: function (result) {

                                        }
                                    });
                                }

                            });
</script>
