﻿@model IEnumerable<DAL.Entities.RatingReviews>
@{
    ViewBag.Title = "TeacherReviews";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12 TPContent">
        <div class="col-md-12 TPBbox">
            <h2 class="title">Rating &amp; Reviews</h2>
            <h5 class="rating">
                <span>4.7 / 5</span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i> - 19,70,245 Rating
            </h5>
            <div class="col-md-12 ratebox">
                @foreach (var item in Model)
                {
                    @Html.HiddenFor(modelItem => item.RatingReviewsID, new { id = "EmailList", name = "EmailList" })
                    <div class="col-md-9">
                        <p class="user">
                            @Html.DisplayFor(modelItem => item.TeacherName)@*<span>8 CBSE Mathematics, Bangalore</span>*@
                        </p>
                        <p class="user">
                            @if (item.Rating >= 0 && item.Rating < 1)
                            {
                                <span>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            }
                            @if (item.Rating >= 1 && item.Rating < 2)
                            {
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            }
                            @if (item.Rating >= 2 && item.Rating < 3)
                            {
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            }
                            @if (item.Rating >= 3 && item.Rating < 4)
                            {
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            }
                            @if (item.Rating >= 4 && item.Rating < 5)
                            {
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span>
                            }
                            @if (item.Rating >= 5 && item.Rating < 6)
                            {
                                <span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            }
                            @*<i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>*@
                        </p>
                        <p class="comment">@Html.DisplayFor(modelItem => item.Comment)</p>
                    </div>
                    <div class="col-md-3 act">
                        @{
                            var active = ViewBag.Active as bool? ?? false;
                        }
                        
                        @if (item.IsActive != true)
                        {
                            <button class="btn btn-sm btn-default" onclick="AssignButtonClicked(this)" data-assigned-id="@item.RatingReviewsID"  id="ButtonId" name="ButtonId">Disable</button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-success" onclick="AssignButtonClicked(this)" data-assigned-id="@item.RatingReviewsID" id="ButtonId" name="ButtonId">Enable</button>
                        }

                        @if (item.IsApproved == false)
                        {
                            <a href="javascript:void(0);" onclick="AssignAClicked(this)" data-assigned-id="@item.RatingReviewsID" class="featured-dis fa fa-square-o">Featured</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" onclick="AssignAClicked(this)" data-assigned-id="@item.RatingReviewsID" class="featured fa fa-check-square-o">Featured</a>
                        }
                    </div>

                 }

            </div>
        </div>
    </div>
</div>
<script>

    function AssignButtonClicked(elem) {

        if ($(elem).hasClass('btn btn-sm btn-success')) {
            $(elem).removeClass('btn btn-sm btn-success');
            $(elem).addClass('btn btn-sm btn-default');
            $(elem).text('Disable');
                var emailValue = $(elem).data('assigned-id');
                $.ajax({

                    url: '@Url.Action("ChangeStatusTeacher", "Reviews")',
                    type: 'GET',
                    data: { id: emailValue, status: false },
                    success: function (result) {

                    }
                });
            } else {
                var emailValue = $(elem).data('assigned-id');
                $(elem).removeClass('btn btn-sm btn-default');
                $(elem).addClass('btn btn-sm btn-success');
                $(elem).text('Enable');
                $.ajax({
                    url: '@Url.Action("ChangeStatusTeacher", "Reviews")',
                    type: 'GET',
                    data: { id: emailValue, status: true },
                    success: function (result) {

                    }
                });
            }



    }


</script>
<script>
    function AssignAClicked(elem) {

        if ($(elem).hasClass('featured-dis')) {
            $(elem).removeClass('featured-dis');
            $(elem).addClass('featured');
            $(elem).removeClass('fa-square-o');
            $(elem).addClass('fa-check-square-o');
            var emailValue = $(elem).data('assigned-id');
            $.ajax({

                url: '@Url.Action("ChangeApprovedStatusTeacher", "Reviews")',
                type: 'GET',
                data: { id: emailValue, status: true },
                success: function (result) {

                }
            });
        } else {
            var emailValue = $(elem).data('assigned-id');
            $(elem).removeClass('featured');
            $(elem).addClass('featured-dis');
            $(elem).removeClass('fa-check-square-o');
            $(elem).addClass('fa-square-o');
            $.ajax({
                url: '@Url.Action("ChangeApprovedStatusTeacher", "Reviews")',
                type: 'GET',
                data: { id: emailValue, status: false },
                success: function (result) {

                }
            });
        }



    }

</script>