﻿@font-face
{
	font-family: Dnormal;
	src: url(../../FontAwesome/font-awesome-4.6.3/fonts/Regular.ttf);
}
@font-face
{
	font-family: Dmedium;
	src: url(../../FontAwesome/font-awesome-4.6.3/fonts/Medium.ttf);
}
@font-face
{
	font-family: Dbold;
	src: url(../../FontAwesome/font-awesome-4.6.3/fonts/Black.ttf);
}
@font-face
{
	font-family: Dthin;
	src: url(../../FontAwesome/font-awesome-4.6.3/fonts/Thin.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

label {
    font-weight: normal;
    font-family: Dbold;
}

a:focus {
    outline: none !important;
    text-decoration: none !important;
}

body {
    font-family: Dnormal;
    background: #f7f7f7;
}

.navbar-right {
    margin-right: 0px !important;
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    border-bottom: 4px solid #e6e6e6;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.mynve-container {
    padding: 0px;
}

.navbar-default .navbar-right > li > a {
    color: #1d1d1d !important;
    transition: 0.4s;
}

    .navbar-default .navbar-right > li > a:hover {
        color: #ff6600 !important;
        transition: 0.4s;
    }

    .navbar-default .navbar-right > li > a i {
        margin-right: 5px;
    }

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #1d1d1d;
    font-family: Dbold;
    padding: 28px 10px;
    font-size: 13px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #000000;
        transition: 0.4s;
    }

.dropdown-menu > li > a {
    text-transform: uppercase;
    color: #fff;
    font-family: Dmedium;
    padding: 10px 30px 10px 20px;
}

.navbar-nav > li > .dropdown-menu {
    background: rgba(0, 0, 0, 0.8);
    border-color: #000000;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #fff;
}

.navbar-default .navbar-right > .active > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    color: #ff6600 !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #ff6600;
}

.navbar-default .navbar-brand img {
    max-width: 70%;
}

.HomeBanner {
    text-align: center;
    margin-bottom: 60px;
    min-height: 100vh;
}

    .HomeBanner h1 {
        font-family: Dbold;
        color: #000000;
        font-size: 60px;
        margin-bottom: 40px;
        text-shadow: 1px 1px 15px #fff;
    }

    .HomeBanner p {
        color: #ff6600;
        font-family: Dnormal;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 100px;
        visibility: hidden;
    }

    .HomeBanner a {
        background: #ff6600;
        color: #fff;
        padding: 12px 30px;
        margin: 5px;
        font-family: Dnormal;
        text-transform: uppercase;
        font-size: 17px;
        border-radius: 5px;
        border: 2px solid #ff6600;
    }

        .HomeBanner a.no {
            background: #fff;
            color: #ff6600;
            border: 2px solid #ff6600;
        }

        .HomeBanner a:hover {
            background: #fff;
            color: #ff6600;
            transition: 0.4s;
            text-decoration: none;
            border: 2px solid #ff6600;
        }

#HomeBanner {
    height: 100vh;
    overflow: hidden;
}

    #HomeBanner .carousel-caption {
        top: 160px;
        left: 5%;
        right: 5%;
        text-shadow: none;
    }

    #HomeBanner img {
        width: 100%;
    }

.NextBanner {
    padding-bottom: 60px;
}

    .NextBanner h1 {
        text-align: center;
        font-family: Dbold;
    }

    .NextBanner p span.line {
        width: 100px;
        height: 1px;
        background: #d4d4d4;
        display: inline-block;
        margin: 0px 20px;
    }

    .NextBanner p {
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
    }

    .NextBanner .ChoiceBlock {
        margin-top: 40px;
    }

        .NextBanner .ChoiceBlock .block {
            border: 1px solid #dcdcdc;
            padding: 15px;
            text-align: left;
            background: #fff;
            transition: 0.4s;
        }

            .NextBanner .ChoiceBlock .block:hover {
                border: 1px solid #ff6600;
                transition: 0.4s;
            }

            .NextBanner .ChoiceBlock .block .col-sm-3 {
                padding: 0px !important;
            }

            .NextBanner .ChoiceBlock .block img {
                max-width: 90%;
            }

            .NextBanner .ChoiceBlock .block h2 {
                margin-top: 10px;
                font-family: Dbold;
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 10px;
                color: #2e2e2e;
            }

            .NextBanner .ChoiceBlock .block p {
                font-size: 15px;
                text-align: left;
                color: #7a7a7a;
            }

            .NextBanner .ChoiceBlock .block h4 {
                text-align: right;
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 17px;
            }

                .NextBanner .ChoiceBlock .block h4 a {
                    color: #ff6600;
                }

                    .NextBanner .ChoiceBlock .block h4 a:hover {
                        text-decoration: none;
                    }

                    .NextBanner .ChoiceBlock .block h4 a i {
                        font-size: 15px;
                        margin-left: 5px;
                    }

.TagBlock {
    margin-top: 60px;
    text-align: center;
}

    .TagBlock a {
        color: #4d4d4d;
        border: 1px solid #b7b7b7;
        border-radius: 4px;
        padding: 10px 15px;
        margin: 7px;
        display: inline-block;
        background: #fff;
        transition: 0.4s;
    }

        .TagBlock a:hover {
            background: #ff6600;
            color: #fff;
            border: 1px solid #ff6600;
            transition: 0.4s;
            text-decoration: none;
        }

.TagBrowse {
    margin: 50px 0px;
    text-align: center;
}

    .TagBrowse a {
        color: #ff6600;
        background: none;
        padding: 10px 30px;
        border-radius: 5px;
        border: 2px solid #ff6600;
        transition: 0.4s;
    }

        .TagBrowse a:hover {
            color: #fff;
            background: #ff6600;
            text-decoration: none;
            transition: 0.4s;
        }

.HomeStory {
    background: #fff;
    padding: 40px 0px 100px 0px;
}

    .HomeStory .video {
    }

        .HomeStory .video img {
            width: 100%;
        }

    .HomeStory .reviews {
        padding: 20px 15px;
        text-align: center;
    }

        .HomeStory .reviews h2 {
            margin-top: 0px;
            text-transform: uppercase;
            font-family: Dbold;
            color: #7e7e7e;
            font-size: 22px;
            letter-spacing: 1px;
        }

            .HomeStory .reviews h2 i {
                font-size: 70px;
                color: #bababa;
            }

.reviewCar img {
    text-align: center;
    display: initial !important;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 60px !important;
    height: 60px !important;
}

.reviewCar h5 {
    color: #444;
    text-transform: uppercase;
    font-family: Dbold;
}

.reviewCar p span {
    color: #ff5e01;
    font-size: 17px;
    margin: 4px;
}

.reviewCar p {
    font-size: 16px;
}

.reviewbtn {
    text-align: center;
    padding-top: 40px;
}

    .reviewbtn a {
        background: #ff6600;
        color: #fff;
        padding: 7px 20px;
        border-radius: 4px;
        border: 2px solid #ff6600;
        transition: 0.4s;
    }

        .reviewbtn a:hover {
            background: none;
            color: #ff6600;
            text-decoration: none;
            transition: 0.4s;
        }

        .reviewbtn a:focus {
            color: #fff;
        }

h1.ThinTitle {
    font-family: Dthin;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}

.HomeBranding {
    padding: 70px 0px;
    background: url(../frontimg/HowItWorksTxt.png) no-repeat left center #dfdfdf;
    background-attachment: fixed;
    text-align: center;
}

    .HomeBranding img {
        max-width: 100%;
    }

.HomeTeachers {
    padding: 50px 0px;
    background: #fbfbfb;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.HTblock {
    padding: 10px !important;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: 0.4s;
    border: 1px solid #f1f0f0;
}

    .HTblock:hover {
        background: #ff6600;
        transition: 0.4s;
    }

    .HTblock img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .HTblock p {
        margin-bottom: 0px;
        font-size: 14px;
        font-family: Dbold;
    }

        .HTblock p span {
            margin-bottom: 0px;
            font-size: 12px;
            font-family: Dnormal;
        }

h2.Ttitle {
    text-align: center;
    font-family: Dbold;
    margin-bottom: 40px;
    font-size: 26px;
    text-transform: uppercase;
}

.Tpromise {
    text-align: center;
    padding: 20px;
    background: #fff;
    border: 1px solid #f1f0f0;
    margin-top: 89px;
    border-radius: 5px;
}

    .Tpromise img {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .Tpromise h2 {
        margin: 0px;
        color: #111;
        font-size: 20px;
        text-transform: uppercase;
        font-family: Dnormal;
    }

        .Tpromise h2 span {
            margin: 0px;
            color: #ff6600;
            font-size: 29px;
            text-transform: uppercase;
            font-family: Dnormal;
        }

    .Tpromise ul {
        text-align: left;
        margin: 23px 0px;
        list-style: square inside;
        color: #111;
        font-size: 16px;
    }

        .Tpromise ul li {
            border-bottom: 1px dashed #ccc;
            padding: 7px 0px;
        }

.mybtn {
    background: #ff6600;
    padding: 6px;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    border: 2px solid #ff6600;
    transition: 0.4s;
}

    .mybtn:hover {
        background: none;
        color: #ff6600;
        transition: 0.4s;
    }

.HomeGrade {
    background: url(../frontimg/grade.png) no-repeat center center #fff;
    background-attachment: fixed;
    background-size: auto 100%;
    padding: 50px;
    text-align: center;
}

    .HomeGrade h2 {
        color: #000000;
        font-family: Dbold;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 35px;
        text-shadow: 0px 0px 10px #fff;
        margin-bottom: 30px;
    }

    .HomeGrade img {
        width: 100%;
        margin-bottom: 15px;
        transition: 0.4s;
    }

        .HomeGrade img:hover {
            transform: scale(1.4, 1.4);
            transition: 0.4s;
        }

.HomeWhyUs {
    background: #fbfbfb;
    padding: 70px 0px;
}

    .HomeWhyUs h1 {
        color: #444;
        font-family: Dnormal;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;
    }

        .HomeWhyUs h1 span {
            color: #000000;
            font-family: Dbold;
        }

.HWBox {
    padding: 15px;
    margin-bottom: 30px;
}

    .HWBox .col-md-9 {
        padding: 0px;
    }

    .HWBox img {
        width: 100%;
    }

    .HWBox h2 {
        color: #ff6600;
        font-family: Dbold;
        margin-top: 0px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .HWBox p {
        color: #909090;
        font-family: Dnormal;
        font-size: 13px;
    }

.HomeLearnMore {
    background: url(../frontimg/LearnmoreBg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: 100%;
    height: 90vh;
    padding-top: 30vh;
    text-align: center;
}

    .HomeLearnMore h1 {
        color: #000000;
        font-size: 42px;
        font-family: Dnormal;
    }

    .HomeLearnMore img {
        transition: 0.4s;
    }

        .HomeLearnMore img:hover {
            transform: scale(1.4, 1.4);
            transition: 0.4s;
        }

.HomeReg {
    background: #e2e2e2;
    padding: 20px 0px;
    text-align: center;
}

a.mybtnreg {
    background: rgba(68, 68, 68, 0.58);
    color: #fff;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    transition: 0.4s;
    margin-bottom: 50px;
}

    a.mybtnreg:hover {
        background: #ff6600;
        color: #fff;
        transition: 0.4s;
    }

.HomeFacts {
    background: #ff6600;
    padding: 30px 0px;
    text-align: left;
}

    .HomeFacts .col-md-4 {
        border-right: 1px solid #fff;
    }

        .HomeFacts .col-md-4:last-child {
            border-right: none;
        }

    .HomeFacts img {
        margin-top: 10px;
        max-width: 90%;
    }

    .HomeFacts span {
        color: #692a00;
        font-family: Dnormal;
        font-size: 18px;
    }

    .HomeFacts p {
        color: #fff;
        font-family: Dbold;
        font-size: 35px;
        letter-spacing: 1px;
        margin: 0px;
    }

.Footer {
    background: url('../frontimg/footerBg.png') no-repeat center center #fff;
    padding: 60px 0px 0px 0px;
    background-attachment: fixed;
    background-size: 100%;
}

    .Footer .fblock {
        border-right: 1px solid #f6f6f6;
        margin-bottom: 15px;
    }

        .Footer .fblock:last-child {
            border-right: none;
        }

        .Footer .fblock img {
            width: 180px;
            margin-bottom: 10px;
        }

        .Footer .fblock h1 {
            font-size: 17px;
            color: #ff6600;
            font-family: Dbold;
            margin-bottom: 10px;
        }

        .Footer .fblock p {
            font-size: 14px;
            color: #626262;
            text-align: justify;
        }

        .Footer .fblock h2 {
            font-size: 26px;
            color: #000000;
            font-family: Dbold;
        }

        .Footer .fblock ul {
            list-style: none inside;
        }

            .Footer .fblock ul li {
                margin-bottom: 5px;
            }

                .Footer .fblock ul li a {
                    color: #4e4e4e;
                    transition: 0.4s;
                }

                    .Footer .fblock ul li a:hover {
                        color: #000000;
                        text-decoration: none;
                        transition: 0.4s;
                    }

.bottomFooter {
    background: rgba(177, 177, 177, 0.4);
    padding: 10px;
}

    .bottomFooter p {
        margin: 5px 0px 0px 0px;
        padding: 0px;
        color: #444;
    }

    .bottomFooter img {
        margin-left: 5px;
        width: 26px;
        transition: 0.4s;
    }

        .bottomFooter img:hover {
            transform: rotate(360deg);
            transition: 0.4s;
        }

.rightAlign {
    text-align: right;
}

.leftAlign {
    text-align: left;
}

.fixed {
    position: fixed !important;
    top: 0px;
    height: 75px;
    z-index: 100000;
    display: block !important;
    transition: 0.4s;
}

nav.abt {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: #fff;
    border-bottom: 4px solid #e6e6e6;
    display: none;
    transition: 0.4s;
}
/*  Student Login */

.SLoginArea {
    min-height: 100vh;
    padding: 170px 0px 50px 0px;
    background: url(../frontimg/LoginBg.png) no-repeat center center;
    background-size: 100%;
    background-attachment: fixed;
}

.SLbox {
    background: #fff;
    padding: 30px 15px;
    border-top: 4px solid #e6e6e6;
    box-shadow: 2px 2px 4px #a0a0a0;
}

.LoginTop {
    margin-bottom: 20px;
    text-align: center;
}

    .LoginTop img {
        width: 100px;
        margin-top: -90px;
        border: 4px solid #e6e6e6;
        border-radius: 50%;
        background: #e6e6e6;
        margin-bottom: 15px;
        transition: 0.4s;
    }

        .LoginTop img:hover {
            transform: scale(1.1, 1.1);
            transition: 0.4s;
        }

    .LoginTop h2 {
        margin: 0px;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 4px;
        font-family: Dbold;
        color: #7d7d7d;
    }

.SLbox label {
    font-weight: normal;
    font-family: Dnormal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

.mytbox {
    border-radius: 5px;
    height: auto;
    padding: 10px;
    border: 1px solid #8e8e8e;
    color: #000000;
}

.LoginFS {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .LoginFS a {
        color: #606060;
        transition: 0.4s;
    }

        .LoginFS a:hover {
            color: #ff6600;
            transition: 0.4s;
        }

.Sslogin img {
    width: 100%;
    transition: 0.2s;
}

.Sslogin {
    margin-bottom: 15px;
    border-bottom: 1px dashed #d3d3d3;
    padding-bottom: 15px;
}

    .Sslogin img:hover {
        opacity: 0.5;
        transition: 0.2s;
    }

.SwpipeLogin {
    text-align: center;
}

    .SwpipeLogin a {
        font-family: Dbold;
        font-size: 17px;
        color: #272727;
        transition: 0.3s;
    }

        .SwpipeLogin a:hover {
            color: #ff6600;
            transition: 0.3s;
        }

.mt20 {
    margin-top: 20px;
}

.mt180 {
    margin-top: 180px;
}

.mb40 {
    margin-bottom: 40px;
}

.InnerArea {
}

.Imarea {
    background: #fff;
    padding: 30px 15px;
    border-top: 4px solid #e6e6e6;
    box-shadow: 2px 2px 4px #a0a0a0;
    min-height: 450px;
    margin-bottom: 30px;
}

.logoIconMiddle {
    text-align: center;
}

    .logoIconMiddle img {
        width: 100px;
        margin-top: -90px;
        border: 4px solid #e6e6e6;
        border-radius: 50%;
        background: #e6e6e6;
        margin-bottom: 15px;
        transition: 0.4s;
    }

        .logoIconMiddle img:hover {
            transform: scale(1.1, 1.1);
            transition: 0.4s;
        }

.InnerText {
}

h2.InnTitle {
    color: #000000;
    font-family: Dbold;
    margin-bottom: 30px;
}

    h2.InnTitle span {
        color: #565656;
        font-family: Dbold;
    }

        h2.InnTitle span span {
            color: #565656;
            font-family: Dnormal;
        }

.InnerText p {
    font-size: 16px;
}

.contactSend {
}

    .contactSend h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

.InnerAreamt {
    margin-top: 70px;
}

.Sfaq {
    padding: 0px;
    margin-top: 30px;
}

.sfaqbox {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

    .sfaqbox h2 {
        font-family: Dbold;
        font-size: 20px;
        color: #3b3b3b;
    }

    .sfaqbox p {
        font-size: 17px;
        color: #3b3b3b;
    }

.LightOrangeBg {

    background: url('../frontimg/FRBg.png') no-repeat bottom center #fdf9f6;
    padding-top: 100px;
    background-size: 100%;
    background-attachment: fixed;
}

.LightOrange {
    background: #fdf9f6;
    padding-top: 100px;
}

.FreeResourseArea {
    background: none;
    min-height: 400px;
    margin-bottom: 50px;
    padding: 0px;
    border: 1px solid #fddac3;
}

h1.TitleV1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    font-family: Dbold;
    margin-bottom: 30px;
    margin-top: 10px;
}

    h1.TitleV1 span {
        color: #ff6600;
    }

.FreeResourseArea .Filter {
    background: #ff6600;
    min-height: 50px;
    padding: 10px 0px;
    border-bottom: 1px dashed #fddac3;
}

    .FreeResourseArea .Filter .form-control {
        border-radius: 0px;
        color: #000000;
        border-color: #ff6600;
    }

.FreeResourseArea .Listing {
    background: #fff;
    padding: 30px 0px;
}

.FrBox {
    background: #fff;
    min-height: 300px;
    margin-bottom: 30px;
    border: 1px solid #161414;
    padding: 20px;
    text-align: center;
}

    .FrBox:hover {
        border: 1px solid #ff6600;
        transition: 0.2s;
    }

    .FrBox h1 {
        font-family: Dbold;
        color: #ff6600;
        font-size: 22px;
        margin: 0px 0px 15px 0px;
    }

    .FrBox h2 {
        font-family: Dbold;
        color: #444;
        font-size: 17px;
        margin: 0px 0px 35px 0px;
    }

    .FrBox p {
        font-family: Dnormal;
        color: #fff;
        font-size: 15px;
        position: absolute;
        bottom: 0px;
        margin: 0px;
        background: #161414;
        padding: 10px;
        width: 100%;
        left: 0;
    }

    .FrBox a {
        font-family: Dbold;
        color: #000000;
        font-size: 18px;
    }

        .FrBox a i {
            color: #ff6600;
            font-size: 42px;
        }

        .FrBox a:hover {
            text-decoration: none;
            color: #ff6600;
            transition: 0.4s;
        }

.FRDTitle {
    padding: 20px 15px;
}

    .FRDTitle h1 {
        font-family: Dbold;
        font-size: 29px;
        margin: 0px 0px 15px 0px;
    }

    .FRDTitle h2 {
        font-size: 17px;
        margin: 10px 0px;
    }

        .FRDTitle h2 span {
            color: #ff6600;
            font-family: Dbold;
        }

.VideoCount {
    text-align: center;
}

    .VideoCount h4 i {
        font-size: 42px;
        margin-bottom: 20px;
    }

.FRDArea {
    background: #fff;
    display: flex;
}

.FRDLeft {
    border-right: 1px solid #fddac3;
}

    .FRDLeft .filter {
        padding: 20px 0px;
        border-bottom: 1px dashed #d1d1d1;
        max-height: 650px;
        overflow: auto;
    }

        .FRDLeft .filter:last-child {
            margin-bottom: 30px;
        }

        .FRDLeft .filter h2 {
            font-family: Dbold;
            font-size: 20px;
            margin: 0px 0px 15px 0px;
            text-transform: uppercase;
        }

        .FRDLeft .filter input[type="checkbox"] {
            height: 15px;
            width: 15px;
            margin-top: 2px;
        }

.FRDbox {
    background: #fdf9f6;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    border-left: 2px solid #f60 !important;
    border: 1px solid #ffcca9;
}

    .FRDbox .img img {
        width: 100%;
    }

    .FRDbox .img p {
        position: absolute;
        right: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.20);
        color: #fff;
        padding: 2px 10px;
    }

    .FRDbox .content {
        padding: 15px;
    }

    .FRDbox a:hover {
        text-decoration: none;
    }

    .FRDbox .content h1 {
        font-size: 17px;
        font-family: Dbold;
        color: #ff6600;
        margin-top: 0px;
        margin-bottom: 5px;
    }

        .FRDbox .content h1:hover {
            color: #222;
            transition: 0.4s;
        }

    .FRDbox .content p {
        color: #3d3d3d;
        font-size: 14px;
        font-family: Dbold;
        margin-bottom: 30px;
    }

    .FRDbox .content .Bottomfix {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        padding: 10px;
        color: #222;
        border-top: 1px dashed #868686;
        text-align: right;
    }

        .FRDbox .content .Bottomfix h3 span {
            padding: 0px 10px;
            border-right: 1px solid #ffbd8c;
        }

            .FRDbox .content .Bottomfix h3 span:last-child {
                border-right: 0px solid #ffbd8c;
            }

        .FRDbox .content .Bottomfix h3 {
            margin: 0px;
            font-size: 11px;
            font-family: Dbold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

            .FRDbox .content .Bottomfix h3 a {
                color: #ff6600;
            }

                .FRDbox .content .Bottomfix h3 a:hover {
                    color: #222;
                    transition: 0.2s;
                }

            .FRDbox .content .Bottomfix h3 i {
                margin-right: 5px;
                color: #696969;
            }

.White79 {
    background: #fff;
    padding-top: 79px;
}

.MonthlyTuiArea {
    background: #fff;
    padding: 50px 0px;
}

    .MonthlyTuiArea .filter {
        padding: 15px;
        border: 2px solid #ddd;
        margin-bottom: 20px;
    }

        .MonthlyTuiArea .filter .block {
            padding: 15px 0px;
            border-bottom: 2px solid #ddd;
        }

            .MonthlyTuiArea .filter .block:last-child {
                border-bottom: 0px solid #ddd;
            }

            .MonthlyTuiArea .filter .block h2 {
                margin-top: 0px;
                font-family: Dbold;
                font-size: 16px;
                text-transform: uppercase;
                border-bottom: 1px dashed #e4e4e4;
                padding-bottom: 10px;
            }

            .MonthlyTuiArea .filter .block ul {
                list-style: none inside;
                font-family: Dbold;
                text-transform: uppercase;
            }

                .MonthlyTuiArea .filter .block ul li {
                    padding: 5px 10px;
                }

                    .MonthlyTuiArea .filter .block ul li:hover {
                        background: #e9e9e9;
                    }

                    .MonthlyTuiArea .filter .block ul li.active {
                        background: #ff6600;
                    }

                        .MonthlyTuiArea .filter .block ul li.active > a {
                            color: #fff;
                        }

                    .MonthlyTuiArea .filter .block ul li a {
                        color: #ff6600;
                        display: block;
                        font-size: 12px;
                    }

                        .MonthlyTuiArea .filter .block ul li a:hover {
                            color: #5f5f5f;
                            transition: 0.2s;
                            text-decoration: none;
                        }

                        .MonthlyTuiArea .filter .block ul li a i {
                            margin-right: 10px;
                        }

.p10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.coursebox1 {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    height: 250px;
}

    .coursebox1:hover {
        box-shadow: 2px 2px 5px #b5b5b5;
        transition: 0.4s;
    }

    .coursebox1 .green {
        background: url('../frontimg/courseIcon.png') no-repeat right 10px bottom 0px, #03ca92;
    }

    .coursebox1 .blue {
   background: url('../frontimg/courseIcon.png') no-repeat right 10px bottom 0px, #039cca;
    }

    .coursebox1 .purple {
         background: url('../frontimg/courseIcon.png') no-repeat right 10px bottom 0px, #a03bde;
    }

    .coursebox1 .orange {
        background: url('../frontimg/courseIcon.png') no-repeat right 10px bottom 0px, #de953b;
    }

    .coursebox1 .title {
        padding: 15px;
        height: 90px;
    }

    .coursebox1 h1 {
        margin: 0px;
        font-family: Dbold;
        font-size: 16px;
        color: #fff;
    }

    .coursebox1 .area {
        padding: 15px;
    }

        .coursebox1 .area ul {
            list-style: none inside;
            font-size: 13px;
            color: #3c3c3c;
        }

            .coursebox1 .area ul li {
                margin: 5px 0px;
            }

                .coursebox1 .area ul li strong {
                    font-weight: normal;
                    font-family: Dbold;
                }

                .coursebox1 .area ul li i {
                    margin-right: 7px;
                    color: #878787;
                    font-size: 11px;
                }

    .coursebox1 .bottom {
        padding: 5px 0px;
        background: #f7f7f7;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

        .coursebox1 .bottom p {
            margin: 0px;
            font-family: Dbold;
            font-size: 14px;
            padding: 5px 0px;
        }

            .coursebox1 .bottom p span {
                color: #8e8e8e;
                margin-right: 5px;
            }

        .coursebox1 .bottom a {
            color: #fff;
            font-family: Dbold;
            font-size: 12px;
            background: #ff6600;
            padding: 5px;
            display: block;
            text-align: center;
            border-radius: 4px;
            transition: 0.4s;
        }

            .coursebox1 .bottom a:hover {
                text-decoration: none;
                background: #393939;
                transition: 0.4s;
            }

.MCDetailBanner {
 
    background: url('../frontimg/Course/CMBanner.jpg') no-repeat center center #000000;
    background-size: 100%;
    background-attachment: fixed;
    padding: 50px 0px;
}

    .MCDetailBanner h1 {
        margin: 0px 0px 26px 0px;
        font-family: Dbold;
        font-size: 26px;
        color: #fff;
        letter-spacing: 1px;
        text-align: center;
    }

    .MCDetailBanner .box {
        margin-bottom: 20px;
        border-right: 1px dashed rgba(156, 100, 69, 0.38);
        text-align: center;
    }

    .MCDetailBanner .price {
        background: url(../frontimg/Course/pricetag.png) left 10px center #ff6600 !important;
        border-radius: 7px;
        border: none !important;
        transition: 0.4s;
    }

    .MCDetailBanner .box h3 {
        font-size: 22px;
        font-family: Dbold;
        color: #fff;
    }

    .MCDetailBanner .box p {
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
    }

    .MCDetailBanner .link {
        margin-top: 50px;
        text-align: right;
    }

        .MCDetailBanner .link a {
            color: #fff;
            margin-left: 15px;
            text-transform: uppercase;
            transition: 0.4s;
        }

            .MCDetailBanner .link a:hover {
                text-decoration: none;
                color: #ff6600;
                transition: 0.4s;
            }

            .MCDetailBanner .link a i {
                margin-right: 5px;
                color: #ff6600;
            }

.modal-content {
    border-radius: 0px;
}

.Mcourse .modal-header {
    background: #ff6600;
    border-bottom: 2px solid #a94300;
    padding: 10px;
}

    .Mcourse .modal-header h4 {
        font-family: Dbold;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
    }

.Mcourse .modal-footer {
    text-align: center;
}

.Mcourse .modal-body {
    padding: 20px;
    color: #000000;
    font-size: 15px;
}

    .Mcourse .modal-body strong {
        font-weight: normal;
        font-family: Dbold;
    }

    .Mcourse .modal-body ul {
        list-style: circle inside;
    }

.MCContent {
    padding: 30px 15px;
}

    .MCContent .nav-tabs {
        border-bottom: 1px solid #f60;
    }

        .MCContent .nav-tabs > li {
            width: 33%;
            text-align: center;
        }

            .MCContent .nav-tabs > li.active > a, .MCContent .nav-tabs > li.active > a:hover, .MCContent .nav-tabs > li.active > a:focus {
                color: #ff6600;
                background: #fff;
                border-bottom: 5px solid #ff6600 !important;
                border: 0px solid;
            }

            .MCContent .nav-tabs > li > a {
                font-family: Dbold;
                border: none;
                color: #636363;
            }

    .MCContent .nav > li > a:hover, .nav > li > a:focus {
        background-color: none;
    }

    .MCContent .tab-content > .tab-pane {
        background: #f1f1f1;
        padding: 30px 20px;
    }

.TeacherBox {
    text-align: center;
    padding: 20px;
    background: #fff;
    border: 1px solid #dedede;
    margin-bottom: 30px;
}

    .TeacherBox h6 {
        position: absolute;
        top: 7px;
        right: 10px;
        margin: 0px;
        font-size: 11px;
        color: #989898;
    }

        .TeacherBox h6 i {
            margin-right: 2px;
        }

        .TeacherBox h6.online {
            color: #008b29;
        }

    .TeacherBox img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        border: 4px solid #e6e6e6;
        margin-bottom: 15px;
    }

    .TeacherBox h3 {
        font-family: Dbold;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
        text-transform: uppercase;
    }

    .TeacherBox p {
        font-size: 13px;
        color: #999;
        margin-bottom: 4px;
    }

        .TeacherBox p span {
            color: #444;
        }

    .TeacherBox h4 {
        margin: 10px 0px 30px 0px;
        color: #ff6600;
        font-size: 14px;
    }

        .TeacherBox h4 i {
            margin-left: 2px;
        }

    .TeacherBox a {
        background: #7b7a7a;
        color: #fff;
        margin: 5px;
        padding: 7px 20px;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 4px;
        transition: 0.4s;
    }

        .TeacherBox a.green {
            background: #008b29;
        }

        .TeacherBox a:hover {
            background: #ff6600;
            transition: 0.4s;
            text-decoration: none;
        }

        .TeacherBox a i {
            margin-right: 5px;
            font-size: 13px;
        }

.MCCuri {
    background: #fff;
    padding: 20px;
}

    .MCCuri h2.title {
        font-family: Dbold;
        text-transform: uppercase;
        margin: 0px 0px 15px 0px;
        font-size: 16px;
    }

    .MCCuri ul {
        list-style: square inside;
    }

    .MCCuri .clist {
        margin-top: 40px;
    }

ul.curri {
    list-style: decimal-leading-zero inside;
    font-family: Dbold;
    color: #111;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

    ul.curri li {
        background: #fddac3;
        padding: 5px 15px;
        margin-bottom: 10px;
    }

        ul.curri li:hover {
            background: #ddd;
            transition: 0.4s;
        }

.MCFAQs {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

    .MCFAQs h2.title {
        font-family: Dbold;
        text-transform: uppercase;
        margin: 0px 0px 15px 0px;
        font-size: 16px;
    }

    .MCFAQs .faq {
        margin-top: 10px;
    }

        .MCFAQs .faq .panel-default {
            border: 1px solid #777;
            border-radius: 0px !important;
        }

            .MCFAQs .faq .panel-default > .panel-heading {
                background-color: #fff;
                padding: 15px;
            }

        .MCFAQs .faq .panel-title {
            color: #ff6600;
            text-transform: uppercase;
        }

            .MCFAQs .faq .panel-title a:hover {
                text-decoration: none;
            }

.TeacheProfileTop {

    background: url(../frontimg/TProfileBg.png) no-repeat bottom center;
    background-size: 100%;
    padding: 50px 0px 0px 0px;
    box-shadow: 2px 2px 4px #bfbfbf;
    margin-bottom: 4px;
}

    .TeacheProfileTop .dp {
        text-align: center;
        width:100px;
        height:100px;
        display:block;
        margin: 0 auto;
    }

    

        .TeacheProfileTop .dp img {
            border-radius: 7px;
            max-width: 100%;
            margin-bottom: 15px;
        }

    .TeacheProfileTop .details {
        padding: 15px;
    }

        .TeacheProfileTop .details h1 {
            margin-top: 0px;
            font-family: Dbold;
            font-size: 22px;
            text-transform: uppercase;
            color: #222;
        }

            .TeacheProfileTop .details h1 span {
                color: #ff6600;
            }

        .TeacheProfileTop .details p {
            font-size: 16px;
            color: #444;
        }

            .TeacheProfileTop .details p i {
                margin-left: 5px;
                color: #008026;
                font-size: 20px;
            }

    .TeacheProfileTop .action {
        padding: 15px 0px;
        border-top: 1px solid rgba(111, 111, 111, 0.17);
        margin-top: 15px;
    }

        .TeacheProfileTop .action p {
            margin-top: 5px;
            font-size: 15px;
            text-transform: uppercase;
            color: #000000;
        }

            .TeacheProfileTop .action p span {
                font-family: Dbold;
            }

        .TeacheProfileTop .action a.bs {
            background: #ff6600;
            color: #fff;
            font-family: Dbold;
            letter-spacing: 1px;
        }

        .TeacheProfileTop .action a.ts {
            background: #222;
            color: #fff;
            font-family: Dbold;
            letter-spacing: 1px;
        }

.GreyBg {
    background: #f2f2f2;
}

.TPContent {
    padding-bottom: 40px;
}

    .TPContent .TPBbox {
        background: #fff;
        padding: 20px 30px 30px 30px;
        box-shadow: 1px 1px 2px #e6e6e6;
        margin-bottom: 30px;
    }

        .TPContent .TPBbox h2.title {
            font-size: 16px;
            color: #ff6600;
            border-bottom: 1px solid #ddd;
            margin-top: 0px;
            font-family: Dbold;
            text-transform: uppercase;
            padding-bottom: 10px;
            letter-spacing: 2px;
        }

        .TPContent .TPBbox p.status {
            font-size: 15px;
            color: #444;
            letter-spacing: 1px;
        }

        .TPContent .TPBbox .bx {
            margin-top: 20px;
            padding: 0px;
        }

            .TPContent .TPBbox .bx h5 {
                font-size: 15px;
                color: #444;
                letter-spacing: 1px;
            }

                .TPContent .TPBbox .bx h5 i {
                    color: #ff6600;
                    margin-right: 5px;
                    font-size: 17px;
                }

                .TPContent .TPBbox .bx h5 span {
                    font-family: Dbold;
                }

            .TPContent .TPBbox .bx table {
                width: 100%;
                font-family: Dbold;
                font-size: 13px;
                text-transform: uppercase;
                border: 1px solid #ddd;
            }

                .TPContent .TPBbox .bx table tr td {
                    padding: 8px 15px;
                    border-bottom: 1px solid #ddd;
                }

                    .TPContent .TPBbox .bx table tr td span {
                        background: #eaeaea;
                        padding: 4px 10px;
                        margin: 4px;
                        font-size: 11px;
                        border-radius: 2px;
                    }

        .TPContent .TPBbox h5.rating {
            font-size: 14px;
            color: #444;
            text-align: center;
            margin: 30px 0px;
            border-bottom: 1px dashed #ddd;
            padding-bottom: 30px;
        }

            .TPContent .TPBbox h5.rating span {
                font-family: Dbold;
                color: #ff6600;
                margin-right: 10px;
                font-size: 26px;
            }

            .TPContent .TPBbox h5.rating i {
                color: #ff6600;
                margin-right: 2px;
                font-size: 26px;
            }

        .TPContent .TPBbox .ratebox {
            padding: 15px 0px;
            margin-bottom: 15px;
            border-bottom: 1px solid #ddd;
        }

            .TPContent .TPBbox .ratebox p.user {
                margin: 0px;
                font-family: Dbold;
                font-size: 13px;
                color: #444;
                text-transform: uppercase;
            }

                .TPContent .TPBbox .ratebox p.user span {
                    font-family: Dnormal;
                    color: #777;
                    margin: 0px 15px;
                    text-transform: capitalize;
                }

                .TPContent .TPBbox .ratebox p.user i {
                    font-size: 14px;
                    color: #ff6600;
                    margin-left: 2px;
                }

            .TPContent .TPBbox .ratebox p.comment {
                margin-top: 10px;
                font-size: 15px;
                font-style: italic;
                color: #686868;
            }

h1.blogtitle {
    font-size: 19px;
    margin: 0px;
}

.noflex {
    display: block !important;
}

h2.sugvidetitle {
    font-size: 15px;
    margin: 10px 0px;
    color: #444;
    font-family: Dbold;
}

.FRYoutube {
    padding: 20px;
    margin: 20px 0px;
    background: #f2f2f2;
}

.FRYoutubemeta {
    padding: 5px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

    .FRYoutubemeta .right {
        text-align: right;
        padding-top: 5px;
    }

        .FRYoutubemeta .right p {
            margin: 0px;
            color: #444;
            font-size: 13px;
        }

            .FRYoutubemeta .right p span {
                border-right: 1px solid #ff6600;
                padding: 0px 10px;
            }

                .FRYoutubemeta .right p span:last-child {
                    border-right: 0px solid #ff6600;
                }

                .FRYoutubemeta .right p span i {
                    margin-right: 5px;
                    color: #777;
                    font-size: 12px;
                }

    .FRYoutubemeta .left img {
        width: 26px;
        height: 26px;
        border-radius: 2px;
        margin-right: 15px;
    }

    .FRYoutubemeta .left p {
        margin: 0px;
        font-family: Dbold;
        text-transform: uppercase;
        font-size: 13px;
    }

        .FRYoutubemeta .left p span {
            font-family: Dnormal;
            text-transform: uppercase;
            font-size: 11px;
            margin-left: 5px;
        }

.FRYoutubetxt {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

    .FRYoutubetxt p {
        font-size: 14px;
        color: #555;
    }

.FRYoutubecmt {
    margin-top: 35px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 40px;
}

    .FRYoutubecmt h2.title {
        font-size: 20px;
        font-family: Dbold;
        margin-bottom: 30px;
    }

.FTStep {
    padding: 20px 0px 0px 0px;
    background: #fff;
    border: 1px solid #e2cbcb;
    box-shadow: 2px 2px 7px #dadada;
    border-radius: 5px;
}

    .FTStep img {
        max-width: 100%;
    }

    .FTStep h2 {
        font-family: Dbold;
        margin: 20px 0px 10px 0px;
        font-size: 26px;
        color: #1a1414;
    }

        .FTStep h2 span {
            color: #ff6600;
        }

    .FTStep h3 {
        margin: 0px 0px 30px 0px;
        font-size: 20px;
        color: #444;
    }

    .FTStep p span {
        font-size: 18px;
        color: #444;
    }

    .FTStep .bottom {
        padding: 15px;
        background: #ddd;
        margin-top: 40px;
    }

.rightalign {
    text-align: right;
}

.leftalign {
    text-align: left;
}

.centeralign {
    text-align: center;
}

a.nxtbtn {
    background: #00a048;
    padding: 10px 20px;
    color: #fff;
    font-family: Dbold;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    a.nxtbtn:hover {
        background: #00753c;
        text-decoration: none;
    }

a.backbtn {
    background: #fff;
    color: #444;
    padding: 10px 20px;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

    a.backbtn:hover {
        background: #e6e6e6;
        text-decoration: none;
    }

    a.backbtn i, a.nxtbtn i {
        margin: 4px 0px;
    }

a.nobtn {
    background: none;
    color: #888;
    padding: 10px;
}

    a.nobtn:hover {
        text-decoration: none;
    }

.FTStep .select {
    margin-top: 50px;
    border: 1px dashed #999;
    padding: 20px;
    border-radius: 5px;
}

    .FTStep .select h3 {
        font-family: Dbold;
        font-size: 17px;
        color: #444;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0px;
    }

    .FTStep .select a {
        background: #e6e6e6;
        border: 1px solid #ddd;
        color: #222;
        padding: 7px 12px;
        display: inline-block;
        margin: 5px;
        font-size: 15px;
        border-radius: 4px;
        transition: 0.4s;
    }

        .FTStep .select a:hover, .FTStep .select a:focus {
            background: #ff6600;
            border: 1px solid #de5900;
            text-decoration: none;
            color: #fff;
            transition: 0.4s;
        }

.tabfltr {
    padding: 5%;
    background: #fff;
    border: 1px solid #dedede;
}

    .tabfltr label {
        font-weight: normal;
        font-family: Dbold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ff6600;
    }

    .tabfltr .form-control, .MainReview .form-control {
        border-radius: 0px;
        color: #111;
        height: auto;
        padding: 10px 15px;
        font-size: 17px;
    }

.ExploreCourseBanner {
    background: url(../img/courseDetailBg.png) no-repeat center center #231d19;
    background-size: 100%;
    background-attachment: fixed;
    padding: 40px 0px;
}

    .ExploreCourseBanner h1 {
        font-size: 26px;
        margin: 0px 0px 10px 0px;
        color: #fff;
    }

    .ExploreCourseBanner h2 {
        font-size: 35px;
        margin: 0px 0px 40px 0px;
        color: #fff;
        font-family: Dbold;
    }

    .ExploreCourseBanner .link a {
        background: #ff6600;
        padding: 10px 20px;
        color: #fff;
        font-size: 17px;
        text-transform: uppercase;
        border-radius: 4px;
        border: 2px solid #ff6600;
        transition: 0.4s;
    }

        .ExploreCourseBanner .link a:hover {
            background: none;
            border: 2px solid #ff6600;
            transition: 0.4s;
            text-decoration: none;
        }

    .ExploreCourseBanner .vchat {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 7px;
        box-shadow: 2px 2px 4px rgba(82, 82, 82, 0.65);
        transition: 0.4s;
    }

        .ExploreCourseBanner .vchat:hover {
            transition: 0.4s;
            box-shadow: 2px 2px 4px rgba(82, 82, 82, 0);
        }

        .ExploreCourseBanner .vchat img {
            width: 100%;
        }

        .ExploreCourseBanner .vchat a {
            color: #ff6600;
            font-size: 14px;
        }

            .ExploreCourseBanner .vchat a:hover {
                color: #fff;
                text-decoration: none;
            }

.ECStrip {
    background: #f3f3f3;
    box-shadow: 2px 2px 4px #ddd;
}

    .ECStrip ul {
        list-style: none;
        margin: 0px;
    }

        .ECStrip ul li {
            display: inline-block;
            margin-right: 15px;
            padding: 15px 0px 11px 0px;
            border-bottom: 4px solid rgba(255, 255, 255, 0);
            transition: 0.4s;
        }

            .ECStrip ul li a {
                color: #111;
                font-size: 16px;
                text-transform: uppercase;
                padding: 15px;
            }

                .ECStrip ul li a:hover {
                    color: #111;
                    font-size: 16px;
                    text-transform: uppercase;
                    padding: 15px;
                }

            .ECStrip ul li.active, .ECStrip ul li:hover {
                border-bottom: 4px solid #ff6600;
                transition: 0.4s;
            }

                .ECStrip ul li.active > a {
                    color: #ff6600;
                    font-family: Dbold;
                }

            .ECStrip ul li > a:hover {
                color: #ff6600;
                text-decoration: none;
            }

            .ECStrip ul li i {
                margin-right: 4px;
            }

.ECmain {
    background: #e4e7ea;
    min-height: 300px;
    padding: 30px 0px;
}

.EXSide {
    padding: 15px 0px;
}

    .EXSide h2 {
        color: #ff6600;
        font-family: Dbold;
        font-size: 17px;
        margin-top: 0px;
        margin-bottom: 20px
    }

input[type=checkbox].D-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    input[type=checkbox].D-checkbox + label.D-label {
        padding-left: 30px;
        height: 22px;
        display: inline-block;
        line-height: 22px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 13px;
        vertical-align: middle;
        cursor: pointer;
        transition: 0.7s;
        font-family: Dnormal;
    }

    input[type=checkbox].D-checkbox:checked + label.D-label {
        background-position: 0 -22px !important;
        transition: 0.7s;
    }

label.D-label {
    background-image: url('../frontimg/D-checkbox.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.EXSide ul {
    list-style: none;
}
.EXSide ul li{
    list-style: none;
}
.ECmain .listing {
    padding: 15px
}
.ECmain .listing .box{
    background: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(108, 108, 108, 0.29);
    height: 340px;
    padding: 20px;
    margin-bottom: 30px
}
.ECmain .listing .box h1{
    color: #ff6600;
    font-family: Dbold;
    font-size: 20px;
    margin: 0px
}
.ECmain .listing .box h2{
    color: #444;
    font-size: 16px;
    margin: 10px 0px
}
.ECmain .listing .box .mid{
    padding: 10px 0px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0px
}
.ECmain .listing .box p{
    margin: 0px 0px 2px 0px;
    font-size: 13px;
    color: #756d6d
}
.ECmain .listing .box h4{
    margin: 0px;
    font-size: 15px;
    font-family: Dbold;
    color: #25262e
}
.ECmain .listing .box .teacher{
    padding: 7px 0px;
    margin-bottom: 10px
}
.ECmain .listing .box .teacher p{
    font-size: 13px;
    color: #949494;
    margin: 0px
}
.ECmain .listing .box .teacher img{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    margin: 7px 10px 0px 0px
}
.ECmain .listing .box .bottom{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background: #ff6600;
    border-radius: 0px 0px 2px 2px;
    padding: 10px 15px;
}
.ECmain .listing .box .bottom h2{
    color: #fff;
    font-family: Dbold;
    margin: 0px;
    font-size: 18px
}
.ECmain .listing .box .bottom p{
    color: #fff;
    margin: 5px 0px 0px 0px;
    font-size: 13px
}
.ECmain .listing .box .bottom p i{
    margin-right: 4px;
    font-size: 11px
}
.ECmain .listing .box .bottom a{
    display: block;
    background: #fff;
    color: #ff6600;
    text-align: center;
    font-size: 16px;
    padding: 7px;
    font-family: Dbold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #b74900;
    margin-top: 2px;
    transition: 0.4s;
}
.ECmain .listing .box .bottom a:hover{
    box-shadow: 0px 0px 0px #ff6600 !important;
    margin-top: 4px;
    transition: 0.4s;
    text-decoration: none
}
.CourseBann {
    background: url(../img/courseDetailBg.png) no-repeat center center #231d19;
    padding: 30px 0px;
    background-size: 100%;
    background-attachment: fixed
}
.CourseBann h1{
    color: #ff6600;
    font-family: Dbold;
    font-size: 26px;
    margin: 0px
}
.CourseBann h5{
    color: #fff;
    font-size: 18px;
    margin: 10px 0px 26px 0px
}
.CourseBann h5 span{
    margin-right: 10px;
    border-right: 1px solid #fff;
    padding-right: 10px
}
.CourseBann h5 span:last-child{
    border-right: 0px solid #fff;
}
.CourseBann p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.CourseBann p span{
    font-family: Dbold;
    text-transform: uppercase;
    color: #ff6600;
}
    .CourseBann .price {

        background: url('../frontimg/corner.png') no-repeat bottom right rgba(0, 0, 0, 0.5);
        padding: 20px 30px;
        border-radius: 5px;
    }
.CourseBann .price p{
    color: #fff;
    font-size: 15px;
}
.CourseBann .price p i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    margin-right: 10px
}
.CourseBann .price p span{
    color: #fff;
    letter-spacing: 1px
}
.CourseBann h6{
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
}
.CourseBann h2{
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Dbold;
    margin: 0px 0px 15px 0px
}
.cdtab {
    background: #f5f5f5 !important;
}
.MCContent .cdtab > li > a {
    padding-top: 15px !important
}
.MCContent .cdtab > li.active > a, .MCContent .cdtab > li.active > a:hover, .MCContent .cdtab > li.active > a:focus {
    background: #f5f5f5 !important
}
.cdtab .tab-pane {
    background: #e4e7ea !important;
    padding: 26px 0px !important
}
.TeacherBox a.call {
    background: none;
    color: #00b56b;
    padding: 7px;
    border: 1px solid #00b56b;
    padding: 5px 20px 7px 20px;
    border-radius: 50px;
    text-transform: capitalize
}
.TeacherBox a.msg {
    background: #02a0ff;
    color: #fff;
    padding: 7px;
    border: 1px solid #02a0ff;
    padding: 5px 20px 7px 20px;
    border-radius: 50px;
    text-transform: capitalize
}
.cddata {
    text-align: left
}
.cddata .box{
    margin-bottom: 15px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 15px
}
.cddata .box:last-child{
    margin-bottom: 5px;
    border-bottom: 0px dashed #ddd;
    padding-bottom: 5px
}
.cddata p{
    margin: 0px 0px 5px 0px;
    color: #777;
    font-size: 14px
}
.cddata p span{
    margin-left: 10px;
    color: #ff6600;
    font-weight: bold
}
.cddata h4{
    margin: 0px;
    color: #111;
    font-size: 17px;
    font-family: Dbold;
}
.cddata h4 span{
    margin: 0px;
    color: #111;
    font-size: 17px;
    font-family: Dbold;
    margin-right: 10px
}
.cddata h4 span.off{
    color: #b5b1b1
}
.cddata h4 i{
    margin: 0px;
    color: #ff6600;
    font-size: 13px;
    margin-right: 5px
}
.cddata h4 i.off{
    color: #b5b1b1
}

.cddata a.enroll{
    background: #ff6600;
    color: #fff;
    font-size: 18px;
    padding: 7px;
    display: block;
    text-align: center
}
.ShowSchedule {
    background: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #dedede
}
.ShowSchedule a{
    color: #222;
    font-size: 14px;
    transition: 0.4s;
}
.ShowSchedule a i{
    margin-left: 5px;
}
.ShowSchedule a:hover{
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.4s;
}
.datesche {
    text-align: center;
    padding: 5px;
    border: 1px solid #d2cdcd
}
.datesche h3{
    color: #292c2f;
    font-family: Dbold;
    font-size: 20px;
    margin: 0px
}
.datesche p{
    color: #999;
    font-size: 13px;
    margin-bottom: 0px
}
.txtsche {
    background: #f5f3f3;
    padding: 15px;
    border: 1px solid #d2cdcd
}
.txtsche p{
    color: #292c2f;
    font-size: 16px;
    margin: 0px
}
.flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.schmain {
    background: #fff;
    padding: 15px;
    border: 1px solid #d2cdcd
}
.mb15 {
    margin-bottom: 15px
}
.cddyou {
    background: #fff;
    padding: 15px;
    border: 1px solid #d2cdcd;
    margin-bottom: 30px
}
.cddyou h4{
    font-size: 14px;
    color: #444;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: Dbold;
}
.cddyou .box{
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
}
.cddyou .box h1{
    color: #444;
    font-size: 17px;
    margin: 0px;
}
.cddyou .box p {
    font-size: 12px;
    margin: 0px;
}
.cddyou .box p.green {
    color: green
}
.cddyou .box p.blue {
    color: blue
}
.cddyou .box p.red {
    color: red
}
.cddyou h6{
    font-size: 17px;
    font-family: Dbold;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}
.msgmodal {
    padding: 15px;
}
.msgmodal .form-control{
    border-radius: 0px;
    margin-bottom: 10px
}
.topdp img{
    position: absolute;
    width: 36px;
    top: 18px;
    right: 55px;
    border-radius: 50%;
}
.topdp a span{
    font-family: Dnormal
}
i.noti {
    background: #ff6600;
    padding: 7px;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 23px;
    color: #fff
}
.userdd {
    background: #fff !important;
    border-color: #ddd !important;
}
    .userdd > li > a {
        color: #444 !important;
        text-transform: capitalize !important;
    }
    .userdd > li > a:hover{
        color: #ff6600 !important;
        text-transform: capitalize !important;
    }
    .userdd > li > a i, .notidd > li > a i{
        margin-right: 10px;
        margin-left: 0px !important
    }
.notidd {
    background: #fff !important;
    border-color: #ddd !important;
    max-width: inherit;
    width: 250px;
    right: -50px !important;
    min-height: 150px;
    padding: 10px
}
.notidd > li > a {
        color: #ff6600 !important;
        text-transform: capitalize !important;
        font-size: 13px;
        padding: 10px;
        white-space: initial;
        border-bottom: 1px solid #eee
    }
.notidd > li:last-child > a {
        border-bottom: 0px solid
    }
.notidd > li > a:hover{
        color: #000000 !important;
    }
.whitemain {
    background: #f9f9f9;
    padding: 80px 0px
}
.Dash-profile {
    padding: 0px 0px 20px 0px;
    box-shadow: 2px 2px 5px #b3b3b3;
    margin-top: 20px
}
    .Dash-profile .dpareatop {
        background: #272e40;
        height: 70px;
    }
    .Dash-profile .dpareatop a{
        position: absolute;
        top: 10px;
        right: 10px;
        color: #b6bfc1;
        font-size: 12px;
        transition: 0.3s;
    }
    .Dash-profile .dpareatop a:hover{
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    }
    .Dash-profile .dpareatop a i{
        margin-right: 4px
    }
.Dash-profile .dparea{
    text-align: center;
    background: #fff;
    padding: 0px 15px 20px 15px;
    border-top: 3px solid #ff6600
}
.Dash-profile .dparea img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -35px;
    border: 3px solid #ff6600;
    margin-bottom: 15px
}
.Dash-profile .dparea a.displayName{
    font-family: Dbold;
    text-transform: uppercase;
    font-size: 15px;
    color: #171a1d;
}
.Dash-profile .dparea a.displayName span{
    font-family: Dnormal;
    text-transform: uppercase;
    font-size: 15px;
    color: #171a1d;
}
    .Dash-profile .dparea p.locatn {
        font-size: 12px;
        color: #000000;
        margin-bottom: 5px
    }
    .Dash-profile .dparea .grade{
        background: #fff;
        padding: 7px 0px;
        text-align: center;
        margin: 10px 0px
    }
    .Dash-profile .dparea .grade p{
        color: #171a1d;
        font-size: 13px;
        margin: 0px;
        text-transform: uppercase
    }
    .Dash-profile .dparea .grade p i{
        margin-right: 4px
    }
    .Dash-profile .dparea .links{
        margin-top: 15px;
        border-top: 1px solid #a2a2a2;
        padding: 15px 0px;
        text-align: left
    }
    .Dash-profile .dparea .nav-pills > li > a {
        padding: 7px 15px;
        color: #ff6600;
        border-bottom: 1px dashed #b7b7b7;
        font-family: Dbold;
        text-transform: uppercase
    }
    .Dash-profile .dparea .nav-pills > li > a span{
        background: #171a1d;
        color: #fff;
        padding: 2px 7px;
        border-radius: 4px;
        font-size: 12px;
        font-family: Dnormal
    }

.std-dash {
}
.std-dash h2.title{
    text-align: center;
    color: #111;
    font-size: 26px;
    font-family: Dbold;
    text-transform: uppercase;
    margin-bottom: 40px
}
    .std-dash .daybox {
        margin: 0px 10px 10px 0px;
        background: #fff;
        box-shadow: 2px 2px 4px #ddd;
        width: 90px;
        height: 100px;
        float: left;
        padding: 7px;
        text-align: center;
        transition: 0.4s;
    }
    .std-dash .daybox.Active{
        background: #ff6600;
    }
    .std-dash .daybox.Active > p, .std-dash .daybox.Active > h4{
        color: #fff;
    }
    .std-dash .daybox:hover{
        box-shadow: 0px 0px 0px #ddd;
        transition: 0.4s;
    }
    .std-dash p.day{
        font-size: 12px;
        color: #777;
        margin-top: 10px;
        margin-bottom: 0px
    }
    .std-dash p.day span{
        font-size: 16px;
        color: #111;
        font-family: Dbold
    }
    .std-dash .daybox h4{
        font-size: 15px;
        color: #ff6600;
        font-family: Dbold;
        margin: 0px
    }
    .std-dash .daybox h4 span{
        font-size: 14px;
        font-family: Dnormal;
    }
.std-dash-box-main {
    padding: 0px;
}
.std-dash-box-main .box{
    background: url(../img/boxbg.jpg) no-repeat center bottom;
    background-size: 100%;
    background-attachment: fixed;
    padding: 10px;
    height: 150px;
    text-align: center;
    margin-bottom: 30px
}
.std-dash-box-main .box .bdr1{
    border: 1px solid #fff;
    height: 100%;
    padding: 7px;
}
.std-dash-box-main .box h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Dbold;
    text-shadow: 2px 2px 2px #005b7e
}
.std-dash-box-main .box h4{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-family: Dbold;
    text-shadow: 2px 2px 2px #005b7e
}
.stdpf {
    background: url('../frontimg/StdPfBg.jpg') no-repeat top center;
    background-size: 100%;
    background-attachment: fixed;
}
.TchrPfBg {
    background: url('../frontimg/TchrPfBg.jpg') no-repeat center bottom;
    background-size: 100%;
    background-attachment: fixed;
}
/*  Teacher Section */

.TeacherBlueBg {
    min-height: 100vh;
    padding: 120px 0px 50px 0px;
    background: url('../frontimg/TRBg.png') no-repeat bottom center;
    background-size: 100%;
    background-attachment: fixed;
}
.Tbox {
    background: rgba(255, 255, 255, 0.9);
    padding: 0px 15px 30px 15px;
    border-top: 4px solid #ff6600;
    box-shadow: 2px 2px 4px #8a7b7b;
}
    .Tbox .nav-tabs > li > a, .Tbox .nav-tabs > li > a, .Tbox .nav-tabs > li > a {
        padding: 5px;
        font-size: 20px;
        color: #000000;
    }
    .Tbox .nav-tabs > li.active > a, .Tbox .nav-tabs > li.active > a:hover, .Tbox .nav-tabs > li.active > a:focus {
        background: #ff6600;
        color: #fff;
        border-bottom-color: #ff6600;
        font-family: Dbold;
    }
    .Tbox .topp {
        margin-bottom: 30px;
        background: #fff;
        padding: 15px;
    }
    .Tbox .topp h3{
    margin: 0px;
    font-family: Dbold;
    color: #000000;
}
    .Tbox .topp p{
        margin: 0px;
        color: #ff6600
    }
.my-field {
    border: 1px solid #ff6600;
    border-radius: 0px;
    color: #000000;
}
hr.blk {
    border: 1px solid #999;
    height: 1px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px
}
span.pipe {
    border-left: 1px solid #777;
    margin-left: 5px;
    margin-right: 5px
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.Tbox .my-field {
    border: 1px solid #999 !important
}
.statbx {
    text-align: center;
    padding: 15px;
    border: 2px solid #ff6600;
    border-radius: 10px
}
.statbx h3{
    font-size: 18px;
    margin-bottom: 0px;
    color: #1170c3
}
.statbx h2{
    font-family: Dbold;
    margin-bottom: 0px;
    margin-top: 7px;
    color: #4b4b4b;
}
.ssbox {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    transition: 0.4s;
}
.ssbox:hover {
    box-shadow: 2px 2px 4px #777;
    transition: 0.4s;
}
.new {
    background: url('../frontimg/newlabel.png') no-repeat right top 4px;
}
.ssbox h2{
    margin: 0px;
    font-family: Dbold;
    font-size: 17px;
    color: #2e2d2d;
}
.ssbox h2 span{
    margin: 0px;
    font-family: Dnormal;
    font-size: 15px;
    color: #777;
}
.ssbox p{
    margin: 5px 0px 0px;
    font-size: 13px;
    color: #444;
}
.ssbox p a{
    font-size: 13px;
    color: #ff6600;
    font-family: Dbold
}
    .ssbox img.ssuser {
        width: 100%;
        border-radius: 10px
    }
.ssbox h5{
    margin: 5px 0px 0px;
    font-size: 13px;
    color: #444;
}
.ssbox h5 span{
    font-family: Dbold;
}
.ssbox .btn{
    background: #ff6600;
    color: #fff;
    margin-top: 12px;
    position: absolute;
    bottom: 0px
}
.pad15 {
    padding: 15px !important
}
.notilst {
    border-bottom: 1px solid #d2cdcd;
    padding: 15px 0px;
}
.notilst h6{
    margin: 0px;
    color: #444;
    font-size: 14px;
}
.notilst p{
    margin: 0px;
    color: #999;
    font-size: 11px;
    text-align: right
}


/*  Responsive Classes  */

@media only screen and (max-width: 768px) {
    .navbar-brand {
        width: 270px;
        padding: 10px;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 5px 10px;
    }

    nav.abt, .fixed {
        height: 57px;
    }

    .navbar-default .navbar-collapse {
        background: #dcdcdc;
        border-color: #ff6600;
    }

    .NextBanner p span.line {
        display: none;
    }

    .HomeBanner {
        min-height: initial;
        margin-bottom: 15px;
    }

    #HomeBanner {
        height: auto !important;
    }

        #HomeBanner .carousel-caption {
            top: 60px;
        }

    .HomeBanner h1 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    .HomeBanner a {
        display: none;
    }

    .NextBanner {
        padding-bottom: 10px;
    }

        .NextBanner h1 {
            font-size: 21px;
        }

        .NextBanner .ChoiceBlock .block {
            text-align: center;
            margin-bottom: 20px;
        }

            .NextBanner .ChoiceBlock .block p {
                text-align: center;
            }

            .NextBanner .ChoiceBlock .block h4 {
                text-align: center;
            }

    .TagBlock {
        margin-top: 26px;
        text-align: justify;
    }

        .TagBlock a {
            padding: 5px 10px;
            margin: 5px;
        }

    .HomeStory {
        padding: 15px 0px 40px 0px;
    }

    h1.ThinTitle {
        font-family: Dnormal;
        font-size: 24px;
        margin-bottom: 26px;
    }

    .HomeStory .reviews {
        margin-bottom: 15px;
    }

    .Tpromise {
        margin-top: 0px;
    }

    h2.Ttitle {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .HomeGrade {
        background-size: auto;
        background: url(../img/grade.png) center left #fff;
        padding: 50px 10px;
    }

    .HomeWhyUs {
        padding: 20px 0px;
    }

        .HomeWhyUs h1 {
            font-size: 22px;
            margin-bottom: 5px;
        }

    .HomeLearnMore {
        background-attachment: initial;
        background-size: auto 100%;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .HomeFacts {
        text-align: center;
    }

        .HomeFacts .col-md-4 {
            border-right: 0px solid;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
        }

    .Footer {
        background-attachment: initial;
        background-size: auto 100%;
        padding-top: 20px;
    }

        .Footer .fblock {
            text-align: center;
        }

    .leftAlign, .rightAlign {
        text-align: center;
    }

    .bottomFooter p {
        margin-bottom: 15px;
    }

    .HomeBranding {
        background: #dfdfdf;
    }

    .FRDArea {
        display: initial;
    }

    .FRDbox {
        display: initial;
        border: 0px !important;
    }

        .FRDbox .content p {
            margin-bottom: 45px;
        }

    .InnerArea {
        padding-top: 53px;
    }

    .logoIconMiddle img {
        border: 1px solid #e6e6e6;
        width: 60px;
        margin-top: -70px;
    }

    .mt180 {
        margin-top: 100px;
    }

    .White79 {
        padding-top: 54px;
    }

    .coursebox1 .bottom p {
        text-align: center;
    }
}
