/*
* Wedoor v-1.1
* Copyright 2015, Crelegant Team
* www.crelegant.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 01/07/2015
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- 1. Global Styles 
    1.1 Padding Margin
    1.2 Spacers
    1.3 Form Styles

- 2. Top Bar Section

- 3. Navigation

- 4. Banner
    4.1 Infobox

- 5. Breadcrumb

- 6. Contact Form

- 7. Sidebar

- 8. Search & Slide Section

- 9. Featured Properties Section

- 10. Talent Agents

- 11. Latest News

- 12. Subscribe

- 13. Clients

- 14. Footer section

- 15. Blog Section

- 16. Agents Page

- 17. Property Details Page

- 18. Testimonial Sec

- 19. About Page

- 20. Services Page

- 21. Pricing Page

- 22. 404 Page

- 23. Responsive Style

*/

/* 1. Global Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: 'Montserrat', sans-serif;
    background: #f3f3f3;
}

a:hover,
a:focus {
    text-decoration: none;
}

Iframe {width: 100%; border: none;}

/* 1.1 Padding Margin 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.p0 {
    padding: 0px !important;
}

.p5 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.p25 {
    padding: 25px !important;
}

.p30 {
    padding: 30px !important;
}

.p35 {
    padding: 35px !important;
}

.p40 {
    padding: 40px !important;
}

.p45 {
    padding: 45px !important;
}

.p50 {
    padding: 50px !important;
}

.m5tn {
    margin-top: -5px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.m0 {
    margin: 0px !important;
}

.m5 {
    margin: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.m20 {
    margin: 20px !important;
}

.m25 {
    margin: 25px !important;
}

.m30 {
    margin: 30px !important;
}

.m35 {
    margin: 35px !important;
}

.m40 {
    margin: 40px !important;
}

.m45 {
    margin: 45px !important;
}

.m50 {
    margin: 50px !important;
}

/* 1.2 Spacer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.spacer-5,
.spacer-10,
.spacer-20,
.spacer-30,
.spacer-40,
.spacer-50,
.spacer-60,
.spacer-70,
.spacer-80,
.spacer-90,
.spacer-100 {
    display: block;
    clear: both;
    overflow: hidden;
}

.spacer-5 {
    height: 5px
}

.spacer-10 {
    height: 10px
}

.spacer-20 {
    height: 20px
}

.spacer-30 {
    height: 30px
}

.spacer-40 {
    height: 40px
}

.spacer-50 {
    height: 50px
}

.spacer-60 {
    height: 60px
}

.spacer-70 {
    height: 70px
}

.spacer-80 {
    height: 80px
}

.spacer-90 {
    height: 90px
}

.spacer-100 {
    height: 100px
}

/* 1.3 Form Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button.btn-primary {
    background: #ef7351 !important;
    transition: 0.4s ease all;
}

button.btn-primary:hover {
    background: #DD6443 !important;
}

.form-control::-webkit-input-placeholder {
    color: #989b9c;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    
    color: #989b9c;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #989b9c;
}

.form-control:-ms-input-placeholder {
    color: #989b9c;
}

select.form-control option {
    color: #333;
}

select.form-control {
    color: #989b9c;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: url('../images/drop.jpg') no-repeat top right;
}

/* 2. Top Bar Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section.top_sec {
    background: #023956;
    border-top: 4px solid #ef7351;
}

section.top_sec .col-md-6 div {
    display: inline-block;
}

section.top_sec .col-md-6.top_rgt {
    text-align: right;
}

.soc_ico ul {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    border-right: 1px solid #356178;
}

.soc_ico ul li {
    display: inline-block;
    margin-right: 12px;
}

.soc_ico ul li:last-child {
    margin-right: 20px;
}

.soc_ico ul li a {
    font-size: 12px;
    color: #c9ced1;
    line-height: 44px;
    transition: 0.5s ease all;
}

.soc_ico ul li a:hover {
    color: #fff;
}

.inf_txt p {
    font-size: 12px;
    color: #c9ced1;
    line-height: 44px;
    padding-left: 20px;
    margin-bottom: 0;
}

.sig_in p,
.sig_in a {
    font-size: 12px;
    color: #c9ced1;
    padding: 0 5px;
    transition: 0.5s ease all;
    margin-bottom: 0;
}

.sig_in a:hover {
    text-decoration: none;
    color: #fff;
}

h3.subm_btn {
    font-size: 13px;
    color: #fff;
    padding: 0 15px;
    margin: 0;
    margin-left: 15px;
    line-height: 44px;
    background: #ef7351;
    text-transform: uppercase;
}

h3.subm_btn a {
    color: #fff;
}

h3.subm_btn a:hover {
    color: #9B4100;
    text-decoration: none;
}

h3.subm_btn i {
    padding-right: 10px;
}

div#login_box .modal-dialog,
div#prop_box .modal-dialog,
div#reg_box .modal-dialog {
    width: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease all;
    max-width: 96%;
}

div#prop_box .modal-dialog {
    width: 550px;
}

.modal-content {
    border-radius: 0;
}

.modal-content .modal-body {
    padding: 30px;
}

button.close {
    opacity: 1;
}

div#login_box h2.frm_titl,
div#prop_box h2.frm_titl,
div#reg_box h2.frm_titl {
    font-size: 20px;
    margin: 0 0 30px;
    line-height: normal;
}

.log_form .form-control {
    background: #ebebeb;
    border: none;
    box-shadow: none;
    color: #777;
}

.log_form .control-group.form-group {
    margin-bottom: 0;
}

.log_form .controls {
    margin-bottom: 15px;
}

.log_form textarea.form-control {
    height: 120px;
}

.log_form .form-group .controls.col-md-6 {
    padding: 0;
    padding-left: 15px;
}

.log_form .checkbox {
    margin-bottom: 20px;
    padding: 0;
}

.log_form .forg_pass {
    margin: 10px 0 20px;
    padding: 0;
}

.log_form .checkbox label {
    color: #a5a5a5;
    font-size: 12px;
}

.log_form .forg_pass a {
    font-size: 12px;
    text-decoration: none;
    color: #a5a5a5;
}

.log_form .forg_pass a:hover {
    color: #ef7351;
}

.log_form button.btn.btn-primary {
    border-radius: 0;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background: #ef7351;
    border: 0;
    text-transform: uppercase;
    width: 100%;
}

/* 3. Navigation 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav.navbar {
    border: none;
    margin-bottom: 0;
    background: #fff;
}

a.navbar-brand {
    height: auto;
    padding: 10px 15px;
    margin: 30px 0;
}

.navbar-collapse {
    padding: 0;
}

ul.nav.navbar-nav.navbar-right {
    margin: 30px 0;
    padding: 0 20px;
    background: #ebebeb;
}

ul.nav.navbar-nav.navbar-right li {
    padding: 0 15px;
}

.navbar-nav > li > a {
    padding: 22px 5px;
    color: #1f2223;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: 0.5s all ease;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a.active {
    color: #ef7351;
    border-bottom: 2px solid #ef7351;
    background: transparent;
}

.navbar-toggle {
    background-color: #aaa;
    margin: 40px 30px;
}

.navbar-toggle:hover {
    background-color: #ddd;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-nav > li:hover .dropdown-menu {
    display: block;
}

.navbar-nav > li > ul.dropdown-menu {
    background: #eee;
    border: none;
    left: 0;
    border-top: 2px solid #ef7351;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    transition: all 0.5s ease;
    top: 97%;
}

ul.nav.navbar-nav.navbar-right li ul.dropdown-menu li {
    padding: 0;
    border: none;
}

.navbar-nav > li > ul.dropdown-menu a {
    padding: 10px 15px;
    text-align: left;
    font-size: 13px;
    line-height: 24px;
}

/* 4. Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header#banner {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

header#banner .bannr_sec:after {
    background: rgba(0, 0, 0, 0.3);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bannr_sec {
    height: 100%;
    min-height: 325px;
    position: relative;
}

header#banner .owl-controls.clickable {
    margin: 0;
}

header#banner .owl-controls .owl-buttons div {
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
}

.flex-direction-nav a:before {
    font-family: 'FontAwesome';
    content: "\f053";
    font-size: 10px;
    color: #1f2223;
}

.flex-direction-nav .flex-prev {
    left: 2px;
}

.flex-direction-nav a {
    opacity: 1;
    width: 44px;
    line-height: 44px;
    background: #fff;
    padding: 0 20px;
}

.flex-direction-nav a:hover {
    background: #ccc;
}

.flex-direction-nav .flex-next {
    right: inherit;
    left: 48px;
}

.flex-direction-nav a.flex-next:before {
    content: "\f054";
}

h1.main_titl {
    margin-top: 0;
    display: block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px #333;
    font-weight: bold;
}

h4.sub_titl {
    margin-bottom: 0;
    display: block;
    text-align: center;
    text-shadow: 0px 1px 3px #333;
    color: #fff;
    font-style: italic;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.bannr_sec img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bannr_sec h1.main_titl,
.bannr_sec h4.sub_titl {
    position: relative;
    top: 95px;
    z-index: 100;
}

.bannr_sec2 {
    padding: 0px 0px;
    margin: 0px auto;
}

.bannr_sec2 div#map {
    width: 100%;
    min-height: 450px;
}

.bannr_sec2 h3.sec_titl {
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* 4.1 Infobox 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.infoBox img {
    top: 5px;
    z-index: 111;
    position: absolute !important;
    right: 5px;
    opacity: 0.5;
}

.infoBox img:hover {
    opacity: 1;
}

.infoBox .col-xs-12.p0 {
    margin-top: -5px;
}

.bannr_sec2 #map .panel-image {
    height: 210px;
    min-width: 330px;
}

.bannr_sec2 #map .panel-image img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: initial !important;
    opacity: 1;
}

.bannr_sec2 .panel-body {
    padding: 20px 20px 0;
}

.markerLabels {
    margin-left: -14px !important;
    margin-top: -44px !important;
    width: 34px;
    height: 34px;
}

.markerLabels img {
    position: absolute;
    top: 1px;
    margin: 0 auto;
    left: 0;
}

.gm-style {
    font-family: 'Montserrat', sans-serif !important;
}

.bannr_sec2 .prop_feat {
    margin: 0 -20px;
    padding: 0 20px;
    border-top: 1px solid #d1d7da;
    line-height: 35px;
}

.bannr_sec2 .prop_feat p {
    margin-left: 15px;
}

.col_labls {
    margin: 15px 0;
}

.col_labls p {
    font-size: 12px;
    padding: 0 15px;
    line-height: 25px;
    display: inline-block;
    background: #ccc;
    color: #fff;
    margin-bottom: 0;
    margin-right: 5px;
}

p.or_labl {
    background: #ef7351;
}

p.blu_labl {
    background: #0e4f71;
}

/* 5. Breadcrumb 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header.bread_crumb {
    background: url('../images/breadcrumb_bg.jpg') no-repeat left top;
    background-size: 100% 100%;
}

header.bread_crumb .pag_titl_sec {
    padding: 80px 0 60px;
    text-align: center;
}

h1.pag_titl {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px #333;
}

.pag_titl_sec h1.pag_titl {
    margin-top: 0;
    margin-bottom: 20px;
}

.pag_titl_sec h4.sub_titl {
    margin-top: 0;
}

.pg_links p {
    font-size: 12px;
}

.pg_links {
    background: rgba(0, 0, 0, 0.3);
}

.pg_links p.lnk_pag,
.pg_links p.lnk_pag a {
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    line-height: 44px;
    text-transform: uppercase;
}

.pg_links .col-md-6.text-right p.lnk_pag a {
    text-transform: none;
}

.pg_links p.lnk_pag a:hover {
    color: #ef7351;
    text-decoration: none;
}

/* 6. Contact Form 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.cont_frm {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.cont_frm .controls {
    position: relative;
    margin-bottom: 25px;
}

.cont_frm .controls .in_ico {
    position: absolute;
    top: 0;
    font-size: 12px;
    line-height: 40px;
    right: 25px;
    color: #989898;
}

.cont_frm .controls.last {
    margin-bottom: 0;
}

.cont_frm textarea {
    height: 176px;
    padding-top: 10px;
}

.cont_frm .control-group.form-group {
    margin-bottom: 0;
}

.cont_frm button.btn.btn-primary {
    border-radius: 0;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background: #ef7351;
    border: 0;
    text-transform: uppercase;
    width: 100%;
}

/* 7. Sidebar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#sidebar h3.main_titl.text-left {
    border: 0;
}

section#sidebar .titl_sec {
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
}

.titl_sec .col-lg-12 {
    padding: 0;
}

section#sidebar .cont_info {
    background: #fff;
    padding: 25px;
    padding-top: 35px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.icon_box {
    line-height: 36px;
    display: inline-block;
    font-size: 12px;
    padding: 0 15px;
    background: #fafafa;
    border: 1px solid #e9e9e9;
    color: #ef7351;
}

p.infos {
    font-size: 12px;
    line-height: 36px;
    display: inline-block;
    padding-left: 15px;
    margin: 0;
    color: #989b9c;
}

p.infos a {
    color: #989b9c;
}

p.infos a:hover {
    color: #ef7351;
}

.info_sec {
    padding: 20px 0;
    border-bottom: 1px solid #edf0f2;
}

.info_sec.first {
    padding-top: 0;
}

.info_sec:after {
    content: "";
    display: block;
    clear: both;
}

.categ_info {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.categ_info .info_sec {
    padding: 15px 0;
}

.categ_info .info_sec.first {
    padding-top: 0;
}

.categ_info .info_sec p {
    padding-left: 10px;
    line-height: 1;
}

.categ_info .info_sec i {
    line-height: 1;
    color: #989b9c;
}

.info_sec .col-md-6 {
    padding: 0;
}

.categ_info a {
    text-decoration: none;
}

.categ_info a:hover p,
.categ_info a:hover i {
    color: #ef7351;
}

.side_feat {
    background: #fff;
    padding: 25px 25px 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.side_feat .panel.panel-default:after {
    content: "";
    display: block;
    clear: both;
}

.side_feat .panel-image {
    padding: 0;
}

.side_feat .panel-body.col-md-9 {
    padding: 0;
    padding-left: 20px;
}

.side_feat h3.sec_titl {
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0 10px;
    text-transform: none;
}

.side_feat .panel.panel-default {
    padding-bottom: 25px;
}

.tags_sec {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 15px;
}

.tags_box {
    background: #f1f3f5;
    display: inline-block;
    padding: 10px 15px;
    box-shadow: 0px 1px 3px rgba( 0, 0, 0, 0.2);
    margin: 0 0px 10px 10px;
}

.tags_box a {
    font-size: 12px;
    color: #989b9c;
    text-decoration: none;
}

.tags_box.first {
    margin-left: 0;
}

.tags_box:hover {
    background: #ef7351;
}

.tags_box:hover a {
    color: #fff;
}

/* 8. Search & Slide Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#srch_slide {
    margin-top: -70px;
    position: relative;
    z-index: 11;
}

.srch_frm {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.srch_frm h3 {
    font-size: 16px;
    margin: 0px;
    font-weight: bold;
    color: #1f2223;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.srch_frm label {
    font-weight: normal;
    color: #1f2223;
    font-size: 13px;
}

.form-control {
    height: 42px;
    font-size: 12px;
    border: 1px solid #d1d7da;
    border-radius: 0;
}

.form-group .controls.col-md-6 {
    padding: 0;
    padding-left: 30px;
}

.form-group .controls.col-md-6.first {
    padding: 0;
}

.srch_frm button.btn.btn-primary {
    border-radius: 0;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background: #ef7351;
    border: 0;
    text-transform: uppercase;
    margin-top: 5px;
}

.col-md-8.slide_sec .silde_img {
    border: 6px solid #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    position: relative;
}

.slide-info {
    position: absolute;
    width: 350px;
    right: 30px;
    bottom: 30px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.85);
}

.slide-info p.sli_price {
    color: #ef7351;
}

.slide-info p.sli_titl {
    color: #fff;
}

.slide-info p.sli_desc {
    color: #959595;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px;
}

.slide-info p {
    line-height: normal;
}

.controls.col-md-3.first {
    padding-left: 0;
}

.controls.col-md-3 {
    padding-left: 30px;
    padding-right: 0;
}

.control-group.form-group.col-md-11 {
    padding: 0;
    padding-right: 30px;
}

.sub_btn.col-md-1 {
    padding: 0;
    margin-top: 18px;
}

.clos_box a {
    position: absolute;
    font-size: 10px;
    color: #444;
    padding: 0 7px;
    background: #fff;
    top: 0;
    right: 0;
    line-height: 16px;
    text-decoration: none;
}

/* 9. Featured Properties Section 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.titl_sec {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    padding: 0 25px;
    margin: 0 15px;
    margin-bottom: 30px;
}

.titl_sec .col-lg-6 {
    padding: 0;
}

.titl_sec h3 {
    font-size: 16px;
    line-height: 60px;
    margin: 0;
    font-weight: bold;
    color: #1f2223;
    text-transform: uppercase;
}

.titl_sec h3.link_titl {
    font-weight: normal;
    font-size: 12px;
}

.titl_sec h3.main_titl {
    display: inline-block;
    border-bottom: 2px solid #ef7351;
}

.titl_sec h3.link_titl a {
    color: #0e4f71;
    text-decoration: none;
}

.titl_sec h3.link_titl a:hover {
    color: #ef7351;
}

.panel.panel-default {
    position: relative;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel-image {
    position: relative;
    border-bottom: 2px solid transparent;
}

.sal_labl {
    position: absolute;
    font-size: 12px;
    color: #fff;
    padding: 0 15px;
    background: #ef7351;
    top: 0;
    right: 0;
    line-height: 30px;
}

a.btn.btn_trans {
    font-size: 13px;
    color: #fff;
    min-width: 110px;
    background: transparent;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 0;
    line-height: 40px;
    padding: 0 15px;
}

.img_hov_eff {
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
}

.img_hov_eff a.btn.btn_trans {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.img_hov_eff a {
    color: #fff;
    text-decoration: none;
}

section#feat_propty .panel.panel-default:hover .img_hov_eff {
    opacity: 1;
    visibility: visible;
}

section#feat_propty .panel.panel-default:hover a.btn.btn_trans {
    top: 50%;
}

section#feat_propty .panel.panel-default:hover .panel-image {
    border-bottom: 2px solid #ef7351;
}

section#feat_propty .panel.panel-default:hover h3.sec_titl {
    color: #ef7351;
}

.row.prlist_sec .panel.panel-default:hover .img_hov_eff {
    opacity: 1;
    visibility: visible;
}

.row.prlist_sec .panel.panel-default:hover a.btn.btn_trans {
    top: 50%;
}

.row.prlist_sec .panel.panel-default:hover .panel-image {
    border-bottom: 2px solid #ef7351;
}

.row.prlist_sec .panel.panel-default:hover h3.sec_titl {
    color: #ef7351;
}

.panel-body {
    padding: 25px;
}

.prop_feat p {
    font-size: 12px;
    float: left;
    margin-left: 20px;
    color: #777;
    margin-bottom: 0;
}

.prop_feat p:first-child {
    margin-left: 0 !important;
}

.prop_feat p i {
    margin-right: 5px;
    margin-right: 5px;
}

.prop_feat:after,
.panel_bottom:after {
    content: "";
    display: block;
    clear: both;
}

h3.sec_titl {
    font-size: 14px;
    text-transform: uppercase;
    color: #0e4f71;
    margin-bottom: 20px;
}

h3.sec_titl a {
    color: #0e4f71;
    text-decoration: none;
}

h3.sec_titl a:hover {
    color: #ef7351;
}

p.sec_desc {
    font-size: 13px;
    color: #777;
    line-height: 21px;
    margin-bottom: 20px;
}

section#feat_propty .col-md-4 {
    position: relative;
}

section#feat_propty .panel-body {
    padding-bottom: 0;
}

.panel_bottom {
    margin: 10px -25px 0;
    padding: 0 0 0 25px;
    border-top: 1px solid #d1d7da;
}

.panel_bottom .col-md-6 {
    padding: 0;
}

.panel_bottom p {
    margin-bottom: 0;
}

.panel_bottom p.price {
    font-size: 13px;
    color: #ef7351;
    font-weight: bold;
    line-height: 35px;
}

p.readmore a {
    color: #989b9c;
    text-decoration: none;
}

p.readmore a:hover {
    color: #ef7351;
}

.panel_bottom p.readmore {
    float: left;
    width: 65%;
    line-height: 35px;
}

.share_btn {
    width: 34px;
    float: right;
    border: 1px solid #d1d7da;
    line-height: 34px;
    text-align: center;
    background: #ebeef0;
    border-top: 0;
    bottom: 0;
    right: 15px;
    position: absolute;
}

.share_btn a {
    color: #777;
}

.share_btn a:hover {
    color: #444;
}

.share_btn .soc_btn {
    opacity: 0;
    position: absolute;
    bottom: -100%;
    transition: 0.5s ease all;
    visibility: hidden;
}

.share_btn:hover .soc_btn {
    opacity: 1;
    bottom: 102%;
    left: -1px;
    visibility: visible;
}

.share_btn .soc_btn ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.share_btn .soc_btn li {
    width: 34px;
    line-height: 34px;
    text-align: center;
    background: #ebeef0;
}

.share_btn .soc_btn li:hover {
    background: #ddd;
}

.share_btn .share_btn a {
    color: #777;
    font-size: 12px;
    display: block;
}

/* 10. Talent Agents 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#talen_agent h3.sec_titl {
    margin: 0 0 10px;
}

p.phon {
    margin-bottom: 20px;
    color: #777;
}

.soc_icon a {
    width: 36px;
    line-height: 34px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #d1d7da;
    font-size: 12px;
    color: #777;
    margin-right: 5px;
}

.soc_icon a:hover {
    background: #ef7531;
    border-color: #ef7531;
    color: #fff;
}

.soc_icon {
    text-align: center;
}

section#talen_agent .panel.panel-default {
    overflow: hidden;
}

section#talen_agent hr {
    border-top-color: #d1d7da;
}

section#talen_agent p.sec_desc {
    margin-bottom: 0;
}

section#talen_agent .panel_hidd {
    opacity: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(0px);
    padding: 0 25px;
    transition: 0.5s ease all;
}

section#talen_agent .panel.panel-default img,
section#talen_agent .panel.panel-default .panel-body {
    transition: 0.5s ease all;
}

section#talen_agent .panel.panel-default:hover img,
section#talen_agent .panel.panel-default:hover .panel-body {
    transform: translateY(-120px);
}

section#talen_agent .panel.panel-default:hover .panel_hidd {
    transform: translateY(95px);
    opacity: 1;
}

/* 11. Latest News 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.news_dtd p,
p.readmore {
    font-family: georgia;
    font-size: 12px;
    color: #989b9c;
    font-style: italic;
    margin-bottom: 0;
}

.news_dtd a {
    color: #989b9c;
    text-decoration: none;
    font-weight: bold;
}

.news_dtd a:hover {
    color: #ccc;
}

/* 12. Subscribe
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#subscribe {
    background: #525b60;
    padding: 60px 0;
}

.subs_form .form-control {
    height: 42px;
    font-size: 12px;
    border: 1px solid #d1d7da;
    border-radius: 0;
    width: 50%;
    float: left;
}

.subs_form button.btn.btn-primary {
    line-height: 42px;
    padding: 0 20px;
    border-radius: 0;
    border: 0;
    background: #ef7351;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.subs_info h5 {
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.subs_info h2 {
    font-size: 20px;
    margin: 10px 0 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* 13. Clients
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#clients .row {
    margin: 0;
    background: #fff;
    padding: 20px 45px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

section#clients .owl_col {
    padding: 0;
    margin: 0 15px;
}

section#clients .owl_col .mid_img {
    width: 185px;
    height: 80px;
    background: transparent;
    border: 1px solid #e6e9ea;
    display: table-cell;
    vertical-align: middle;
}

section#clients .owl_col .mid_img img {
    margin: 0 auto;
    width: 88%;
}

/* 14. Footer section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer_top .container {
    background: url('../images/map.png') no-repeat center center;
    padding: 80px 15px;
    position: relative;
    background-size: cover;
}

.footer_top {
    background-color: #161e22;
}

h2.foot_title {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
}

h2.foot_title:after {
    content: "";
    height: 2px;
    width: 30px;
    display: block;
    margin-top: 15px;
    background: #fff;
}

.col-md-3.abt_sec p,
ul.tweets li,
ul.cont_info li {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 20px;
    margin-bottom: 0;
}

ul.foot_nav {
    list-style-type: none;
    padding: 0;
}

ul.foot_nav li a {
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #8c8c8c;
    font-size: 12px;
}

ul.foot_nav li:hover,
ul.foot_nav li:hover a {
    color: #ef7351;
}

ul.foot_nav li {
    position: relative;
    padding-left: 25px;
    color: #8c8c8c;
}

ul.foot_nav li:after {
    content: "\f054";
    position: absolute;
    height: 100%;
    vertical-align: middle;
    font-family: FontAwesome;
    z-index: 1;
    left: 0px;
    top: 0;
    font-size: 10px;
    line-height: 22px;
    display: inline-block;
}

ul.tweets,
ul.cont_info {
    list-style-type: none;
    padding: 0
}

ul.cont_info li a {
    color: #bbb;
}

ul.cont_info li a:hover {
    color: #ef7351;
}

ul.tweets li a {
    color: #ef7351;
    text-decoration: none;
}

ul.cont_info li i,
ul.tweets li i {
    float: left;
    margin-right: 15px;
    line-height: 20px;
}

ul.tweets li p.twee {
    float: right;
    width: 90%;
    margin-bottom: 0;
}

p.datd {
    width: 90%;
    float: right;
    font-family: georgia;
    font-style: italic;
    margin-bottom: 0;
}

ul.cont_info p {
    margin-bottom: 20px;
}

.footer_copy_right {
    background: #101619;
}

.footer_copy_right p {
    line-height: 80px;
    color: #7c7c7c;
    font-size: 12px;
    margin-bottom: 0;
}

.footer_copy_right a {
    color: #fff;
}

.footer_copy_right a:hover {
    color: #bbb;
    text-decoration: none;
}

/*15. Blog Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#blog_sec .row {
    margin: 0;
}

section#blog_sec .panel-default {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

section#blog_sec h3.sec_titl {
    font-size: 18px;
    font-weight: bold;
}

div#slide_pan .owl-controls.clickable {
    margin: 0;
}

#slide_pan .owl-buttons div {
    top: 50%;
    transform: translate(0, -50%);
    background: #e3e6e7;
    color: #5d5d5d;
    font-size: 12px;
}

section#lates_news .panel-body:hover p.readmore a,
section#lates_news .panel-body:hover h3.sec_titl {
    color: #ef7351;
}

.dat_labl {
    position: absolute;
    font-size: 12px;
    color: #fff;
    padding: 0;
    background: url('../images/blog_dt.jpg') no-repeat left top transparent;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 66px;
    text-align: center;
}

.dat_labl h2 {
    margin: 8px 0;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
}

.dat_labl h4 {
    margin: 0 0 12px;
    font-size: 12px;
    font-weight: bold;
}

.blog_feat p {
    font-size: 12px;
    float: left;
    margin-left: 20px;
    color: #777;
    margin-bottom: 0;
}

.blog_feat p:first-child {
    margin-left: 0 !important;
}

.blog_feat p span {
    margin-left: 20px;
}

.blog_feat p i {
    margin-right: 5px;
    margin-right: 5px;
    color: #ef7351;
}

.blog_feat:after,
.panel_bottom:after {
    content: "";
    display: block;
    clear: both;
}

p.readmore2 {
    margin: 0px;
    font-size: 12px;
    border: 1px solid #e9e9e9;
    display: inline-block;
    line-height: 30px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25)
}

p.readmore2:hover {
    box-shadow: none;
}

p.readmore2 a {
    color: #989b9c;
    text-decoration: none;
    padding: 0 15px;
    display: block;
    background: #e9e9e9;
}

.pagin ul {
    list-style-type: none;
    padding: 0;
}

.pagin ul li {
    display: inline-block;
    margin-right: 5px;
}

.pagin ul li a {
    padding: 0 20px;
    text-decoration: none;
    background: #fff;
    line-height: 32px;
    display: inline-block;
    color: #0e4f71;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.pagin ul li a.active,
.pagin ul li a:hover {
    background: #ef7351;
    color: #fff;
}

p.qou_txt {
    margin: 25px 0 45px 45px;
    float: right;
    position: relative;
    color: #b0b3b4;
}

p.qou_txt:before {
    content: open-quote;
    font-size: 0
}

p.qou_txt:after {
    content: close-quote;
    position: absolute;
    font-size: 48px;
    z-index: 11111;
    top: 0;
    line-height: 1;
    left: -25px;
    color: #989b9c;
}

section#blog_sec .row .row.nxt_pos h3.sec_titl {
    font-size: 14px;
    font-weight: normal;
    margin: 15px 0;
}

section#blog_sec .row.nxt_pos .col-md-5 {
    padding: 0;
}

section#blog_sec .row.nxt_pos .col-md-7 {
    padding: 0;
    padding-left: 25px;
    margin-bottom: 0;
}

p.blo_tags {
    margin-top: 20px;
    color: #989b9c;
    font-size: 12px;
}

p.blo_tags a {
    color: #989b9c;
    font-size: 12px;
}

p.blo_tags span {
    font-size: 14px;
    color: #1f2223;
    font-weight: bold;
    margin-right: 10px;
}

section#blog_sec .titl_sec {
    margin: 0 0 30px;
}

.row.commen_frm .control-group.form-group {
    padding-left: 30px;
    padding-right: 0;
}

.row.commen_frm .control-group.form-group.first {
    padding-left: 0;
}

.comm_sec {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.comm_sec .col-md-2 {
    padding: 0;
    padding-right: 20px;
}

.comm_sec .col-md-10 {
    padding-left: 10px;
    padding-right: 0;
    position: relative;
}

section#blog_sec .comm_sec h3.sec_titl {
    font-size: 14px;
    font-weight: normal;
    margin: 12px 0;
}

p.comm_dtd {
    color: #adb5b5;
    font-size: 12px;
    margin-bottom: 16px;
}

a.comm_repl {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    font-size: 12px;
    text-decoration: none;
    color: #777;
}

/* 16. Agents Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.agen_info .col-md-4,
.agen_info .col-md-8 {
    padding: 0;
}

.agen_desc .col-sm-4,
.agen_desc .col-sm-8 {
    padding: 0;
}

.agen_info .col-md-8 {
    padding-right: 15px;
}

.agen_info .panel-body {
    padding-bottom: 0;
}

.row.agen_desc {
    margin-left: 0;
}

.row.agen_desc h3.sec_titl {
    margin: 5px 0 10px;
}

.row.agen_desc p.sec_desc {
    color: #989b9c;
    margin: 0;
}

.row.agen_desc p.sec_desc:after {
    content: "";
    height: 1px;
    background: #d1d7da;
    width: 80px;
    display: block;
    margin: 25px 0;
}

/*
.agen_info img {
  height: 100%;
}
*/

.agen_feat p {
    font-size: 12px;
    float: left;
    margin-left: 35px;
    color: #777;
    margin-bottom: 0;
    line-height: 48px;
}

.agen_feat p a {
    color: #777;
}

.agen_feat p a:hover {
    color: #ef7351;
}

.agen_feat p:first-child {
    margin-left: 0 !important;
}

.agen_feat p i {
    color: #ef7351;
    margin-right: 5px;
}

.agen_feat:after {
    content: "";
    display: block;
    clear: both;
}

.agen_info2 .col-md-5,
.agen_info2 .col-md-7 {
    padding: 0;
}

.agen_info2 .col-md-5 {
    padding-right: 30px;
}

.agen_info2 .panel-body {
    padding: 0;
}

.agen_info2 {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.agen_info2 .panel_bottom {
    margin: 10px 0;
    border-bottom: 1px solid #d1d7da;
    padding: 0;
}

.cont_frm2 .controls {
    position: relative;
    margin-bottom: 15px;
}

.cont_frm2 textarea {
    height: 90px;
}

.cont_frm2 .control-group.form-group {
    margin-bottom: 0;
}

.agen_info2 p.desc {
    margin-bottom: 25px;
}

.cont_frm2 button.btn.btn-primary {
    border-radius: 0;
    height: 42px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
    background: #ef7351;
    border: 0;
    text-transform: uppercase;
}

h2.frm_titl {
    font-size: 12px;
    font-weight: bold;
    color: #1f2223;
    margin: 25px 0;
}

.row.prlist_sec .panel-body {
    padding-bottom: 0;
}

.row.prlist_sec .share_btn {
    position: initial;
}

.row.prlist_sec .share_btn:hover .soc_btn {
    left: inherit;
    right: 0px;
}

/* 17. Property Details Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#prop_detal .row {
    margin: 0;
}

section#prop_detal .panel-default {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

section#prop_detal h3.sec_titl {
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 10px;
}

section#prop_detal .agen_desc h3.sec_titl {
    margin: 5px 0 10px;
}

.col-md-12.rel_img {
    padding: 0 25px;
}

.rel_img ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0 -7px;
}

section#prop_detal .panel-body {
    padding-top: 0;
}

.rel_img ul li {
    float: left;
    width: 20%;
    padding: 0 1%;
}

ul#slid_nav:after {
    display: block;
    clear: both;
    content: "";
}

section#prop_detal .prop_feat {
    line-height: 40px;
    padding-left: 25px;
    background: #ebeef0;
    border: 1px solid #d1d7da;
}

.prop_feat .share_btn {
    width: 40px;
    line-height: 40px;
    border-bottom: 0;
    position: relative;
    right: 0;
}

.prop_feat .share_btn .soc_btn li {
    width: 40px;
    height: 40px;
}

.prop_feat .share_btn .soc_btn {
    bottom: initial;
    top: -80px;
}

.prop_feat .share_btn:hover .soc_btn {
    top: 41px;
}

.col_labls.larg_labl {
    margin: 15px 0 25px;
}

.col_labls.larg_labl p {
    font-size: 16px;
    padding: 0 20px;
    line-height: 40px;
}

.prop_addinfo {
    background: #fff;
    padding: 0 20px 25px;
    border: 3px solid #ebeef0;
    margin: 0px;
    position: relative;
}

.prop_addinfo:before {
    content: "";
    border-width: 0px 28px 28px 0px;
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent #ebeef0 transparent #ebeef0;
    border-style: solid;
}

.prop_addinfo:after {
    content: "";
    border-width: 28px 0px 0px 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: transparent #ebeef0 transparent #ebeef0;
    border-style: solid;
}

.prop_addinfo .col-md-5,
.prop_addinfo .col-md-3,
.prop_addinfo .col-md-4 {
    padding: 0;
}

.prop_addinfo .info_sec ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.prop_addinfo .info_sec ul li a {
    color: #989b9c;
    text-decoration: none;
}

.prop_addinfo .info_sec {
    padding: 0;
    border: none;
}

.prop_addinfo .info_sec p.infos span {
    color: #0e4f71;
}

.prop_addinfo h2.add_titl {
    margin: 0px -20px 25px;
    padding: 20px;
    font-size: 16px;
    border-bottom: 1px solid #dfe5e9;
}

section#prop_detal .agen_info .panel-body {
    padding: 20px 25px 0;
}

section#prop_detal .agen_info .col-md-8 {
    padding: 0;
}

section#prop_detal .agen_desc p.sec_desc:after {
    margin: 20px 0;
}

section#prop_detal .titl_sec {
    margin: 0 0 30px;
}

.prop_map {
    margin: 0 -15px;
    padding: 25px;
    background: #fff;
}

/* 18. Testimonial Sec 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#testim {
    padding: 60px 0;
    background: url(http://placehold.it/1920x328);
}

.row.testim_sec {
    padding: 0 100px;
}

.testim_sec .testim_box {
    padding: 20px 30px;
    background: #fff;
    margin: 0 15px;
}

blockquote {
    border: 0;
    font-size: 15px;
    color: #777;
    font-style: italic;
    font-family: Georgia;
    padding: 0 0 0 25px;
    position: relative;
}

blockquote:after {
    content: close-quote;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 111111;
    color: #000;
    opacity: 0;
}

blockquote:before {
    content: open-quote;
    position: absolute;
    top: 0;
    z-index: 111111;
    color: #000;
    font-size: 40px;
    color: #777;
    left: 0;
    line-height: 1;
}

.auth_sec {
    margin-top: 25px;
    padding-left: 25px;
}

.auth_sec img {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

h6.auth_nam {
    font-size: 14px;
    color: #0e4f71;
    float: right;
    width: 77%;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 5px 0;
}

span.auth_pos {
    display: block;
    color: #777;
    font-size: 12px;
    text-transform: capitalize;
    padding-top: 5px;
}

.auth_sec:after {
    content: "";
    clear: both;
    display: block;
}

div.testim_sec .owl-controls.clickable {
    margin: 0;
}

.owl-theme.testim_sec .owl-controls .owl-buttons div {
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 12px;
}

/* 19. About Page 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#abt_sec .row {
    margin: 0;
}

section#abt_sec .panel-default {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

section#abt_sec h3.sec_titl {
    font-size: 18px;
    font-weight: bold;
}

section#abt_sec .titl_sec {
    margin: 0 0 30px;
}

.skill_sec .skill_ara .prog_sec p.labl {
    font-size: 12px;
    color: #1f2223;
    line-height: 1;
    margin-bottom: 12px;
}

.progress {
    height: 5px;
    overflow: inherit;
}

.progress-bar {
    background-color: #ef7351;
    position: relative;
    animation: grower 5s ease;
    -moz-animation: grower 5s ease;
    -webkit-animation: grower 5s ease;
    -o-animation: grower 5s ease;
}

@keyframes grower {
    0% {
        width: 0%;
    }
}

@-moz-keyframes grower {
    0% {
        width: 0%;
    }
}

@-webkit-keyframes grower {
    0% {
        width: 0%;
    }
}

@-o-keyframes grower {
    0% {
        width: 0%;
    }
}

.progress-bar span,
.progress-bar i {
    position: absolute;
    top: -24px;
    font-size: 12px;
    color: #1f2223;
    right: 0;
    z-index: 1111;
    line-height: 1;
}

.progress-bar i.per_cent {
    right: -10px;
}

.prog_sec {
    padding-left: 30px;
}

.skill_sec .skill_ara,
.skill_sec .fun_fac,
.skill_sec .serv_col {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.skill_sec .skill_ara p {
    color: #777;
    line-height: 21px;
    font-size: 13px;
}

.circ_ico {
    display: inline-block;
    width: 66px;
    border-radius: 50%;
    background: #ebeef0;
    line-height: 66px;
    text-align: center;
    font-size: 24px;
    color: #ef7351;
}

h3.fun_num {
    font-size: 20px;
    color: #0e4f71;
    text-transform: uppercase;
    line-height: 1;
    margin: 20px 0 10px;
}

p.desc {
    font-size: 11px;
    color: #949494;
    text-transform: uppercase;
    line-height: 1.909;
    margin: 0;
}

div#clients .row {
    margin: 0;
    background: #fff;
    padding: 20px 45px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

div#clients .owl_col {
    padding: 0;
    margin: 0 15px;
}

div#clients .owl_col .mid_img {
    width: 185px;
    height: 80px;
    background: transparent;
    border: 1px solid #e6e9ea;
    display: table-cell;
    vertical-align: middle;
}

div#pag-carousel .owl_col .mid_img img {
    width: 90%;
    margin: 0 auto;
}

.skill_sec .serv_col .col-md-4 {
    padding: 20px;
    border: 1px solid #eee;
    width: 30%;
    margin-left: 4.5%;
}

.skill_sec .serv_col .col-md-4:first-child {
    margin-left: 0;
}

.skill_sec .serv_col .nor_ico {
    font-size: 24px;
    color: #777;
}

.skill_sec .serv_col h3.fun_num {
    font-size: 14px;
}

.skill_sec .serv_col h3.fun_num:hover {
    color: #ef7351;
} 

.skill_sec .serv_col p.desc {
    font-size: 12px;
    color: #777;
    line-height: 1.75;
    text-transform: capitalize;
}

.skill_sec .serv_col .col-md-4:hover .nor_ico {
    color: #ef7351;
}

/* 20.Services Page 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#serv_pg .row {
    margin: 0;
}

section#serv_pg .panel-default {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

section#serv_pg h3.sec_titl {
    font-size: 18px;
    font-weight: bold;
}

section#serv_pg .titl_sec {
    margin: 0 0 30px;
}

section#serv_pg .serv_col .circ_ico {
    color: #777;
}

section#serv_pg .serv_col .col-md-3:hover .circ_ico {
    background: #ef7351;
    color: #fff;
}

section#serv_pg .serv_col .col-md-3:hover h3.fun_num {
    color: #ef7351;
}

section#serv_pg .serv_col p.desc {
    font-size: 13px;
}

section#serv_pg .skill_sec .serv_col {
    padding: 45px 25px;
}

.call_sec {
    width: 100%;
    padding: 60px 0;
    background: #525b60;
}

h2.cal_titl {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    margin: 0;
}

p.cal_info {
    font-size: 12px;
    color: #fff;
    line-height: 1.75;
    margin: 0;
}

.btns a.wht_btn {
    font-size: 12px;
    font-weight: bold;
    color: #1f2223;
    background: #fff;
    padding: 0 20px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
}

.btns a.wht_btn:hover {
    background: #bbb;
}

.btns a.orn_btn {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #ef7351;
    padding: 0 20px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
    text-transform: uppercase;
}

.btns a.orn_btn:hover {
    background-color: #DD6443;
}

.skill_sec .serv_btm {
    background: #fff;
    padding: 45px 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.skill_sec .serv_btm .side_ico {
    font-size: 30px;
    color: #777;
    width: 11%;
    float: left;
    line-height: 1;
    margin-right: 8%;
}

.skill_sec .serv_btm .ico_desc {
    display: inline-block;
    width: 81%;
    float: right;
}

.skill_sec .serv_btm h3.fun_num {
    font-size: 14px;
    margin: 0 0 20px;
}

section#serv_pg .serv_btm p.desc {
    font-size: 13px;
    text-transform: capitalize;
}

.skill_sec .serv_btm .col-md-4:hover .side_ico,
.skill_sec .serv_btm .col-md-4:hover h3.fun_num {
    color: #ef7351
}

/* 21. Pricing Page 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#pricg_sec .pric_tab {
    background: #fff;
    padding: 30px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px;
    transition: 0.4s ease all;
}

h2.tab_titl {
    margin: 0px 0px 25px;
    font-size: 14px;
    color: rgb(31, 34, 35);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
}

.pric_tab .pric_ara {
    background: #ebeef0;
    margin: 0px -25px;
    padding: 0px 25px;
    transition: 0.4s ease all;
}

.pric_ara h3.pric {
    line-height: 62px;
    margin: 0px;
    font-size: 30px;
    color: #0e4f71;
    transition: 0.4s ease all;
}

.pric_ara h3.pric i {
    font-size: 13px;
    line-height: 1;
}

.pric_tab ul.pric_feat {
    list-style-type: none;
    padding: 30px 0;
    margin: 0;
}

.pric_tab ul.pric_feat li {
    margin-top: 20px;
    color: #777;
    font-size: 12px;
}

.pric_tab ul.pric_feat li:first-child {
    margin-top: 0px;
}

.pric_tab a.pric_btn {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    line-height: 42px;
    background: #ef7351;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s ease all;
}

.pric_tab a.pric_btn:hover {
    background: #DD6443 !important;
}

#pricg_sec .pric_tab.oran_tab {
    box-shadow: 0px 0.5px 3px #ef7351;
}

.pric_tab.oran_tab .pric_ara {
    background: #ef7351;
}

.pric_tab.oran_tab .pric_ara h3.pric {
    color: #fff;
}

/* 22. 404 Page 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section#wrng_pg .col-xs-12 {
    background: #fff;
    padding: 40px 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

h2.lrg_titl {
    font-size: 160px;
    text-shadow: -2px 4px 0px #992201;
    margin: 0 0 50px;
    color: #ef7351;
}

h3.sub_titl {
    color: #EF7351;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

section#wrng_pg p.desc {
    font-size: 14px;
    margin-bottom: 30px;
}

section#wrng_pg .btns a.orn_btn {
    font-size: 14px;
    padding: 0 40px;
    line-height: 50px;
    margin-bottom: 40px;
}

/* 23. Responsive Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
    section#prop_detal .prop_feat {
        padding-bottom: 0;
    }
    .prop_feat p {
        font-size: 10px;
        margin-left: 15px;
    }
    .prop_feat .share_btn {
        width: 32px;
        font-size: 12px;
    }
    .agen_feat p {
        font-size: 11px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 991px) {
    section.top_sec .col-md-6 {
        text-align: center !important;
    }
    .container > .navbar-header {
        float: none;
        text-align: center;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0;
        float: none;
        text-align: center;
        display: inline-block;
    }
    .navbar-brand > img {
        display: block;
        margin: 0px auto;
    }
    ul.nav.navbar-nav.navbar-right {
        float: none !important;
        display: inline-block;
        margin-top: 0;
    }
    .container > .navbar-collapse {
        text-align: center;
    }
    .form-group .controls.col-md-6 {
        padding-left: 0;
        padding-top: 15px;
    }
    .form-control {
        margin-bottom: 10px;
    }
    .srch_frm .controls.col-md-3 {
        padding: 0;
    }
    .control-group.form-group.col-md-11 {
        padding: 0;
    }
    section#feat_propty img.img-hover {
        width: 100%;
    }
    section#feat_propty .col-md-4 {
        margin-top: 30px;
    }
    section#feat_propty .panel_bottom .col-md-6 {
        width: 50%;
        float: left;
    }
    section#feat_propty .col-md-4:first-child {
        margin-top: 0;
    }
    .panel_bottom p.readmore {
        width: 80%;
    }
    .container > .navbar-header {
        float: none;
        text-align: center;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0;
        float: none;
        text-align: center;
        display: inline-block;
    }
    .navbar-brand > img {
        display: block;
        margin: 0px auto;
    }
    ul.nav.navbar-nav.navbar-right {
        float: none !important;
        display: inline-block;
        margin-top: 0;
    }
    .container > .navbar-collapse {
        text-align: center;
        overflow: inherit;
    }
    .form-group .controls.col-md-6 {
        padding-left: 0;
        padding-top: 15px;
    }
    .log_form .form-group .controls.col-md-6 {
        padding: 0;
    }
    section#feat_propty img.img-hover {
        width: 100%;
    }
    section#feat_propty .col-md-4 {
        margin-top: 30px;
    }
    section#feat_propty .panel_bottom .col-md-6 {
        width: 50%;
        float: left;
    }
    section#feat_propty .col-md-4:first-child {
        margin-top: 0;
    }
    .panel_bottom p.readmore {
        width: 80%;
    }
    section#talen_agent .panel-image img.img-hover {
        width: 100%;
    }
    section#talen_agent .col-md-3 {
        margin-top: 30px;
    }
    section#talen_agent .col-md-3:first-child {
        margin-top: 0;
    }
    section#lates_news .panel-image img.img-hover {
        width: 100%;
    }
    section#lates_news .col-md-4 {
        margin-top: 30px;
    }
    section#lates_news .col-md-4:first-child {
        margin-top: 0;
    }
    .text-right.subs_info {
        text-align: center;
        margin-bottom: 15px;
    }
    .text-left.subs_form {
        text-align: center;
    }
    .subs_form .form-control {
        float: none;
        display: inline-block;
    }
    .subs_form .form-group {
        margin-bottom: 0;
    }
    .footer_top .col-md-3 {
        margin-top: 40px;
    }
    .footer_top .col-md-3.abt_sec {
        margin-top: 0;
    }
    .pg_links .col-md-6 {
        width: 50%;
        float: left;
    }
    section#prop_detal .agen_info img {
        width: 100%;
    }
    section#sidebar {
        margin-top: 30px;
    }
    .info_sec .col-md-6 {
        width: 30%;
        float: left;
    }
    .panel-image.col-md-3 {
        width: 25%;
        float: left;
    }
    .side_feat .panel-body.col-md-9 {
        width: 75%;
        float: left;
    }
    .panel-image.col-md-3 img {
        width: 100%;
    }
    section#pricg_sec .col-xs-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    .log_form .checkbox,
    .log_form .forg_pass {
        width: 50%;
        float: left;
    }
    
    div#prop_box .modal-dialog {
    position: relative;
    top: 0;
    transform: translate(-50%,0%);
    }
}

@media only screen and (max-width: 767px) {
    ul.nav.navbar-nav.navbar-right {
        display: block;
        padding: 0;
    }
    ul.nav.navbar-nav.navbar-right li {
        padding: 0;
        border-bottom: 2px solid #dedede;
    }
    ul.nav.navbar-nav.navbar-right li:hover {
        border-bottom-color: transparent;
    }
    .navbar-nav > li > a {
        border-color: transparent;
    }
    .navbar > .container .navbar-brand {
        float: left;
    }
    .navbar-nav > li > a {
        display: inline-block;
        padding: 22px;
    }
    .footer_copy_right .col-sm-6 {
        text-align: center;
        padding: 30px 0;
    }
    .footer_copy_right p {
        line-height: normal;
    }
    .footer_copy_right .col-sm-6.text-left {
        padding-bottom: 0;
    }
    .pg_links .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-sm-8 {
        width: 60%;
        float: left;
    }
    .agen_desc .col-sm-4 {
        width: 40%;
        float: left;
    }
    .panel-body {
        padding: 25px 15px;
    }
    .agen_info2,
    .srch_frm,
    .categ_info,
    .side_feat,
    .comm_sec,
    .cont_frm,
    .tags_sec {
        padding: 25px 15px;
    }
    .skill_sec .skill_ara,
    .skill_sec .fun_fac,
    .skill_sec .serv_col {
        padding: 25px 15px;
    }
    section#agent_sec .row {
        margin: 0;
    }
    .agen_info .col-md-8 {
        padding: 0;
    }
    .agen_info .panel_bottom {
        margin: 10px -15px 0;
    }
    section#agent_sec .row.agen_desc .col-md-8 {
        width: 60%;
        float: left;
    }
    section#agent_sec .row.agen_desc .col-md-4 {
        float: left;
        width: 40%;
    }
    section#agent_sec .row.agen_desc .col-md-4 .soc_icon {
        text-align: right;
    }
    .skill_sec .skill_ara .prog_sec {
        padding: 0;
    }
    .skill_sec .skill_ara .col-sm-7 {
        margin-top: 30px;
    }
    .skill_sec .fun_fac .col-xs-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    section#serv_pg .skill_sec .serv_col .col-xs-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    section#serv_pg .skill_sec .serv_col .spacer-50 {
        height: 20px;
    }
    section#serv_pg .skill_sec .serv_col,
    .skill_sec .serv_btm {
        padding: 45px 25px 25px;
    }
    .skill_sec .serv_btm .col-xs-4 {
        width: 50%;
        margin-bottom: 30px;
    }
    .skill_sec .serv_btm .clearfix {
        display: none;
    }
    .skill_sec .serv_btm .side_ico {
        float: none;
        display: block;
        margin: 0 auto 20px;
    }
    .skill_sec .serv_btm .ico_desc {
        width: 100%;
        text-align: center;
    }
    .call_sec {
        width: 100%;
        padding: 60px 30px;
    }
    .navbar-nav > li > ul.dropdown-menu {
        position: absolute;
        display: block;
        width: 100%;
        float: none;
        background-color: #ddd;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease all;
        border: none;
    }
    .navbar-nav > li:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        position: relative;
    }
    .navbar-nav > li > ul.dropdown-menu a {
        text-align: center;
        line-height: 1;
        padding: 22px 15px;
    }
}

@media only screen and (max-width: 600px) {
    .bannr_sec h1.main_titl {
        font-size: 30px;
    }
    .bannr_sec h4.sub_titl {
        font-size: 15px;
    }
    section#pricg_sec .col-xs-3 {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .bannr_sec h1.main_titl {
        font-size: 26px;
    }
    .bannr_sec h4.sub_titl {
        font-size: 14px;
    }
    .slide-info {
        position: relative;
        width: 100%;
        right: 0;
        bottom: -6px;
        transform: translateX(-50%);
        left: 50%;
    }
    .flex-direction-nav a {
        position: relative;
        float: left;
        background: #e5e5e5;
    }
    .flex-direction-nav .flex-next {
        left: 8px;
    }
    ul.flex-direction-nav {
        margin: 10px 0 5px;
    }
    ul.flex-direction-nav:after {
        content: "";
        display: block;
        clear: both;
    }
    .titl_sec .col-xs-6 {
        width: 100%;
    }
    .titl_sec h3.link_titl,
    .titl_sec h3.main_titl {
        display: inline-block;
    }
    .titl_sec h3.main_titl {
        text-align: center;
    }
    .panel_bottom p.readmore {
        width: 67%;
    }
    .row.testim_sec {
        padding: 20px;
    }
    .pag_titl_sec h1.pag_titl {
        font-size: 26px;
    }
    .pag_titl_sec h4.sub_titl {
        font-size: 14px;
    }
    .pg_links .col-md-6 {
        width: 100%;
        text-align: center;
    }
    section#prop_detal .prop_feat {
        padding-left: 10px;
    }
    .prop_feat p,
    .bannr_sec2 .prop_feat p {
        margin: 0;
        width: 50%;
        line-height: 35px;
        font-size: 12px;
    }
    section#prop_detal .prop_feat p {
        font-size: 10px;
    }
    .info_sec .col-md-6 {
        width: 50%;
    }
    section#agent_sec .row.agen_desc .col-md-4 .soc_icon {
        text-align: center;
    }
    .agen_info img {
        width: 100%;
        max-width: 480px;
    }
    .agen_feat p {
        line-height: 30px;
    }
    .side_feat .prop_feat p {
        width: 100%;
    }
    .categ_info .info_sec p {
        padding-left: 5px;
        line-height: 1;
        font-size: 11px;
    }
    .footer_copy_right p {
        font-size: 11px;
    }
    .row.prlist_sec .col-md-6 {
        margin-bottom: 30px;
    }
    .row.prlist_sec .spacer-30 {
        height: 0;
    }
    .row.prlist_sec .panel_bottom {
        margin: 10px -15px 0;
        padding: 0 0 0 15px;
    }
    .row.prlist_sec .panel_bottom .col-md-6 {
        margin: 0;
        width: 50%;
        float: left;
    }
    .blog_feat p {
        margin-left: 0;
        line-height: 30px;
        margin-right: 15px;
    }
    .blog_feat p span {
        margin-left: 10px;
    }
    .comm_sec .col-md-10 {
        padding-left: 0;
    }
    .comm_sec .col-md-8 {
        padding: 0;
    }
    .row.commen_frm .control-group.form-group {
        padding-left: 0;
    }
    .cont_frm .controls.last {
        margin-bottom: 25px;
    }
    .skill_sec .fun_fac .col-xs-3 {
        width: 100%;
    }
    .skill_sec .serv_col .col-xs-4 {
        width: 100%;
        margin-bottom: 30px;
    }
    section#serv_pg .skill_sec .serv_col .col-xs-3,
    .skill_sec .serv_btm .col-xs-4 {
        width: 100%;
    }
    section.top_sec .submit_prop h3.subm_btn {
        margin-top: 10px;
        margin-left: 0;
    }
    section.top_sec .sig_in {
        margin-right: 15px;
    }
    .modal-content .modal-body {
        padding: 20px;
    }
    .log_form .checkbox {
        width: 45%;
        float: left;
    }
    .log_form .forg_pass {
        width: 55%;
        float: left;
    }
}