﻿
@{
                /**/

                ViewBag.Title = "AboutTeachingBharat";
                Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="InnerArea">
    <img src="~/Content/Include/img/aboutbanner2.jpg" width="100%" />
    <div class="container">
        <div class="col-md-12 Imarea">
            <div class="col-md-12 logoIconMiddle">
                <img src="~/Content/Include/img/LogoIcon.png" />
            </div>
            <div class="HomeWhyUs">
                <div class="col-md-12  wow fadeInUp animated" data-wow-delay="0.4s">
                    <h1 style="font-size: 30px; margin-top: 50px">Why from <span>Rudraa</span></h1>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Include/img/b1.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>LIVE PERSONALIZED TEACHING</h2>
                                    <p>Learn online Live interactive classes by Expert faculty at your Personal Computer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Include/img/b2.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>LEARN ANYTIME ANYWHERE</h2>
                                    <p>Learn online Live interactive Classes Anywhere Anytime at your Place with Rudraa.org</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Include/img/b3.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>SAVE TIME AND ENERGY</h2>
                                    <p>Save your Transportation time and Energy, Reduce the time for finding best Teacher.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Include/img/b4.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>ECONOMICAL LEARNING</h2>
                                    <p>Cheaper than Physical Classes. Choose from several Learning plans from Rudraa.org</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 HWBox">
                                <div class="col-md-3">
                                    <img src="~/Content/Include/img/b5.png" />
                                </div>
                                <div class="col-md-9">
                                    <h2>innovative methodology</h2>
                                    <p>Rudraa is giving you Innovative and unique methodology to make your Doubts more Clear.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<section class="teching_about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 order-2 order-lg-1 HWBox">
                <h5 class="section-title-sm">Why vedantu</h5>


                <h2 class="section-title section-title-border-half">What makes Vedantu Superior</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod tempor didunt laboris nisi ut aliquip
                    ex commodo consequat. duis aute irure dolor in reprehenderivoluptate velit esse cillum dolore fugiat
                    nulla pariatur.Excepteur sint ocaecat cupidatat noproident sunt culpa qui officia deserunt mollit anim
                    id est laborum.
                </p>
                <p>
                    Sed perspiciatis unde omnisiste natus error sit voluptatem accusantium.doloremque ladantium totam rem aperieaque
                    ipsa quae ab illo inventore.veritatis. et quasi architecto beatae vitae dicta sunt explicabo.
                </p>

            </div>

            <div class="col-lg-7">
                <img src="~/Content/Include/img/aboutthumb.png" class="img-responsive" alt="philosophy-image" />
            </div>


        </div>




    </div>
</section>  <br> <br>

<section class="about_tab">
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="accordionS">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title text_capit">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="glyphicon glyphicon-menu-right gly_size"></span>

                                        Superior teachers
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p class="tab_family">Four Simple words to characterize our Teachers - Excellent People, Brilliant Minds! At Vedantu, instructing isn't only a calling. For our instructors, it is a dedication and a matter of pride and duty. We don't have any instructors who educate simply for cash, year on year.</p>

                                    <p class="tab_family">Four Simple words to characterize our Teachers - Excellent People, Brilliant Minds! At Vedantu, instructing isn't only a calling. For our instructors, it is a dedication and a matter of pride and duty. We don't have any instructors who educate simply for cash, year on year.</p>

                                    <p class="tab_family">Four Simple words to characterize our Teachers - Excellent People, Brilliant Minds! At Vedantu, instructing isn't only a calling. For our instructors, it is a dedication and a matter of pride and duty. We don't have any instructors who educate simply for cash, year on year.</p>

                                    <p class="tab_family">Four Simple words to characterize our Teachers - Excellent People, Brilliant Minds! At Vedantu, instructing isn't only a calling. For our instructors, it is a dedication and a matter of pride and duty. We don't have any instructors who educate simply for cash, year on year.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title text_capit">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <span class="glyphicon glyphicon-menu-right gly_size"></span>
                                        Cutting edge technology
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p class="tab_family"> Vedantu is an innovation organization at the center. RDX Team (Research Develop and Explore) at Vedantu is making innovation in training to deliver a troublesome positive effect - to make more 'Instructors by Choice', to make Quality training progressively available and reasonable. </p>

                                    <p class="tab_family"> We have made front line innovation from the scratch to control the accompanying splendid highlights on Vedantu:  </p>

                                    <p class="tab_family">
                                        LIVE sound video association between Teacher and Student at low web data transmissions.
                                        Interfacing two people live with sound video correspondence even at low web transfer speeds requires unpredictable and refined innovation. We at Vedantu have aced it. A huge number of understudies living in remote corners of India with poor web association have as of now profited with our innovation, something we are extremely glad for!
                                    </p>

                                    <p class="tab_family"> Shared live learning condition (Whiteboard) among understudy and educator. </p>

                                    <p class="tab_family"> We understood that best learning happens when an educator by and by sits with an understudy to examine and show him/her on a journal shared between them. This is correctly what shared Whiteboard on Vedantu imitates for understudy and educator sitting a great many kilometers away. We have put in long stretches of vitality in making innovation to make shared Whiteboard to a great degree consistent and instinctive for the two educators and understudies. The two educators and understudies can compose as well as transfer pictures to make inquiries or potentially clarify ideas.  </p>

                                    <p class="tab_family"> Replay of the each LIVE session between instructor understudy on Vedantu with the end goal of correction and survey.  </p>

                                    <p class="tab_family"> We comprehend that consistent correction is the most ideal path for an understudy to reinforce his/her ideas. Our innovation empowers recording of every session between an educator and understudy, which can be accessible for the understudy to change later. We additionally utilize this account to survey the nature of instructing on Vedantu. Our innovation upgrades session chronicles to make it conceivable to replay them at low data transmissions even on cell phones.   </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title text_capit">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="glyphicon glyphicon-menu-right gly_size"></span>
                                        Learning Management Tools
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p class="tab_family">We have made instruments for comprehensive learning the board that basically incorporates instructing learning content creation, sharing and assessment. The substance can extend from a straightforward protest test to imaginative assignments to session notes but then have a ton of variety inside it.  </p>

                                    <p class="tab_family">Instructor can likewise make and offer sound video assignments/test to which the understudies can react utilizing either web or portable application.  </p>

                                    <p class="tab_family">Execution Reporting for Students and Parents </p>

                                    <p class="tab_family"> Alongside making great learning the executives instrument, our nerds have additionally built up a complete execution and criticism announcing framework. This would assist educators with sharing customary input on understudy's scholastic execution and other learning results. It would likewise encourage understudies and guardians to understand the frail territories ahead of time and begin with healing activity well ahead of time.  </p>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title text_capit">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span class="glyphicon glyphicon-menu-right gly_size"></span>
                                        LIVE Session on Mobile Devices
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p class="tab_family">We are certain, at this point you'll concur with us on the innovative progression that our RDX is taking a shot at to acquire democratization and personalization training. We have increased present expectations even a stage higher for ourselves and presented LIVE learning on Android cell phones. Truly, the understudies would now be able to take undeniable LIVE sessions on their portable/tablet gadgets. We have now broken the shackles of time, place, and gadgets for learning.  </p>

                                    <p class="tab_family">We are continually taking a shot at more arrangements that will drive the advancement, in a general sense changing the example of instructing and adapting today. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 order-2 order-lg-1 HWBox">
                <h5 class="section-title-sm text-center">Why online teaching</h5>
                <h2 class="section-title section-title-border-half text-center">Benefits of LIVE Online Tutoring</h2>

                <div class="">


                    <div class="col-md-12 MCContent tab_no_padd">
                        <div class="col-md-12">
                            <div>

                                <div class="tab-content">

                                    <div role="tabpanel" class="tab-pane active" id="3">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="col-md-12 MCFAQs">

                                                    <div class="col-md-12 faq">
                                                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="sh1">
                                                                    <h4 class="panel-title text_capit">
                                                                        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#s1" aria-expanded="true" aria-controls="collapseOne">Personalized education LIVE from the comfort of your home</a>
                                                                    </h4>
                                                                </div>
                                                                <div id="s1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh1">
                                                                    <div class="panel-body">
                                                                        <p class="tab_family">Four Simple words to characterize our Teachers - Excellent People, Brilliant Minds! At Vedantu, instructing isn't only a calling. For our instructors, it is a dedication and a matter of pride and duty. We don't have any instructors who educate simply for cash, year on year. cooperation between the instructor and understudies is solid and two-way, which is additionally checked mechanically for further enhancement (if necessary). The understudy is urged to ask questions/questions not at all like in a swarmed classroom. What's more, the understudy is much agreeable in asking his/her questions on Vedantu than anyplace else, as instructors ingrain addressing abilities alongside bestowing hypothetical learning. Improved commitment among understudy and instructor on Vedantu ensures better understanding and review for the understudy; not at all like in a classroom where educator understudy commitment is hard to gauge. What's more, obviously, the understudy is gaining from the solace of his/her own home – Learning happens best when the understudy's brain is loose!</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="sh2">
                                                                    <h4 class="panel-title text_capit">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s2" aria-expanded="false" aria-controls="collapseTwo">Better than recorded lectures</a>
                                                                    </h4>
                                                                </div>
                                                                <div id="s2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh2">
                                                                    <div class="panel-body">
                                                                        <p class="tab_family">The MOOCS transformation professed to guarantee that quality training is accessible to all and this will understand the diseases that the instruction framework experiences. Nonetheless, the fundamental issue has not been settled that of mechanical production system training creation. The resulting 'One Size Fits All arrangement' is still totally against the plain ethos of customized instruction. </p>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="sh3">
                                                                    <h4 class="panel-title text_capit">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s3" aria-expanded="false" aria-controls="collapseThree">LIVE instructing is a critical part of customized training. </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="s3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh3">
                                                                    <div class="panel-body">
                                                                        <p class="tab_family">With Vedantu's decent involvement in instructing and coaching in excess of 10,000 understudies, we can securely guarantee that. Particularly in the K12 portion, a tyke needs inspiration and must be tutored separated from instructing. Neither a recorded address nor the entire dependence on instructive establishment can help here-it doesn't energize or bolster genuine learning. It might fill the need of learning exchange however flops wretchedly in drawing in the understudy, to create enthusiasm, to connect and bolster at precarious focuses. To take into account the dynamic needs of a youthful understudy, what is required is a well disposed and energetic educator who can coordinate the dimension of a youngster and clarify each idea in a way the person gets it. You'll concur, it is by difficult to accomplish this in a recorded address or a swarmed class of 40 odd understudies</p>

                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="sh4">
                                                                    <h4 class="panel-title text_capit">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s4" aria-expanded="false" aria-controls="collapseFour">Time and Energy saving, Secured solution </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="s4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh4">
                                                                    <div class="panel-body">
                                                                        <p class="tab_family">Progressively, security of kids while driving is in danger. Guardians are not happy if youthful understudies need to travel extend periods of time and separations for an expert instructing class, squandering vitality, going out on a limb. </p>

                                                                        <p class="tab_family">
                                                                            Vedantu offers an answer for this cutting edge ailment.

                                                                            Presently every understudy can get world class instructing support for expert courses. The individual can totally sidestep this inefficient travel time and vitality, and spotlight just on concentrates from the solace of home. Time spared is time earned for progressively beneficial loosening up exercises a diversion, unwinding with family, or that uncommon product for each understudy plain rest!
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="sh5">
                                                                    <h4 class="panel-title text_capit">
                                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#s5" aria-expanded="false" aria-controls="collapseFive">Anywhere- Anytime Learning </a>
                                                                    </h4>
                                                                </div>
                                                                <div id="s5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sh5">
                                                                    <div class="panel-body">
                                                                        <p class="tab_family">The regular classroom technique commands that learning must be restricted to a place and compelled by time. We think, learning ought not be time bound. Nor should instructing be. Vedantu breaks the shackles of time and place, freeing taking in and instructing from the points of confinement of time and area. Presently even late around evening time, or promptly toward the beginning of the day, an understudy has the freedom to connect for direction and help... what's more, educators at Vedantu will be altogether eager to loan their assistance!  </p>

                                                                        <p class="tab_family">
                                                                            Each session led on Vedantu is profoundly customized, the instructional method and exercise designs of the educators are customized to address the issue of understudies. Additionally, the pace of the address is represented by the getting a handle on capacities of the understudy. That is the greatest quality of Vedantu's ideas!
                                                                            That's not all of it, there are a couple of more salient features at Vedantu that we bet, you won't be able to find anywhere else.

                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>





<div class="HomeFacts">