﻿@using BLL.BusinessModels
@model StudentReqSubModel
@{
    Layout = Layout;
    ViewBag.ConfirmationMessage = TempData["ConfirmationMessage"];
}

@*<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />*@
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

<style>
    /*.errorclass {
        color: #a94442;
    }

    #spanid {
        text-transform: lowercase !important;
    }

    .D-label {
        text-transform: lowercase !important;
    }

    span.pipe {
        border-left: 1px solid #777;
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    input[type=radio]:checked ~ label {
        color: #333;
    }*/

    .new {
        background-image: none !important;
    }
</style>



<div class="TeacherBlueBg">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-12 Tbox">
                <div class="col-md-12 topp">

                    <h3>Subscribe Teacher</h3>

                    <h4 style="display:none" id="errorMessage">@ViewBag.Message</h4>
                    <h4 id="infoMessage">@ViewBag.ConfirmationMessage</h4>
                </div>


                @using (Html.BeginForm("AddStudentReqSub", "Subscribe", null, FormMethod.Post, new { @id = "myform", @onsubmit = "return validateForm();" }))
                {

                    <div class="form-group col-md-12 parentclass">
                        <label>Looking For</label>
                        @Html.TextBoxFor(model => model.LookingFor, new { @class = "form-control", @placeholder = "Course Title" })
                        @Html.ValidationMessageFor(model => model.LookingFor, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label>Select Curriculum</label>
                        @Html.DropDownListFor(model => model.CurriculumId, Model.ListofCurriculums, "Select Curriculum", new { @class = "form-control dropdownlist" })
                        @Html.ValidationMessageFor(model => model.CurriculumId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label>Select Subject</label>
                        @Html.DropDownListFor(model => model.SubjectId, Model.ListofSubjects, "Select Subject", new { @class = "form-control dropdownlist" })
                        @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                    </div>
                   

                    <div class="form-group col-md-4 parentclass" style="margin-top:1%;">
                        <label>Estimated Start Date </label>
                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", placeholder = "Date" })


                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>

                  
                 
                   

                    <div class="form-group col-md-12 parentclass" style="margin-top:1%;">
                        <label>Details</label>
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @placeholder = "What will be included in this course", @rows = 5 })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12">
                        <hr class="blk" />
                    </div>
                    <div class="col-md-12 nopadding SwpipeLogin">
                        <div class="col-md-4 col-md-offset-4">
                            <input type="submit" class="btn btn-block btn-primary"  value="Submit" />
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>*@
    <script type="text/javascript">

    $('#StartDate').val('');


    $.validator.methods.date = function (value, element) {
        return this.optional(element)
          || moment(value).format("DD/MM/YYYY");
    };

    function validateForm()
    {
        return true;
        //if ($('.Daisy').is(":checked")) {
        //    $(".errorclass").empty();
        //    return true;

        //} else {
        //    $(".errorclass").empty();
        //    $(".errorclass").html('Please select Days');
        //    return false;
        //}
    }


    $('#StartDate').datepicker({


        autoclose: true,
        startDate: new Date(),
        setDate: new Date(),
        orientation: "left auto"
    });

    </script>
}
