﻿@using DAL.Entities
@model List<StudentReqSub>

@{ 

    //
 }


<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">

          
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-folder-open"></i> Subscription Request </h2>
                </div>
                <div class="col-md-3">


                </div>
            </div>
        </div>

        @if (Model != null && Model.Count > 0)
        {
            <div class="">
                <div class="container">
                    @*<div class="col-md-12 notbk"><a href="@Url.Action("Folders", "teacher", new { area = "teacher" })"><i class="glyphicon glyphicon-menu-left mr7"></i> Back to Folders</a></div>*@
                    <div class="col-md-12 notifolder">
                        <table class="table NoteTable table-bordered table-hover table-striped">
                            <tr>
                                <th>Looking For</th>
                                <th>Curriculum</th>
                                <th>Subject</th>
                                <th>Start Date</th>
                                <th>Remarks</th>
                                @*<th>Action</th>*@
                            </tr>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    @*<td><img src="../Include/img/file04.png"></td>*@
                                    <td>@item.LookingFor</td>
                                    <td>@item.Curriculum</td>
                                    <td>@item.Subject</td>
                                    <td> @Convert.ToDateTime(item.StartDate).ToString("dd, MMMM,yyyy")</td>
                                    <td>@item.Remarks</td>

                                    @*<td>
                                        <a href="@Url.Action("DownloadNotes", "Student", new { area = "Student", @id = item.NoteID })" class="btn btn-xs btn-success mr7" data-toggle="tooltip" data-placement="top" title="Download"><i class="glyphicon glyphicon-save"></i></a>
                                        <a href="#" onclick="ShareEmail(@item.NoteID)" class="btn btn-xs btn-warning mr7" data-toggle="tooltip" data-placement="top" title="Share / Mail"><i class="glyphicon glyphicon-send"></i></a>
                                    </td>*@

                                </tr>

                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h3 class="text-center">
                No Subscription Request Found.
            </h3>
        }

    </div>
</div>


@section scripts{

    <script type="text/javascript">

       
    </script>



}
