﻿@model IEnumerable<DAL.Entities.NotificationTable>
@{
    Layout = string.Empty;
 }
 
    @if (Model != null)
    {
        if (Model.Count() != 0)
        {
            
            <span class="notification">@Model.Count()</span>
        }
    }

