﻿@model IEnumerable<DAL.Entities.NotificationTable>

@{
    ViewBag.Title = "Notifications";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<div class="container-fluid">



    <div class="col-md-12 White79">
        <table class="table table-bordered">
            <tbody>
                @if (Model.Count() == 0)
            {
                <tr>
                    <td><a href="#" class="unread">0 Notifications Found</a></td>
                </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        
                  if (item.IsSeen != true)
                    {
                                if (item.NotificationBy == "Supper")
                                {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("AdminsList", "Admin", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments)</a>
                                    </td>
                                    <td><p>@Html.DisplayFor(modelItem => item.NotificationDateTime)</p></td>

                                </tr>
                                }
                                else if (item.NotificationBy == "Admin")
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("AdminsList", "Admin", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments) </a>
                                        </td>
                                        <td><p>@Html.DisplayFor(modelItem => item.NotificationDateTime)</p></td>

                                    </tr>


                                }
                                else if (item.NotificationBy == "Teacher")
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ViewTeachers", "Teacher", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments) </a>
                                        </td>
                                        <td><p>@Html.DisplayFor(modelItem => item.NotificationDateTime)</p></td>

                                    </tr>


                                }
                                else if (item.NotificationBy == "Student")
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Index", "Student", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments) </a>
                                        </td>
                                        <td><p>@Html.DisplayFor(modelItem => item.NotificationDateTime)</p></td>

                                    </tr>


                                }
                    }
                    else 
                    {

                            <tr>
                                <td>
                                    <a href="#" >@Html.DisplayFor(modelItem => item.Comments)</a>
                                </td>
                                <td><p>@Html.DisplayFor(modelItem => item.NotificationDateTime)</p></td>

                            </tr>
                        

                    }
                }


            }
               
            </tbody>
        </table>
    </div>



</div>

