﻿@model IEnumerable<DAL.Entities.NotificationTable>
@{
    Layout = string.Empty;
}
@if (Model.Count() == 0)
            {
    <li>
        <a href="#" class="unread">0 Notifications Found</a>
    </li>

            }
@if (Model != null)
            {
                foreach (var item in Model)
                {
        
        <li>
            


            @if (item.NotificationBy == "Supper")
            {
                <a href="@Url.Action("AdminsList", "Admin", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments)</a>
                
            }
            else if (item.NotificationBy == "Admin")
            {
                <a href="@Url.Action("AdminsList", "Admin", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments) </a>
                
            }
            else if (item.NotificationBy == "Teacher")
            {
                <a href="@Url.Action("ViewTeachers", "Teacher", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments) </a>
                
            }
            else if (item.NotificationBy == "Student")
            {
                <a href="@Url.Action("Index", "Student", new { ares = "Admin"})" class="unread">@Html.DisplayFor(modelItem => item.Comments) </a>
                
            }
            
            
            
        </li>



    }

}
