﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorizeAccess</title>

    <link href="~/Content/Front/frontcss/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/main_style.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    @Scripts.Render("~/Content/Jquery")

</head>
<body>

    <div class="spacer-60"></div>
    <div class="container">
        <!-- 404 Section -->
        <section id="wrng_pg">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="lrg_titl"> 401 </h2>
                    <h3 class="sub_titl"> OOPS, YOU ARE NOT AUTHORIZE</h3>
                    <p class="desc"> Please contact admin for more details. Sorry about that </p>
                   
                </div>
            </div>
            <!-- /.row -->
        </section>
        <div class="spacer-60"></div>
    </div>

    <script src="~/Content/Front/frontjs/bootstrap.min.js"></script>

</body>
</html>
