﻿@using System.Web.Optimization
@using BLL.Helpers
@using DAL.Entities
@using BLL.BusinessManagers
@{
    Guid g = Guid.NewGuid();
    string p = Convert.ToBase64String(g.ToByteArray());
    p = p.Replace("=", "");
    p = p.Replace("+", "");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teaching Bharat</title>
    <link rel="icon" href="~/Content/Front/frontimg/fav.png" type="img/png" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/studentcss")
    <script src="~/Content/TeacherDasboard/js/moment.min.js"></script>
    <link href="~/Content/TeacherDasboard/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/UpdatedCSS/CustomizeTest.css" rel="stylesheet" />

    @Scripts.Render("~/Content/wowjs")
    @Scripts.Render("~/Content/Jquery")

    <script>
        new WOW().init();
    </script>

</head>
<body>

    <div class="_overlay">
        <div class="_loader"></div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="mynve-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand2" href="@Url.Action("Index", "Home", new { area = "" })">
                        <img src="~/Content/Include/img/logo.png"    width="245px"/>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li class="indexs active"><a href="@Url.Action("Index", "Teacher", new { area = "Teacher" })">Dashboard</a></li>
                        <li class="UpdateMySession"><a href="@Url.Action("UpdateMySession", "Teacher", new { area = "Teacher" })">My Sessions</a></li>
                        @*<li><a href="@Url.Action("JoinSessions","Teacher", new { area="Teacher"})">Join Session</a></li>*@
                        <li class="mySubscriptions"><a href="@Url.Action("mySubscriptions", "teacher", new { area = "teacher" })">Subscriptions</a></li>
                        <li class="CoursesList"><a href="@Url.Action("CoursesList", "teacher", new { area = "teacher" })">My Courses</a></li>
                        <li class="myStudents"><a href="@Url.Action("myStudents", "teacher", new { area = "teacher" })">My Students</a></li>
                        <li class="MyCalender"><a href="@Url.Action("MyCalender", "Teacher", new { area = "Teacher" })">My Calendar</a></li>
                        <li class="dropdown MoreO">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("freeResources", "teacher", new { area = "teacher" })">Free Resources</a></li>
                                @*<li><a href="@Url.Action("Test", "Test", new { area = "teacher" })">Test / Assignments</a></li>*@
                                <li><a href="@Url.Action("Folders", "teacher", new { area = "teacher" })">Notes</a></li>
                                @*<li><a href="@Url.Action("tryWhiteboard", "teacher", new { area = "teacher" })">WhiteBoard</a></li>*@
                                @*<li><a href="/student/student/tryWhiteboard">WhiteBoard</a></li>*@
                                <li><a href="@Url.Action("systemCheck", "teacher", new { area = "teacher" })">System Check</a></li>
                                <li><a href="@Url.Action("support", "teacher", new { area = "teacher" })">Support</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-bell noti"></i></a>
                            <ul class="dropdown-menu notidd">

                                @{
                                    NotificationManager nManager = new NotificationManager();
                                    List<UserNotifications> list = new List<UserNotifications>();
                                    list = nManager.ListofUserNotifications(Config.CurrentUser);

                                    if (list != null && list.Count > 0)
                                    {
                                        list = list.Take(3).ToList();
                                    }
                                    else
                                    {
                                        list = null;
                                    }
                                }

                                @if (list != null && list.Count > 0)
                                {
                                    foreach (var item in list)
                                    {
                                        <li><a href="@Url.Action("AllNotification","Teacher", new { @area="teacher"})">@item.ActionPerformed</a></li>
                                    }

                                }
                                else
                                {
                                    <li style="text-align:center;margin:45px;">No Notification Found</li>
                                }



                            </ul>
                        </li>
                        <li class="dropdown" id="dropdownlist">
                            <a href="#" class="dropdown-toggle" id="userid" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="glyphicon glyphicon-user"></i>@Config.UsersProfile.FirstName <i class="glyphicon glyphicon-menu-down"></i></span></a>
                            <ul class="dropdown-menu userdd">
                                <li><a href="@Url.Action("teacherProfile", "Teacher", new { Area = "Teacher" })"><i class="glyphicon glyphicon-user"></i>My Profile</a></li>
                                <li><a href="@Url.Action("myAccount", "Teacher", new { Area = "Teacher" })"><i class="glyphicon glyphicon-briefcase"></i>My Account</a></li>
                                <li><a href="@Url.Action("Login", "Account", new { Area = "" })"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <div class="Footer">

        <div class="container f-two">
            <div class="col-md-8 nopadding">
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Teaching Bharat</h1>
                        <ul>
                            <li><a href="@Url.Action("explorecourses","Home", new { area=""})">Browse Course</a></li>
                            <li><a href="@Url.Action("browseteachers","Home", new { area=""})">Browse Teachers</a></li>
                            <li><a href="#">Clear Doubts</a></li>
                            <li><a href="@Url.Action("FreeResources","Home", new { area=""})">Free Resourse</a></li>
                            <li><a href="@Url.Action("TeacherRegistration","Account",new { area=""})">Become a Teacher</a></li>
                            <li><a href="@Url.Action("Signup","Account")">Student Registration</a></li>
                            <li><a href="#">Read Reviews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Company</h1>
                        <ul>
                            <li><a href="@Url.Action("AboutUs","Home", new { area=""})">About us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press Release</a></li>
                            <li><a href="@Url.Action("ContactUs","Home", new { area=""})">Contact us</a></li>
                            <li><a href="@Url.Action("TermofUse","Home", new { area=""})">Terms of use</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy","Home", new { area=""})">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Important Links</h1>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Need Help?</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="@Url.Action("SuggestCourse","Home", new { area=""})">Suggest Course</a></li>
                            <li><a href="@Url.Action("AskQuestion","Home", new { area=""})">Ask Question</a></li>
                            <li><a href="@Url.Action("Studentfaq","Home", new { area=""})">Student FAQs</a></li>
                            <li><a href="@Url.Action("GeneralFaq","Home", new { area=""})">General FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Free Resources</h1>
                        <ul>
                            <li><a href="#">Resources link here</a></li>
                            <li><a href="#">Resources link</a></li>
                            <li><a href="#">Resources link here</a></li>
                            <li><a href="#">Resources link here</a></li>
                            <li><a href="#">Resources link</a></li>
                            <li><a href="#">Resources link</a></li>
                            <li><a href="#">Resources link here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 f-con-new">
                <h6>Feel free to contact us</h6>
                <h3><span>Call :</span> 1800 133 432</h3>
                <h4><span>Email :</span> info@teachingbharat.com</h4>
                <h5>Get Socialsed with us</h5>
                <a href="#"><img src="~/Content/Include/img/sn1.png" alt="facebook" /></a>
                <a href="#"><img src="~/Content/Include/img/sn2.png" alt="facebook" /></a>
                <a href="#"><img src="~/Content/Include/img/sn3.png" alt="facebook" /></a>
                <a href="#"><img src="~/Content/Include/img/sn4.png" alt="facebook" /></a>
            </div>
            <div class="col-md-12 seo-footer">
                <h1>India's Best online tution at affordable price on Teaching Bharat</h1>
                <p>Rudraa offers personalised LIVE Online tuition classes at your home. In our online tutoring platform, students get to learn from the best teachers who have studied from top colleges and institutes across India. We offer year-long structured courses for CBSE & ICSE board school students, so that students can study entire subject in a structured manner at the comfort of their home. Apart from Regular monthly tuitions, we also provide doubt clearing sessions for students of all grades and boards.</p>
                <p>Rudraa's tuition classes are completely online and allows the teacher and student to engage on our website using WAVE platform. All the classes are taken by expert Tutors who ensure to share assignments after completion of every chapter (i.e. regular homework help, subjective & objects tests & quizzes), along with revision notes and formula worksheets. There are regular Parent-Teacher meetings to monitor & track student's academic progress throughout student's learning engagement. All the sessions taken by students on Rudraa are recorded and replays of those sessions are available in student's login account for revision of all the chapters & topics learnt on Rudraa.</p>
                <p>We find the RIGHT Tutor to match students' and parents' requirements, and our highly experienced Tutor strives to establish connect with students so that even a first-time student is comfortable with studying online and does not feel the need of taking tuition classes from coaching centers near their home.</p>
                <p>Rudraa caters to CBSE and ICSE board from classes 6th to 12th for Maths and Science (Physics, Chemistry & Biology) subjects. Our free reference materials are textbook solutions (NCERT, RD Sharma, HC Verma & etc.), Sample papers for CBSE & ICSE board, important questions and more.</p>
            </div>
        </div>
        <div class="bottomFooter">
            <div class="container">
                <div class="col-md-12">
                    <p>Copyright 2016 All Rights are Reserved by Teaching Bharat</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content Mcourse">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Session Request | 11th November, 2016 (09:04 AM)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Student Name</td>
                                    <td><strong>Viral Modi</strong></td>
                                </tr>
                                <tr>
                                    <td>Session on</td>
                                    <td><strong>English - Topic here</strong></td>
                                </tr>
                                <tr>
                                    <td>Session type</td>
                                    <td><strong>Once</strong></td>
                                </tr>
                                <tr>
                                    <td>Session on</td>
                                    <td><strong>MON - 15th November, 2016</strong></td>
                                </tr>
                                <tr>
                                    <td>Session Time</td>
                                    <td><strong>10:00 AM - 11:00 AM ( 1 Hour )</strong></td>
                                </tr>
                                <tr>
                                    <td>Comments by Student</td>
                                    <td>Hi Sir, Please accept my request for the Session</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> ACCEPT</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-pencil"></i> MODIFY</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> DELETE</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/TLayoutjs")
    @RenderSection("Scripts", false)

    @{string aName = ViewContext.RouteData.GetRequiredString("action"); }
    <script type="text/javascript">


      var dataUser = '@TempData["UserData"]';

      if (dataUser != null && dataUser != '') {
          // if (window.localStorage.getItem("UserData") == null) {
          window.localStorage.setItem("UserData", null);
          window.localStorage.setItem("UserData", dataUser);

          // }

      }



    </script>

    <script type="text/javascript">
        debugger;
        var sN='@aName';
        if (sN.toLowerCase() == 'UpdateMySession'.toLowerCase())
        {
            $(".navbar-nav li").removeClass("active");
            $(".UpdateMySession").addClass("active");
        }
        else if (sN.toLowerCase() == 'mySubscriptions'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".mySubscriptions").addClass("active");
        }
        else if (sN.toLowerCase() == 'index'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".indexs").addClass("active");
        }
        else if (sN.toLowerCase() == 'CoursesList'.toLowerCase() || sN.toLowerCase() == 'CourseDetail'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".CoursesList").addClass("active");
        }
        else if (sN.toLowerCase() == 'myStudents'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".myStudents").addClass("active");
        }
        else if (sN.toLowerCase() == 'MyCalender'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".MyCalender").addClass("active");
        }
        else if (sN.toLowerCase() == 'freeResources'.toLowerCase() || sN.toLowerCase() == 'testlist'.toLowerCase() || sN.toLowerCase() == 'Folders'.toLowerCase() || sN.toLowerCase() == 'systemCheck'.toLowerCase() || sN.toLowerCase() == 'support'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".MoreO").addClass("active");
        }
        else
        {
            $(".navbar-nav li").removeClass("active");
        }












    </script>

</body>
</html>


