﻿@using System.Web.Optimization
@using BLL.Helpers
@using DAL.Entities
@using BLL.BusinessManagers
@{
    Guid g = Guid.NewGuid();
    string p = Convert.ToBase64String(g.ToByteArray());
    p = p.Replace("=", "");
    p = p.Replace("+", "");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/Front/frontcss/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/Front/frontcss/Dstyle.css" rel="stylesheet" />*@
    @*<link href="~/Content/TeacherDasboard/css/Dstyle.css" rel="stylesheet" />*@

    <link href="~/Content/DashBoard/admincss/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/DashBoard/admincss/custom.css" rel="stylesheet" />
    <link href="~/Content/TeacherDasboard/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Front/frontcss/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/Content/TeacherDasboard/js/moment.min.js"></script>
    <link href="~/Content/TeacherDasboard/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/UpdatedCSS/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/UpdatedCSS/Dstyle.css" rel="stylesheet" />
    <link href="~/Content/UpdatedCSS/dataTables.bootstrap.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/homecss")


    @*@Scripts.Render("~/Content/modernizer")*@
    <link href="~/Content/FontAwesome/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    @Scripts.Render("~/Content/wowjs")
    @Scripts.Render("~/Content/Jquery")

    <script>
        new WOW().init();
    </script>

</head>
<body>

    <div class="_overlay">
        <div class="_loader"></div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="mynve-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                        <img src="~/Content/Front/frontimg/logo.png" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li class="indexs active"><a href="@Url.Action("Index", "Teacher", new { area = "Teacher" })">Dashboard</a></li>
                        <li class="UpdateMySession"><a href="@Url.Action("UpdateMySession", "Teacher", new { area = "Teacher" })">My Sessions</a></li>
                        @*<li><a href="@Url.Action("JoinSessions","Teacher", new { area="Teacher"})">Join Session</a></li>*@
                        <li class="mySubscriptions"><a href="@Url.Action("mySubscriptions", "teacher", new { area = "teacher" })">My Subscriptions</a></li>
                        <li class="CoursesList"><a href="@Url.Action("CoursesList", "teacher", new { area = "teacher" })">My Courses</a></li>
                        <li class="myStudents"><a href="@Url.Action("myStudents", "teacher", new { area = "teacher" })">My Students</a></li>
                        <li class="MyCalender"><a href="@Url.Action("MyCalender", "Teacher", new { area = "Teacher" })">My Calendar</a></li>
                        <li class="dropdown MoreO">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("freeResources", "teacher", new { area = "teacher" })">Free Resources</a></li>
                                <li><a href="@Url.Action("Test", "Test", new { area = "teacher" })">Test / Assignments</a></li>
                                <li><a href="@Url.Action("Folders", "teacher", new { area = "teacher" })">Notes</a></li>
                                @*<li><a href="@Url.Action("tryWhiteboard", "teacher", new { area = "teacher" })">WhiteBoard</a></li>*@
                                <li><a href="/student/student/tryWhiteboard">WhiteBoard</a></li>
                                <li><a href="@Url.Action("systemCheck", "teacher", new { area = "teacher" })">System Check</a></li>
                                <li><a href="@Url.Action("support", "teacher", new { area = "teacher" })">Support</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-bell noti"></i></a>
                            <ul class="dropdown-menu notidd">

                                @{
                                    NotificationManager nManager = new NotificationManager();
                                    List<UserNotifications> list = new List<UserNotifications>();
                                    list = nManager.ListofUserNotifications(Config.CurrentUser);

                                    if (list != null && list.Count > 0)
                                    {
                                        list = list.Take(3).ToList();
                                    }
                                    else
                                    {
                                        list = null;
                                    }
                                }

                                @if (list != null && list.Count > 0)
                                {
                                    foreach (var item in list)
                                    {
                                        <li><a href="@Url.Action("AllNotification","Teacher", new { @area="teacher"})">@item.ActionPerformed</a></li>
                                    }

                                }
                                else
                                {
                                    <li style="text-align:center;margin:45px;">No Notification Found</li>
                                }



                            </ul>
                        </li>
                        <li class="dropdown" id="dropdownlist">
                            <a href="#" class="dropdown-toggle" id="userid" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><i class="glyphicon glyphicon-user"></i>@Config.UsersProfile.FirstName <i class="glyphicon glyphicon-menu-down"></i></span></a>
                            <ul class="dropdown-menu userdd">
                                <li><a href="@Url.Action("teacherProfile", "Teacher", new { Area = "Teacher" })"><i class="glyphicon glyphicon-user"></i>My Profile</a></li>
                                <li><a href="@Url.Action("myAccount", "Teacher", new { Area = "Teacher" })"><i class="glyphicon glyphicon-briefcase"></i>My Account</a></li>
                                <li><a href="@Url.Action("Login", "Account", new { Area = "" })"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <div class="Footer">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <img src="~/Content/Front/frontimg/logo.png" />
                        <p>We are Leading company Providing you Digital Online Learning Services and some texts about our portal goes here some texts about our portal goes here</p>
                        <h2>
                            Toll Free :<br>
                            1800 000 000
                        </h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Company</h1>
                        <ul>
                            <li><a href="../AboutUs.html">About us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press Release</a></li>
                            <li><a href="../ContactUs.html">Contact us</a></li>
                            <li><a href="../TermsOfUse.html">Terms of use</a></li>
                            <li><a href="../PrivacyPolicy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Teaching Bharat</h1>
                        <ul>
                            <li><a href="#">Browse Course</a></li>
                            <li><a href="#">Browse Teachers</a></li>
                            <li><a href="#">Clear Doubts</a></li>
                            <li><a href="../FreeResources.html">Free Resourse</a></li>
                            <li><a href="#">Become a Teacher</a></li>
                            <li><a href="../SRegister.html">Student Registration</a></li>
                            <li><a href="../AllReviews.html">Read Reviews</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fblock">
                        <h1>Important Links</h1>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Need Help?</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="../SuggestCourse.html">Suggest Course</a></li>
                            <li><a href="../AskQuestion.html">Ask Question</a></li>
                            <li><a href="../Sfaqs.html">Student FAQs</a></li>
                            <li><a href="../GeneralFAQs.html">General FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomFooter">
            <div class="container" style="width: 100%">
                <div class="col-md-6 leftAlign">
                    <p>Copyright 2016 All Rights are Reserved by Teaching Bharat</p>
                </div>
                <div class="col-md-6 rightAlign">
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s1.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s2.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s3.png" />
                    </a>
                    <a href="#">
                        <img src="~/Content/Front/frontimg/s4.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content Mcourse">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Session Request | 11th November, 2016 (09:04 AM)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Student Name</td>
                                    <td><strong>Viral Modi</strong></td>
                                </tr>
                                <tr>
                                    <td>Session on</td>
                                    <td><strong>English - Topic here</strong></td>
                                </tr>
                                <tr>
                                    <td>Session type</td>
                                    <td><strong>Once</strong></td>
                                </tr>
                                <tr>
                                    <td>Session on</td>
                                    <td><strong>MON - 15th November, 2016</strong></td>
                                </tr>
                                <tr>
                                    <td>Session Time</td>
                                    <td><strong>10:00 AM - 11:00 AM ( 1 Hour )</strong></td>
                                </tr>
                                <tr>
                                    <td>Comments by Student</td>
                                    <td>Hi Sir, Please accept my request for the Session</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> ACCEPT</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-pencil"></i> MODIFY</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> DELETE</a>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/TLayoutjs")
    @RenderSection("Scripts", false)

    @{string aName = ViewContext.RouteData.GetRequiredString("action"); }
    <script type="text/javascript">


      var dataUser = '@TempData["UserData"]';

      if (dataUser != null && dataUser != '') {
          // if (window.localStorage.getItem("UserData") == null) {
          window.localStorage.setItem("UserData", null);
          window.localStorage.setItem("UserData", dataUser);

          // }

      }



    </script>

    <script type="text/javascript">
        var sN='@aName';
        if (sN.toLowerCase() == 'UpdateMySession'.toLowerCase())
        {
            $(".navbar-nav li").removeClass("active");
            $(".UpdateMySession").addClass("active");
        }
        else if (sN.toLowerCase() == 'mySubscriptions'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".mySubscriptions").addClass("active");
        }
        else if (sN.toLowerCase() == 'index'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".indexs").addClass("active");
        }
        else if (sN.toLowerCase() == 'CoursesList'.toLowerCase() || sN.toLowerCase() == 'CourseDetail'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".CoursesList").addClass("active");
        }
        else if (sN.toLowerCase() == 'myStudents'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".myStudents").addClass("active");
        }
        else if (sN.toLowerCase() == 'MyCalender'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".MyCalender").addClass("active");
        }
        else if (sN.toLowerCase() == 'freeResources'.toLowerCase() || sN.toLowerCase() == 'testlist'.toLowerCase() || sN.toLowerCase() == 'Folders'.toLowerCase() || sN.toLowerCase() == 'systemCheck'.toLowerCase() || sN.toLowerCase() == 'support'.toLowerCase()) {
            $(".navbar-nav li").removeClass("active");
            $(".MoreO").addClass("active");
        }
        else
        {
            $(".navbar-nav li").removeClass("active");
        }












    </script>

</body>
</html>
