﻿@using BLL.BusinessModels.TeacherModels
@model TestQuestionViewModel


@if (Model != null)
{
    using (Ajax.BeginForm("_PostAnswer", "Student", null, new AjaxOptions
    {
        UpdateTargetId = "UpdateMe",
        OnComplete="EnableValidations()"
    }, new {@id="MyQuestionForm" }))
    {

        @Html.HiddenFor(x => x.QuestionStartTime)
        @Html.HiddenFor(x => x.TestAssignID)
        @Html.HiddenFor(x => x.TestID)
        @Html.HiddenFor(x => x.QuestionBank.QuestionBankID)
        @Html.HiddenFor(x => x.index)
        Model.IsSkipped = false;

<div class="col-sm-12 STSmain">
    <h2>[ 4 ] Question :</h2>
    <h1>@Model.QuestionBank.Question</h1>
    <h2>Options :</h2>
    <ul class="testOption">
        <li>          
            @Html.RadioButtonFor(x => x.StudentMarkedAnswer, 1, new { @id = "f-option", @name = "selector" })
            <label for="f-option">@Model.QuestionBank.FirstOption</label>
            <div class="check"></div>
        </li>

        <li>
           
           @Html.RadioButtonFor(x => x.StudentMarkedAnswer, 2, new { @id = "s-option", @name = "selector" })
            <label for="s-option">@Model.QuestionBank.SecondOption</label>
            <div class="check">
                <div class="inside"></div>
            </div>
        </li>

        <li>
          
            @Html.RadioButtonFor(x => x.StudentMarkedAnswer, 3, new { @id = "t-option", @name = "selector" })
            <label for="t-option">@Model.QuestionBank.ThirdOption</label>

            <div class="check">
                <div class="inside"></div>
            </div>
        </li>
        <li>
         
            @Html.RadioButtonFor(x => x.StudentMarkedAnswer, 4, new { @id = "d-option", @name = "selector" })
            <label for="d-option">@Model.QuestionBank.FourthOption</label>

            <div class="check">
                <div class="inside"></div>
            </div>
        </li>

        <li>
            <label>
                @Html.ValidationMessageFor(x => x.StudentMarkedAnswer, "", new { @class = "text-danger" })
            </label>
        </li>
    </ul>
</div>

<div class="col-sm-6 STSBtns">
    <div class="col-sm-12 leftAlign">
        @*<a href="TestStartPaperFinish.html" class="snbtn">Submit and Next ></a>*@
        <input type="submit" class="snbtn" value="Submit and Next" />
    </div>
</div>
    }

<div class="col-sm-6 STSBtns">     
  

    @using (Ajax.BeginForm("_PostAnswer", "Student", null, new AjaxOptions
    {
    UpdateTargetId = "UpdateMe",
    OnComplete="EnableValidations()"
    }, new {@id="MyQuestionForm" }))
    {
    @Html.HiddenFor(x => x.QuestionStartTime)
    @Html.HiddenFor(x => x.TestAssignID)
    @Html.HiddenFor(x => x.TestID)
    @Html.HiddenFor(x => x.QuestionBank.QuestionBankID)
    @Html.HiddenFor(x => x.index)
        Model.IsSkipped = true;
        @Html.HiddenFor(x => x.IsSkipped)
    <div class="col-sm-12 rightAlign">
            <input type="submit" class="ssbtn" value="Skip and Next " />
    </div>
    }
</div>
}

<script>
    var total = '@TempData["TotalQuestions"]';
    var current = '@TempData["CurrentQuestion"]';
    var sumary = current + ' / ' + total;
    $("#questionscount").html(sumary);
</script>