﻿@using DAL.Entities
@model List<UserActivities>

<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-bell"></i>All Activities</h2>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("support","Student", new { @area="Student"})" class="btn mybtn btn-block">Need Support ?</a>
                </div>
            </div>
        </div>
        <div class="AllNoti">
            <div class="container">

                @if (Model != null && Model.Count > 0)
                {
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tbody>
                                
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ActionPerformed</td>
                                        <td><p>@item.Time.ToString("dd MMMM yyyy | hh:mm tt")</p></td>
                                    </tr>
                                }
                              
                            </tbody>
                        </table>
                    </div>
                }
               else
                {
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tbody>

                                <tr>
                                    <td>No Activity Found</td>  
                                </tr>

                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

