﻿@using DAL.Entities

@model List<UserNotifications>


<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-bell"></i>All Notifications</h2>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Support","Student", new { @area="Student"})" class="btn mybtn btn-block">Need Support ?</a>
                </div>
            </div>
        </div>
        <div class="AllNoti">
            <div class="container">
                <div class="col-md-12">

                    @if (Model != null && Model.Count > 0)

                    {
                        <table class="table table-bordered">
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.IsSeen != true)
                                        {
                                            <td><a href="#" class="unread">@item.ActionPerformed</a></td>
                                            <td><p>@item.Time.ToString("dd MMM, yyyy | hh:mm tt") </p></td>

                                        }
                                        else
                                        {
                                            <td><a href="#" class="namme">@item.ActionPerformed</a></td>
                                            <td><p>@item.Time.ToString("dd MMM, yyyy | hh:mm tt")</p></td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h3> No  Notification Found </h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
