﻿@model BLL.BusinessModels.StudentModels.BookSessionModel
@{
//ViewBag.Title = "StaticBookSessions";
//Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<style>
    input[type=checkbox] {
        display: none;
    }

    input[type=radio] {
        display: none;
    }
</style>
<style>
    .ECmain .listing .box {
        height: 250px;
    }

        .ECmain .listing .box .bottom {
            background: #b5b5b5;
        }

    .progress {
        margin-bottom: 5px;
    }

    .ECmain .listing .box .teacher {
        padding: 7px 0px;
        margin-bottom: 10px;
        border-top: 1px solid #cacaca;
        margin-top: 10px;
    }

    .row.table-date {
        margin-top: 25%;
        margin-left: 2.2%;
    }

    .custome-col {
        display: inline-block;
        width: 104.5px;
        text-align: center;
        margin: 0 -2px;
        vertical-align: top;
    }

        .custome-col p {
            margin: 0;
            padding: 10px 0;
        }

    .day-time {
        border: 1px solid #ccc;
        padding: 10px;
        margin: -1px 0;
    }

    .day-name p {
        font-weight: 700;
        font: 18px;
        color: #000;
    }

    .day-name {
        border: 1px solid #ccc;
    }

    .day-time a {
        background: #999;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 12px;
        transition: 0.4s;
    }

        .day-time a:hover {
            background: #ff6600;
            color: #fff;
            text-decoration: none;
            transition: 0.4s;
        }

    .nxtbtn {
        background: #00a048;
        padding: 10px 20px;
        color: #fff;
        font-family: Dbold;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .backbtn {
        background: #fff;
        color: #444;
        padding: 10px 20px;
        border-radius: 4px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
</style>

<link href="~/Content/Dstyle.css" rel="stylesheet" />

@if (Model.ListOfTeacherTimes.Count > 0)
{

    <div class="White79">
        <div class="ssmainn">
            <div class="container">
                <div class="col-md-12 subdetailTop nopadding">
                    <div class="col-md-7">
                        @*<h1>@Model.GradeName @Model.CurriculumName @Model.SubjectName</h1>*@
                    </div>
                    <div class="col-md-4">
                        <h4>Rate : <span>₹ @Model.SessionCost</span></h4>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("BookTrialSession", "Student", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => Model.TeacherID)

            <div class="container">
                <div class="col-md-12 nopadding">
                    <div class="col-md-8 nopadding">
                        <div class="col-md-12 nopadding">

                            <div class="col-md-12">

                                <div class="form-group col-md-4" style="margin-right:1%;">
                                    <label>Select Curriculum</label>
                                    @Html.DropDownListFor(model => model.CurriculumID, Model.sListofCurriculums, "Select Curriculum", new { @class = "form-control dropdownlist" })
                                    @Html.ValidationMessageFor(model => model.CurriculumID, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4" style="margin-right:1%;">
                                    <label>Select Grade</label>
                                    @Html.DropDownListFor(model => model.GradeID, Model.sListofGrades, "Select Grade", new { @class = "form-control dropdownlist" })
                                    @Html.ValidationMessageFor(model => model.GradeID, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Select Subject</label>
                                    @Html.DropDownListFor(model => model.SubjectID, Model.sListofSubjects, "Select Subject", new { @class = "form-control dropdownlist" })
                                    @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
                                </div>

                            </div>


                            <div class="col-md-12">
                                <label>Enter Topics</label>
                                @Html.EditorFor(model => model.TopicName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter topic you want to Learn" } })
                                @Html.ValidationMessageFor(model => model.TopicName, "", new { @class = "text-danger" })
                            </div>


                            <div class="row table-date">
                                @{ var count = 0;}

                                @foreach (var item in Model.ListOfTeacherTimes)
                                {
                                    <div class="custome-col">
                                        <div class="day-name">
                                            <p>@item.Date</p>
                                        </div>

                                        @{var numbersAndWords = item.Time.Zip(item.RealTime, (n, w) => new { TimeCulture = n, RealTime = w });

                                        }

                                        @foreach (var items in numbersAndWords)
                                        {
                                            count++;
                                            <div class="day-time">
                                                <a href="javascript:void(0)" class="tag chkTime_@count" onclick="CheckedFunc('chkTime_@count');">
                                                    @Html.RadioButtonFor(x => x.TimeSlot, @items.RealTime, new { @id = "chkTime_" + (@count), @class = "targets" })
                                                    @items.TimeCulture
                                                </a>
                                            </div>
                                        }

                                    </div>
                                            }

                            </div>
                            <div style="margin-top:4%;">
                                @Html.ValidationMessageFor(x => x.TimeSlot, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <h3 class="intt">TEACHER DETAIL</h3>
                            <div class="col-md-12 TeacherBox">
                                <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>
                                @if (string.IsNullOrEmpty(Model.ProfilePic))
                                { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                                else
                                { <img src="~/UserImages/@Model.ProfilePic" />}

                                <h3>@Model.TeacherName</h3>
                                <p><span>@Model.Location</span></p>
                                <h4>Mobile Number : @Model.ContactNumber</h4>
                                <a href="#" class="green"><i class="glyphicon glyphicon-send"></i>Message</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 selfotr">
                    <div class="col-md-3">
                        <input type="submit" class="btn nxtbtn btn-block" value="Confirm">

                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("index","student", new { area="student"})" class="btn backbtn btn-block">Cancel</a>
                    </div>
                </div>
            </div>

                                            }
    </div>

                                            }
                                            else
                                            {
                                                <div class="container" style="width: 100%; height:55.7vh">
                                                    <div class="row" style="margin-top:10%;">
                                                        <div class="col-md-12">
                                                            <h4 class="text-danger text-center" style="font-weight:bold;"> Sorry ! This teacher has not provided his schedule. </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            }



<script type="text/javascript">

    function CheckedFunc(id) {
        var ids = "#" + id;
        var cls = "." + id;

        $(ids).prop("checked", true);
        $(cls).css({
            'background': '#ff6600',
            'color': '#fff'
        });

        $('.targets').not(ids).prop('checked', false);
        $('.tag').not(cls).css({
            'background': '#999',
            'color': '#fff'
        });
    }
</script>

