﻿@using BLL.Helpers;
@model BLL.BusinessModels.UserModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent changePass">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title text-center">Change your Password</h2>
                        <p class="status"><strong>Registered Email</strong> : @Config.User.LoginEmail</p>
                        <div class="col-md-12 bx">
                            @using (Html.BeginForm("ChangePassword", "Student", FormMethod.Post, new { area = "Student" }))
                            {
                                <div class="form-group">
                                    <label>Current Password</label>
                                    @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control", placeholder = "Current password" })
                                    @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger"})
                                    @*<input type="password" class="form-control" placeholder="Current password" />*@
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "New password" })
                                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                                </div>
                                <div class="form-group">
                                    <label>Re-type Password</label>
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Re-type password" })
                                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="submit" value="SAVE" class="btn btn-block btn-success" />
                                    </div>
                                    <div class="col-md-6">
                                        <a href="@Url.Action("myprofile","student", new { area="student"})" class="btn btn-block btn-danger">CANCEL</a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
