﻿@using BLL.BusinessModels.AdminModels
@model ChangeFiltersViewModel
<style>
   
     #GradeID:disabled {
        background: white;
    }

    #SubjectID:disabled {
        background: white;
    }
    .nxtbtn {
    
    background: #00a048;
    padding: 10px 20px;
    color: #fff;
    font-family: Dbold;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline:none;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3 tabfltr">

            @using (Html.BeginForm("ChangeFilters", "Student", FormMethod.Post))
                        {


            <div class="form-group">
                <label>Your Target</label>
                @Html.DropDownListFor(x => x.CurriculumID, Model.ListOfCurriculums, "Select Curriculum", new { @class = "form-control", @onchange = "LoadGrades()" })
                @Html.ValidationMessageFor(x => x.CurriculumID, "", new { @class = "text-danger" })


            </div>
            <div class="form-group">
                <label>Your Grade</label>
                @Html.DropDownListFor(x => x.GradeID, Model.ListOfGrades, "Select Grade", new { @class = "form-control", @disabled = "disabled", @onchange = "LoadSubjects()" })
                @Html.ValidationMessageFor(x => x.GradeID, "", new { @class = "text-danger" })


            </div>
            <div class="form-group">
                
                <label>Your Subject</label>
                @Html.DropDownListFor(x => x.SubjectID, Model.ListOfSubjects, "Select Subject", new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(x => x.SubjectID, "", new { @class = "text-danger" })

            </div>

            <br><br>
            <div class="form-group centeralign">

                <button type="submit" class="nxtbtn">
                 GO <i class="glyphicon glyphicon-menu-right"></i>
                </button>              
                
            </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">

    function LoadGrades() {
        var CurriculumID = $("#CurriculumID").val();

        if (CurriculumID != null && CurriculumID != '')
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CFGradesList", "Home", new { area = "" })',
                dataType: 'json',
                data: { CurriculumID: CurriculumID },
                success: function (cities) {
                    var gradesSelect = $('#GradeID');
                    gradesSelect.attr("disabled", false);
                    $("#SubjectID").attr('disabled', true);
                 
                    var txtstring = $('#GradeID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#GradeID").attr('disabled', true);
            $("#SubjectID").attr('disabled', true);
       
        }

    }

    function LoadSubjects() {
        var GradeID = $("#GradeID").val();
        if (GradeID != null && GradeID != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CFSubjectsList", "Home", new { area=""})',
                dataType: 'json',
                data: { GradeID: GradeID },
                success: function (cities) {
                    var gradesSelect = $('#SubjectID');
                    gradesSelect.attr("disabled", false);
                    
                    var txtstring = $('#SubjectID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#SubjectID").attr('disabled', true);
           
        }
    }


</script>