﻿@using DAL.Entities
@model TestAssigned


@if (Model!=null)
{

<div class="modal fade Details Bottom" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog DBottomModal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-12 StdTestBlock mb0">
                            <div class="col-sm-8">
                                <h3>@Model.Test.TestName</h3>
                                <p><span>Assigned by : @Model.AssignedByName</span><span>Subject : @Model.Test.GradeSubjectName </span><span>Marks : 100 </span><span>Test on : @Model.TestHappenedTime.ToString("dd/mm/yyyy hh:mm tt")</span><span>Duration : <a>60 Mins</a></span></p>
                                <p><span>Taken on : @Model.TestStartTime.ToString("dd/mm/yyyy hh:mm tt")</span><span>Duration : @Model.TotalSpendTime.ToString("0.00") Mins</span></p>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="greenTxt">@Model.TestStatusName</h4>
                                <a href="#" class="stdrsbtn" data-dismiss="modal" aria-label="Close">Close</a>
                                <a href="@Url.Action("ViewTestResult","Student", new { area="Student",@TAID=Model.TestAssignedID,@SID=Model.FKAssignedTo})" class="stdrsbtn" target="_blank">View Full Report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

}
