﻿@using BLL.Helpers;
@model BLL.BusinessModels.UserModels.EditProfileViewModel
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
<style>
    #disEmail:disabled { background: white; }
</style>
<div class="White79">

@using (Html.BeginForm("EditProfile", "Student", FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    <div class="TeacheProfileTop stdpf">
        <div class="container">
            <div class="col-md-12 nopadding">
                <div class="col-sm-2 dp">
                    @if (string.IsNullOrEmpty(Model.ProfileImage))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange"/>}
                    else
                    { <img src="~/UserImages/@Model.ProfileImage" id="imgChange"/>}

                    <label class="btn btn-xs btn-success btn-file">
                        <i class="glyphicon glyphicon-pencil"></i>
                         <input  type="file" style="display: none;" id="imgUpload" name="PostedFile" />
                   </label>
                    @*@Html.ValidationMessage("file", "", new { @class = "text-danger" }) data-val="true"  data-val-required="Please select a file" name="file"*@
                    <div id="validatormsg" class="text-danger"></div>

                </div>
                <div class="col-sm-10 details">
                    <h1>@Config.UsersProfile.FirstName <span>@Config.UsersProfile.LastName</span></h1>
                    <p>
                    @Html.TextBoxFor(x=>x.Grade, new { @class= "form-control", @style = "width: 200px",@placeholder="Grade" })
                    @Html.ValidationMessageFor(x=>x.Grade,"", new { @class="text-danger"})
                                  </p>
                </div>
            </div>

        
            <div class="col-md-12 action">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("changePassword","student", new { area="student"})" class="btn btn-block ts">Change Password</a>
                </div>
            </div>
      
        </div>
    </div>
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">About Me</h2>
                        @Html.TextAreaFor(x=>x.AboutMe, new { @class = "form-control",@rows="7" })
                        @Html.ValidationMessageFor(x=>x.AboutMe,"", new { @class="text-danger"})
                       @* <textarea class="form-control" rows="7">Having loads of patience and understanding, enthusiasm and most of all being able to make the most boring of topics fun!!</textarea>*@
                        <div class="col-md-12 bx">
                            <h5><i class="glyphicon glyphicon-map-marker"></i><span>From </span></h5>
                            @Html.DropDownListFor(model => model.StateID, Model.sListofStates, "Select State", new { @class = "form-control dropdownlist" ,@placeholder="About yourself" })
                            @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
                            <h5><i class="glyphicon glyphicon-map-marker"></i><span>From </span></h5>

                            @Html.TextBoxFor(x => x.CityName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CityName, "", new { @class = "text-danger" })


                            @*<input type="text" class="form-control" value="Surat, Gujarat (India)" />*@
                            <h5><i class="glyphicon glyphicon-volume-down"></i><span>Speaks </span></h5>

                            @Html.TextBoxFor(x => x.Languages, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Languages, "", new { @class = "text-danger" })


                            @*<input type="text" class="form-control" value="English, Hindi, Gujarati" />*@
                            <h5><i class="glyphicon glyphicon-envelope"></i><span>Email </span></h5>
                            <input type="text" id="disEmail" class="form-control" value="@Model.EmailAddress" disabled/>
                            <h5><i class="glyphicon glyphicon-earphone"></i><span>Contact </span></h5>
                            @Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ContactNumber, "", new { @class = "text-danger" })
   </div>
                    </div>
                    <div class="col-md-12 TPBbox">
                        <div class="col-md-6">
                            <input type="submit" value="SAVE" class="btn btn-block btn-success" />
                            @*<a href="#" class="btn btn-block btn-success">SAVE</a>*@
                        </div>
                        <div class="col-md-6">
                            <a href="@Url.Action("myprofile","student", new { area="student"})" class="btn btn-block btn-danger">CANCEL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
</div>

<script type="text/javascript">

        document.getElementById('imgUpload').onchange = function (chk) {
            $("#validatormsg").empty();
            var val = $(this).val();
            var input = this;
            switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
                case 'jpg': case 'jpeg': case 'png':
                  
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imgChange').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);

                    break;
                default:
                    $(this).val('');
                    $("#validatormsg").empty();
                    $("#validatormsg").html("Only JPG and PNG formats Allowed");
                    break;

            }
        }

</script>
