﻿@using BLL.Helpers
@model BLL.BusinessModels.StudentModels.StudentDashboardViewModel

@{ int status = ViewBag.Status;
}

<div class="White79">
	<div class="TeacheProfileTop StudentMainBg">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 nopadding">
					@switch (status)
					{
						case 1: // Information
							<div class="alert alert-info fade in">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<i class="glyphicon glyphicon-info-sign alert-icon "></i>
								<strong>Success ! </strong> @ViewBag.Message
							</div>
							break;
						case 2: // Success
							<div class="alert alert-success fade in">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<i class="fa fa-check alert-icon "></i>
								<strong>Success ! </strong> @ViewBag.Message
							</div>
							break;
						case 3: // Error
							<div class="alert alert-danger fade in">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<i class="glyphicon glyphicon-ban-circle alert-icon "></i>
								<strong>Failed ! </strong> @ViewBag.Message
							</div>
							break;
						case 4: // Warning
							<div class="alert alert-warning fade in">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<i class="glyphicon glyphicon-warning-sign alert-icon "></i>
								<strong>Warning ! </strong> @ViewBag.Message
							</div>
							break;
					}
				</div>
			</div>
			<div class="col-md-12 nopadding">
				<div class="col-sm-2 dp">
					@if (string.IsNullOrEmpty(Model.ProfileImage))
					{<img src="~/Content/Front/frontimg/noimage.jpg" />}
					else
					{ <img src="~/UserImages/@Model.ProfileImage" />}
					@*<img src="~/Content/Front/frontimg/testi1.jpg" />*@
				</div>
				<div class="col-sm-10 details">
					<h1 style="color: #fff">@Model.FirstName @Model.LastName</h1>
					<p style="color: #fff"> @Model.City - @Model.StateName</p>
				</div>
			</div>
		</div>
	</div>
	<div class="GreyBg">
		<div class="container">
			<div class="col-md-12 TPContent">
				<div class="col-md-9">
					<div class="col-md-12 TPBbox">
						<div class="col-md-12 nopadding std-dash">
							<h2 class="title">Your This Week Learning Basic Report</h2>
						
							@foreach (var item in Model.listOfWeeklyReport)
							{
								if (DateTime.Now.ToString("dd/MM/yyyy") == @item.Date)
								{
									<div class="daybox Active">
										<p class="day">
											<span>@item.Day</span><br>
											@item.Date
										</p>
										<h4>@item.TotalHours Hrs</h4>

									</div>
								}
								else
								{
									<div class="daybox">
										<p class="day">
											<span>@item.Day</span><br>
											@item.Date
										</p>
										<h4>@item.TotalHours Hrs</h4>

									</div>
								}
							}

						</div>
					</div>
					<div class="col-md-12 TPBbox">
						<h2 class="title">SESSIONS REQUESTS </h2>
						@if (Model.listOfSession.Count > 0)
						{
							foreach (var item in Model.listOfSession)
							{
								if (item.TrialHappenDate > DateTime.Now)
								{
									<div class="col-md-12 ssbox new flex">
										<div class="col-xs-1 nopadding">
											
											@if (string.IsNullOrEmpty(item.ImageName))
											{<img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
											else
											{ <img src="~/UserImages/@item.ImageName" class="ssuser" />}

										</div>
										<div class="col-xs-9">
											<h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
											<p>Teacher : <a href="@Url.Action("TeacherProfile","Student", new {area="Student", TeacherID=@item.FKRequestedTo})">@item.RequestedToName</a></p>
											<h5>
												Session on : <span>
													@item.SessionTimes
												</span>
											</h5>
										</div>
										<div class="col-xs-2 nopadding">
											@*<a href="@Url.Action("PendingSessions","Student", new { area="Student"})" class="btn btn-block">Details</a>*@
										</div>
									</div>
								}
							}
							<a href="@Url.Action("PendingSessions","Student", new { area="Student"})" class="btn btn-xs btn-default pull-right">View Detail</a>

						}
						else
						{
							<h4>NO SESSIONS REQUEST RECEIVED</h4>
						}

					</div>

					<div class="col-md-12 TPBbox">
						<h2 class="title">UPCOMMING SESSIONS </h2>
						@if (Model.listOfUpcomingSession != null && Model.listOfUpcomingSession.Count > 0)
						{
							foreach (var item in Model.listOfUpcomingSession)
							{
								<div class="col-md-12 ssbox new flex">
									<div class="col-xs-1 nopadding">
										@if (string.IsNullOrEmpty(item.ImageName))
										{<img src="~/Content/Front/frontimg/noimage.jpg" class="ssuser" />}
										else
										{ <img src="~/UserImages/@item.ImageName" class="ssuser" />}


									</div>
									<div class="col-xs-9">
										<h2>Session on  @item.SubjectName - <span> @item.TopicName </span></h2>
										<p>Teacher : <a href="@Url.Action("TeacherProfile","Student", new {area="Student", TeacherID=@item.FKRequestedTo})">@item.RequestedToName</a></p>
										<h5>
											Session on : <span>
												@item.SessionTimes
											</span>
										</h5>
									</div>
									<div class="col-xs-2 nopadding">

									</div>
								</div>
							}
							<a href="@Url.Action("UpcomingSessions","Student", new { area="Student"})" class="btn btn-xs btn-default pull-right">View Detail</a>

						}
						else
						{
							<h4>NO UPCOMING SESSIONS</h4>
						}
					</div>

				</div>

				<div class="col-md-3">
					<div class="col-md-12 pad15 TPBbox">
						<h2 class="title">Notifications</h2>

						@if (Model.listOfMyNotifications != null && Model.listOfMyNotifications.Count > 0)
						{
							foreach (var item in Model.listOfMyNotifications)
							{

								<div class="col-md-12 notilst">
									<h6>@item.ActionPerformed</h6>
									<p>@item.Time.ToString("dd MMM, yyyy | hh:mm tt")</p>
								</div>

							}

							<div class="col-md-12 centeralign">
								<br>
								<a href="@Url.Action("allNotification","student", new { area="student"})" class="btn btn-xs btn-primary">View all Notification</a>
							</div>
						}
						else
						{
							<div class="col-md-12 notilst">
								<h5>No Notification Found</h5>
							</div>
						}

					</div>

					<div class="col-md-12 pad15 TPBbox">
						<h2 class="title">Activities</h2>

						@if (Model.listOfUserActivities != null && Model.listOfUserActivities.Count > 0)
						{
							CustomTimeZone czone = new CustomTimeZone();
							foreach (var item in Model.listOfUserActivities)
							{

								<div class="col-md-12 notilst">
									<h5>@item.Comments</h5>
									<p>

										@item.ActivityDateTime.ToString("dd MMMM yyyy | hh:mm tt")

									</p>
								</div>

							}


							<div class="col-md-12 centeralign">
								<br>
								<a href="@Url.Action("allActivities", "student", new { area = "student" })" class="btn btn-xs btn-primary">View all Activities</a>
							</div>
						}
						else
						{
							<div class="col-md-12 notilst">
								<h5>No Activity Found</h5>
							</div>
						}
					</div>

					<div class="col-md-12 pad15 TPBbox">
						@using (Html.BeginForm("SubmitSupport", "Student", FormMethod.Post))
						{

							<h2 class="title">Support</h2>
							<div class="form-group">
								<label>Subject</label>
								@Html.TextBox("Subject", "", new { @class = "form-control", @placeholder = "Subject", @data_val = "true", @data_val_required = "Subject is required" })
								@Html.ValidationMessage("Subject", "", new { @class = "text-danger" })
							</div>
							<div class="form-group">
								<label>Comment</label>
								@Html.TextArea("Messages", new { @class = "form-control", @placeholder = "comment", @rows = "4", @data_val = "true", @data_val_required = "Message is required" })
								@Html.ValidationMessage("Messages", "", new { @class = "text-danger" })
							</div>
							<input type="submit" class="btn btn-block btn-primary" value="SUBMIT">

						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
