﻿@model List<DAL.Entities.TeacherSubjects>
@{
    ViewBag.Title = "ListOfTeachers";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">

<div class="White79">
    <div class="container">
        <div class="col-md-12 MCContent">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#1" role="tab" data-toggle="tab">CHOOSE TEACHER</a></li>
                        <li role="presentation"><a href="#3" role="tab" data-toggle="tab">CHANGE FILTERS</a></li>

                    </ul>
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="1">
                            <div class="row">
                                <div class="col-md-12">

                                    @if (Model.Count > 0)
                                    {
                                        int counter = 0;
                                            foreach (var item in Model)
                                            {
                                            counter++;
                                            <div class="col-md-4">
                                                <div class="col-md-12 TeacherBox nopadding  center-block">
                                                    <div class="row col-md-12 nopadding right">

                                                        @if (item.User.IsOnline == true)
                                                        {
                                                            <h6 class="online"><i class="glyphicon glyphicon-stop"></i>Online</h6>

                                                        }
                                                        else
                                                        {
                                                            <h6><i class="glyphicon glyphicon-stop"></i>Offline</h6>
                                                        }

                                                        @if (string.IsNullOrEmpty(item.ProfilePic))
                                                        { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                                                        else
                                                        { <img src="~/UserImages/@item.ProfilePic" />}

                                                        <h3>@item.User.FirstName @item.User.LastName</h3>
                                                        <p>Qualification : <span>@item.User.Qualification</span></p>
                                                        <p>Experiance : <span>@item.User.Experience</span></p>
                                                        <h4>
                                                            Ratings :
                                                            @* <i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i>*@
                                                            @if (item.Ratings > 0)
                                                            {
                                                                @*@item.Ratings.ToString("0.00")*@

                                                                <div id="rateYo_@(counter)"></div>

                                                                @*<i id="rateYo"></i>*@
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("No one Rated")
                                                            }
                                                        </h4>

                                                    </div>
                                                    <div class="row col-md-12 nopadding center-block">
                                                        <div class="col-md-6 nopadding">
                                                            <a href="@Url.Action("StaticBookSessionss","Student",new { area="Student",@TeacherID=@item.FKUserID, @CurriculumID=@ViewBag.CurriculumID,@GradeID=@ViewBag.GradeID, @SubjectID=@ViewBag.SubjectID})" class="green"><i class="glyphicon glyphicon-ok"></i>Choose</a>

                                                        </div>
                                                        <div class="col-md-6 nopadding">
                                                            <a href="@Url.Action("TeacherProfile","Student",new { area = "Student", @TeacherID=@item.FKUserID})"> <i class="glyphicon glyphicon-user"></i>Profile</a>

                                                        </div>

                                                        </div>
                                                        
                                                   
                                                </div>
                                               
                                                </div>
                                            <script>
                                  $(function() {

                                      $("#rateYo_@counter").rateYo({
                                        rating: @item.Ratings,
                                          readOnly:true ,
                                          starWidth: "15px",
                                          ratedFill:"#ff6600"});
                                          });
                                            </script>
                                        }

                                    }
                                    else
                                    {
                                            <h4 class="text-danger text-center"> Sorry No teacher found against your Search</h4>
                                    }

                                </div>

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="3">
                           @Html.Action("ChangeFilters","Student",new { area="Student"})
                        </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>

<style>
    .jq-ry-container{
        display: inline-block;
    }
</style>