﻿
<style>
    input[type=checkbox] {
        display: none;
    }

    .nxtbtn {
        background: #00a048;
        padding: 10px 21px;
        color: #fff;
        font-family: Dbold;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
</style>

<div class="col-md-12" id="result">
    <div class="col-md-8 col-md-offset-2 FTStep">
        <div class="col-md-12 nopadding">
            <div class="col-md-3">
                <img src="~/Content/Front/frontimg/RudraaAssistant.gif" alt="" />
            </div>
            <div class="col-md-9">
                <h2>Hey this is <span>OMM</span>,</h2>
                <h3>Your Personal Virtual Assistant</h3>
                <p><span>I'll help you to find the best teacher for you !</span></p>
            </div>
            <div class="col-md-12 bottom">
                <div class="col-md-6 leftalign">
                </div>
                <div class="col-md-6 rightalign">
                    @*  <a href="FindTeacherStep2.html" class="nxtbtn">Lets get Start</a>*@

                    @using (Ajax.BeginForm("LoadCurriculums", "Student", new { }, new AjaxOptions
                    {
                        UpdateTargetId = "result",
                        InsertionMode = InsertionMode.Replace

                    }, new { }))
                    {
                        @*<a href="FindTeacherStep2.html" class="nxtbtn">Lets get Start</a>*@
                        <input type="submit" class="nxtbtn" value="Lets get Start" />
                    }
                </div>

            </div>
        </div>
    </div>
</div>