﻿@model BLL.BusinessModels.TeacherModels.FindTeacherViewModel
<style>
    input[type=checkbox] {
        display: none;
    }

    .nxtbtn {
        background: #00a048;
        padding: 10px 21px;
        color: #fff;
        font-family: Dbold;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
</style>
<div class="col-md-12" id="result">
    @using (Ajax.BeginForm("SubmitSubjects", "Student", new { @GradeId = Model.varGradeId, @CurriculumID = Model.CurriculumID }, new AjaxOptions
    {
        UpdateTargetId = "result",
        InsertionMode = InsertionMode.Replace

    }, new { }))
    {
        <div class="col-md-8 col-md-offset-2 FTStep">
            <div class="col-md-10 col-md-offset-1 nopadding">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <img src="~/Content/Front/frontimg/RudraaAssistant.gif" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h2>Select Your Subject.</h2>
                    </div>
                </div>
                <div class="col-md-12 select">


                    @foreach (var item in Model.ListofSubjects)
                    {
                        <a href="javascript:void(0)" class="tag" onclick="CheckedFunc('chktargetname_@item.SubjectId');">
                            <input class="targets" type="checkbox" id="chktargetname_@item.SubjectId" name="SubjectId" value="@item.SubjectId" />
                            @item.SubjectName
                        </a>
                    }

                    <div class="text-danger">@ViewBag.Message</div> 
                </div>
            </div>
            <div class="col-md-12 bottom">
                <div class="col-md-4 leftalign">
                    @*<a href="FindTeacherStep1.html" class="backbtn"><i class="glyphicon glyphicon-menu-left"></i>Back</a>*@
                    @Ajax.ActionLink("Previous",
                        "LoadGrades",
                        "Student",
                        new { @TargetId = Model.CurriculumID },
                        new AjaxOptions { UpdateTargetId = "result" }, new { @class = "backbtn" })
                </div>
                <div class="col-md-4 centeralign">
                    <a class="nobtn">Step : 3 / 3</a>
                </div>
                <div class="col-md-4 rightalign">
                    <input type="submit" class="nxtbtn" value="Submit" />
                    @*<a href="FindTeacherStep3.html" class="nxtbtn">Next<i class="glyphicon glyphicon-menu-right"></i></a>*@
                </div>
            </div>

        </div>
    }
</div>
<script type="text/javascript">
function CheckedFunc(id)
    {
        var ids="#"+id;
        $(ids).attr("checked", true);
        $('.targets').not(ids).attr('checked', false);
}
</script>
