﻿@using BLL.Helpers;
@model BLL.BusinessModels.UserModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent changePass">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title text-center">In Progress..</h2> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

