﻿@model List<BLL.BusinessModels.CalenderModels.CalenderDateViewModel>
@{
    ViewBag.Title = "My Calender";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";

}

<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-calendar"></i>My Calendar</h2>
                </div>
            </div>
            <div class="col-md-2 nopadding MyCalSide">
                <h1>Upcoming Sessions</h1>
                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-12 box">
                            <h2>@item.Date</h2>
                            @if (item.Sessions.Count > 0)
                            {
                                foreach (var items in item.Sessions)
                                {
                                    <p>Session on @items.TopicName</p>
                                    <p> with  <a href="@Url.Action("TeacherProfile","Student", new {area="Student", TeacherID=@items.Teacher})" style="color:red;text-decoration: none;">@items.TeacherName</a></p>
                                    <h5>@items.FromToTime</h5>
                                }
                            }
                            else
                            {
                                <p>No upcoming sessions</p>
                            }
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-12 box">
                    <h2>No Upcoming Sessions Found</h2>
                </div>
                }
            </div>
            <div class="col-md-10">
                <div id='calendar'>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    $(document).ready(function ()
    {
    $('#calendar').fullCalendar({
    header:
    {
        left: "prev,next",
        center: 'title',
        right: "month,agendaWeek,agendaDay"
    },
    editable: false,
    allDayDefault: false,
    allDaySlot: true,
    timeFormat: false,
  
    eventLimit: true, //'h:mm' allow "more" link when too many events /Tutoring/Student/Student/SerializeEvent
    events: "@Url.Action("SerializeEvent","Student")"
    });
    });
    </script>
