﻿@using BLL.Helpers;
@model BLL.BusinessModels.UserModels.MyProfileViewModel
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    int status = ViewBag.Status;
}


<div class="White79">
    <div class="TeacheProfileTop stdpf">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>


            <div class="col-md-12 nopadding">
                <div class="col-sm-2 dp">
                    @if (string.IsNullOrEmpty(Model.ProfileImage))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                    else
                    { <img src="~/UserImages/@Model.ProfileImage" />}


                     </div>
                <div class="col-sm-10 details">
                    <h1>@Config.UsersProfile.FirstName <span>@Config.UsersProfile.LastName</span></h1>
                    <p>Grade : @Model.Grade</p>
                </div>
            </div>
            <div class="col-md-12 action">
                <div class="col-md-3">
                    <a href="@Url.Action("editProfile","student", new { area="student"})" class="btn btn-block bs">Edit Profile</a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("myAccount","student", new { area="student"})" class="btn btn-block bs">My Account</a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("changePassword","student", new { area="student"})" class="btn btn-block ts">Change Password</a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("Login", "Account", new {Area = ""})" class="btn btn-block ts">Sign out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">About Me</h2>
                        <p class="status">@Model.AboutMe</p>
                        <div class="col-md-12 bx">
                            <h5><i class="glyphicon glyphicon-map-marker"></i><span>From </span>@Model.Location</h5>
                            <h5><i class="glyphicon glyphicon-volume-down"></i><span>Speaks </span>@Model.Languages</h5>
                            <h5><i class="glyphicon glyphicon-envelope"></i><span>Email </span>@Model.EmailAddress</h5>
                            <h5><i class="glyphicon glyphicon-earphone"></i><span>Contact </span>@Model.ContactNumber</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
