﻿@model BLL.BusinessModels.StudentModels.StudentDashboardViewModel
@{
    ViewBag.Title = "MySessions";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-list-alt"></i>My Session Requested</h2>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("sessionsScheduled","student", new { area="student"})" class="btn mybtn btn-block">Session Scheduled</a>
   </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 nopadding">

                @if(Model.listOfSession.Count>0)
                {
                <h3 class="intt">SESSION REQUESTS</h3>
                <div class="col-md-12">
                    <table class="table table-bordered ssTable">
                        <thead>
                            <tr>
                                <th>Session Request</th>
                                <th>Session On</th>
                                <th>Session Date</th>
                                <th>Duration</th>
                                <th>Status</th>
                                <th>Past/Upcoming</th>
                                @*<th>Action</th>*@
                            </tr>
                        </thead>
                     
                        @foreach (var item in Model.listOfSession)
                        { 
                            <tbody>
                            <tr>
                                <td>
                                    To <a href="@Url.Action("TeacherProfile","Student", new {area="Student", TeacherID=@item.FKRequestedTo})" class="namme">@item.RequestedToName</a><br>
                                    <p class="sstime">@item.RequestedTimes</p>
                                </td>
                                <td>
                                    <p class="sstopic">
                                       @item.SubjectName<br>
                                        <span>@item.TopicName</span>
                                    </p>
                                </td>
                                <td>
                                    <p class="ssdate">
                                       @item.SessionTimes<br>
                                    </p>
                                </td>
                                <td>
                                    <p class="ssdate">1 Hour</p>
                                </td>
                                <td><a class="btn btn-xs btn-danger">@item.RequestStatusName</a></td>
                                <td><a class="btn btn-xs btn-info">@item.SessionStatus</a></td>

                                 @*<td><a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-dss">View Detail</a></td>*@
                            </tr>
                      
                        </tbody>
                        }
                    </table>
                </div>
                }
                else
                {
                    <h2 class="title">NO SESSIONS FOUND</h2>
                }

            </div>
        </div>
    </div>
</div>


