﻿@model List<DAL.Entities.UsersProfile>
@{
    ViewBag.Title = "MyTeachers";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-12 pad15 TPBbox">
                    @if (Model != null && Model.Count > 0)
                    {
                        <h2 class="title">
                            MY Teachers (@Model.Count)
                        </h2>
                    }
                    else
                    {
                        <h2 class="title">
                            MY Teachers (0)
                        </h2>
                    }
                 @if (Model != null && Model.Count > 0)
                 {
                     foreach (var item in Model)
                     {
                        <div class="col-md-2">
                        <div class="col-md-12 HTblock" style="padding: 5px !important; margin-bottom: 5px !important">
                            <a href="@Url.Action("TeacherProfile","Student", new { area="Student", @TeacherID =item.FKUserID})" style="text-decoration:none;color:black;">
                                @if (string.IsNullOrEmpty(item.ProfilePic))
                                { <img src="~/Content/Front/frontimg/noimage.jpg" id="imgChange" />}
                                else
                                { <img src="~/UserImages/@item.ProfilePic" id="imgChange" />}

                                <p style="font-size: 12px">@item.FirstName @item.LastName</p>
                                <p><span>@item.CityName - @item.StateName</span></p>
                                <p>
                                @if (item.IsWebcam == true)
                                {
                                    <span>
                                    Status:  online
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        Status: offline
                                    </span>
                                }
                                    </p>

                            </a>
                        </div>
                    </div>
                     }
                 }
                 else
                 {
                    <h2>No Teacher Found</h2>
                 }

                </div>
            </div>
        </div>
    </div>
</div>

