﻿@using BLL.BusinessModels.TeacherModels
@model MySessions

@{
    ViewBag.Title = "My Sessions";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
@{
    int status = ViewBag.Status;
}
<div class="White79">
    <div class="GreyBg">
        <div class="container" style="width: 100%">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 nopadding">
                    @switch (status)
                    {
                        case 1: // Information
                            <div class="alert alert-info fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-info-sign alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 2: // Success
                            <div class="alert alert-success fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="fa fa-check alert-icon "></i>
                                <strong>Success ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 3: // Error
                            <div class="alert alert-danger fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-ban-circle alert-icon "></i>
                                <strong>Failed ! </strong> @ViewBag.Message
                            </div>
                            break;
                        case 4: // Warning
                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="glyphicon glyphicon-warning-sign alert-icon "></i>
                                <strong>Warning ! </strong> @ViewBag.Message
                            </div>
                            break;
                    }
                </div>
            </div>


            <div class="col-md-12 TitleStripp">
                <div class="col-md-9">
                    <h2><i class="glyphicon glyphicon-list-alt"></i>Pending Sessions</h2>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 nopadding">

                @if (Model.listOfPendingSession != null && Model.listOfPendingSession.Count > 0)
                {
                    <h3 class="intt">Session Requests</h3>
                    <div class="col-md-12">
                        <table class="table table-bordered ssTable">
                            <thead>
                                <tr>
                                    <th>Session Request</th>
                                    <th>Session On</th>
                                    <th>Session Date</th>
                                    <th>Duration</th>
                                

                                </tr>
                            </thead>

                            @foreach (var item in Model.listOfPendingSession)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            From <a href="#" class="namme">@item.RequestedByName</a><br>
                                            <p class="sstime">@item.RequestedTimes</p>
                                        </td>
                                        <td>
                                            <p class="sstopic">
                                                @item.SubjectName<br>
                                                <span>@item.TopicName</span>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="ssdate">
                                                @item.SessionTimes<br>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="ssdate">1 Hour</p>
                                        </td>

                                      
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <h2 class="title">NO SESSIONS FOUND</h2>
                }

            </div>
        </div>
    </div>
</div>



