﻿@using BLL.BusinessModels.TeacherModels
@model RatingInsertionModel

<div class="modal fade" id="WriteReviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content Mcourse">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Write Your Reviews</h4>
            </div>
@using (Html.BeginForm("RateTeacher", "Student", null, FormMethod.Post, new { @class = "form-horizontal", @id = "ReviewForm" }))
{
    @Html.HiddenFor(x => x.TeacherID)
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 MainReview">
                    
                         

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Your Ratings</label>
                                <div class="col-sm-9">
                                   @Html.DropDownListFor(x => x.RatingStars, Model.ListofStars, "Select Your Ratings", new { @class = "form-control" })                           
                                    @Html.ValidationMessageFor(x => x.RatingStars, "", new { @class = "text-danger" })
                                </div>
                            </div>
                      <br />
                                  <div class="form-group">
                                <label class="col-sm-3 control-label">Your Review</label>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(x => x.Comment, new { @class = "form-control", @placeholder = "Comment", @rows = "5" })
                                   @Html.ValidationMessageFor(x => x.Comment, "", new { @class = "text-danger" })
                                </div>
                            </div>


                    </div>
                </div>
            </div>
                      
            <div class="modal-footer">
                <input type="submit" class="btn mybtn" value="Submit" />  
            </div>
}
        </div>
    </div>
</div>

