﻿@using DAL.Entities
@model Test
@{
    ViewBag.Title = "StartTest";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="White79">
    <div class="container nopadding" style="width: 100%">
        <div class="col-sm-12 nopadding">
           
            
             <div class="col-sm-9 STestArea">
                <div class="col-sm-12 STSTop">
                    <div class="col-sm-6 leftAlign">
                        <h3>Question : <div id="questionscount"></div></h3>
                    </div>
                    <div class="col-sm-6 rightAlign">
                        <h3>Time Left : <div id="countdown"></div></h3>
                    </div>
                </div>

                 @* My Partial View *@


                 <div id="UpdateMe">
                     @Html.Action("_TestQuestions","Student")
                 </div>

            </div>



            <div class="col-sm-3 STSside">
                <div class="col-sm-12">
                    <h3>Test Information</h3>
                    <p><span>Test Name :</span> @Model.TestName</p>
                    <p><span>Subject/Grade :</span> @Model.GradeSubjectName</p>
                    <p><span>Duration :</span> 60 mins</p>
                    <p><span>Total Questions :</span> 25</p>
                    <p><span>Test Marks :</span> 100</p>
                    <p><span>Assigned by :</span> @Model.AssignedByName</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">

            var dt = '@ViewBag.EndDate';
            var dateAr = dt.split('-');
            var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2];

            var end = new Date(dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]);

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;

            function showRemaining() {
               @*// var now = '@ViewBag.EndTime';//new Date();

                var dt1 = '@ViewBag.EndTime';
                var dateAr1 = dt1.split('-');
                var newDate1 = dateAr1[1] + '/' + dateAr1[0] + '/' + dateAr1[2];

                var now = new Date(dateAr1[1] + '/' + dateAr1[0] + '/' + dateAr1[2]);*@

                var now = new Date();

                var distance = end - now;
                if (distance < 0) {
                    clearInterval(timer);
                    document.getElementById('countdown').innerHTML = 'Time Complete';
                    window.onbeforeunload = null;
                    window.onbeforeunload = function () { null }
                    window.location.href = "@Url.Action("TestFinished", "Student", new { area="Student"})";
                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);

                document.getElementById('countdown').innerHTML = hours + ' : ';
                document.getElementById('countdown').innerHTML += minutes + ' : ';
                document.getElementById('countdown').innerHTML += seconds + ' sec';

            }
            timer = setInterval(showRemaining, 1000);
    </script>
@*<script src="~/Scripts/countdown.js"></script>
    <script type="text/javascript">
        alert('@ViewBag.EndTime');
        $('#countdown').countdown('@ViewBag.EndTime', function (event) {
            $(this).html(event.strftime('%H:%M:%S'));
        }).on('finish.countdown', function (event) {
            $(this).html('This offer has expired!')
              .parent().addClass('disabled');
        });

    </script>*@


    <script type="text/javascript">

        var total = '@TempData["TotalQuestions"]';
        var current = '@TempData["CurrentQuestion"]';
        var sumary = current + ' / ' + total;
        $("#questionscount").html(sumary);

        function EnableValidations() {
            $("#MyQuestionForm").removeData("validator");
            $("#MyQuestionForm").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("#MyQuestionForm");
            @*var total = '@ViewBag.TotalQuestions';
            var current = '@ViewBag.CurrentQuestion';
            var sumary = current + ' / ' + total;
            $("#questionscount").html(sumary);*@
        }

        window.onbeforeunload = function () {

            return "Data will be lost if you leave the page, are you sure?";
        };

    </script>

}

