﻿@{
    ViewBag.Title = "step_1";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}
<style>
    input[type=checkbox] {
        display: none;
    }

    .nxtbtn {
        background: #00a048;
        padding: 10px 21px;
        color: #fff;
        font-family: Dbold;
        border-radius: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .leftalign {
        margin-top: 2% !important;
    }
</style>
<div class="SLoginArea">
    <div class="container" id="result">

        @{Html.RenderPartial("~/Areas/Student/Views/Student/LoadOmm.cshtml");}

    </div>
</div>