﻿
@{
    ViewBag.Title = "SupportForm";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent changePass">
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12 pad15 TPBbox">
                        <h2 class="title">Support</h2>
                        @using (Html.BeginForm("SubmitSupport", "Student", FormMethod.Post))
                    {

                            <div class="form-group">
                                <label>Subject</label>
                                @Html.TextBox("Subject", "", new { @class = "form-control", @placeholder = "Subject", @data_val = "true", @data_val_required = "Subject is required" })
                                @Html.ValidationMessage("Subject", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Comment</label>
                                @Html.TextArea("Messages", new { @class = "form-control", @placeholder = "comment", @rows = "4", @data_val = "true", @data_val_required = "Message is required" })
                                @Html.ValidationMessage("Messages", "", new { @class = "text-danger" })
                            </div>
                            <input type="submit" class="btn btn-block btn-primary" value="SUBMIT">
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
