﻿
@{
    ViewBag.Title = "SystemCheck";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="White79">
    <div class="GreyBg">
       
        <img src="~/Content/TeacherDasboard/img/SpeedBanner.jpg" width="100%" />
        <div class="container">
            <div class="col-md-12 systemcheck">

                <div class="col-md-3">
                    <div class="col-md-12 scbox">

                        <img src="~/Content/TeacherDasboard/img/sc4.png" />
                        <h4>Browser Supported</h4>
                        <img id="_browser" src="~/Content/TeacherDasboard/img/sc02.png"  class="tick" />

                        @*<img id="_browser" src="../Include/img/sc02.png" class="tick" />*@
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="col-md-12 scbox">
                        <img src="~/Content/TeacherDasboard/img/sc1.png" />
                        <h4>Webcam</h4>
                    
                        <img id="_webCam" src="~/Content/TeacherDasboard/img/sc02.png" class="tick" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 scbox">
                        <img src="~/Content/TeacherDasboard/img/sc2.png" />
                      
                        <h4>Microphone</h4>
                        <img id="_microphone" src="~/Content/TeacherDasboard/img/sc02.png" class="tick" />

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 scbox">
                       
                        <img src="~/Content/TeacherDasboard/img/sc3.png" />
                        <h4 id="lblIntSpeed">Internet speed</h4>
                        <img  id="_internetSpeed" src="~/Content/TeacherDasboard/img/sc02.png" class="tick" />

                        @*<img id="_internetSpeed" src="../Include/img/sc02.png" class="tick" />*@
                    </div>
                </div>
     
            </div>
            <div class="col-md-10 col-md-offset-1">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <a href="@Url.Action("Index","Student", new { area="Student"})" class="btn btn-block mybtn">Dashboard</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <a href="@Url.Action("TryWhiteboard","Student", new { area="Student"})" class="btn btn-block mybtn">Try Whiteboard</a>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>






@section Scripts
{   
<script src="~/Scripts/systemcheck.js"></script>
   
 }