﻿@model BLL.BusinessModels.TeacherModels.TeacherDashboardViewModel
@using BLL.Helpers
@{
    ViewBag.Title = "TeacherProfile";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    bool bstatus = ViewBag.MyTeacherStatus;
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">

<div class="White79">
    <div class="TeacheProfileTop">
        <div class="container">
            <div class="col-md-12 nopadding">
                <div class="col-sm-2 dp">
                    @if (string.IsNullOrEmpty(Model.UserProfile.ProfilePic))
                    { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                    else
                    { <img src="~/UserImages/@Model.UserProfile.ProfilePic" />}


                </div>
                <div class="col-sm-10 details">
                    <h1>@Model.FirstName <span>@Model.LastName</span></h1>
                    <p>@Model.Qualification, @Model.InstituteName <i class="glyphicon glyphicon-ok-sign"></i></p>
                </div>
            </div>
            <div class="col-md-12 action">
                <div class="col-md-3">
                    <p>Experience : <span>@Model.Experience</span></p>
                </div>
                <div class="col-md-3">
                    <p>
                        Rate :
                        @if (Model.UserProfile.SessionCost != null && Model.UserProfile.SessionCost > 0)
                        {
                            <span>
                                @Model.UserProfile.SessionCost /Hour
                            </span>
                        }
                        else
                        {
                            <span>
                                N/A
                            </span>
                        }

                    </p>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("BookSession","Student",new { area="Student", @TeacherID=Model.TeacherID})" class="btn btn-block bs">BOOK SESSIONS</a>
                </div>
                <div class="col-md-3">
                    <a href="@Url.Action("BookTrialSession","Student",new { area="Student", @TeacherID=Model.TeacherID})" class="btn btn-block ts">FREE TRIAL SESSION</a>
                </div>
            </div>
        </div>
    </div>

    <div class="GreyBg">
        <div class="container">
            <div class="col-md-12 TPContent">
                <div class="col-md-6">
                    <div class="col-md-12 TPBbox">
                        <h2 class="title">About Me</h2>


                        @if (!string.IsNullOrEmpty(Model.UserProfile.AboutMe))
                        {
                            <p class="status">
                                @Model.UserProfile.AboutMe
                            </p>
                        }
                        else
                        {
                            <p class="status">
                                N/A
                            </p>
                        }


                        <div class="col-md-12 bx">
                            <h5><i class="glyphicon glyphicon-map-marker"></i><span>From </span>Surat, Gujarat (India)</h5>
                            <h5><i class="glyphicon glyphicon-volume-down"></i><span>Speaks </span>English, Hindi, Gujarati</h5>
                        </div>
                    </div>
                    <div class="col-md-12 TPBbox">

                        <h2 class="title">Subjects Taught</h2>
                        <div class="col-md-12 bx">
                            <table>
                                @foreach (var item in Model.listOfSubjects)
                                {
                                    <tr>
                                        <td>@item.SubjectName</td>
                                        <td><span>@item.CurriculumName @item.GradeName </span></td>
                                        @*@item.SubjectType*@
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="col-md-12 TPBbox">
                        <h2 class="title">Rating & Reviews</h2>

                        @if (Model.RatingsModel != null && Model.RatingsModel.ReviewsList.Count() > 0)
                        {
                            <h5 class="rating"><span>@Model.RatingsModel.RatingAverage.ToString("0.00") / 5</span> 
                      
                                <i id="rateYo"></i>
                                @Model.RatingsModel.TotalRatings Rating</h5>
                        int counter = 0;
                            foreach (var item in Model.RatingsModel.ReviewsList)
                            {
                                counter++;
                                <div class="col-md-12 ratebox">
                                    <p class="user">@item.StudentName<span>@item.StudentGrade, @item.StudentLocation</span></p>
                                    <p class="user">
                                        @*<input class="input-3" name="input-3" value="@item.Rating">*@
                                        <div id="rateYo_@(counter)"></div>
                                    </p>
                                    <p class="comment">" @item.Comment "</p>
                                </div>
                                <script>
                                  $(function() {

                                      $("#rateYo_@counter").rateYo({
                                        rating: @item.Rating,
                                          readOnly:true ,
                                          starWidth: "15px",
                                          ratedFill:"#ff6600"});
                                  });
                                </script>
                            }


                            <div class="col-md-12 reviewbtn">
                                <a href="@Url.Action("AllReviews","Student", new { area="Student",@TID=@Model.TeacherID})" class="btn">Read All Reviews</a>
                            </div>
                        }
                        else
                        {
                           
                             <h3 class="text-center text-capitalize">
                                No Ratings received Yet
                            </h3>

                            if (bstatus == true && Config.User.UserType != (int)Enumerations.UserType.Teacher)
                            {
                                <div class="col-md-12 reviewbtn">
                                    <a href="#" class="btn" onclick="IdGet(@Model.TeacherID)">Write Your Review</a>
                                </div>
                            }

                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div id="ModalWindow">

</div>

@*<script src="~/Scripts/star-rating.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>
<script type="text/javascript">

       function IdGet(id) {
           $("#ModalWindow").empty();
            var ids = id;
            var url = "@Url.Action("RateTeacher", "Student")?id=" + ids;
            $("#ModalWindow").load(url, function () {

                var form = $("#ReviewForm")
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");

                $.validator.unobtrusive.parse(form);

                $('#WriteReviews').modal('show');
            });


        }
    //$(document).on('ready', function () {
    //    $('.input-3').rating({ displayOnly: true, step: 0.5 });
    //    $('#input-4').rating({ displayOnly: true, step: 0.5 });
    //});

    $(function() {

        $("#rateYo").rateYo({
            rating: @Model.RatingsModel.RatingAverage,
            readOnly:true,
            starWidth: "22px",
            ratedFill:"#ff6600"    
        });
    });
</script>
<style>
  
    .TPContent .TPBbox h5.rating i {
    display:inline-block;
    }
</style>
