﻿
@{
    ViewBag.Title = "TestLoading";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}



<div class="White79">
    <div class="container">
        <div class="col-sm-12 StartTest01">
            <img src="~/Content/Front/frontimg/RudraaBotLike.png" alt="Rudraa Bot" />
          
            <h1>Good Luck</h1>
            <div class="col-sm-12">
                <div class="loader"></div>
            </div>
            <p class="info">Test is starting in few moments..</p>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(window).load(function () {
            window.setTimeout(function () {
                window.location.href = "@Url.Action("StartTest","Student", new { area="Student"})";
            }, 4000)
        });
</script>

