﻿@using DAL.Entities
@using BLL.Helpers
@model Test
@{
    ViewBag.Title = "TestInstructions";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}


<div class="White79">
    <div class="container">
        <div class="col-sm-12 StartTest01">
           
             <img src="~/Content/Front/frontimg/RudraaBot.jpg" alt="Rudraa Bot"/>
            
            <h1>
                Hi.. @Config.UsersProfile.FirstName @Config.UsersProfile.LastName<br>
                You are about to start the Test
            </h1>
            <p class="info">Please check the info given below and read the Description before start the Test</p>
            <div class="col-md-12 TQDetailsArea">
                <div class="col-md-5">
                    <br>
                    <h2><span>Test Name :</span>@Model.TestName</h2>
                    <h2><span>Grade / Subject :</span>@Model.GradeSubjectName</h2>
                </div>
                <div class="col-md-7 Metabox">
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Marks</span><br>
                                @Model.TotalScores
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Total Questions</span><br>
                                @Model.TotalQuestions
                            </h3>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <h3>
                                <span>Test Duration</span><br>
                                @Model.TestDuration mins
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
           
             <div class="col-sm-12 STDes">
                <h4>Description :</h4>
                <p>
                    Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                    Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                    Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                    Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                    Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                    Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here Description or info for to give test will go here
                </p>
            </div>

            <div class="col-sm-6 col-sm-offset-3">
                @using (Html.BeginForm("TestLoading", "Student", new { area = "Student" }))
                {
                    @Html.HiddenFor(x => x.TestAssignedID);
                    <input type="submit" class="ststmainbtn" value="Start Test Now" />
                    @*<a href="TestStart02.html" class="ststmainbtn">Start Test Now</a>*@
                }
              

            </div>
        </div>
    </div>
</div>

