﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@using System.Globalization
@model StudentsTestListViewModel
@{
    ViewBag.Title = "TestList";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    CustomTimeZone czone = new CustomTimeZone();
}

<script src="~/Scripts/countdown.js"></script>

@if (Model != null)
{

    <div class="White79">
        <div class="StdTitle">
            <h2>MY TESTS</h2>
        </div>
        <div class="container">
            <div class="col-sm-9 nopadding">

                @* List of Upcoming Tests  *@

                <div class="col-sm-12 StdTestNew">
                    <h3 class="t">Upcoming Tests</h3>
                    @{ int counter = 0;}
                    @if (Model.listOfUpcomingTests != null && Model.listOfUpcomingTests.Count > 0)
                    {
                        foreach (var item in Model.listOfUpcomingTests)
                        {


                            <div class="col-sm-12 StdTestBlock">
                                <div class="col-sm-8">
                                    <h3>@item.Test.TestName</h3>
                                    <p><span>Assigned by : <a href="#">@item.AssignedByName</a></span><span>Subject : <a href="#">@item.Test.GradeSubjectName</a></span><span>Marks : <a href="#">@item.Test.TotalScores</a></span></p>
                                    <p><span>Test on : <a>@item.TesthappenedString</a></span><span>Duration : <a>@item.Test.TestDuration mins</a></span></p>
                                </div>
                                <div class="col-sm-4">
                                    @{
                                        var startTime = item.TestHappenedTime.AddMinutes(-5);
                                        var endTime = item.TestEndTime;

                                    }
                                    @if (czone.DateTimeNow() >= startTime && czone.DateTimeNow() <= endTime)
                                    {
                                        <a href="@Url.Action("TestInstructions","Student", new {@area="Student",@TestAssignedID=@item.TestAssignedID })" class="StartTestBtn">Start Test</a>
                                        <p class="hrs">Test is Ready, Start Exam now..</p>
                                    }
                                    else
                                    {
                                        counter++;
                                        <h2 id="clock_@(counter)" data-countdown="@item.TestHappenedTime">@item.RemainingTime</h2>
                                        DateTime dateTime = DateTime.ParseExact(@item.RemainingTime, "HH:mm:ss",
                                                CultureInfo.InvariantCulture);

                                        <p class="hrs">Hours remaining..</p>

                                    }

                                </div>
                            </div>

                        }

                    }
                    else
                    {
                        <h4>No Upcoming Tests Available</h4>
                    }

                </div>


                @* All tests list  *@

                <div class="col-sm-12 StdTestNew">
                    <h3 class="t">All Tests </h3>



                    @if (Model.listOfAllTests != null && Model.listOfAllTests.Count > 0)
                    {
                        foreach (var item in Model.listOfAllTests)
                        {
                            <div class="col-sm-12 StdTestBlock">
                                <div class="col-sm-8">
                                    <h3>@item.Test.TestName</h3>
                                    <p><span>Assigned by : <a href="#">@item.AssignedByName</a></span><span>Subject : <a href="#">@item.Test.GradeSubjectName</a></span><span>Marks : <a href="#">@item.Test.TotalScores</a></span></p>
                                    <p><span>Test on : <a>@item.TesthappenedString</a></span><span>Duration : <a>@item.Test.TestDuration mins</a></span></p>
                                </div>

                                <div class="col-sm-4">

                                    @if (@item.TestStatus == 1 || @item.TestStatus == 2)
                                    {
                                        <h4>@item.TestStatusName</h4>
                                        <p class="hrs">Be prepared.. Good Luck</p>
                                    }
                                    else if (@item.TestStatus == 3)
                                    {
                                        <h4 class="greenTxt">@item.TestStatusName</h4>
                                        <a href="#" class="stdrsbtn" data-toggle="modal" data-target=".Details" onclick="IdGet('@item.TestAssignedID');">View Details</a>
                                        <a href="@Url.Action("ViewTestResult","Student", new { area="Student",@TAID=item.TestAssignedID,@SID=item.FKAssignedTo})" class="stdrsbtn" target="_blank">View Result</a>
                                    }
                                    else if (@item.TestStatus == 4)
                                    {
                                        <h4 class="redTxt">@item.TestStatusName</h4>
                                        <p class="hrs">Be aware Next time</p>
                                    }


                                    @*<h4>@item.TestStatusName</h4>
                                        <p class="hrs">Be prepared.. Good Luck</p>*@
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <h4>No Tests Available</h4>

                    }
                </div>

            </div>


            <div class="col-sm-3">
                @*<div class="col-sm-12 StestNoti">
                        <h2>Test Notification</h2>
                        <div class="col-sm-12 hight300">
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>You are been assigned for a <a href="#">new test</a> by Dhaval Khatri</h3>
                                <p>29 December, 2016 - 07 : 15 PM</p>
                            </div>
                            <div class="col-sm-12 StestNotiBlock">
                                <h3>Result for the Test name here is ready, you can view it <a href="#">Here</a></h3>
                                <p>22 December, 2016 - 04 : 15 PM</p>
                            </div>
                        </div>
                    </div>*@
                <div class="col-sm-12 stdtodaythought">
                    <p>Today's Thought</p>
                    <h1>Push yourself becasue, No one else is going to do it for you</h1>
                </div>
            </div>
        </div>
    </div>

}
<div id="ModalWindow">


</div>

<script type="text/javascript">

       function IdGet(id) {
           $("#ModalWindow").empty();
            var ids = id;
            var url = "@Url.Action("CompletedTestDetail", "Student")?TestAssignedID=" + ids;
            $("#ModalWindow").load(url, function () {
                $('#myModal').modal('show');
            });
        }


    $('[data-countdown]').each(function () {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function (event) {
            $this.html(event.strftime('%H:%M:%S'));
        });
    });

</script>



