﻿
@{
    ViewBag.Title = "TestFinished";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
}

<div class="White79">
    <div class="container">
        <div class="col-sm-12 mt50 StartTest01">
            <div class="checkmark-circle">
                <div class="background"></div>
                <div class="checkmark draw"></div>
            </div>
        </div>
        <div class="col-sm-12 finishmsg">
            <h2>WOHO.. You Finished.. !</h2>
        </div>
    </div>
</div>




@section scripts
{
    <script type="text/javascript">
        $(window).load(function () {
            window.setTimeout(function () {
                window.location.href = "@Url.Action("Index","Student", new { area="Student"})";
            }, 2500)
        });
    </script>

}