﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Rudraa Whiteboard</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.resizable.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.selectable.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.accordion.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.button.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.slider.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.tabs.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.progressbar.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.0.6-development-only.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <style>
        .ui-dialog-titlebar-close {
            visibility: hidden;
        }

        label, input {
            display: block;
        }

            input.text {
                margin-bottom: 12px;
                width: 95%;
                padding: .4em;
            }

        fieldset {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }

        h1 {
            font-size: 1.2em;
            margin: .6em 0;
        }

        div#users-contain {
            width: 350px;
            margin: 20px 0;
        }

            div#users-contain table {
                margin: 1em 0;
                border-collapse: collapse;
                width: 100%;
            }

                div#users-contain table td, div#users-contain table th {
                    border: 1px solid #eee;
                    padding: .6em 10px;
                    text-align: left;
                }

        .ui-dialog .ui-state-error {
            padding: .3em;
        }

        .validateTips {
            border: 1px solid transparent;
            padding: 0.3em;
        }
    </style>
</head>
<body>
    @*<header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="/images/whiteboardlogo.png" /></p>
                </div>
                <div class="float-right">

                    <nav>
                        <ul id="menu">

                            <li><a href="/Home/About?Length=4" target="_blank">About</a></li>
                            <li><a href="/Home/Contact?Length=4" target="_blank">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>*@
    <div id="body">

        @*<section class="content-wrapper main-content clear-fix">*@
        <section>
            <style type="text/css">
                #container {
                    position: relative;
                    overflow: auto;
                    scrollbar-base-color: #ffeaff;
                    height: 600px !important;
                }

                #whiteBoard {
                    border: 1px dashed #CCCCCC;
                    margin: 5px;
                    border-style: dotted;
                    border-width: 1px;
                    background-color: #FFFFFF;
                    vertical-align: top;
                    width: 950px !important;
                    height: 450px;
                }

                #imageTemp {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    margin: 5px;
                    width: 950px !important;
                    height: 450px;
                }

                #imageTempt {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    margin: 5px;
                }

                .ui-widget-overlay {
                    opacity: .70;
                    filter: Alpha(Opacity=70);
                }
            </style>

            <!-- One way webrtc start -->

            <style>
                audio, video {
                    -moz-transition: all 1s ease;
                    -ms-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    -webkit-transition: all 1s ease;
                    transition: all 1s ease;
                    vertical-align: top;
                    width: 100%;
                }

                /*input {
                    border: 1px solid #d9d9d9;
                    border-radius: 1px;
                    font-size: 2em;
                    margin: .2em;
                    width: 30%;
                }*/

                /*select {
                    border: 1px solid #d9d9d9;
                    border-radius: 1px;
                    height: 50px;
                    margin-left: 1em;
                    margin-right: -12px;
                    padding: 1.1em;
                    vertical-align: 6px;
                    width: 18%;
                }*/

                /*.setup {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    font-size: 102%;
                    height: 47px;
                    margin-left: -9px;
                    margin-top: 8px;
                    position: absolute;
                }*/

                /*p {
                    padding: 1em;
                }*/

                li {
                    border-bottom: 1px solid rgb(189, 189, 189);
                    border-left: 1px solid rgb(189, 189, 189);
                    padding: .5em;
                }
            </style>


            <script>
                document.createElement('article');
                document.createElement('footer');
            </script>

            <!-- scripts used for broadcasting -->
            @*<script src="https://cdn.webrtc-experiment.com/socket.io.js"></script> <!-- Signaling -->
                <script src="https://cdn.webrtc-experiment.com/RTCPeerConnection-v1.5.js"></script> <!-- WebRTC simple wrapper -->
                <script src="https://cdn.webrtc-experiment.com/webrtc-broadcasting/broadcast.js"></script> <!-- Multi-user connectivity handler -->
                <!-- This Library is used to detect WebRTC features -->
                <script src="https://cdn.webrtc-experiment.com/DetectRTC.js"></script>*@

            <!-- One way webrtc End -->
            <a href="/">Go To Home</a>
            <table width="100%" id="tableWhiteBoard">

                <tr>
                    <td style="width: 80%">
                        <table style="vertical-align: top; width: 100%;" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <img id="imgline" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/line_dim.png" onclick="SelectTool('line'); return false;" />
                                    <img id="imgpencil" style="border-color: Gray; border-style: dashed; width: 32px;
                            height: 32px" src="/images/pencil_dim.png" onclick="SelectTool('pencil'); return false;" />
                                    <img id="imgrect" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/rect_dim.png" onclick="SelectTool('rect'); return false;" />
                                    <img id="imgtext" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/text_dim.png" onclick="SelectTool('text'); return false;" />
                                    <img id="imgerase" style="border-color: Gray; border-style: dashed; width: 32px;
                            height: 32px" src="/images/erase_dim.png" onclick="SelectTool('erase'); return false;" />
                                    <img id="imgSave" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/save.png" onclick="SaveDrawings(); return false;" />
                                    <img id="imgTriangle" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/Triangle.png" onclick="SelectTool('Triangle'); return false;" />
                                    <img id="imgCircle" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/Circle.png" onclick="SelectTool('Circle'); return false;" />
                                    <img id="imgClearCanvas" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/Clear.png" onclick="ClearCanvas(); return false;" />
                                    <img id="imgLiningWhitebord" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/LiningWhitebord.png" onclick="LiningWhitebord(); return false;" />
                                    <img id="imgMathLining" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                         src="/images/MathLining.png" onclick="MathLining(); return false;" />

                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    <div id="container" style="width: 1000px; height: 450px">
                                        <canvas id="whiteBoard" class="dum"></canvas>
                                        <div id="status">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top">
                        <div id="divShare" style="border-width: 2px; width: 200px; border-color: black; padding: 10px;
                background-color: Silver; color: Teal;">
                            <table width="195px" style="table-layout: fixed;">
                                @*<colgroup>
                                        <col style="width: 195px;" />
                                    </colgroup>*@
                                <tbody>
                                    <tr>
                                        <td>
                                            @*
                                                    Multi connection start
                                                    <div id="participants"></div>
                                                <button id="start-conferencing">New Broadcast</button>
                                                <table id="rooms-list" class="visible"></table>

                                                <script src="https://cdn.webrtc-experiment.com/socket.io.js"></script>
                                                <script src="https://cdn.webrtc-experiment.com/RTCPeerConnection-v1.5.js"></script>
                                                <script src="https://cdn.webrtc-experiment.com/broadcast/broadcast.js"></script>
                                                <script src="https://cdn.webrtc-experiment.com/broadcast/broadcast-ui.js"></script>
                                                    Multi connection end
                                            *@

                                            <section class="experiment">
                                                @if (BLL.Helpers.Config.User.UserType == (int)BLL.Helpers.Enumerations.UserType.Teacher)
                                                {
                                                    <section>
                                                        <select id="broadcasting-option" style="visibility:hidden">
                                                            <option selected="selected">Audio + Video</option>
                                                            <option>Only Audio</option>
                                                            <option>Screen</option>
                                                        </select>
                                                        <p> Your Broadcast Name is </p> <input type="text" id="broadcast-name" value="@ViewBag.BrodcastName" disabled>
                                                        <button id="setup-new-broadcast" class="setup">Setup New Broadcast</button>
                                                    </section>
                                                }
                                                else
                                                {
                                                    <!-- list of all available broadcasting rooms -->
                                                    <table style="width: 100%;" id="rooms-list"></table>
                                                }

                                                <!-- local/remote videos container -->
                                                <div id="videos-container"></div>
                                            </section>

                                            <script src="~/Scripts/OneWayWebRTC.js"></script>

                                            <span>
                                                <i>
                                                    <b>Invite </b>, share the whiteboard using below link or click on it to open in a new window
                                                    and check this out.
                                                </i>
                                                <br />
                                                @*<a href="http://localhost:58449/?p=aJo0RHFF8kOKxPGK7QyzmQ" target="_blank">http://localhost:58449/?p=aJo0RHFF8kOKxPGK7QyzmQ</a>*@
                                                @*<a href="@ViewData["url"]" target="_blank">@ViewData["url"]</a>*@
                                                <input type="text" value="@ViewData["url"]" disabled />
                                                <br />
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div id="divMessage" style="height: 150px; width: 220px; padding: 2px; border: 2px,solid,black;
                background-color: White; overflow: scroll">
                        </div>
                        <textarea rows="2" cols="25" id="txtMessage" style="width: 220px"></textarea>
                        <input type="button" id="btnSend" value="Send" />

                        <div id="divStatus">
                        </div>

                    </td>
                </tr>
            </table>
            <input type="hidden" id="sessinId" value="@Session.SessionID" />
            <input type="hidden" id="groupName" value="@ViewData["GroupName"]" />
            <script type="text/javascript">
                if (Modernizr.canvas) {
                } else {
                    document.getElementById('tableWhiteBoard').style.display = "none";
                    document.write(" Please use a browser which support HTML5. IE8+, Chrome or Firefox 4.0 +.  <br/><br/>");
                    alert("This browser does not support HTML5. Try with higher version.");
                }
            </script>




        </section>
    </div>

    <footer>
        <script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-37249456-1']);
			_gaq.push(['_trackPageview']);

			(function () {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

        </script>
        @*<table>
                <tr>
                    <td>
                        <a href="http://www.easycounter.com/">
                            <img src="http://www.easycounter.com/counter.php?alvingeo"
                                 border="0" alt="Web Site Hit Counter">
                        </a>
                        <br /><br /><a href="mailto:alvingeorge@gmail.com">By Alvin George</a>
                    </td>
                    <td>
                        <div id="fb-root"></div>


                    </td>
                </tr>
            </table>*@

    </footer>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-1.6.4.js"></script>
    <script src="/Scripts/jquery-ui-1.8.11.min.js"></script>


    <script src="/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="/signalR/hubs"></script>
    <script src="/Scripts/whiteboard_1.js" type="text/javascript"></script>
    <input type="hidden" id="userName" value="@ViewData["UserName"]" />
    <div id="dialog-form">
        <div style="font-size: medium">
            <b>Join Whiteboard</b>
        </div>
        <hr />
        <br />
        <div style="font-size: small">
            <i>Nick name:</i>
        </div>
        <table width="100%">
            <tr>
                <td>
                    <input type="text" id="name" class="text ui-widget-content ui-corner-all" maxlength="25" value="@ViewBag.BrodcastName" disabled />
                </td>
            <tr>
                <td align="right">
                    <input id="btnJoin" type="button" value="Join">
                </td>
            </tr>
        </table>
    </div>

</body>

</html>

