﻿@using BLL.BusinessModels.TeacherModels
@using BLL.Helpers
@model AnswerSheetViewModel
@{ Layout = null;
    int fastCount = 0;
    int slowCount = 0;
    int status = ViewBag.Status;
 }
<!DOCTYPE HTML>
<html>
<head>
    <title>Teaching Bharat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/ResultPage/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/ResultPage/css/nav.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    
    <!-- Place this tag in your head or just before your close body tag. -->
  
    @*<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>*@

    <script src="~/Content/ResultPage/js/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "25a382ed-2ecc-4cb6-90b2-01540ddb402c", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
   
    <script type="text/javascript" src="~/Content/ResultPage/js/jquery.js"></script>

    <script src="~/Content/Front/frontjs/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Content/ResultPage/js/login.js"></script>
    <script type="text/javascript" src="~/Content/ResultPage/js/Chart.js"></script>
    <script type="text/javascript" src="~/Content/ResultPage/js/jquery.easing.js"></script>
    <script type="text/javascript" src="~/Content/ResultPage/js/jquery.ulslide.js"></script>
    <!----Calender -------->
    <link rel="stylesheet" href="~/Content/ResultPage/clndr.css" type="text/css" />
    <script src="~/Content/ResultPage/js/underscore-min.js"></script>
    <script src="~/Content/ResultPage/js/moment-2.2.1.js"></script>
    <script src="~/Content/ResultPage/js/clndr.js"></script>
    <script src="~/Content/ResultPage/js/site.js"></script>
    <!----End Calender -------->

   <style>

       #st-1.st-justified{
           display:inline-block !important;
           width:100% !important;
           
       }
       #st-1.st-has-labels .st-btn.st-remove-label{

          min-width:100% !important;
          float:left;
          margin-top:6px;
          margin-bottom:2px;
       }
       #st-1.st-has-labels .st-btn.st-remove-label > span
       {
           display:inline !important;
       }
       .social_networks li a span{
           float:none !important;
           padding:0px !important;
       }
       .social_networks li a
{
           width:100%;
           float:left;
    padding: 10px;
}
       .stLarge {
           background-image: none !important;
           display: block !important;
    width: 263px !important;
    position: absolute !important;
    height: 56px !important;
    right: -62px !important;
    top: -25px !important;
       }
       .customInp{
           padding: 10px;
    color: #FFF;
    font-size: 1em;
    background: none;
    outline: none;
    border: none;
    margin: 0px auto;
    width: 75%;
    font-family: 'ambleregular';
       }

       .alert-success {
            width: 50%;
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 5px;
            text-align: center;
            margin: auto;
        }
        
        .alert-danger {
            width: 50%;
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 5px;
            text-align: center;
            margin: auto;
        }
       .dummy span {
           background-color: transparent !important;
           color: #FFF !important;

       }
       .dummy span:hover, .dummy span:focus
       {
           border: 1px solid #222531 !important;
       }

   </style>

</head>
<body>

    <div class="header">
        <div class="header_top">
            <div class="menu">
                <a class="toggleMenu" href="#">
                    <img src="~/Content/ResultPage/images/nav.png" alt="" />
                </a>
                <ul class="nav">
                    <li>
                        <a>
                            <i>
                                <img src="~/Content/ResultPage/images/a01.png" alt="" />
                            </i>
                            @*RESULT REPORT #231104*@
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
                <script type="text/javascript" src="~/Content/ResultPage/js/responsive-nav.js"></script>
            </div>

            <div class="profile_details">
                <div class="">
                    <img src="~/Content/ResultPage/images/logo.png" alt="" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 nopadding">
            @switch (status)
            {          
                case 2: // Success                  
                    <div class="alert-success"> <strong>Success!</strong> @ViewBag.Message </div>
                    break;
                case 3: // Error
                    <div class="alert-danger"> <strong>Warining!</strong> @ViewBag.Message </div>
                    break;
            }
        </div>
    </div>


   @if (Model != null)
   {

    <div class="main">
        <div class="wrap">
            <div class="column_left">
                <div class="column_middle_grid1">
                    <div class="profile_picture">
                        <a href="">
                            @if (string.IsNullOrEmpty(Model.UserProfile.ProfilePic))
                            { <img src="~/Content/Front/frontimg/noimage.jpg" />}
                            else
                            { <img src="~/UserImages/@Model.UserProfile.ProfilePic" />}
                           
                        </a>
                        <div class="profile_picture_name">
                            <h2>@Model.StudentName</h2>
                            @*<p>@Model.GradeSubjectName</p>*@
                        </div>
                    </div>
                </div>

                <div class="social_networks">

                    <ul>
                        <li>
                            <a href="#" class="facebook">
                                <span class='st_facebook_custom'
                                      displaytext='Facebook'
                                      @*st_url="http://demo.teachingbharat.com/Student/Student/ViewTestResult?TAID=@Model.TAID&SID=@Model.SID"*@
                                      st_title="Hi! check my Rudraa Result Report"
                                      st_summary="Hi! check my Rudraa Result Report">

                                    <i style="width: 20%;float: left;">
                                        <img src="~/Content/ResultPage/images/facebook_icon.png" alt="" />
                                    </i>
                                    <span style="width: 80% !important;float: left !important;padding-top: 8px !important;">Share to Facebook</span> 
                                  </span>
                            </a>
                                <div class="clear"></div>
                          
                        </li>
                        <li>
                            <a href="#" class="twitter">                      
                                <span class='st_twitter_custom'
                                      displaytext='Tweet'
                                      @*st_url="http://demo.teachingbharat.com/Student/Student/ViewTestResult?TAID=@Model.TAID&SID=@Model.SID"*@
                                       st_title="Hi! check my Rudraa Result Report"
                                      st_summary="Hi! check my Rudraa Result Report"
                                      >
                                    <i style="width: 20%;float: left;">
                                        <img src="~/Content/ResultPage/images/tweets.png" alt="" />
                                    </i>
                                    <span style="width: 80% !important;float: left !important;padding-top: 8px !important;">Share to Twitter</span> 
                                   </span>
                                
                                <div class="clear"></div>
                            </a>
                        </li>
                        <li>

                           

                            <a href="#" class="googleplus">
                                <span class="st_googleplus_large"
                                      displaytext='Google +'
                                       st_title="Hi! check my Rudraa Result Report"
                                      st_summary="Hi! check my Rudraa Result Report">
                                    <i style="width: 20%;float: left;">
                                        <img src="~/Content/ResultPage/images/googlepl.png" />
                                    </i>
                                    <span style="width:80%;float: left; padding-top: 8px">Share to Google+</span>
                                   </span>
                                <div class="clear"></div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="column_right_grid" style="margin-top:60%;">
                    <div class="newsletter">
                        <h3>OR Send via Email</h3>
                        @using (Html.BeginForm("SendLink", "Student", new { @TAID=Model.TAID, @SID=Model.SID }))
                        {
                            <span>
                                @Html.TextBox("UserEmail", null, new {@class= "customInp", @placeholder = "Email", @type = "email", data_val = "true", data_val_required = "Email Required"})    
                            </span>
                            <div class="dummy">
                                @Html.ValidationMessage("UserEmail", "", new { @class = "text-danger", @style = "color:white;" })
                            </div>
                            <input type="submit" class="my_button" value="SEND">
                        }
                      
                    </div>

                </div>

                @*<div class="tweets">
                    <h3>Teacher's Comments</h3>
                    <div class="tweets_list">
                        <ul>
                            <li>
                                Comment of the Teacher goes here Comment of the Teacher goes here Comment of the Teacher goes here
                                Comment of the Teacher goes here Comment of the Teacher goes here Comment of the Teacher goes here Comment of the <a href="#">- Dhaval Khatri</a>
                                <span>31st December, 2016</span>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>

            <div class="column_middle">
                <div class="Testdetails">
                    <h2>@Model.TestName </h2>
                    <div class="D-table">
                        <table>
                            <tr>
                                <td>Grade / Subject</td>
                                <td>@Model.GradeSubjectName</td>
                            </tr>
                            <tr>
                                <td>Total Marks / Passing Marks</td>
                                <td>100 / @Model.MarksObtained</td>
                            </tr>
                            <tr>
                                <td>Duration / Time taken</td>
                                <td>60 mins / @Model.TotalSpendTime.ToString("0.00") mins</td>
                            </tr>
                            <tr>
                                <td>Test Taken on</td>
                                <td>@Model.TestHappenDate.ToString("dd/mm/yyyy hh:mm tt")</td>
                            </tr>
                            <tr>
                                <td>Assigned By</td>
                                <td>@Model.TeacherName</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="chart">
     <h3>ACCURACY - SPEED</h3>
     <div class="diagram">
         <canvas id="canvas" height="220" width="220"></canvas>
         <h4>
             <span>@Model.listOfStudentTestAnswers.Count()</span><br />
             QUE
         </h4>
     </div>

   
    <div class="chart_list">
         <ul>
             <li>
                 <a href="#" class="purple">
                     TRUE<p class="percentage">@Model.RightCount</p>
                 </a>
             </li>
             <li>
                 <a href="#" class="red">
                     FALSE<p class="percentage">@Model.WrongCount</p>
                 </a>
             </li>
             <li>
                 <a href="#" class="yellow">
                     FAST<p class="percentage"> @Model.FastCountPercentage<em>%</em></p>
                 </a>
             </li>
             <li>
                 <a href="#" class="blue">
                     SLOW<p class="percentage">@Model.SlowCountPercentage<em>%</em></p>
                 </a>
             </li>
             <div class="clear"></div>
         </ul>
     </div>


                </div>
                <div class="graph">
                    <div class="graph_list">
                        <div class="week-month-year">
                            <h2>performance</h2>
                            
                            @if (Model.MarksObtained < 50)
                            {
                                <p><a class="active">Poor</a></p>
                                <p><a>Good</a></p>
                                <p><a>Exelent</a></p>
                            }
                            else if (Model.MarksObtained > 50 && Model.MarksObtained <= 75)
                            {
                                <p><a>Poor</a></p>
                                <p><a class="active">Good</a></p>
                                <p><a>Exelent</a></p>
                            }
                            else if (Model.MarksObtained > 75 && Model.MarksObtained <= 100)
                            {
                                <p><a>Poor</a></p>
                                <p><a>Good</a></p>
                                <p><a class="active">Exelent</a></p>
                            }
                           
                            <div class="clear"></div>
                        </div>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="day_name">CORRECT</span> + <span class="day_name">FAST</span>
                                    <label class="digits">@Model.FastCorrect.ToString("0.00")<span><em>%</em></span></label><div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="day_name">CORRECT</span> + <span class="day_name">SLOW</span>

                                    <label class="digits">@Model.SlowCorrect.ToString("0.00")<span><em>%</em></span></label><div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="day_name">INCORRECT</span> + <span class="day_name">FAST</span>
                                    <label class="digits">@Model.FastIncorrect.ToString("0.00")<span><em>%</em></span> </label>
                                    <div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="day_name">INCORRECT</span> + <span class="day_name">SLOW</span>
                                    <label class="digits">@Model.SlowIncorrect.ToString("0.00")<span><em>%</em></span> </label>
                                    <div class="clear"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="column_right">
                <div class="ShowResult @((Model.MarksObtained>50)?"pass":"fail")">
                    <p>Marks Obtained</p>
                    <h1>@Model.MarksObtained</h1>
                    <h2>@Model.PassFailedStatus</h2>
                </div>
                
                <div class="column_right_grid downloading_uploading">
                    <ul>
                        <li>
                            <div class="progress">
                                <div class="progress-bar" style="width: 81%"></div>
                            </div>
                            <div class="clearfix">
                                <p class="downloading">Overall Rank...</p>
                                <p class="percentage">@Model.IndividualRank / @Model.TotalAssignedStudent</p>
                                <div class="clear"></div>
                            </div>
                        </li>
                    </ul>
                </div>

                @if (Model.listOfStudentTestAnswers != null && Model.listOfStudentTestAnswers.Count > 0)
                {
                   <div class="column_right_grid date_events">
                    <h3>
                        <a href="#" id="slide_prev">
                           
                            <img src="~/Content/ResultPage/images/arrow-left.png" />
                        </a> ANSWERS <a href="#" id="slide_next">
                                         <img src="~/Content/ResultPage/images/arrow-right.png" />
                      
                        </a>
                    </h3>
                    <ul id="slide" class="event_dates">
                        @{
                            int counter = 0;
                           
                            }
                      @foreach (var item in Model.listOfStudentTestAnswers)
                      {
                          counter++;
                          double span = (item.QuestionSubmitTime - item.QuestionStartTime).TotalSeconds;
                                  <li>
                                  <h2>@span.ToString("0.00")
                                      sec
                                  </h2>
                                 <h1>@counter</h1><p class="@((item.TrueAnswer == true) ? "" : "false")">@item.TrueAnswer</p></li>

                      }
                        

                    </ul>
                    <script type="text/javascript">
                        $(function () {
                            $('#slide').ulslide({

                                effect: {
                                    type: 'carousel', // slide or fade
                                    axis: 'x',        // x, y
                                    showCount: 1
                                },
                                nextButton: '#slide_prev',
                                prevButton: '#slide_next',
                                duration: 800,
                                /*autoslide: 2000,*/
                                easing: 'easeOutBounce'
                            });
                        });
                    </script>
                </div>

                            }



                @if (Model.MarksObtained > 50)
                {
                    <div class="award">

                        @if (Model.MarksObtained >= 75 && Model.MarksObtained < 90)
                        {
                            <h2>YOU WON</h2>
                            <img src="~/Content/ResultPage/images/AwardSilver.png" class="big" />
                            <h3>SLIVER TROPHY</h3>

                        }
                        else if (Model.MarksObtained >= 90 && Model.MarksObtained <= 100)
                        {
                            <h2>YOU WON</h2>
                            <img src="~/Content/ResultPage/images/AwardGold.png" class="big" />
                            <h3>Gold TROPHY</h3>

                        }
                        else if (Model.MarksObtained >= 60 && Model.MarksObtained < 75)
                        {
                            <h2>YOU WON</h2>
                            <img src="~/Content/ResultPage/images/AwardNo.png" class="big" />
                            <h3>Gold TROPHY</h3>

                        }

                        <p>Congrts ! Work Hard</p>
                        <div>
                            <img src="~/Content/ResultPage/images/AwardNo.png" class="small" title="No Trophy" />
                            <img src="~/Content/ResultPage/images/AwardSilver.png" class="small" title="Silver Trophy" />
                            <img src="~/Content/ResultPage/images/AwardGold.png" class="small" title="Gold Trophy" />
                        </div>
                    </div>
                }
               


            </div>
            <div class="clear"></div>
        </div>
        </div>
                            }
                            else
                            {
                                <div class="col-md-12">
                                    <h2 class="text-capitalize text-center">
                                        No Date Found
                                    </h2>
                                </div>
                            }


    <div class="copy-right">
        <p>© 2016 Rudraa</p>
    </div>

    <script>
                        var doughnutData = [
								{
								    value: @Model.RightCount,
								    color: "#11A8AB"
								},
								{
								    value: @Model.WrongCount,
								    color: "#E64C65"
								},
								{
								    value: @Model.FastCountPercentage,
								    color: "#4FC4F6"
								},
								{
								    value: @Model.SlowCountPercentage,
								    color: "#FCB150"
								},

                        ];
                        var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
    </script>

    <script type="text/javascript">
        $("#st-1.st-justified").removeAttr("display");    
    </script>
</body>
</html>

