﻿@model Rudra.BLL.BusinessModels.TeacherModels.FindTeacherViewModel

@{

    <style>
        input[type=checkbox] {
            display: none;
        }
    </style>

}

<div class="SLoginArea">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 FTStep">
                <div>
                    <div class="card wizard-card ct-wizard-orange" id="wizardProfile">
                        @using (Ajax.BeginForm("FindTeacher", "Home", null, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "getresult"
                        }))
                        {
                            <div class="wizard-header">
                                <h3>
                                    <b>FIND</b> TEACHER <br>
                                    <small>This information will let us choose best teacher for you.</small>
                                </h3>
                            </div>
                            <ul>
                                <li><a href="#step1" data-toggle="tab">Step 1</a></li>
                                <li><a href="#step2" data-toggle="tab">Step 2</a></li>
                                <li><a href="#step3" data-toggle="tab">Step 3</a></li>
                                <li><a href="#step4" data-toggle="tab">Step 4</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane" id="step1">
                                    <div class="row">
                                        <div class="col-md-12 nopadding">
                                            <div class="col-md-3">
                                                <img src="~/Content/Front/frontimg/RudraaAssistant.gif" alt="" />
                                            </div>
                                            <div class="col-md-9">
                                                <h2>Hey this is <span>OMM</span>,</h2>
                                                <h3>Your Personal Virtual Assistant</h3>
                                                <p><span>I'll help you to find the best teacher for you !</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step2">
                                    <div class="col-md-10 col-md-offset-1 nopadding">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <img src="~/Content/Front/frontimg/RudraaAssistant.gif" alt="" />
                                            </div>
                                            <div class="col-md-10">
                                                <h2>Select Your Target and Grade.</h2>
                                                <h3 style="display:none;color:red" id="h3iderror">Please Select Options</h3>
                                            </div>
                                        </div>
                                        <div class="col-md-12 select">
                                            <div class="col-md-6 validationcheckbox">
                                                <h3>Select Target</h3>
                                                @foreach (var item in Model.ListofTargets)
                                                {
                                                    <a href="javascript:void(0)" class="tag" onclick="CheckBox(this)">
                                                        <input type="checkbox" id="chktargetname_@item.TargetId" name="TargetId" value="@item.TargetId" />
                                                        @item.TargetName
                                                    </a>
                                                }
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Select Grade</h3>
                                                @foreach (var item in Model.ListofGrades)
                                                {
                                                    <a href="javascript:void(0)" class="tag" onclick="CheckBox(this)">
                                                        <input type="checkbox" name="GradeId" id="chkgradename_@item.GradeId" value="@item.GradeId" />
                                                        @item.GradeName
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step3">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1 nopadding">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <img src="~/Content/Front/frontimg/RudraaAssistant.gif" alt="" />
                                                </div>
                                                <div class="col-md-10">
                                                    <h2>Select a Subject You want to Learn.</h2>
                                                </div>
                                            </div>
                                            <div class="col-md-12 select">
                                                <div class="col-md-12">
                                                    <h3>Subjects</h3>
                                                    @foreach (var item in Model.ListofSubjects)
                                                    {
                                                        <a href="javascript:void(0)" class="tag" onclick="CheckBox(this)">
                                                            <input type="checkbox" name="SubjectId" id="chksubjectname_@item.SubjectId" value="@item.SubjectId" />
                                                            @item.SubjectName
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step4">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1 nopadding">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                    <img src="~/Content/Front/frontimg/RudraaAssistant.gif" alt="" />
                                                </div>
                                                <div class="col-md-10">
                                                    <h2>How often do you want to Learn.</h2>
                                                </div>
                                            </div>
                                            <div class="col-md-12 select centeralign">
                                                <div class="col-md-12">
                                                    @foreach (var item in Model.ListofFrequency)
                                                    {
                                                        <a href="javascript:void(0)" class="tag" onclick="CheckBox(this)">
                                                            <input type="checkbox" name="FrequencyId" id="chksubjectname_@item.FrequencyId" value="@item.FrequencyId" />
                                                            @item.FrequencyName
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wizard-footer">
                                <div class="col-md-12 bottom">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-warning btn-wd btn-sm nxtbtn' name='next' value='LETS GET START' />
                                        <input type='submit' class='btn btn-finish btn-fill btn-warning btn-wd btn-sm' name='finish' value='Finish' />

                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd btn-sm' name='previous' value='Previous' />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    //CHECK BOX JQUERY -----
    function CheckBox(e) {
        if ($(e).find('input[type=checkbox]').is(':checked', true)) {
            $(e).find('input[type=checkbox]').prop('checked', false);
            $(e).css('background-color', '#e6e6e6');
        } else {
            $(e).find('input[type=checkbox]').prop('checked', true);
            $(e).css('background-color', '#de5900');
        }
    }

    //Validate CheckBoxes

    //$('#submit').click(function () {
    //    Validation();
    //});
    function Validation() {
        var count = 0;
        $('.validationcheckbox').find('a').each(function () {
            if ($(this).find('input[type=checkbox]').is(':checked', true)) {
                count++;
            }
        });

        if (count == 0) {
            alert('error');
            $('#h3iderror').fadeIn('slow');
            return false;
        } else {
            alert('no error');
            $('#h3iderror').fadeOut('slow');
        }
        alert('error');

    }


</script>