﻿@model Rudra.BLL.BusinessModels.TeacherModels.FindTeacherViewModel
@using Rudra.BLL.Helpers



@using (Ajax.BeginForm("FindTeacher", "Home", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "getresult"
}))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3 tabfltr">
            <div class="form-group">
                <label>Your Target1</label>
                @Html.DropDownListFor(model => model.TargetId, new SelectList(UtilFilterHelper.GetTarget(), "Value", "Text"), "Select Target", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TargetId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Your Grade</label>
                @Html.DropDownListFor(model => model.GradeId, new SelectList(UtilFilterHelper.GetGrades(), "Value", "Text"), "Select Grade", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GradeId, "", new { @class = "text-danger" })
             </div>
            <div class="form-group">
                <label>Your Subject</label>
                @Html.DropDownListFor(model => model.SubjectId, new SelectList(UtilFilterHelper.GetSubjects(), "Value", "Text"), "Select Subject", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Learn for</label>
                @Html.DropDownListFor(model => model.FrequencyId, new SelectList(UtilFilterHelper.GetFrequency(), "Value", "Text"), "Select Frequency", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FrequencyId, "", new { @class = "text-danger" })
            </div><br><br>
            <div class="form-group centeralign">
                <button type="submit" class="nxtbtn btn btn-success">GO <i class="glyphicon glyphicon-menu-right"></i></button>
            </div>
        </div>
    </div>

}