﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class='col-md-7'>
                        <h5>Search by Date</h5>
                    </div>
                    <div class='col-md-5'>
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%; margin-bottom: 20px;">
                            <i class="fa fa-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row slide-head mar-t-10">
                    Fee
                </div>

                <div class="row slide-label">
                    <div class="col-md-2">
                        Date
                    </div>
                    <div class="col-md-2">
                        User
                    </div>
                    <div class="col-md-2">
                        Ammount
                    </div>
                    <div class="col-md-2">
                        Balance
                    </div>
                    <div class="col-md-2">
                        Action
                    </div>
                    <div class="col-md-2">
                        Status
                    </div>
                </div>

                <div class="row slides odd-row">
                    <div class="col-md-2">
                        21/11/2017
                    </div>
                    <div class="col-md-2">
                        Usama M
                    </div>
                    <div class="col-md-2">
                        $USD 1290
                    </div>
                    <div class="col-md-2">
                        $USD 12599
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-success">Accept</button>
                        <button class="btn btn-xs btn-info">Deceline</button>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-check submitted"></i>
                    </div>
                </div>

                <div class="row slides even-row">
                    <div class="col-md-2">
                        21/11/2017
                    </div>
                    <div class="col-md-2">
                        Usama M
                    </div>
                    <div class="col-md-2">
                        $USD 1290
                    </div>
                    <div class="col-md-2">
                        $USD 12599
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-success">Accept</button>
                        <button class="btn btn-xs btn-info">Deceline</button>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-times not-submitted"></i>
                    </div>
                </div>

                <div class="row slides odd-row">
                    <div class="col-md-2">
                        21/11/2017
                    </div>
                    <div class="col-md-2">
                        Usama M
                    </div>
                    <div class="col-md-2">
                        $USD 1290
                    </div>
                    <div class="col-md-2">
                        $USD 12599
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-success">Accept</button>
                        <button class="btn btn-xs btn-info">Deceline</button>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-check submitted"></i>
                    </div>
                </div>

                <div class="row slides even-row">
                    <div class="col-md-2">
                        21/11/2017
                    </div>
                    <div class="col-md-2">
                        Usama M
                    </div>
                    <div class="col-md-2">
                        $USD 1290
                    </div>
                    <div class="col-md-2">
                        $USD 12599
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-success">Accept</button>
                        <button class="btn btn-xs btn-info">Deceline</button>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-times not-submitted"></i>
                    </div>
                </div>

                <div class="row slides odd-row">
                    <div class="col-md-2">
                        21/11/2017
                    </div>
                    <div class="col-md-2">
                        Usama M
                    </div>
                    <div class="col-md-2">
                        $USD 1290
                    </div>
                    <div class="col-md-2">
                        $USD 12599
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-success">Accept</button>
                        <button class="btn btn-xs btn-info">Deceline</button>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-check submitted"></i>
                    </div>
                </div>

                <div class="row slides even-row">
                    <div class="col-md-2">
                        21/11/2017
                    </div>
                    <div class="col-md-2">
                        Usama M
                    </div>
                    <div class="col-md-2">
                        $USD 1290
                    </div>
                    <div class="col-md-2">
                        $USD 12599
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-xs btn-success">Accept</button>
                        <button class="btn btn-xs btn-info">Deceline</button>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-times not-submitted"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            //var start = moment().subtract(29, 'days');
            var start = moment();
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                var start_date = start.format('YYYY-MM-DD');
                var end_date = end.format('YYYY-MM-DD');
            } // cb

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    // 'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    //   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });
    </script>
</body>

