﻿@using BLL.BusinessModels.AdminModels;
@model SubjectViewModel
@{
    ViewBag.Title = "CreateCurriculum";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #GradeID:disabled {
        background:white;
    }
</style>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Add Subject
                        <a href="@Url.Action("SubjectsLists","Curriculum", new { area="Admin"})" class="pull-right">View Subjects</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateSubject", "Curriculum", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Curriculum
                            </label>
                            @Html.DropDownListFor(x => x.CurriculumID, Model.ListOfCurriculums, "Select Curriculum", new { @class = "form-control", @onchange = "LoadGrades()" })
                            @Html.ValidationMessageFor(x => x.CurriculumID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Grade
                            </label>
                            @Html.DropDownListFor(x => x.GradeID, Model.ListOfGrades, "Select Grade", new { @class = "form-control",@disabled="disabled" })
                            @Html.ValidationMessageFor(x => x.GradeID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                               Subject Name
                            </label>

                            @Html.TextBoxFor(x => x.SubjectName, new { @class = "form-control", @placeholder = "Subject Name" })

                            @Html.ValidationMessageFor(x => x.SubjectName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Description
                            </label>
                            @Html.TextAreaFor(x => x.SubjectDescription, new { @class = "form-control", @placeholder = "Subject Description" , @rows="7"})
                            @Html.ValidationMessageFor(x => x.SubjectDescription, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("SubjectsLists","Curriculum", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function LoadGrades() {
        var CurriculumID = $("#CurriculumID").val();

        if (CurriculumID != null && CurriculumID != '')
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GradesList", "Curriculum")',
                dataType: 'json',
                data: { CurriculumID: CurriculumID },
                success: function (cities) {
                    var gradesSelect = $('#GradeID');
                    gradesSelect.attr("disabled", false);
                    var txtstring = $('#GradeID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#GradeID").attr('disabled', true);
      }
    }


</script>





