﻿@using BLL.BusinessModels.AdminModels;
@model TopicsViewModel
@{
    ViewBag.Title = "CreateCurriculum";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #GradeID:disabled {
        background: white;
    }
</style>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Add Topic
                        <a href="@Url.Action("TopicsList","Curriculum", new { area="Admin"})" class="pull-right">View Topics</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateTopic", "Curriculum", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {  
                       @Html.HiddenFor(x=>x.SubjectID)
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Topic Name
                            </label>
                            @Html.TextBoxFor(x => x.TopicName, new { @class = "form-control", @placeholder = "Topic Name" })
                            @Html.ValidationMessageFor(x => x.TopicName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Description
                            </label>
                            @Html.TextAreaFor(x => x.TopicDescription, new { @class = "form-control", @placeholder = "Topic Description", @rows = "7" })
                            @Html.ValidationMessageFor(x => x.TopicDescription, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("TopicsList","Curriculum", new { area="Admin",@SubjectID=Model.SubjectID})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>





