﻿@using BLL.BusinessModels.AdminModels;
@model QuestionsBankViewModel
@{
    ViewBag.Title = "CreateCurriculum";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #GradeID:disabled {
        background: white;
    }
     #SubjectID:disabled {
        background: white;
    }
      #TopicID:disabled {
        background: white;
    }
</style>

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Add Question
                        <a href="@Url.Action("CreateQuestionsBank","Curriculum", new { area="Admin"})" class="pull-right">View Questions</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateQuestionsBank", "Curriculum", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Curriculum
                            </label>
                            @Html.DropDownListFor(x => x.CurriculumID, Model.ListOfCurriculums, "Select Curriculum", new { @class = "form-control", @onchange = "LoadGrades()" })
                            @Html.ValidationMessageFor(x => x.CurriculumID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Grade
                            </label>
                            @Html.DropDownListFor(x => x.GradeID, Model.ListOfGrades, "Select Grade", new { @class = "form-control", @disabled = "disabled", @onchange = "LoadSubjects()" })
                            @Html.ValidationMessageFor(x => x.GradeID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Subject
                            </label>
                            @Html.DropDownListFor(x => x.SubjectID, Model.ListOfGrades, "Select Subject", new { @class = "form-control", @disabled = "disabled", @onchange = "LoadTopics()" })
                            @Html.ValidationMessageFor(x => x.SubjectID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                               Topic
                            </label>
                            @Html.DropDownListFor(x => x.TopicID, Model.ListOfGrades, "Select Topic", new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(x => x.TopicID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Question
                            </label>
                            @Html.DropDownListFor(x => x.QuestionLevel, Model.ListOfQuestionLevel, "Select Level", new { @class = "form-control"})
                            @Html.ValidationMessageFor(x => x.QuestionLevel, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                               Question
                            </label>
                            @Html.TextAreaFor(x => x.Question, new { @class = "form-control", @placeholder = "Your Question..", @rows="4" })
                            @Html.ValidationMessageFor(x => x.Question, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Option A
                            </label>
                            @Html.TextBoxFor(x => x.FirstOption, new { @class = "form-control", @placeholder = "Option A" })
                            @Html.ValidationMessageFor(x => x.FirstOption, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Option B
                            </label>
                            @Html.TextBoxFor(x => x.SecondOption, new { @class = "form-control", @placeholder = "Option B" })
                            @Html.ValidationMessageFor(x => x.SecondOption, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Option C
                            </label>
                            @Html.TextBoxFor(x => x.ThirdOption, new { @class = "form-control", @placeholder = "Option C" })
                            @Html.ValidationMessageFor(x => x.ThirdOption, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Option D
                            </label>
                            @Html.TextBoxFor(x => x.FourthOption, new { @class = "form-control", @placeholder = "Option D" })
                            @Html.ValidationMessageFor(x => x.FourthOption, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                               Answer 
                            </label>
                            @Html.DropDownListFor(x => x.AnswerKey, Model.ListOfAnswers, "Select Answer", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AnswerKey, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("QuestionsBank","Curriculum", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function LoadGrades() {
        var CurriculumID = $("#CurriculumID").val();

        if (CurriculumID != null && CurriculumID != '')
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GradesList", "Curriculum")',
                dataType: 'json',
                data: { CurriculumID: CurriculumID },
                success: function (cities) {
                    var gradesSelect = $('#GradeID');
                    gradesSelect.attr("disabled", false);
                    $("#SubjectID").attr('disabled', true);
                    $("#TopicID").attr('disabled', true);
                    var txtstring = $('#GradeID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#GradeID").attr('disabled', true);
            $("#SubjectID").attr('disabled', true);
            $("#TopicID").attr('disabled', true);
        }

    }

    function LoadSubjects() {
        var GradeID = $("#GradeID").val();
        if (GradeID != null && GradeID != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SubjectsList", "Curriculum")',
                dataType: 'json',
                data: { GradeID: GradeID },
                success: function (cities) {
                    var gradesSelect = $('#SubjectID');
                    gradesSelect.attr("disabled", false);
                    $("#TopicID").attr('disabled', true);
                    var txtstring = $('#SubjectID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
            $("#SubjectID").attr('disabled', true);
            $("#TopicID").attr('disabled', true);
        }
    }

    function LoadTopics() {
       
        var GradeID = $("#SubjectID").val();
        alert("Load Topics : "+ GradeID);
        if (GradeID != null && GradeID != '') {
           
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TopicsListDrop", "Curriculum")',
                dataType: 'json',
                data: { SubjectID: GradeID },
                success: function (cities) {
                    var gradesSelect = $('#TopicID');
                    gradesSelect.attr("disabled", false);
                  
                    var txtstring = $('#TopicID option:first-child').text();
                    gradesSelect.empty();
                    gradesSelect.append('<option value="">' + txtstring + '</option>');
                    $.each(cities, function (i, val) {
                        gradesSelect.append('<option value="' + val.Value + '">' + val.Text + '</option>');
                    });
                },
                error: function (ex) {
                    ShowErrorNotification("Error", _AjaxErrorMessage);
                }
            });
        }
        else {
          
            $("#TopicID").attr('disabled', true);
        }
    }

</script>





