﻿@using BLL.BusinessModels.AdminModels;
@model GradesViewModel
@{
    ViewBag.Title = "CreateCurriculum";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Add Grade
                        <a href="@Url.Action("GradesLists","Curriculum", new { area="Admin"})" class="pull-right">View Curriculums</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">

                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateGrade", "Curriculum", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Curriculum
                            </label>

                            @Html.DropDownListFor(x => x.CurriculumID,Model.ListOfCurriculums,"Select Curriculum", new { @class = "form-control"})

                            @Html.ValidationMessageFor(x => x.CurriculumID, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Grade Name
                            </label>

                            @Html.TextBoxFor(x => x.GradeName, new { @class = "form-control", @placeholder = "Grade Name" })

                            @Html.ValidationMessageFor(x => x.GradeName, "", new { @class = "text-danger" })
                        </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <input id="send" type="submit" class="btn btn-success" value="Submit">
                                    <a href="@Url.Action("GradesLists","Curriculum", new { area="Admin"})" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>





