﻿@using BLL.BusinessModels.AdminModels;
@model SubjectFAQViewModel
@{
    ViewBag.Title = "CreateCurriculum";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Add FAQ,s
                        <a href="@Url.Action("SubjectFAQList","Curriculum", new { area="Admin",@SubjectID=@Model.SubjectID})" class="pull-right">View FAQ,s</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-offset-2">
                <div class="content" style="margin:3% !important;">
                    @using (Html.BeginForm("CreateSubjectFaq", "Curriculum", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.HiddenFor(x => x.SubjectID)
                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Question
                            </label>
                            @Html.TextAreaFor(x => x.Question, new { @class = "form-control", @placeholder = "Topic Description", @rows = "3" })
                            @Html.ValidationMessageFor(x => x.Question, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="control-label" style="padding-bottom:10px;">
                                Answer
                            </label>
                            @Html.TextAreaFor(x => x.Answer, new { @class = "form-control", @placeholder = "Topic Description", @rows = "7" })
                            @Html.ValidationMessageFor(x => x.Answer, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input id="send" type="submit" class="btn btn-success" value="Submit">
                                <a href="@Url.Action("SubjectFAQList","Curriculum", new { area="Admin",@SubjectID=Model.SubjectID})" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>






