﻿@model IEnumerable<FeeMaster>

@{
    ViewBag.Title = "Fee List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}
<style>
    .dataTables_filter {
        float: right !important;
    }
</style>
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Fees Master                        
                    </h4>

                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>TEACHER NAME</th>
                                <th>CURRICULUMS</th>
                                <th>GRADE</th>
                                <th>SUBJECT</th>
                                <th>FEE</th>
                                <th>UPDATED ON</th>
                                @*<th class="tablecolumn">Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                
                                <td>@Html.DisplayFor(modelItem => item.CoursesHeaderID)</td>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.CurriculumName)</td>
                                <td>@Html.DisplayFor(modelItem => item.GradeName)</td>
                                <td>@Html.DisplayFor(modelItem => item.SubjectName)</td>
                                <td>@Html.DisplayFor(modelItem => item.CourseFee)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                @*<td class="tablecolumn">

        </td>*@
                            </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripting{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    </script>
}







