﻿@model List<DAL.Entities.QuestionsBank>
@{
   
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
  
}

<style>
    .dataTables_filter {
        float: right !important;
    }
</style>
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                       Questions Bank
                        <a href="@Url.Action("CreateQuestionsBank","Curriculum", new { area="Admin"})" class="pull-right">Add Question</a>
                    </h4>
                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Topic</th>
                                <th>Question</th>
                                <th>Question Level</th>
                                <th>Answer</th>
                                @*<th>Topic</th>
                                <th>Topic</th>*@
                                <th>Status</th>
                                @*<th class="tablecolumn">Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                          @if (Model != null && Model.Count > 0)
                          {
                              foreach (var item in Model)
                              {
                                <tr>
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => item.TopicName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Question)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.FirstOption)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SecondOption)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ThirdOption)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FourthOption)</td>*@

                                    <td>@Html.DisplayFor(modelItem => item.QuestionLevelName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Answer)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                    @*<td class="tablecolumn">
                                            <a href="@Url.Action("TopicsList","Curriculum", new { area="Admin"})" data-toggle="tooltip" title="Topics"><i class="fa fa-plus-square"></i></a>
                                            <a href="@Url.Action("SubjectFAQList","Curriculum", new { area="Admin"})" data-toggle="tooltip" title="FAQs"><i class="fa fa-weixin"></i></a>
                                        </td>*@
                                </tr>
                                  count++;
                              }

                          }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripting{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [
              { "width": "40%", "targets": 2 }
            ]
        });
    });
    </script>

}


