﻿@model IEnumerable<DAL.Entities.Subjects>

@{
    ViewBag.Title = "CurriculumsList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}
<style>
    .dataTables_filter {
        float: right !important;
    }
</style>
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Subjects
                        <a href="@Url.Action("CreateSubject","Curriculum", new { area="Admin"})" class="pull-right">Add Subject</a>
                    </h4>
                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>                             
                                <th>Curriculum</th>
                                <th>Grade</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th class="tablecolumn">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => item.CurriculumName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GradeName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SubjectName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                    <td class="tablecolumn">
                                        <a href="@Url.Action("TopicsList","Curriculum", new { area="Admin",@SubjectID=@item.SubjectID})" data-toggle="tooltip" title="Topics"><i class="fa fa-plus-square"></i></a>
                                        <a href="@Url.Action("SubjectFAQList","Curriculum", new { area="Admin",@SubjectID=@item.SubjectID})" data-toggle="tooltip" title="FAQs"><i class="fa fa-weixin"></i></a>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripting{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    </script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
}







