﻿@model IEnumerable<DAL.Entities.Topics>
@{
    ViewBag.Title = "TopicsList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
    Int64 ids = ViewBag.SubjectID;

}

<style>
    .dataTables_filter {
        float: right !important;
    }
</style>
<div class="container-fluid">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="header headerborder">
                    <h4 class="title">
                        Topics
                        <a href="@Url.Action("CreateTopic","Curriculum", new { area="Admin",@SubjectID=@ids})" class="pull-right">Add Topic</a>
                    </h4>
                </div>
                <div class="content table-responsive table-full-width" style="margin:3% !important;">
                    <table id="dataTable" class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Topic</th>
                                <th>Description</th>
                                <th>Status</th>
                                @*<th class="tablecolumn">Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => item.TopicName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TopicDescription)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                    @*<td class="tablecolumn">
                                        <a href="@Url.Action("TopicsList","Curriculum", new { area="Admin"})" data-toggle="tooltip" title="Topics"><i class="fa fa-plus-square"></i></a>
                                        <a href="@Url.Action("SubjectFAQList","Curriculum", new { area="Admin"})" data-toggle="tooltip" title="FAQs"><i class="fa fa-weixin"></i></a>
                                    </td>*@
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripting{
    <script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    </script>

}
